# Configuration file

config {

    general {
        # When this mode is enabled, FTBLib assumes that server clients don't have FTBLib and/or other mods installed
        B:clientless_mode=false

        # Prints incoming and outgoing network messages in console. Don't set to true, unless you are debugging net spam
        B:log_net=false

        # Merges player profiles, in case player logged in without internet connection/in offline mode server\nBy default, only does that in singleplayer worlds
        # Valid values:
        # TRUE
        # FALSE
        # DEFAULT
        S:merge_offline_mode_players=DEFAULT

        # This will make all '/ftb x' commands work just as '/x'. Example: '/ftb home abc' => '/home abc'
        B:mirror_ftb_commands=true
    }

    teams {
        # Automatically creates a team for player, based on their username and with a random color
        B:autocreate_teams=false
    }

}


