# Configuration file

ic2 {
    # Changes a lot of recipes and hides blocks to integrate TechReborn into IC2 [Default=false]
    B:deduplicate=false
}


railcraft {
    # When true TechReborn will remove Railcraft's Iron Nugget to steel nugget recipe. [Default=false]
    B:disableRailcraftNugget=false
}


