# Configuration file

general {
    # If this is true, it will conect to drone.io to get a changelog [default: true]
    B:connectExternally=false

    # What font texture to use? Special Cases:
    #  - If you use the Russian mod "Client Fixer" then change this to "textures/font/ascii_fat.png"
    #  [default: textures/font/ascii.png]
    S:font=textures/font/ascii.png

    # Play a sound after minecraft has finished starting up [default: true]
    B:playSound=false

    # What sound to play when loading is complete. Default is the level up sound (random.levelup) [default: random.levelup]
    S:sound=random.levelup

    # Whether or not to use minecraft's display to show the progress. This looks better, but there is a possibilty of not being compatible, so if you do have any strange crash reports or compatability issues, try setting this to false [default: true]
    B:useMinecraft=true
}


