# Configuration file

####################
# misc
#===================
# Mics settings for the mod
####################

misc {
    # Crafting recipie:
    #   0: Normal
    #   1: Hard
    I:crafting=0
}


