# Configuration file

####################
# item
####################

item {
    I:denoflionsx.DenPipes.AddOns.AutomaticWoodenPipe.Pipe.AutomaticWoodenPipe=21900
    I:denoflionsx.DenPipes.AddOns.ValvePipe.Pipe.ValvePipe=21901
}


