# Configuration file

~CONFIG_VERSION: 0.5.0

##########################################################################################################
# abilities
#--------------------------------------------------------------------------------------------------------#
# Android Player Abilities
##########################################################################################################

abilities {
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Options for the Matter overdrive client
##########################################################################################################

client {

    ##########################################################################################################
    # android_hud
    #--------------------------------------------------------------------------------------------------------#
    # Positioning and colors of Android HUD elements
    ##########################################################################################################

    android_hud {
    }

}


##########################################################################################################
# compatibility
#--------------------------------------------------------------------------------------------------------#
# Option for other mods
##########################################################################################################

compatibility {
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debug Options. Such as Debug Log for Matter Recipe Calculation
##########################################################################################################

debug {
    # Enables Debug logging for Matter Calculation [default: false]
    B:"matter calculation"=false

    # Enables Debug logging for Matter Registration [default: false]
    B:"matter registation"=false
}


enchantments {
    I:Overclock=80
}


##########################################################################################################
# entities
#--------------------------------------------------------------------------------------------------------#
# Options for Matter Overdrive Entities. Such as their Entity IDs.
##########################################################################################################

entities {
}


##########################################################################################################
# machine options
#--------------------------------------------------------------------------------------------------------#
# Machine Options.
##########################################################################################################

"machine options" {
}


##########################################################################################################
# matter network
#--------------------------------------------------------------------------------------------------------#
# Matter Network Options.
##########################################################################################################

"matter network" {
}


##########################################################################################################
# matter registry
#--------------------------------------------------------------------------------------------------------#
# Configuration for the Matter 
##########################################################################################################

"matter registry" {
    # Enables Matter Calculation from furnace recipes [default: true]
    B:"automatic matter calculation from furnace"=true

    # Shoud Matter be automaticly calculated from Recipes [default: true]
    B:"automatic matter calculation from recipe"=true

    # Should the matter registry calculation run on world start when recepie  [default: true]
    B:automatic_calculation=true

    # Blacklist for items in the matter registry. Automatic Recipe calculation will ignore recipes with these items. Just add the unlocalized name or the ore dictionary name in the list.
    S:blacklist <
     >

    # Blacklist for mods (mod ID). Automatic Recipe calculation will ignore recipes with items from this mod
    S:mod_blacklist <
     >

    ##########################################################################################################
    # new items
    #--------------------------------------------------------------------------------------------------------#
    # Registration of new items and the amount of matter they contain. Add them like so: I:[registered name or ore Dictionary name](meta)=[matter amount]. () - optional parameter. Example I:dye2=10 I:egg=29
    ##########################################################################################################

    "new items" {
    }

    ##########################################################################################################
    # item overrides
    #--------------------------------------------------------------------------------------------------------#
    # Overriding of existing items and the amount of matter they contain. Add them like so: I:[registered name or ore Dictionary name](meta)=[matter amount] () - optional parameter. Example I:dye2=10 I:egg=29
    ##########################################################################################################

    "item overrides" {
    }

}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Options form the Matter Overdrive server
##########################################################################################################

server {
}


##########################################################################################################
# starmap
#--------------------------------------------------------------------------------------------------------#
# Star Map Galaxy Options
##########################################################################################################

starmap {
}


##########################################################################################################
# world gen
#--------------------------------------------------------------------------------------------------------#
# World Generation options.
##########################################################################################################

"world gen" {
    # Should ores such as dilithium and tritanium ore spawn in the world. This applies for all ores !
    B:"spawn ores"=true
    B:spawn.tile.dilithium_ore=true
    B:spawn.tile.tritanium_ore=true
}


