# Configuration file

####################
# general
####################

general {
    # Add the given blood color to the specified entity. (e.g. addBloodTo=Blaze:ff910f, Skeleton:-1)
    S:addBloodTo=Blaze:ff910f, CaveSpider:2362f1, Creeper:4fc82a, EnderDragon:9f00b7, Enderman:9f00b7, Ghast:-1, LavaSlime:450100, PigZombie:711300, Skeleton:-1, Slime:4fc82a, SnowMan:-1, Spider:2362f1, Squid:09153d, VillagerGolem:-1, WitherBoss:282828, Zombie:711300

    # Add the given Better Renderer to the specified block IDs. (e.g. addRendererTo=better-grass:1;net.minecraft.BlockGrass;2, better-leaves:net.minecraft.BlockLeaves)
    S:addRendererTo=better-grass:2, better-mycelium:110, better-leaves:18, better-cacti:81, better-seaweed:3, better-corals:1;12, better-soulsand:88, better-footprints:12;13;78;88, better-lily-pad:111, better-netherrack:87, better-water:9, better-ladder:65

    # The listed biome IDs will allow Better Algae to render.
    S:algaeHostingBiomes=0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22

    # Spawn frenquency multiplier for Better Algae. (0.0 - 1.0)
    S:algaePopulation=0.3

    # The listed block IDs will allow Better Grass to render under them. (e.g. allowBetterGrass=0, 10, 20)
    S:allowBetterGrass=0, 50, 63, 65, 68, 75, 76, 78, 85, 106, 107, 132

    # Height multiplier for Better Grass. (0.0 - 1.0)
    S:averageGrassHeight=0.5

    # Brightness multiplier of Better Algae. (0.0 - 1.0)
    S:betterAlgaeBrightness=1.0

    # Brightness multiplier of Better Cacti. (0.0 - 1.0)
    S:betterCactiBrightness=1.0

    # Brightness multiplier of Better Corals. (0.0 - 1.0)
    S:betterCoralsBrightness=1.0

    # Brightness multiplier of Better Grass. (0.0 - 1.0)
    S:betterGrassBrightness=1.0

    # Brightness multiplier of Better Leaves. (0.0 - 1.0)
    S:betterLeavesBrightness=1.0

    # Brightness multiplier of Lily Pads. (0.0 - 1.0)
    S:betterLilyPadsBrightness=1.0

    # Brightness multiplier of Better Netherrack. (0.0 - 1.0)
    S:betterNetherrackBrightness=1.0

    # Brightness multiplier of Better Reed. (0.0 - 1.0)
    S:betterReedBrightness=1.0

    # The listed block IDs or block classes won't be altered by the mod. (e.g. blackList=1, net.minecraft.block.BlockGrass, 3)
    S:blackList=

    # Render Blood Effect? (OFF, ON)
    S:bloodFX=On

    # Rising bubble spawn rate. (0.0 - 1.0)
    S:bubblesFXSpawnRate=0.3

    # The listed biome IDs will allow Better Corals to render.
    S:coralHostingBiomes=0, 16

    # Spawn frenquency multiplier for Better Corals. (0.0 - 1.0)
    S:coralPopulation=0.8

    # Which grass renderer should be used? (Standard, Experimental)
    S:currentGrassRenderer=Standard

    # Which leaves renderer should be used? (Standard, Advanced, Experimental)
    S:currentLeavesRenderer=Standard

    # Prints debug information to Minecraft's console? (search for the [BGAL-Debug-Info] to find it) (OFF, ON)
    S:debugMode=Off

    # Falling Leaves spawn rate multiplier. (0.0 - 1.0)
    S:leavesFXSpawnRate=0.5

    # Spawn frenquency multiplier for Better Lily Pads. (0.0 - 1.0)
    S:lilyPadFlowerPopulation=0.2

    # The lowest Y position at which Better Corals will render. (0.0 - 255.0)
    S:maximumCoralDepth=40

    # The highest Y position at which Better Corals will render. (0.0 - 255.0)
    S:minimumCoralDepth=55

    # The listed biome IDs will allow Better Reed to render.
    S:reedHostingBiomes=1, 4, 6, 14, 18, 21, 22

    # Spawn frenquency multiplier for offshore Better Reed. (0.0 - 1.0)
    S:reedOffshorePopulation=0.0

    # Spawn frenquency multiplier for Better Reed. (0.0 - 1.0)
    S:reedPopulation=0.9

    # Render Better Cacti? (OFF, ON)
    S:renderBetterCacti=On

    # Render Better Corals? (OFF, ON)
    S:renderBetterCorals=On

    # Render Better Grass? (OFF, ON)
    S:renderBetterGrass=On

    # Render Better Ladders? (OFF, ON)
    S:renderBetterLadders=On

    # Render Better Leaves? (OFF, ON)
    S:renderBetterLeaves=On

    # Render Better Lily Pads? (OFF, ON)
    S:renderBetterLilyPads=On

    # Render Better Netherrack? (OFF, ON)
    S:renderBetterNetherrack=On

    # Render Better Seaweed? (OFF, ON)
    S:renderBetterSeaweed=On

    # Render footprints effect? (OFF, Fast, Fancy)
    S:renderFootprintsFX=Fancy

    # Render Moving Grass effect? (OFF, Fast, Fancy)
    S:renderGrassFX=Fancy

    # Render Better Grass Sides? (OFF, Fast, Fancy)
    S:renderGrassSides=Fast

    # Render falling leaves effect? (OFF, Fast, Fancy)
    S:renderLeavesFX=Fast

    # Render only the outer leaf blocks (On = better performance)? (OFF, ON)
    S:renderOnlyOuterLeaves=On

    # Render Better Grass Snowed? (OFF, ON)
    S:renderSnowedGrass=On

    # Render Better Leaves Snowed? (OFF, ON)
    S:renderSnowedLeaves=On

    # Rising Souls spawn rate. (0.0 - 1.0)
    S:soulsFXSpawnRate=0.0

    # Define the mod's texture sources. Starting with the left source, it will fallback in case textures are missing (Pack = current Resourcepack, AutoGen = auto generator, Mod = the mod itself). (Pack, Pack > AutoGen, Pack > AutoGen > Mod, Pack > Mod, Mod)
    S:textureSource=Pack > AutoGen > Mod

    # Use Forge based register icons hook (won't work with MCPatcher)? (OFF, ON)
    S:useRegisterIconsHook=Off

    # Use rounded versions of the vanilla leaf textures? (OFF, ON)
    S:useRoundedVanillaLeaves=On

    # Render Water Suspended FX (Fast = Minecraft's default effect)? (OFF, Fast, Fancy)
    S:waterSuspendedFX=Fancy

    # The listed texture names will be linked to an auto generated Better Leaves icon, which will then be used as texture fallback. (e.g. whiteList=leaves_oak, leaves_spruce, leaves_birch)
    S:whiteList=
}


####################
# internal
####################

internal {
    S:modVersion=1.6.4.D
}


