# Configuration file

####################
# block
####################

block {
    I:"Color sorter"=1540
}


####################
# general
####################

general {
    D:"Sorter constant energy cost"=2.0
    D:"Sorter energy cost per item"=0.5
}


####################
# item
####################

item {
    I:"Color Selector"=19485
    I:"Stair placer"=19486
}


