# Configuration file

####################
# block
####################

block {
    I:Crafting=1004
    I:Decoration=1003
    I:DimensionalBridgeStabilizer=1002
    I:Frame=1001
    I:Portal=1000
}


####################
# item
####################

item {
    I:EntityCard=10504
    I:Glasses=10501
    I:HandheldScanner=10505
    I:InPlaceUpgrade=10508
    I:LocationCard=10503
    I:Manual=10509
    I:MiscItems=10506
    I:Paintbrush=10502
    I:PortalModule=10507
    I:Wrench=10500
}


####################
# misc
####################

misc {
    B:ForceShowFrameOverlays=false
    B:UseAlternateGlyphs=false
}


####################
# overrides
####################

overrides {
    B:DisableParticles=false
    B:DisableSounds=false
}


####################
# portal
####################

portal {
    B:FasterPortalCooldown=false
    B:PortalsDestroyBlocks=true
}


####################
# power
####################

power {
    I:PowerMultiplier=1
    B:RequirePower=true
}


####################
# recipes
####################

recipes {
    B:DisableTERecipes=false
    B:DisableVanillaRecipes=true
}


