# Configuration file

####################
# block
####################

block {
    I:BUDBlockId=3401
    I:angelBlock=3400
    I:chandelierId=3402
    I:cobblestoneComprId=3406
    I:colorBlockBrickId=3404
    I:colorBlockDataId=3405
    I:coloredWoodId=3419
    I:conveyorId=3407
    I:cursedEarth=3415
    I:curtainId=3414
    I:decorative_1Id=3423
    I:decorative_2Id=3460
    I:drumId=3427
    I:enderLilyId=3425
    I:enderQuarryId=2530
    I:enderThermicPumpId=3420
    I:etherealBlockId=3418
    I:filingCabinetId=3424
    I:generatorId=3429
    I:greenScreen=3408
    I:magnumTorchId=3422
    I:peacefultableId=3409
    I:portal=3426
    I:soundMufflerId=3410
    I:spikeId=3417
    I:timerBlockId=3421
    I:tradingPost=3411
    I:transferNodeId=3413
    I:transferNodeRemoteId=3428
    I:transferPipeId=3412
    I:trashCan=3416
}


####################
# client_options
####################

client_options {
    B:disablePortalAnimation=false
}


####################
# ender quarry power
####################

"ender quarry power" {
    I:baseDrain=1800
    I:hardnessDrain=200
}


####################
# item
####################

item {
    I:buildersWandId=10003
    I:creativeBuildersWandId=10004
    I:destructionPickaxe=10007
    I:divisionSigilId=10010
    I:erosionShovel=10006
    I:ethericSword=10005
    I:goldenBagId=10015
    I:goldenLassoId=10000
    I:healingAxe=10008
    I:paintBrush=10001
    I:pipeJacketId=10017
    I:scannerId=10016
    I:sonarGogglesId=10012
    I:temporalHoe=10009
    I:unstableIngotId=10002
    I:upgradeNodeId=10014
    I:wateringCanId=10013
}


####################
# options
####################

options {
    I:EnderPumpDimensionExceptions <
     >
    I:deepDarkDimensionID=-100
    B:disableEnderPumpInAllDimensions=false
    B:unstableIngotsExplode=true
}


####################
# recipes
####################

recipes {
    B:disableAdvBUDBlockRecipe=false
    B:disableAdvFilingCabinet=false
    B:disableAngelBlockRecipe=false
    B:disableBUDBlockRecipe=false
    B:disableBuildersWandRecipe=false
    B:disableChandelierRecipe=false
    B:disableColoredBricksRecipe=false
    B:disableColoredWoodPlanksRecipe=false
    B:disableCompressedCobblestoneRecipe=false
    B:disableConveyorRecipe=false
    B:disableCurtainRecipe=false
    B:disableDestructionPickaxeRecipe=false
    B:disableDivisionSiginInChests=false
    B:disableDrumRecipe=false
    B:disableEnderLiliesInDungeons=false
    B:disableEnderThermicPumpRecipe=false
    B:disableEnergyPipeRecipe=false
    B:disableErosionShovelRecipe=false
    B:disableEtherealGlassRecipe=false
    B:disableEthericSwordRecipe=false
    B:disableFilingCabinet=false
    B:disableFilterPipeRecipe=false
    B:disableFilterRecipe=false
    B:disableGeneratorRecipe=false
    B:disableGoldenBagRecipe=false
    B:disableGoldenLassoRecipe=false
    B:disableHealingAxeRecipe=false
    B:disableMagnumTorchRecipe=false
    B:disableModSortingPipeRecipe=false
    B:disableNodeUpgradeSpeedRecipe=false
    B:disableObsidianRecipe=false
    B:disablePaintbrushRecipe=false
    B:disablePeacefulTableRecipe=false
    B:disablePeacefulWitherRecipe=false
    B:disableRainMufflerRecipe=false
    B:disableRationingPipeRecipe=false
    B:disableRedstoneClockRecipe=false
    B:disableRetrievalNodeLiquidRecipe=false
    B:disableRetrievalNodeRecipe=false
    B:disableReversingHoeRecipe=false
    B:disableSonarGogglesRecipe=false
    B:disableSortingPipeRecipe=false
    B:disableSoundMufflerRecipe=false
    B:disableSpikeRecipe=false
    B:disableTradingPostRecipe=false
    B:disableTransferNodeEnergyRecipe=false
    B:disableTransferNodeLiquidRecipe=false
    B:disableTransferNodeRecipe=false
    B:disableTransferPipeRecipe=false
    B:disableTrashCanRecipe=false
    B:disableUnstableIngotRecipe=false
    B:disableWateringCanRecipe=false
}


####################
# worldgen
####################

worldgen {
    I:retrogen_enderlillies=1
}


