# Configuration file

####################
# block
####################

block {
    # ID for the Fluid Export Bus
    I:BusFluidExport_ID=1810

    # ID for the Fluid Import Bus
    I:BusFluidImport_ID=1811

    # ID for the Fluid Storage Bus
    I:BusFluidStorage_ID=1812

    # ID for the ME Certus Tank
    I:CertusTank_ID=1813

    # ID for the ME Fluid Crafter
    I:FluidCrafter_ID=1814

    # ID for the Fluid Transition Plance
    I:FluidTransitionPlane_ID=1815

    # ID for the Blast Resistant ME Drive
    I:HardMEDrive_ID=1816

    # ID for the ME Fluid Interface
    I:InterfaceFluid_ID=1817

    # ID for the ME Fluid Level Emitter
    I:LevelEmitterFluid_ID=1818

    # ID for the ME Backup Battery
    I:MEBattery_ID=1819

    # ID for the ME Item Dropper
    I:MEDropper_ID=1820

    # ID for the soldering station
    I:SolderingStation_ID=1821

    # ID for the ME Fluid Storage Monitor
    I:StorageMonitorFluid_ID=1822

    # ID for the Fluid Storage Terminal
    I:TerminalFluid_ID=1823

    # ID for the ME Fluid Void
    I:VoidFluid_ID=1824

    # ID for the Walrus
    I:Walrus_ID=1825
}


####################
# dev options
####################

"dev options" {
    # Dont't activate if you dont want to debug stuff ;)
    B:showFluidsInMETerminal=false
}


####################
# energy rates
####################

"energy rates" {
    # The Energy Cost per fill/drain operation on the "Bucket"-Amount
    D:rateBucket=60.0

    # The Energy Cost per fill/drain operation on the "Drop"-Amount
    D:rateDrop=5.0

    # The Energy Cost per fill/drain operation on the "Quart"-Amount
    D:rateQuart=30.0
}


####################
# fluid rates
####################

"fluid rates" {
    # The Amount of Fluid being filled/drained per tick on the "Bucket"-Amount
    I:rateBucket=1000

    # The Amount of Fluid being filled/drained per tick on the "Drop"-Amount
    I:rateDrop=20

    # The Amount of Fluid being filled/drained per tick on the "Quart"-Amount
    I:rateQuart=250
}


####################
# item
####################

item {
    # ID for the advanced storage casing
    I:AdvancedStorageCasing_ID=6770

    # ID for the decrypted storage cell
    I:Cell_Decrypted_ID=6771

    # ID for the encrypted storage cell
    I:Cell_Encrypted_ID=6772

    # ID for the storage clusters (crafting)
    I:Cluster_ID=6773

    # ID for the item used for displaying fluids in the terminal and storing them in the ME Network
    I:FluidDisplayItem_ID=6774

    # ID for the fluid storage cells
    I:StorageFluid_ID=6775

    # ID for the physical storage cells
    I:StoragePhysical_ID=6776
}


####################
# render options
####################

"render options" {
    # Do you want to show 1kB or 1000000mB?
    B:shortenBucketsInTerminal=true
}


####################
# tick rates
####################

"tick rates" {
    # Every x ticks the export bus ticks. mb/t get adjusted automatically ;)
    I:tickRateExportBus=20

    # Every x ticks the import bus ticks. mb/t get adjusted automatically ;)
    I:tickRateImportBus=20

    # Every x ticks the storage bus ticks. mb/t get adjusted automatically ;)
    I:tickRateStorageBus=20
}


