# Configuration file

####################
# block
####################

block {
    I:advancedmachines.arrayCable.id=3108
    I:advancedmachines.arrayController.id=3051
    I:advancedmachines.arrayDevice.id=689
    I:advancedmachines.block.id=1741
}


####################
# general
####################

general {
    B:advancedmachines.enableArrayModule=false
    B:advancedmachines.enableArrayModule_actual=true
    I:advancedmachines.idleEUPerTick=1
    I:advancedmachines.idleEUPerTick_washer=1
    I:advancedmachines.maxVoltage=128
    I:advancedmachines.runningEUPerTick=16
    I:advancedmachines.runningEUPerTick_washer=48
    I:advancedmachines.spinDownRate=2
    I:advancedmachines.spinUpRate=1
    B:advancedmachines.useOreDictionaryIronPlate=false
    B:autoAssign=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=
}


####################
# item
####################

item {
    I:advancedmachines.sharpPlate=5620
}


