# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# This file contains user-specific settings and is separate to prevent value resets during modpack updates.
# Shipping this file in your modpack would be a pretty dumb idea.
##########################################################################################################

general {
    # eirairc:config.property.disableModpackConfirmation.tooltip
    B:disableModpackConfirmation=false

    # eirairc:config.property.disableModpackIRC.tooltip
    B:disableModpackIRC=false

    # eirairc:config.property.disableWelcomeScreen.tooltip
    B:disableWelcomeScreen=true
}


