# Configuration file

"block replacement" {
    B:"Replace sandstone during world gen- prevents stalactites forming in pyramid ruins"=true
    B:"Update sandstone after replacement- required only if you've changed the texture of naturalised sandstone"=true
}


"cave options" {
    B:"Allow generation of puddles in wet cave biomes"=true
}


"cave subtype and dungeon generation" {
    B:"Allow generation of cave subtypes"=true
    B:"Allow generation of custom mob based dungeons"=true
    I:"Cave Subtype and Dungeon percent generation chance"=50
    B:"Log subtypes in chat"=false
}


