# Configuration file

"sub-biome : autumn forest" {
    I:"Autumn Color Scaling- setting smaller will give faster changes in colour"=10
    I:"Autumn Forest ID, set to -1 to disable"=40
    I:"Autumn Hills ID, set to -1 to disable"=41
    I:"Autumn forest size- setting smaller will give isolated patches, larger gives large swathes"=30
    I:"Percentage frequency of Autumn Forest sub biomes within their parent biomes"=15
}


"surface modifications" {
    B:"Enable all surface modification"=true
    I:"In forests, percentage of chunks which will have mossy surfaces"=50
    I:"In mossy forests, percentage of blocks within the chunk which will be mossified"=50
    I:"In mountainous, percentage of blocks within the chunk which will be fractured"=20
    I:"In mountainous, percentage of chunks which will have cobblestone fractured surfaces"=50
    I:"In rivers, percentage of blocks within the chunk which will be fractured"=20
    I:"In rivers, percentage of chunks which will have cobblestone fractured river beds"=50
}


trees {
    B:"Allow this mod to bypass normal tree generation, and do custom tree generation (required for the rest of the tree configs to have effect)"=false
    I:"Percentage of trees generated that this mod will attempt to replace with custom big trees"=50
    D:"Scale for the simplex tree replacement- smaller values allow more mixing of tree types, larger values seperate them out more"=3.0
}


