# Configuration file

"chisel:limestoneextra@7" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=chisel:limestoneextra
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=chisel:blocks/limestone/extra/raw
}


"chisel:marbleextra@7" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=chisel:marbleextra
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=chisel:blocks/marble/extra/raw
}


"master stone list" {
    S:"Master list of stone blockstates" <
        minecraft:stone@0
        minecraft:stone@1
        minecraft:stone@3
        minecraft:stone@5
        wtfcore:natSandStone@0
        wtfcore:natRedSandStone@0
        minecraft:obsidian@0
        minecraft:dirt@0
        minecraft:sand@0
        minecraft:sand@1
        minecraft:gravel@0
        minecraft:netherrack@0
        chisel:limestoneextra@7
        chisel:marbleextra@7
        railcraft:generic@8
        railcraft:generic@9
     >
}


"minecraft:dirt@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=false
    S:"BlockState resource location"=dirt#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=false
    B:"Generate stalactite and stalagmites"=false
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/dirt
}


"minecraft:gravel@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=gravel#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=false
    B:"Generate stalactite and stalagmites"=false
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/gravel
}


"minecraft:netherrack@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=netherrack#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/netherrack
}


"minecraft:obsidian@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=obsidian#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/obsidian
}


"minecraft:sand@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=false
    S:"BlockState resource location"=sand#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=false
    B:"Generate stalactite and stalagmites"=false
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/sand
}


"minecraft:sand@1" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=false
    S:"BlockState resource location"=red_sand#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=false
    B:"Generate stalactite and stalagmites"=false
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/red_sand
}


"minecraft:stone@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=stone#normal
    S:"Cobblestone version of block"=minecraft:cobblestone@0
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/stone
}


"minecraft:stone@1" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=granite#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/stone_granite
}


"minecraft:stone@3" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=diorite#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/stone_diorite
}


"minecraft:stone@5" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=andesite#normal
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/stone_andesite
}


"railcraft:generic@8" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=railcraft:generic
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=railcraft:blocks/stone_abyssal
}


"railcraft:generic@9" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=railcraft:generic
    S:"Cobblestone version of block"=
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=railcraft:blocks/stone_quarried
}


"wtfcore:natredsandstone@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=red_sandstone#normal
    S:"Cobblestone version of block"=minecraft:sand@1
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/red_sandstone_top
}


"wtfcore:natsandstone@0" {
    B:"Allow cracked version to spawn in world (requires static deco blocks, and cracked stone ore generation)"=true
    S:"BlockState resource location"=sandstone#normal
    S:"Cobblestone version of block"=minecraft:sand@0
    B:"Generate animated deco blocks (Lava crust, dripping, ect)"=true
    B:"Generate stalactite and stalagmites"=true
    B:"Generate static deco blocks (moss, cracked, ect)"=true
    S:"Stone texture resource location"=minecraft:blocks/sandstone_top
}


