# Configuration file

"efrine armor" {
    I:"1 Armor Durability, Default =12"=12
    I:"2 Armor Enchantability, Default =25"=25
    I:"3 Helmet Protection, Default =2"=2
    I:"4 Chestplate Protection, Default =5"=5
    I:"5 Leggings Protection, Default =3"=3
    I:"6 Boots Protection, Default =1"=1
}


"efrine tools" {
    I:"1 Tool Harvest Level, Default =2"=2
    I:"2 Tool Max Uses =250"=250
    D:"3 Tool Efficiency, Default =12.0"=12.0
    D:"4 Tool Damage, Default =2.0"=2.0
    I:"5 Tool Enchantability, Default =22"=22
}


"heavy blaze armor" {
    B:"0 Should wearing Heavy Blaze Armor have negative effects?"=true
    I:"1 How strong should the Negative Effects be, 0 means you have the default effect strength"=0
    I:"2 Armor Durability, Default =20"=20
    I:"3 Armor Enchantability, Default =15"=15
    I:"4 Helmet Protection, Default =3"=3
    I:"5 Chestplate Protection, Default =9"=9
    I:"6 Leggings Protection, Default =7"=7
    I:"7 Boots Protection, Default =3"=3
}


##########################################################################################################
# utility armor
#--------------------------------------------------------------------------------------------------------#
# Settings for different types of utility based equipment.
##########################################################################################################

"utility armor" {
    # Crystal Glasses Durability, Default = 500
    I:"1 Durability"=500

    # Crystal Glasses Enchantability, Default = 0
    I:"1 Enchantability"=0

    # Crystal Glasses Protection, Default = 1
    I:"1 Protection"=1

    # Should Crystal Glasses allow the wearer to see through lava?
    B:"1 See through lava"=true
}


