# Configuration file

"1 biome size" {
    # 4 is default. 3 is half the size of 4, and 5 is double the size of 4. Can be even bigger or smaller
    I:"Size of Nether Biomes"=3
}


"2 biome ids" {
    I:"Abyssal Shadowland, set to -1 to completly disable the Biome"=181
    I:"Basalt Deltas, set to -1 to completly disable the Biome"=175
    I:"Crimson Forest, set to -1 to completly disable the Biome"=176
    I:"Crystalline Crag, set to -1 to completly disable the Biome"=180
    I:"Foxfire Swamp, set to -1 to completly disable the Biome"=179
    I:"Ruptured Chasm, set to -1 to completly disable the Biome"=182
    I:"Soul Sand Valley, set to -1 to completly disable the Biome"=177
    I:"Warped Forest, set to -1 to completly disable the Biome"=178
}


"2 biome ids natura" {
    I:"Burning Desert Biome, set to -1 to completly disable the Biome"=170
    I:"Tainted Shroom Cave Biome, set to -1 to completly disable the Biome"=171
}


"3 biome weights" {
    I:"1 Default Nether Biome, I'd suggest leaving the weights the way they are"=30
    I:"Abyssal Shadowland, I'd suggest leaving the weights the way they are"=10
    I:"Basalt Deltas, I'd suggest leaving the weights the way they are"=10
    I:"Crimson Forest, I'd suggest leaving the weights the way they are"=10
    I:"Crystalline Crag, I'd suggest leaving the weights the way they are"=10
    I:"Foxfire Swamp, I'd suggest leaving the weights the way they are"=10
    I:"Ruptured Chasm, I'd suggest leaving the weights the way they are"=10
    I:"Soul Sand Valley, I'd suggest leaving the weights the way they are"=10
    I:"Warped Forest, I'd suggest leaving the weights the way they are"=10
}


"3 biome weights natura" {
    I:"Burning Desert, I'd suggest leaving the weights the way they are"=10
    I:"Tainted Shroom Cave, I'd suggest leaving the weights the way they are"=10
}


"4 should bop biome generate" {
    B:Boneyard=true
    B:"Corrupted Sands"=true
    B:"Phantasmagoric Inferno"=true
    B:"Polar Chasm"=true
    B:Undergarden=true
    B:"Visceral Heap"=true
}


"5 biome weights bop" {
    I:"Boneyard, I'd suggest leaving the weights the way they are"=10
    I:"Corrupted Sands, I'd suggest leaving the weights the way they are"=10
    I:"Phantasmagoric Inferno, I'd suggest leaving the weights the way they are"=10
    I:"Polar Chasm, I'd suggest leaving the weights the way they are"=10
    I:"Undergarden, I'd suggest leaving the weights the way they are"=10
    I:"Visceral Heap, I'd suggest leaving the weights the way they are"=10
}


"6 biome fog and sky color" {
    I:"Abyssal Shadowland, Default Color =2036527, Uses Decimal"=2036527
    I:"Basalt Deltas, Default Color =5458024, Uses Decimal"=5458024
    I:"Crimson Forest, Default Color =11339784, Uses Decimal"=11339784
    I:"Crystaline Crag, Default Color =12910706, Uses Decimal"=12910706
    I:"Foxfire Swamp, Default Color =3102915, Uses Decimal"=3102915
    I:"Ruptured Chasm, Default Color =3344135, Uses Decimal"=3344135
    I:"Soul Sand Valley, Default Color =47821, Uses Decimal"=47821
    I:"Warped Forest, Default Color =5701807, Uses Decimal"=5701807
}


"6 biome fog and sky color natura" {
    I:"Burning Desert, Default Color =16732416, Uses Decimal"=16732416
    I:"Tainted Schroom Cave, Default Color =12910706, Uses Decimal"=12910706
}


