# Configuration file

"1 nether ambience" {
    B:"Allow Biome specific sounds to play"=true
}


"2 biome music" {
    B:"1 Replace the Music System in the Nether, to allow Biome specific Music. Default Music will still play sometimes"=true
    B:"2 Should Music play in Warped Forest?"=false
    B:"3 Should Music play in Abyssal Shadowland?"=false
}


