# Configuration file

replant {
    B:"Harvest Crops and replant them with right-click. Some Crops like bushes always behave like this"=true
}


"seed drops" {
    B:"1 Should Sprouts sometimes drop Nether Crop Seeds? Defaults to Abyssal Oat Seeds"=false
    B:"2 Should Sprouts sometimes drop regular Seeds? Includes Modded Seeds that can be gotten trough breaking Grass. Doesn't need Nether Crop Seeds to be true"=false
    B:"3 Should Sprouts sometimes drop Develish Maize Seeds? Needs Nether Crop Seeds to be true"=false
    B:"3 Should Sprouts sometimes drop Ghastly Gourd Seeds? Needs Nether Crop Seeds to be true"=false
    B:"3 Should Sprouts sometimes drop Hellderberry Seeds? Needs Nether Crop Seeds to be true"=false
    B:"3 Should Sprouts sometimes drop the Netherwart Variations? Regular Netherwart NOT included! Needs Nether Crop Seeds to be true"=false
}


worldgen {
    B:"Spawn Abyssal Oat Patches"=true
    B:"Spawn Biome specific variations of Nether Wart, they are not useable for brewing"=true
    B:"Spawn Devilish Maize Patches"=true
    B:"Spawn Ghastly Gourd Patches"=true
    B:"Spawn Hellderberry Bushes"=true
    B:"Spawn Infernal Reed near Lava or Spectral Dew"=true
}


