# Configuration file

##########################################################################################################
# 1 biome entity spawn speed
#--------------------------------------------------------------------------------------------------------#
# These biomes spawn entities slower than other biomes, like in vanilla. Change to false to use the default speed.
##########################################################################################################

"1 biome entity spawn speed" {
    B:"Slow entity spawning, Soul Sand Valley"=true
    B:"Slow entity spawning, Warped Forest"=true
}


"ambient creature attacks" {
    B:"Ashlings give Entities they touch Blindness for a short time"=true
    B:"Embers set Entities they touch on Fire for a short time"=true
    B:"Shadow Embers give Entities they touch Blindness for a short time"=true
    B:"Smolders damage Entities they touch"=true
    B:"Soul Embers set Entities they touch on Fire for a short time"=true
}


##########################################################################################################
# biome spawn weight ambient
#--------------------------------------------------------------------------------------------------------#
# The spawn weight compared to all ambient creatures that are able to spawn in the biome.
##########################################################################################################

"biome spawn weight ambient" {
    # The spawn weight of Ashling, Default = 10
    I:Ashling=10

    # The spawn weight of Crimson Spore, Default = 20
    I:"Crimson Spore"=20

    # The spawn weight of Ember, Default = 10
    I:Ember=10

    # The spawn weight of Foxfire Ember, Default = 10
    I:"Foxfire Ember"=10

    # The spawn weight of Foxfire Spore, Default = 20
    I:"Foxfire Spore"=20

    # The spawn weight of Shadow Ember, Default = 10
    I:"Shadow Ember"=10

    # The spawn weight of Smolder, Default = 10
    I:Smolder=10

    # The spawn weight of Soul Ember, Default = 10
    I:"Soul Ember"=10

    # The spawn weight of Warped Spore, Default = 20
    I:"Warped Spore"=20
}


##########################################################################################################
# biome spawn weight creatures
#--------------------------------------------------------------------------------------------------------#
# The spawn weight compared to all creatures that are able to spawn in the biome.
##########################################################################################################

"biome spawn weight creatures" {
    # The spawn weight of Hoglin, Default = 10
    I:Hoglin=10

    # The spawn weight of Piglin, Default = 7
    I:Piglin=7

    # The spawn weight of Strider, Default = 10
    I:Strider=10
}


##########################################################################################################
# biome spawn weight monster
#--------------------------------------------------------------------------------------------------------#
# The spawn weight compared to all monsters that are able to spawn in the biome. Vanilla Zombie Pigman have a weight of 100.
##########################################################################################################

"biome spawn weight monster" {
    # The spawn weight of Crimson Spore Ray, Default = 15
    I:"Crimson Spore Ray"=15

    # The spawn weight of Foxfire Spore Ray, Default = 15
    I:"Foxfire Spore Ray"=15

    # The spawn weight of Skull, Default = 5
    I:Skull=5

    # The spawn weight of Wither Skull, Default = 5
    I:"Skull Wither"=5

    # The spawn weight of Warped Spore Ray, Default = 15
    I:"Warped Spore Ray"=15

    # The spawn weight of Zoglin, Default = 20
    I:Zoglin=20

    # The spawn weight of Zombified Piglin, Default = 30
    I:"Zombified Piglin"=30
}


##########################################################################################################
# nether fortress mob spawn weight
#--------------------------------------------------------------------------------------------------------#
# The spawn weight compared to all monsters that are able to spawn in the fortress.
##########################################################################################################

"nether fortress mob spawn weight" {
    # The spawn weight of Blaze, Default = 10
    I:"Fortress Blaze"=10

    # The spawn weight of Blaze Knight, Default = 5
    I:"Fortress Blaze Knight"=5

    # The spawn weight of Magmacube, Default = 3
    I:"Fortress Magmacube"=3

    # The spawn weight of Skeleton, Default = 10
    I:"Fortress Skeleton"=10

    # The spawn weight of Skull, Default = 3
    I:"Fortress Skull"=3

    # The spawn weight of Wither Skull, Default = 1
    I:"Fortress Skull Wither"=1

    # The spawn weight of Zombie Pigman, Default = 5
    I:"Fortress Zombie Pigman"=5

    # The spawn weight of Zombified Piglin, Default = 5
    I:"Fortress Zombified Piglin"=5
}


"nether fortress mob spawnweight" {
    I:"The Spawnweight of Blaze Knight, 5 = Default"=5
    I:"The Spawnweight of Blaze, 10 = Default"=10
    I:"The Spawnweight of Magmacube, 3 = Default"=3
    I:"The Spawnweight of Skeleton, 10 = Default"=10
    I:"The Spawnweight of Skulls, 3 = Default"=3
    I:"The Spawnweight of Zombie Pigman, 5 = Default"=5
}


piglin {
    B:"Allow Piglins to spawn"=true
    B:"Despawn, Named Piglin will be able to despawn, only if Piglin are set to despawn"=false
    B:"Despawn, Piglin will be able to despawn, only affects Piglin without a name"=false
    B:"If true, Piglin will attack in Groups"=true
    B:"If true, Piglin will sometimes ask for Armor in trades to equipp it"=true
    B:"If true, Piglins will attack you, if you don't wear at least one piece of Gold Armor."=true
}


spawning {
    B:"Allow Hoglins to spawn"=true
    B:"Allow Striders to spawn"=true
    B:"Allow Zoglins to spawn"=true
}


"spawning ambient" {
    B:"Allow Ashlings to spawn"=true
    B:"Allow Crimson Spores to spawn"=true
    B:"Allow Embers to spawn"=true
    B:"Allow Foxfire Embers to spawn"=true
    B:"Allow Foxfire Spores to spawn"=true
    B:"Allow Shadow Embers to spawn"=true
    B:"Allow Smolders to spawn"=true
    B:"Allow Soul Embers to spawn"=true
    B:"Allow Warped Spores to spawn"=true
}


"spawning animal" {
    B:"Allow Hoglins to spawn"=true
    B:"Allow Striders to spawn"=true
}


"spawning monster" {
    B:"Allow Crimson Spore Rays to spawn"=true
    B:"Allow Foxfire Spore Rays to spawn"=true
    B:"Allow Skulls to spawn in Biomes"=true
    B:"Allow Warped Spore Rays to spawn"=true
    B:"Allow Wither Skulls to spawn in Biomes"=true
    B:"Allow Zoglins to spawn"=true
    B:"Allow Zombified Piglins to spawn"=true
}


"spawning nether fortress" {
    B:"Allow Blaze Knights to spawn in Nether Fortress"=true
    B:"Allow Skulls to spawn in Nether Fortress"=true
    B:"Allow Wither Skulls to spawn in Nether Fortress"=true
    B:"Allow Zombified Piglins to spawn in Nether Fortress"=true
}


"thaumcraft champion" {
    B:"If Thaumcraft is installed, allow Blaze Knights to spawn as Champions"=true
    B:"If Thaumcraft is installed, allow Zoglins to spawn as Champions"=true
    B:"If Thaumcraft is installed, allow Zombified Piglin to spawn as Champions"=true
}


