# Configuration file

"ambient creature attacks" {
    B:"Ashlings give Entities they touch Blindness for a short time"=true
    B:"Embers set Entities they touch on Fire for a short time"=true
    B:"Shadow Embers give Entities they touch Blindness for a short time"=true
    B:"Smolders damage Entities they touch"=true
    B:"Soul Embers set Entities they touch on Fire for a short time"=true
}


"nether fortress mob spawnweight" {
    I:"The Spawnweight of Blaze Knight, 5 = Default"=5
    I:"The Spawnweight of Blaze, 10 = Default"=10
    I:"The Spawnweight of Magmacube, 3 = Default"=3
    I:"The Spawnweight of Skeleton, 10 = Default"=10
    I:"The Spawnweight of Skulls, 3 = Default"=3
    I:"The Spawnweight of Zombie Pigman, 5 = Default"=5
}


spawning {
    B:"Allow Hoglins to spawn"=true
    B:"Allow Striders to spawn"=true
    B:"Allow Zoglins to spawn"=true
}


"spawning ambient" {
    B:"Allow Ashlings to spawn"=true
    B:"Allow Crimson Spores to spawn"=true
    B:"Allow Embers to spawn"=true
    B:"Allow Foxfire Embers to spawn"=true
    B:"Allow Foxfire Spores to spawn"=true
    B:"Allow Shadow Embers to spawn"=true
    B:"Allow Smolders to spawn"=true
    B:"Allow Soul Embers to spawn"=true
    B:"Allow Warped Spores to spawn"=true
}


"spawning animal" {
    B:"Allow Hoglins to spawn"=true
    B:"Allow Striders to spawn"=true
}


"spawning monster" {
    B:"Allow Crimson Spore Rays to spawn"=true
    B:"Allow Foxfire Spore Rays to spawn"=true
    B:"Allow Skulls to spawn in Biomes"=true
    B:"Allow Warped Spore Rays to spawn"=true
    B:"Allow Zoglins to spawn"=true
}


"spawning nether fortress" {
    B:"Allow Blaze Knights to spawn in Nether Fortress"=true
    B:"Allow Skulls to spawn in Nether Fortress"=true
}


"thaumcraft champion" {
    B:"If Thaumcraft is installed, allow Blaze Knights to spawn as Champions"=true
    B:"If Thaumcraft is installed, allow Zoglins to spawn as Champions"=true
}


