# Configuration file

"nether fortress mob spawnweight" {
    I:"The Spawnweight of Blaze Knight, 5 = Default"=5
    I:"The Spawnweight of Blaze, 10 = Default"=10
    I:"The Spawnweight of Magmacube, 3 = Default"=3
    I:"The Spawnweight of Skeleton, 10 = Default"=10
    I:"The Spawnweight of Zombie Pigman, 5 = Default"=5
}


spawning {
    B:"Allow Hoglins to spawn"=true
    B:"Allow Striders to spawn"=true
    B:"Allow Zoglins to spawn"=true
}


"spawning nether fortress" {
    B:"Allow Blaze Knights to spawn in Nether Fortress"=true
}


"thaumcraft champion" {
    B:"If Thaumcraft is installed, allow Blaze Knights to spawn as Champions"=true
    B:"If Thaumcraft is installed, allow Zoglins to spawn as Champions"=true
}


