# Configuration file

"1 nether respawn" {
    # Set to false if you don't want to be able to set your Spawn with the Anchor, or if you are stuck in the Nether
    B:"Allow respawning in the Nether"=true
}


"2 fog density" {
    D:"Very sensitive, increase or decrease in small numbers. Default 0.015"=0.015
}


"block properties" {
    B:"If true, Fire on Soul Soil will instantly turn into Soul Fire. If false it will change random after some time"=true
    B:"If true, Moss will be as thick as a carpet"=false
    B:"If true, Moss will spread to nearby Blocks. It will not spread infinitely"=true
    B:"If true, Soul Sand can be turned into Soul Farmland like Soul Soil"=true
    B:"If true, Soul Soil will slow you like Soul Sand"=false
    B:"If true, Spectral Dew can create new Source Blocks like Water"=true
    B:"If true, Spectral Dew can only create new Source Blocks in the Nether"=false
}


compability {
    B:"Enable Recipe for Iron Nuggets. Disable if you already have Iron Nuggets from another Mod"=false
    B:"When UpToDate is installed use its Bone Block for generation"=true
    B:"When UpToDate is installed use its Wither Rose for generation"=false
}


compatibility {
    I:"Bone Block, Which Bone to use in generation. 1 is EtFuturum, 2 is UpToDate, else it's Netherlicious"=0
    B:"Enable Recipe for Iron Nuggets. Disable if you already have Iron Nuggets from another Mod"=true
}


"lantern and torch" {
    B:"1 Can Foxfire Torches burn out?"=false
    B:"1 Can Shadow Torches burn out?"=false
    B:"1 Can Soul Torches burn out?"=false
    B:"2 Can Foxfire Lanterns burn out?"=false
    B:"2 Can Regular Lanterns burn out?"=false
    B:"2 Can Shadow Lanterns burn out?"=false
    B:"2 Can Soul Lanterns burn out?"=false
    I:"3 The time till a Foxfire Torch burns out in Ticks, 20 Ticks = 1 Second, Default 72000"=72000
    I:"3 The time till a Shadow Torch burns out in Ticks, 20 Ticks = 1 Second, Default 72000"=72000
    I:"3 The time till a Soul Torch burns out in Ticks, 20 Ticks = 1 Second, Default 72000"=72000
    I:"4 The time till a Foxfire Lantern burns out in Ticks, 20 Ticks = 1 Second, Default 72000"=72000
    I:"4 The time till a Regular Lantern burns out in Ticks, 20 Ticks = 1 Second, Default 72000"=72000
    I:"4 The time till a Shadow Lantern burns out in Ticks, 20 Ticks = 1 Second, Default 72000"=72000
    I:"4 The time till a Soul Lantern burns out in Ticks, 20 Ticks = 1 Second, Default 72000"=72000
}


misc {
    B:"If true, a breakable Bedrock Block will be registered"=false
    B:"If true, the Biomespecific Warts can be used for Brewing like Netherwart"=true
}


"textures and sound" {
    B:"Sound, 1 Use new Sounds for old and some modded Blocks"=true
    B:"Sound, Use new Click Sounds for Nether Wood Buttons and Pressure Plates"=true
    B:"Texture, 1 Use new Textures for old and some modded Blocks"=true
    B:"Texture, Use alternative Soul Sandstone Textures by: DariusDarkBum"=false
    B:"Texture, Use alternative textures for regular Lanterns"=true
}


