# Configuration file

"block particles" {
    B:"Should Crying Blackstone spawn Particles?"=true
    B:"Should Crying Obsidian spawn Particles?"=true
    B:"Should Nylium spawn Particles similar to Mycelium?"=true
    B:"Should Soul Soil spawn small Soul Particles?"=true
    B:"Should Wartblocks spawn Particles?"=true
    B:"Should Wither Roses spawn Particles?"=true
}


"entity particles" {
    B:"Allow Ashlings to spawn Particles"=true
    B:"Allow Crimson Spore Rays to spawn Particles"=true
    B:"Allow Crimson Spores to spawn Particles"=true
    B:"Allow Embers to spawn Particles"=true
    B:"Allow Foxfire Spore Rays to spawn Particles"=true
    B:"Allow Foxfire Spores to spawn Particles"=true
    B:"Allow Smolders to spawn Particles"=true
    B:"Allow Warped Spore Rays to spawn Particles"=true
    B:"Allow Warped Spores to spawn Particles"=true
}


