# Configuration file

"1 biome particles backport biomes" {
    B:"1 Should Particles Spawn in Crimson Forest?"=true
    B:"2 Should Vanilla Crimson Forest Particles spawn?"=false
    B:"3 Should Particles Spawn in Warped Forest?"=true
    B:"4 Should Vanilla Warped Forest Particles spawn?"=false
    B:"5 Should Particles Spawn in Soul Sand Valley?"=true
    B:"6 Should Particles Spawn in Basalt Deltas"=true
}


"2 biome particles netherlicious biomes" {
    B:"1 Should Particles Spawn in Foxfire Swamp?"=true
    B:"2 Should Particles Spawn in Crystalline Crag?"=true
}


"3 biome particles natura biomes" {
    B:"1 Should Particles Spawn in Tainted Shroom Cave?"=true
    B:"2 Should Particles Spawn in Burning Desert?"=true
}


"4 biome particles bop biomes" {
    B:"1 Should Particles Spawn in Corrupted Sands?"=true
    B:"2 Should Particles Spawn in Phantasmagoric Inferno?"=true
}


"block particles" {
    B:"Should Crying Blackstone spawn Particles?"=true
    B:"Should Crying Obsidian spawn Particles?"=true
    B:"Should Moss Blocks spawn Particles similar to Nylium?"=true
    B:"Should Nether Bookshelves spawn particles near an Enchanting Table?"=true
    B:"Should Nylium spawn Particles similar to Mycelium?"=true
    B:"Should Soul Soil spawn small Soul Particles?"=true
    B:"Should Wartblocks spawn Particles?"=true
    B:"Should Wither Roses spawn Particles?"=true
}


"entity particles" {
    B:"Allow Ashlings to spawn Particles"=true
    B:"Allow Crimson Spore Rays to spawn Particles"=true
    B:"Allow Crimson Spores to spawn Particles"=true
    B:"Allow Embers to spawn Particles"=true
    B:"Allow Foxfire Spore Rays to spawn Particles"=true
    B:"Allow Foxfire Spores to spawn Particles"=true
    B:"Allow Smolders to spawn Particles"=true
    B:"Allow Warped Spore Rays to spawn Particles"=true
    B:"Allow Warped Spores to spawn Particles"=true
}


