# Configuration file

"piglin sell list" {
    B:"0 Should Piglin sell Water Bottles?"=true
    B:"1 Should Piglin sell Potion of Fire Resistance?"=true
    B:"10 Should Piglin sell Crimson Warts?"=true
    B:"11 Should Piglin sell Warped Warts?"=true
    B:"12 Should Piglin sell Foxfire Warts?"=true
    B:"13 Should Piglin sell Wither Roses?"=true
    B:"14 Should Piglin sell Bone Roses?"=true
    B:"15 Should Piglin sell Soul Roses?"=true
    B:"16 Should Piglin sell Foxfire Lilies?"=true
    B:"17 Should Piglin sell Gloom Hibiscus?"=true
    B:"18 Should Piglin sell Crimson Bluet?"=true
    B:"19 Should Piglin sell Torch Flowers?"=true
    B:"2 Should Piglin sell Splash Potion of Fire Resistance?"=true
    B:"20 Should Piglin sell Warped Poppies?"=true
    B:"21 Should Piglin sell Traumalia?"=true
    B:"22 Should Piglin sell Infernal Reed?"=true
    B:"23 Should Piglin sell Seeds for Abyssal Oat?"=true
    B:"24 Should Piglin sell Seeds for Ghastly Gourd?"=true
    B:"25 Should Piglin sell Seeds for Devilish Maize?"=true
    B:"26 Should Piglin sell Seeds for Hellderberry?"=true
    B:"27 Should Piglin sell Ender Pearls?"=true
    B:"28 Should Piglin sell String?"=true
    B:"29 Should Piglin sell Fire Charge?"=true
    B:"3 Should Piglin sell XP Bottles?"=true
    B:"30 Should Piglin sell Leather?"=true
    B:"31 Should Piglin sell Arrows?"=true
    B:"32 Should Piglin sell Bones?"=true
    B:"33 Should Piglin sell Ghast Tears?"=true
    B:"34 Should Piglin sell Blaze Rods?"=true
    B:"35 Should Piglin sell Magma Cream?"=true
    B:"36 Should Piglin sell normal Skulls?"=true
    B:"37 Should Piglin sell Shield Scrap?"=true
    B:"38 Should Piglin sell Spore Membrane?"=true
    B:"39 Should Piglin sell Pork?"=true
    B:"4 Should Piglin sell Brown Mushrooms?"=true
    B:"40 Should Piglin sell Strider Flank?"=true
    B:"41 Should Piglin sell Iron Nuggets?"=true
    B:"42 Should Piglin sell Efrine Nuggets?"=true
    B:"43 Should Piglin sell Nether Quartz?"=true
    B:"44 Should Piglin sell Void Quartz?"=true
    B:"45 Should Piglin sell Foxfire Powder?"=true
    B:"46 Should Piglin sell Glowstone Dust?"=true
    B:"47 Should Piglin sell Gloomstone Dust?"=true
    B:"48 Should Piglin sell Crystal Shards?"=true
    B:"49 Should Piglin sell Obsidian?"=true
    B:"5 Should Piglin sell Red Mushrooms?"=true
    B:"50 Should Piglin sell Crying Obsidian?"=true
    B:"51 Should Piglin sell Soul Sand?"=true
    B:"52 Should Piglin sell Soul Soil?"=true
    B:"53 Should Piglin sell Netherrack?"=true
    B:"54 Should Piglin sell Gravel?"=true
    B:"55 Should Piglin sell Dark Gravel?"=true
    B:"56 Should Piglin sell Blackstone?"=true
    B:"57 Should Piglin sell Basalt?"=true
    B:"58 Should Piglin sell Crimson Nylium?"=true
    B:"59 Should Piglin sell Warped Nylium?"=true
    B:"6 Should Piglin sell Crimson Fungi?"=true
    B:"60 Should Piglin sell Foxfire Nylium?"=true
    B:"61 Should Piglin sell Crimson Moss Blocks?"=true
    B:"62 Should Piglin sell Warped Moss Blocks?"=true
    B:"63 Should Piglin sell Foxfire Moss Blocks?"=true
    B:"7 Should Piglin sell Warped Fungi?"=true
    B:"8 Should Piglin sell Foxfire Fungi?"=true
    B:"9 Should Piglin sell Nether Wart?"=true
}


