# Configuration file

item {

    feature {
        # This allows you to disable Florbs entirely. It also means that you actively dislike fun things.
        B:Florb.Enable=true
    }

}


whitelist {
    B:acid=true
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ardite.molten=true
    B:argon=true
    B:atmosphericgases=true
    B:bacterialsludge=true
    B:binnie.bacteria=true
    B:binnie.bacteriapoly=true
    B:binnie.bacteriavector=true
    B:binnie.beerale=true
    B:binnie.beercorn=true
    B:binnie.beerlager=true
    B:binnie.beerrye=true
    B:binnie.beerstout=true
    B:binnie.beerwheat=true
    B:binnie.brandyapple=true
    B:binnie.brandyapricot=true
    B:binnie.brandycherry=true
    B:binnie.brandycitrus=true
    B:binnie.brandyelderberry=true
    B:binnie.brandyfruit=true
    B:binnie.brandygrape=true
    B:binnie.brandypear=true
    B:binnie.brandyplum=true
    B:binnie.ciderapple=true
    B:binnie.ciderpeach=true
    B:binnie.ciderpear=true
    B:binnie.dna.raw=true
    B:binnie.fermentedpotatoes=true
    B:binnie.growthmedium=true
    B:binnie.juice=true
    B:binnie.juiceapple=true
    B:binnie.juiceapricot=true
    B:binnie.juicebanana=true
    B:binnie.juicecarrot=true
    B:binnie.juicecherry=true
    B:binnie.juicecranberry=true
    B:binnie.juiceelderberry=true
    B:binnie.juicegrapefruit=true
    B:binnie.juicelemon=true
    B:binnie.juicelime=true
    B:binnie.juiceolive=true
    B:binnie.juiceorange=true
    B:binnie.juicepeach=true
    B:binnie.juicepear=true
    B:binnie.juicepineapple=true
    B:binnie.juiceplum=true
    B:binnie.juiceredgrape=true
    B:binnie.juicetomato=true
    B:binnie.juicewhitegrape=true
    B:binnie.liqueuralmond=true
    B:binnie.liqueuranise=true
    B:binnie.liqueurbanana=true
    B:binnie.liqueurblackberry=true
    B:binnie.liqueurblackcurrant=true
    B:binnie.liqueurcherry=true
    B:binnie.liqueurchocolate=true
    B:binnie.liqueurcinnamon=true
    B:binnie.liqueurcoffee=true
    B:binnie.liqueurhazelnut=true
    B:binnie.liqueurherbal=true
    B:binnie.liqueurlemon=true
    B:binnie.liqueurmelon=true
    B:binnie.liqueurmint=true
    B:binnie.liqueurorange=true
    B:binnie.liqueurpeach=true
    B:binnie.liqueurraspberry=true
    B:binnie.liquorapple=true
    B:binnie.liquorapricot=true
    B:binnie.liquorcherry=true
    B:binnie.liquorelderberry=true
    B:binnie.liquorfruit=true
    B:binnie.liquorpear=true
    B:binnie.mashcorn=true
    B:binnie.mashgrain=true
    B:binnie.mashrye=true
    B:binnie.mashwheat=true
    B:binnie.rumdark=true
    B:binnie.rumwhite=true
    B:binnie.spiritgin=true
    B:binnie.spiritneutral=true
    B:binnie.spiritsugarcane=true
    B:binnie.tequila=true
    B:binnie.vodka=true
    B:binnie.whiskey=true
    B:binnie.whiskeycorn=true
    B:binnie.whiskeyrye=true
    B:binnie.whiskeywheat=true
    B:binnie.wineagave=true
    B:binnie.wineapricot=true
    B:binnie.winebanana=true
    B:binnie.winecarrot=true
    B:binnie.winecherry=true
    B:binnie.winecitrus=true
    B:binnie.winecranberry=true
    B:binnie.wineelderberry=true
    B:binnie.winefortified=true
    B:binnie.winepineapple=true
    B:binnie.wineplum=true
    B:binnie.winered=true
    B:binnie.winesparkling=true
    B:binnie.winetomato=true
    B:binnie.winewhite=true
    B:bioethanol=true
    B:biofuel=true
    B:biomass=true
    B:blood=true
    B:brine=true
    B:bronze.molten=true
    B:carbondioxide=true
    B:cement.liquid=true
    B:chlorine=true
    B:chlorophyll=true
    B:chocolatemilk=true
    B:coal=true
    B:cobalt.molten=true
    B:copper.molten=true
    B:creosote=true
    B:cryotheum=true
    B:custard=true
    B:cyanite=true
    B:"darkness essence"=true
    B:dirt=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:endergoo=true
    B:etchacid=true
    B:ethene=true
    B:fairy.molten=true
    B:fastwater=true
    B:fire_water=true
    B:fishfood=true
    B:fishoil=true
    B:fluiddeath=true
    B:fluidpure=true
    B:fluidrubbertreesap=true
    B:flux=true
    B:fluxgoo=true
    B:fortron=true
    B:fuel=true
    B:fuelcolumn=true
    B:gas.natural=true
    B:gaseousaeressentia=true
    B:gaseousalienisessentia=true
    B:gaseousaquaessentia=true
    B:gaseousarboressentia=true
    B:gaseousauramessentia=true
    B:gaseousbestiaessentia=true
    B:gaseouscognitioessentia=true
    B:gaseouscorpusessentia=true
    B:gaseousdesidiaessentia=true
    B:gaseousexanimisessentia=true
    B:gaseousfabricoessentia=true
    B:gaseousfamesessentia=true
    B:gaseousgelumessentia=true
    B:gaseousgulaessentia=true
    B:gaseousherbaessentia=true
    B:gaseoushumanusessentia=true
    B:gaseousignisessentia=true
    B:gaseousinfernusessentia=true
    B:gaseousinstrumentumessentia=true
    B:gaseousinvidiaessentia=true
    B:gaseousiraessentia=true
    B:gaseousiteressentia=true
    B:gaseouslimusessentia=true
    B:gaseouslucrumessentia=true
    B:gaseousluxessentia=true
    B:gaseousluxuriaessentia=true
    B:gaseousmachinaessentia=true
    B:gaseousmessisessentia=true
    B:gaseousmetallumessentia=true
    B:gaseousmetoessentia=true
    B:gaseousmortuusessentia=true
    B:gaseousmotusessentia=true
    B:gaseousordoessentia=true
    B:gaseouspannusessentia=true
    B:gaseousperditioessentia=true
    B:gaseousperfodioessentia=true
    B:gaseouspermutatioessentia=true
    B:gaseouspotentiaessentia=true
    B:gaseouspraecantatioessentia=true
    B:gaseoussanoessentia=true
    B:gaseoussensusessentia=true
    B:gaseousspiritusessentia=true
    B:gaseoussuperbiaessentia=true
    B:gaseoustelumessentia=true
    B:gaseoustempestasessentia=true
    B:gaseoustenebraeessentia=true
    B:gaseousterraessentia=true
    B:gaseoustutamenessentia=true
    B:gaseousvacuosessentia=true
    B:gaseousvenenumessentia=true
    B:gaseousvictusessentia=true
    B:gaseousvinculumessentia=true
    B:gaseousvitiumessentia=true
    B:gaseousvitreusessentia=true
    B:gaseousvolatusessentia=true
    B:glass=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:gunpowder=true
    B:helium=true
    B:hell_blood=true
    B:honey=true
    B:hootch=true
    B:hydrogen=true
    B:hydrogenchloride=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:ice=true
    B:invar.molten=true
    B:iron.molten=true
    B:juice=true
    B:latex=true
    B:lava=true
    B:lead.molten=true
    B:"life essence"=true
    B:"light essence"=true
    B:limestone.molten=true
    B:liquidargon=true
    B:liquiddna=true
    B:liquidmethane=true
    B:liquidnitrogen=true
    B:liquidoxygen=true
    B:magnesium.molten=true
    B:mana=true
    B:manyullyn.molten=true
    B:meat=true
    B:methane=true
    B:milk=true
    B:mobessence=true
    B:"molten conductive redmetal"=true
    B:"molten redstone"=true
    B:mushroomsoup=true
    B:mutagen=true
    B:myst.ink.black=true
    B:nickel.molten=true
    B:nitrogen=true
    B:nutrient_distillation=true
    B:obsidian.molten=true
    B:oil=true
    B:osmium.molten=true
    B:oxygen=true
    B:pigiron.molten=true
    B:pinkslime=true
    B:plastic=true
    B:platinum.molten=true
    B:poison=true
    B:pokefennium.molten=true
    B:protein=true
    B:pyrotheum=true
    B:quicklime=true
    B:"rainbow essence"=true
    B:redplasma=true
    B:redstone=true
    B:refined.glowstone.molten=true
    B:resin=true
    B:rocket_fuel=true
    B:rutile.molten=true
    B:salt.molten=true
    B:sap=true
    B:seedoil=true
    B:sewage=true
    B:short.mead=true
    B:silver.molten=true
    B:slime.blue=true
    B:sludge=true
    B:sodium=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:sulfurdioxidegas=true
    B:sulfuricacid=true
    B:sulfurtrioxidegas=true
    B:tin.molten=true
    B:titanium.molten=true
    B:turpentine=true
    B:water=true
    B:"witchery:fluidspirit"=true
    B:"witchery:hollowtears"=true
    B:xp=true
    B:xpjuice=true
    B:yellorium=true
}


