# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # RF per tick/per block for the console screen module
    I:consoleModuleRFPerTick=2

    # RF per tick/per block for the interaction screen module
    I:interactionModuleRFPerTick=2

    # Maximum number of lines to keep in the log
    I:processorMaxLogLines=100

    # Maximum RF storage that the processor can hold
    I:processorMaxRF=100000

    # RF per tick that the processor can receive
    I:processorRFPerTick=1000

    # RF per tick for the CPU Core B500
    I:rfB500=4

    # RF per tick for the CPU Core EX2000
    I:rfEX2000=50

    # RF per tick for the CPU Core S1000
    I:rfS1000=14

    # Amount of instructions per tick for the CPU Core B500
    I:speedB500=1

    # Amount of instructions per tick for the CPU Core EX2000
    I:speedEX2000=16

    # Amount of instructions per tick for the CPU Core S1000
    I:speedS1000=4

    # RF per tick/per block for the variable screen module
    I:variableModuleRFPerTick=1
}


