# Configuration file

scripting {
    S:AE2_enabled=true
    S:AgriCraft_enabled=true
    S:Bibliocraft_enabled=true
    S:BuildCraft_enabled=true
    S:Decocraft_enabled=true
    S:ExtraUtilities_enabled=true
    S:ForbiddenMagic_enabled=true
    S:ForgeMicroblock_enabled=true
    S:Gendustry_enabled=true
    S:Genetics_enabled=true
    S:GraveStone_enabled=true
    S:MFR_enabled=true
    S:Mekanism_enabled=true
    S:StorageDrawers_enabled=true
    S:Tcon_enabled=true
    S:ThermalExpansion_enabled=true
    S:WitchingGadgets_enabled=true
    S:cfm_enabled=true
    S:mischidden_enabled=true
    S:vanilla_enabled=true
}


