# Configuration file

~CONFIG_VERSION: 1.7.10-1.5.6-3

nuclear_physics {
    # Speed at in blocks per tick when the particle accelerator particle explodes [range: 0.5 ~ 1.5, default: 1.0]
    S:antimatterCreationSpeed=1.0

    # The number of items each dark matter cell can be used in a quantum assembler [range: 1 ~ 1000, default: 8]
    I:dark_matter_uses=8

    # True to turn the blacklist into a whitelist; False to ignore [default: false]
    B:flip_blacklist_to_whitelist=false

    # Multiplier for an antimatter explosion's energy generation in a fulmination generator. [range: 1 ~ 3000, default: 1000]
    I:fulmination_antimatter_energy_scale=1000

    # Should particle accelerator particles load the particle chunk if it is unloaded? True to allow enable; False to disable [default: true]
    B:particle_chunkloading_enable=true

    # Should particle accelerator particles collide with entities and eachother? True to allow collision; False to disable [default: true]
    B:particle_collision_enable=true

    # Amount of destruction caused by plasma [range: 0 ~ 50, default: 8]
    I:plasma_strength=8

    # Worlds that are protected from typical explosions and such [default: [spawn], [creative]]
    S:protected_worlds <
        spawn
        creative
     >

    # Items which are blacklisted from use in the quantum assembler [default: ]
    S:quantum_assembler_blacklist <
     >

    # How meny ticks that are required to dupe one item in the assembler [range: 0 ~ 100000, default: 120]
    I:quantum_assembler_ticks_required=120

    # Ratio for turbines to convert one ml of steam into rf. [range: 0.01 ~ 100.0, default: 2.0]
    S:turbineSteamToRfRatio=2.0

    # Amount of ore to generate per branch [range: 0 ~ 100, default: 3]
    I:uranium_branch_size=3

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 1 ~ 100, default: 20]
    I:uranium_chunk_count=20

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 3]
    I:uranium_harvest_level=3

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 40]
    I:uranium_max_y=40

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:uranium_min_y=10
}


