# Configuration file

general {
    # Colors op's chat messages
    B:"Color OP Messages"=false

    # Spams the logs with debug info
    B:"Debug Mode"=false

    # The default range for the /removeall command
    I:"Default RemoveAll Range"=20

    # Causes bedrock to generate only one layer thick
    B:"Enable Flat Bedrock"=true

    # Fixes /help when mods screw it up
    B:"Enable Help Override"=true

    # The prefix in chat for server operators
    S:"OP Chat Prefix"=*

    # Send the MOTD to players upon logging into the server
    B:"Send MOTD on Login"=false

    # The prefix in chat for voiced users
    S:"Voice Chat Prefix"=+
}


world {
    # This will log all blocks broken by players and fake players
    B:"Log Block Breaks"=false
}


