# Configuration file

enchantment {
    # Soul-Stealer enchant id [range: 1 ~ 128, default: 52]
    I:ID=52

    # Soul-Stealer kill bonus [range: 1 ~ 10, default: 1]
    I:"Kill Bonus"=1

    # Soul-Stealer enchant probability [range: 1 ~ 10, default: 8]
    I:Weight=8
}


general {
    # This will enable debug mode, where the console will inform you when a mob is spawned [default: false]
    B:"Enable Debug"=false

    # RESTART REQUIRED: This will revert the shard creation to the structure method [default: false]
    B:"Enable Easy mode"=false

    # Soul cages will stop when too many entities have been spawned [default: true]
    B:"Flood Prevention"=true

    # Active redstone stops a soul cage [default: false]
    B:"Invert Redstone"=false

    # Max number of Entities soul cages can spawn in an area [range: 1 ~ 200, default: 80]
    I:"Max Entities Spawned"=80

    # Allow absorbing of vanilla spawners for a kill bonus [default: true]
    B:"Vanilla Spawner Absorbing"=true

    # Amount of kills added to the shard when right-clicking a spawner [range: 1 ~ 400, default: 64]
    I:"Vanilla Spawner Bonus"=64
}


recipes {
    # Time (In Ticks) it takes to create Soulium and Soul Shards [range: 0 ~ 999999, default: 12800]
    I:"Cooking Time"=12800

    # RESTART REQUIRED: How many Soulium Ingots do you want to get by smelting 1 iron block [range: 1 ~ 9, default: 7]
    I:"Ingot Amount"=7

    # RESTART REQUIRED: How many Soulium Nuggets do you want to get by smelting 1 iron ingot [range: 1 ~ 9, default: 8]
    I:"Nugget Amount"=8

    # RESTART REQUIRED: How many Soul Shards do you want to get by smelting 1 diamond [range: 1 ~ 8, default: 3]
    I:"Shard Amount"=3
}


"tier 1 settings" {
    # Needs appropriate light to spawn entities [default: true]
    B:"Check Light"=true

    # Needs a player nearby to spawn entities [default: true]
    B:"Check Player"=true

    # Needs appropriate world to spawn entities [default: true]
    B:"Checks World"=true

    # Cooldown time for soul cages (in seconds) [range: 1 ~ 60, default: 20]
    I:Cooldown=20

    # Minimum kills for the tier [range: 1 ~ 2048, default: 64]
    I:"Min kills"=64

    # Number of spawns per operation [range: 1 ~ 10, default: 2]
    I:"Num Spawns"=2

    # Reacts to a redstone signal [default: false]
    B:"Redstone control"=false
}


"tier 2 settings" {
    # Needs appropriate light to spawn entities [default: true]
    B:"Check Light"=true

    # Needs a player nearby to spawn entities [default: true]
    B:"Check Player"=true

    # Needs appropriate world to spawn entities [default: true]
    B:"Checks World"=true

    # Cooldown time for soul cages (in seconds) [range: 1 ~ 60, default: 10]
    I:Cooldown=10

    # Minimum kills for the tier [range: 1 ~ 2048, default: 128]
    I:"Min kills"=128

    # Number of spawns per operation [range: 1 ~ 10, default: 4]
    I:"Num Spawns"=4

    # Reacts to a redstone signal [default: false]
    B:"Redstone control"=false
}


"tier 3 settings" {
    # Needs appropriate light to spawn entities [default: true]
    B:"Check Light"=true

    # Needs a player nearby to spawn entities [default: false]
    B:"Check Player"=false

    # Needs appropriate world to spawn entities [default: true]
    B:"Checks World"=true

    # Cooldown time for soul cages (in seconds) [range: 1 ~ 60, default: 5]
    I:Cooldown=5

    # Minimum kills for the tier [range: 1 ~ 2048, default: 256]
    I:"Min kills"=256

    # Number of spawns per operation [range: 1 ~ 10, default: 4]
    I:"Num Spawns"=4

    # Reacts to a redstone signal [default: false]
    B:"Redstone control"=false
}


"tier 4 settings" {
    # Needs appropriate light to spawn entities [default: true]
    B:"Check Light"=true

    # Needs a player nearby to spawn entities [default: false]
    B:"Check Player"=false

    # Needs appropriate world to spawn entities [default: false]
    B:"Checks World"=false

    # Cooldown time for soul cages (in seconds) [range: 1 ~ 60, default: 5]
    I:Cooldown=5

    # Minimum kills for the tier [range: 1 ~ 2048, default: 512]
    I:"Min kills"=512

    # Number of spawns per operation [range: 1 ~ 10, default: 4]
    I:"Num Spawns"=4

    # Reacts to a redstone signal [default: false]
    B:"Redstone control"=false
}


"tier 5 settings" {
    # Needs appropriate light to spawn entities [default: false]
    B:"Check Light"=false

    # Needs a player nearby to spawn entities [default: false]
    B:"Check Player"=false

    # Needs appropriate world to spawn entities [default: false]
    B:"Checks World"=false

    # Cooldown time for soul cages (in seconds) [range: 1 ~ 60, default: 2]
    I:Cooldown=2

    # Minimum kills for the tier [range: 1 ~ 2048, default: 1024]
    I:"Min kills"=1024

    # Number of spawns per operation [range: 1 ~ 10, default: 6]
    I:"Num Spawns"=6

    # Reacts to a redstone signal [default: true]
    B:"Redstone control"=true
}


