# Configuration file

balancing {
    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # The item used to create a Soul Shard. [default: minecraft:diamond:0]
    S:catalystItem=minecraft:diamond:0

    # Enables a convenience recipe that allows you to reset the stats of a Soul Shard. [default: true]
    B:convenienceReset=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=true

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Forces Soul Cages to require a Redstone signal in order to spawn entities. [default: false]
    B:forceRedstoneRequirement=false

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=200
}


client {
    # Adds a Shard for each enabled mob to the creative tab. [default: false]
    B:addShardsForAllMobs=false

    # Adds A shards for mobs even if they are blacklisted [default: false]
    B:ignoreBlacklistForTab=false
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    # HARDMODE - Reduces the contained souls of the shard by 1 for each mob spawned. Does not reduce tier. Recommended to disable "countCageBornForShard".
    S:compatibilityType=VANILLA

    # Adds a Tinkers Construct modifier for Soul Stealer. [default: true]
    B:enableSoulStealerModifier=true

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # If enabled, additional information will be logged to console. Mostly timing information. [default: false]
    B:debugLogging=false

    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=1

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:Bat=true
    B:BiomesOPlenty.butterfly=true
    B:BiomesOPlenty.pixie=true
    B:BiomesOPlenty.snail=true
    B:BiomesOPlenty.wasp=true
    B:Blaze=true
    B:BloodMagic.CorruptedChicken=true
    B:BloodMagic.CorruptedSheep=true
    B:BloodMagic.CorruptedSpider=true
    B:BloodMagic.CorruptedZombie=true
    B:BloodMagic.Mimic=true
    B:BloodMagic.SentientSpecter=true
    B:"Botania.botania:doppleganger"=true
    B:"Botania.botania:pinkWither"=true
    B:"Botania.botania:pixie"=true
    B:CaveSpider=true
    B:Chicken=true
    B:Cow=true
    B:Creeper=true
    B:ElderGuardian=true
    B:EnderDragon=true
    B:Enderman=true
    B:Endermite=true
    B:EntityHorse=true
    B:Ghast=true
    B:Giant=true
    B:Guardian=true
    B:Husk=true
    B:LavaSlime=true
    B:Mekanism.BabySkeleton=true
    B:Mekanism.Robit=true
    B:MushroomCow=true
    B:Ozelot=true
    B:Pig=true
    B:PigZombie=true
    B:PolarBear=true
    B:Quark.ashen=true
    B:Quark.dweller=true
    B:Quark.pirate=true
    B:Quark.wraith=true
    B:Rabbit=true
    B:Sheep=true
    B:Shulker=true
    B:Silverfish=true
    B:Skeleton=true
    B:Slime=true
    B:SnowMan=true
    B:Spider=true
    B:Squid=true
    B:Stray=true
    B:Villager=true
    B:VillagerGolem=true
    B:Witch=true
    B:"Wither Skeleton"=true
    B:WitherBoss=true
    B:WitherSkeleton=true
    B:Wolf=true
    B:Zombie=true
    B:aether_legacy.aechor_plant=true
    B:aether_legacy.aerbunny=true
    B:aether_legacy.aerwhale=true
    B:aether_legacy.cockatrice=true
    B:aether_legacy.fire_ball=true
    B:aether_legacy.fire_minion=true
    B:aether_legacy.flying_cow=true
    B:aether_legacy.ice_ball=true
    B:aether_legacy.mimic=true
    B:aether_legacy.mini_cloud=true
    B:aether_legacy.moa=true
    B:aether_legacy.phyg=true
    B:aether_legacy.sentry=true
    B:aether_legacy.sheepuff=true
    B:aether_legacy.slider=true
    B:aether_legacy.sun_spirit=true
    B:aether_legacy.swet=true
    B:aether_legacy.thunder_ball=true
    B:aether_legacy.valkyrie=true
    B:aether_legacy.valkyrie_queen=true
    B:aether_legacy.zephyr=true
    B:agricraft.villager_farmer=true
    B:betterwithmods.entityShearedCreeper=true
    B:computronics.swarm=true
    B:correlated.automaton=true
    B:cyberware.cyberzombie=true
    B:embers.ancientGolem=true
    B:evilcraft.controlledZombie=true
    B:evilcraft.netherfish=true
    B:evilcraft.poisonousLibelle=true
    B:evilcraft.vengeanceSpirit=true
    B:evilcraft.werewolf=true
    B:forestry.butterflyGE=true
    B:goetia.demon=true
    B:goetia.fiend=true
    B:goetia.imp=true
    B:goetia.symbolDemon=true
    B:goetia.symbolDevilsTrap=true
    B:goetia.symbolFiend=true
    B:goetia.symbolForge=true
    B:goetia.symbolImp=true
    B:goetia.symbolOpenSoul=true
    B:miab.BillCipher=true
    B:miab.DankeyKang=true
    B:miab.DatBoi=true
    B:miab.DogeWolf=true
    B:miab.Donaldtrump=true
    B:miab.EduardKhil=true
    B:miab.ForeverAlone=true
    B:miab.GrandDad=true
    B:miab.GrumpyCat=true
    B:miab.JohnCena=true
    B:miab.MoonMan=true
    B:miab.Nigelthornberry=true
    B:miab.NyanCat=true
    B:miab.PPAPGuy=true
    B:miab.Pepe=true
    B:miab.RottenRobbie=true
    B:miab.Sanic=true
    B:miab.Shrek=true
    B:miab.TacNyan=true
    B:natura.babyheatscarspider=true
    B:natura.heatscarspider=true
    B:natura.imp=true
    B:natura.nitrocreeper=true
    B:randomthings.spirit=true
    B:roots.deer=true
    B:roots.direwolf=true
    B:roots.entityFrostShard=true
    B:roots.entityHomingProjectile=true
    B:roots.entitySpellProjectile=true
    B:roots.entitySpritePlacator=true
    B:roots.entitySpriteProjectile=true
    B:roots.greaterSprite=true
    B:roots.sprite=true
    B:roots.spriteGuardian=true
    B:roots.spriteling=true
    B:tconstruct.blueslime=true
    B:testdummy.Dummy=true
    B:thaumcraft.ArcaneBore=true
    B:thaumcraft.BrainyZombie=true
    B:thaumcraft.CultistCleric=true
    B:thaumcraft.CultistKnight=true
    B:thaumcraft.CultistLeader=true
    B:thaumcraft.CultistPortalGreater=true
    B:thaumcraft.CultistPortalLesser=true
    B:thaumcraft.EldritchCrab=true
    B:thaumcraft.EldritchGolem=true
    B:thaumcraft.EldritchGuardian=true
    B:thaumcraft.EldritchWarden=true
    B:thaumcraft.Firebat=true
    B:thaumcraft.GiantBrainyZombie=true
    B:thaumcraft.Golem=true
    B:thaumcraft.InhabitedZombie=true
    B:thaumcraft.MindSpider=true
    B:thaumcraft.Pech=true
    B:thaumcraft.TaintCrawler=true
    B:thaumcraft.TaintSeed=true
    B:thaumcraft.TaintSeedPrime=true
    B:thaumcraft.TaintSwarm=true
    B:thaumcraft.Taintacle=true
    B:thaumcraft.TaintacleGiant=true
    B:thaumcraft.TaintacleTiny=true
    B:thaumcraft.ThaumSlime=true
    B:thaumcraft.TurretAdvanced=true
    B:thaumcraft.TurretBasic=true
    B:thaumcraft.Wisp=true
    B:thebetweenlands.angler=true
    B:thebetweenlands.blind_cave_fish=true
    B:thebetweenlands.blood_snail=true
    B:thebetweenlands.chiromaw=true
    B:thebetweenlands.dark_druid=true
    B:thebetweenlands.dragonfly=true
    B:thebetweenlands.firefly=true
    B:thebetweenlands.fortress_boss=true
    B:thebetweenlands.fortress_boss_blockade=true
    B:thebetweenlands.fortress_boss_spawner=true
    B:thebetweenlands.fortress_boss_turret=true
    B:thebetweenlands.frog=true
    B:thebetweenlands.gas_cloud=true
    B:thebetweenlands.gecko=true
    B:thebetweenlands.leech=true
    B:thebetweenlands.lurker=true
    B:thebetweenlands.mire_snail=true
    B:thebetweenlands.mire_snail_egg=true
    B:thebetweenlands.mummy_arm=true
    B:thebetweenlands.peat_mummy=true
    B:thebetweenlands.pyrad=true
    B:thebetweenlands.silt_crab=true
    B:thebetweenlands.sludge=true
    B:thebetweenlands.sporeling=true
    B:thebetweenlands.swamp_hag=true
    B:thebetweenlands.tar_beast=true
    B:thebetweenlands.tarminion=true
    B:thebetweenlands.termite=true
    B:thebetweenlands.toad=true
    B:thebetweenlands.wight=true
    B:thermalfoundation.basalz=true
    B:thermalfoundation.blitz=true
    B:thermalfoundation.blizz=true
    B:wired.cyberskeleton=true
    B:wired.grey_goo=true
    B:wtfcore.BlockHead=true
    B:wtfcore.DerangedIronGolem=true
    B:wtfcore.FireElemental=true
    B:wtfcore.FlyingFlame=true
    B:wtfcore.Ghost=true
    B:wtfcore.Husk=true
    B:wtfcore.Mummy=true
    B:wtfcore.SkeletonKnight=true
    B:wtfcore.SkeletonMage=true
    B:wtfcore.Stray=true
    B:wtfcore.Wither=true
    B:wtfcore.ZombieFarmer=true
    B:wtfcore.ZombieMiner=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


