# Configuration file

balancing {
    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # The item used to create a Soul Shard. [default: minecraft:diamond:0]
    S:catalystItem=minecraft:diamond:0

    # Enables a convenience recipe that allows you to reset the stats of a Soul Shard. [default: true]
    B:convenienceReset=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=true

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Forces Soul Cages to require a Redstone signal in order to spawn entities. [default: false]
    B:forceRedstoneRequirement=false

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=200
}


client {
    # Adds a Shard for each enabled mob to the creative tab. [default: false]
    B:addShardsForAllMobs=false

    # Adds A shards for mobs even if they are blacklisted [default: false]
    B:ignoreBlacklistForTab=false
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    # HARDMODE - Reduces the contained souls of the shard by 1 for each mob spawned. Does not reduce tier. Recommended to disable "countCageBornForShard".
    S:compatibilityType=VANILLA

    # Adds a Tinkers Construct modifier for Soul Stealer. [default: true]
    B:enableSoulStealerModifier=true

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # If enabled, additional information will be logged to console. Mostly timing information. [default: false]
    B:debugLogging=false

    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=1

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:Bat=true
    B:BiomesOPlenty.butterfly=true
    B:BiomesOPlenty.pixie=true
    B:BiomesOPlenty.snail=true
    B:BiomesOPlenty.wasp=true
    B:Blaze=true
    B:BloodMagic.Mimic=true
    B:BloodMagic.SentientSpecter=true
    B:"Botania.botania:doppleganger"=true
    B:"Botania.botania:pinkWither"=true
    B:"Botania.botania:pixie"=true
    B:CaveSpider=true
    B:Chicken=true
    B:Cow=true
    B:Creeper=true
    B:EnderDragon=true
    B:Enderman=true
    B:Endermite=true
    B:EntityHorse=true
    B:Ghast=true
    B:Giant=true
    B:Guardian=true
    B:Husk=true
    B:LavaSlime=true
    B:Mekanism.BabySkeleton=true
    B:Mekanism.Robit=true
    B:MushroomCow=true
    B:Ozelot=true
    B:Pig=true
    B:PigZombie=true
    B:PolarBear=true
    B:Quark.ashen=true
    B:Quark.dweller=true
    B:Quark.pirate=true
    B:Quark.wraith=true
    B:Rabbit=true
    B:Sheep=true
    B:Shulker=true
    B:Silverfish=true
    B:Skeleton=true
    B:Slime=true
    B:SnowMan=true
    B:Spider=true
    B:Squid=true
    B:Stray=true
    B:Villager=true
    B:VillagerGolem=true
    B:Witch=true
    B:"Wither Skeleton"=true
    B:WitherBoss=true
    B:WitherSkeleton=true
    B:Wolf=true
    B:Zombie=true
    B:computronics.swarm=true
    B:cyberware.cyberzombie=true
    B:evilcraft.controlledZombie=true
    B:evilcraft.netherfish=true
    B:evilcraft.poisonousLibelle=true
    B:evilcraft.vengeanceSpirit=true
    B:evilcraft.werewolf=true
    B:forestry.butterflyGE=true
    B:miab.BillCipher=true
    B:miab.DogeWolf=true
    B:miab.Donaldtrump=true
    B:miab.EduardKhil=true
    B:miab.GrumpyCat=true
    B:miab.JohnCena=true
    B:randomthings.spirit=true
    B:roots.entityFrostShard=true
    B:roots.entitySpriteProjectile=true
    B:roots.greaterSprite=true
    B:roots.sprite=true
    B:roots.spriteling=true
    B:tconstruct.blueslime=true
    B:testdummy.Dummy=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


