# Configuration file

general {
    # Global Lore setting [default: true]
    B:lore=true

    # Certain bullets appear in a shot player's inventory if PVP is disabled
    # Otherwise bullets phase through [default: false]
    B:michaelis=false
}


render {
    # Render some items with extra fancy render [default: true]
    B:extraFancy=true
}


tooltip {
    # Show block material when holding "Shift" [default: true]
    B:blockMaterial=true

    # Do not show Curse of Binding in tooltip until Equipped [default: true]
    B:stealthBinding=true

    # Show wolves favorite foods [default: true]
    B:wolfTip=true
}


