# Configuration file

development {
    B:Development.ForceLoadDevContent=false
}


healthpad {
    I:HealthPad.ChargePerHalfHeart=192000
    B:HealthPad.ForceAlwaysSendHealth=false
}


rendering {
    B:Rendering.Debug=false
    I:Rendering.GUITopLeftXOffset=0
    I:Rendering.GUITopLeftYOffset=0
    B:Rendering.Tank.GaseousTopToBottom=false
}


tank {
    I:Tank.MaxEnergyInputRate=20000
    I:Tank.StorageMultiplier=512
}


