# Configuration file

####################
# configfile
#===================
# Config file versioning
####################

configfile {
    # Configuration File Version - Do not change, modifying this may break your game
    I:configVersion=1
}


####################
# ore_generation
#===================
# Ore generator configuration = generatorEnabled,denisty%,regenerationEnabled,regenKey
####################

ore_generation {
    S:Adamantine=false,100,false,DISABLED
    S:Aluminium=false,100,false,DISABLED
    S:Amethyst=false,100,false,DISABLED
    S:Apatite=false,100,false,DISABLED
    S:Bauxite=false,100,false,DISABLED
    S:BauxiteHigh=false,100,false,DISABLED
    S:Bitumen=false,100,false,DISABLED
    S:Cassiterite=false,100,false,DISABLED
    S:CassiteriteHigh=false,100,false,DISABLED
    S:CertusQuartz=false,100,false,DISABLED
    S:Coal=true,100,false,DISABLED
    S:Coldiron=false,100,false,DISABLED
    S:Copper=true,70,false,DISABLED
    S:CopperHigh=false,100,false,DISABLED
    S:Diamond=true,100,false,DISABLED
    S:Galena=false,100,false,DISABLED
    S:Gold=true,100,false,DISABLED
    S:GreenSapphire=false,100,false,DISABLED
    S:Iridium=false,100,false,DISABLED
    S:Iron=true,100,false,DISABLED
    S:Lapis=true,100,false,DISABLED
    S:Lead=true,100,false,DISABLED
    S:Magnesium=false,100,false,DISABLED
    S:Manganese=false,100,false,DISABLED
    S:Mithral=false,100,false,DISABLED
    S:Nickel=true,100,false,DISABLED
    S:Nikolite=false,100,false,DISABLED
    S:Osmium=true,100,false,DISABLED
    S:Phosporite=false,100,false,DISABLED
    S:Platinum=false,100,false,DISABLED
    S:Potash=false,100,false,DISABLED
    S:Redstone=true,100,true,RSREGEN
    S:Ruby=false,100,false,DISABLED
    S:Saltpeter=false,100,false,DISABLED
    S:Sapphire=false,100,false,DISABLED
    S:Silver=true,60,false,DISABLED
    S:SphaleriteOverworld=false,100,false,DISABLED
    S:Sulfur=false,100,false,DISABLED
    S:Tetrahedrite=false,100,false,DISABLED
    S:TetrahedriteHigh=false,100,false,DISABLED
    S:Tin=true,70,false,DISABLED
    S:Topaz=false,100,false,DISABLED
    S:Tungsten=false,100,false,DISABLED
    S:Uranium=false,100,false,DISABLED
    S:Zinc=true,50,false,DISABLED
}


