# Configuration file

~CONFIG_VERSION: 1.7.10-1.5.6-0

forcefields_general {
    # Forcefield health loss Modifier [range: 0.01 ~ 10000.0, default: 1.0]
    S:forcefieldHealthLossModifier=1.0

    # Interior module downsizer. The max radius for the interior module will be the radius of the forcefield divided by this value. [range: 1.0 ~ 100.0, default: 4.0]
    S:forcefieldInteriorModuleDownsize=4.0
}


