# Configuration file

~CONFIG_VERSION: 0.7.4b

nuclear_physics {
    # Speed at in blocks per tick when the particle accelerator particle explodes [range: 0.5 ~ 1.5, default: 1.0]
    S:antimatterCreationSpeed=1.0

    # Should particle accelerator particles collide with entities and eachother? True to allow collision; False to disable [default: true]
    B:particle_collision_enable=true

    # Amount of ore to generate per branch [range: 0 ~ 100, default: 3]
    I:uranium_branch_size=3

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 1 ~ 100, default: 15]
    I:uranium_chunk_count=15

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 2]
    I:uranium_harvest_level=2

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 40]
    I:uranium_max_y=40

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:uranium_min_y=10

    # Should world generation be enabled? True to allow ore to spawn; False to disable [default: true]
    B:uranium_ore_enable=true
}


