# Configuration file

expert {
    # Enable developer debugging information. Don't enable this unless asked/you know what you're doing.
    B:enableDebugInfo=false
}


functionalityregistry {
    # Functionality registry blacklist (example entry: carry:minecraft:bedrock)
    S:blacklist <
     >
    S:whitelist <
     >
}


general {
    # Setting this option to true will stop Charset from giving players items directly into the player inventory when the alternative is dropping it (for instance, taking item out of barrels).
    B:alwaysDropDroppablesGivenToPlayer=false

    # Make mods such as JEI show all combinations of a given item (within reason), as opposed to a random selection.
    B:showAllItemTypes=false
}


