# Configuration file

generationrecipes {
    B:enableAdvSolarGenerator=true
    B:enableBioGenerator=true
    B:enableElectromagneticCoil=true
    B:enableGasGenerator=true
    B:enableHeatGenerator=true
    B:enableReactorAdapter=true
    B:enableReactorController=true
    B:enableReactorFrame=true
    B:enableReactorGlass=true
    B:enableReactorMatrix=true
    B:enableReactorPort=true
    B:enableRotationalComplex=true
    B:enableSaturatingCondenser=true
    B:enableSolarGenerator=true
    B:enableSolarPanel=true
    B:enableTurbineBlade=true
    B:enableTurbineCasing=true
    B:enableTurbineRotor=true
    B:enableTurbineValve=true
    B:enableTurbineVent=true
    B:enableWindGenerator=true
}


recipes {
    B:enableAtomicDisassembler=true
    B:enableBins=true
    B:enableBoilerCasing=true
    B:enableBoilerValve=true
    B:enableBronzeBlock=true
    B:enableCardboardBox=true
    B:enableCharcoalBlock=true
    B:enableChargePad=true
    B:enableChemicaDissolution=true
    B:enableChemicalCrystallizer=true
    B:enableChemicalInfuser=true
    B:enableChemicalInjection=true
    B:enableChemicalOxidiser=true
    B:enableChemicalWasher=true
    B:enableCircuits=true
    B:enableCombiner=true
    B:enableConfigurationCard=true
    B:enableConfigurator=true
    B:enableCopperBlock=true
    B:enableCraftingFormula=true
    B:enableCrusher=true
    B:enableDigitalMiner=true
    B:enableDynamicGlass=true
    B:enableDynamicTank=true
    B:enableDynamicValve=true
    B:enableElectricBow=true
    B:enableElectricPump=true
    B:enableElectroliticCore=true
    B:enableElectrolyticSeparator=true
    B:enableEnergizedSmelter=true
    B:enableEnergyCubes=true
    B:enableEnergyTablet=true
    B:enableEnrichmentChamber=true
    B:enableEntangloporter=true
    B:enableFactories=true
    B:enableFlamethrower=true
    B:enableFluidPlenisher=true
    B:enableFormulaicAssembler=true
    B:enableFreeRunners=true
    B:enableFuelwoodHeater=true
    B:enableGasTanks=true
    B:enableGaugeDropper=true
    B:enableGlowstoneBlock=true
    B:enableHDPEParts=true
    B:enableInductionCasing=true
    B:enableInductionCells=true
    B:enableInductionPorts=true
    B:enableInductionProviders=true
    B:enableJetpacks=true
    B:enableLaser=true
    B:enableLaserAmplifyier=true
    B:enableLaserTractorBeam=true
    B:enableLiquidTanks=true
    B:enableLogisticalSorter=true
    B:enableLogisticalTransporter=true
    B:enableMachineUpgrades=true
    B:enableMechanicalPipes=true
    B:enableMetallurgicInfuser=true
    B:enableNetworkReader=true
    B:enableObsidianTNT=true
    B:enableOredictionator=true
    B:enableOsmiumBlock=true
    B:enableOsmiumCompressor=true
    B:enablePersonalChest=true
    B:enablePlasticBlocks=true
    B:enablePortableTeleporter=true
    B:enablePrecisionSawmill=true
    B:enablePressureDispenser=true
    B:enablePressurizedReactorChamber=true
    B:enablePressurizedTubes=true
    B:enablePurificationChamber=true
    B:enableRefinedObsidianBlock=true
    B:enableResistiveHeater=true
    B:enableRobit=true
    B:enableRotaryCondensentrator=true
    B:enableSaltBlock=true
    B:enableSawdusttoPaper=true
    B:enableScubaSet=true
    B:enableSecurityDesk=true
    B:enableSeismicReader=true
    B:enableSeismicVibrator=true
    B:enableSolarNeutronActivator=true
    B:enableSteelBlock=true
    B:enableSteelCasing=true
    B:enableSuperheatingElement=true
    B:enableTeleporterBlock=true
    B:enableTeleporterCore=true
    B:enableTeleporterFrame=true
    B:enableThermalEvaporationBlock=true
    B:enableThermalEvaporationController=true
    B:enableThermalEvaporationValve=true
    B:enableThermoConductors=true
    B:enableTierInstaller=true
    B:enableTinBlock=true
    B:enableUniversalCables=true
}


