# Configuration file

tools {

    tool-balance {

        obsidian {

            regular {
                I:damage=10
                D:efficiency=20.0
                I:enchantability=40
                I:harvestLevel=3
                I:maxUses=2500
            }

            paxel {
                I:damage=10
                D:efficiency=25.0
                I:enchantability=50
                I:harvestLevel=3
                I:maxUses=3000
            }

        }

        lapis {

            regular {
                I:damage=2
                D:efficiency=5.0
                I:enchantability=8
                I:harvestLevel=2
                I:maxUses=200
            }

            paxel {
                I:damage=4
                D:efficiency=6.0
                I:enchantability=10
                I:harvestLevel=2
                I:maxUses=250
            }

        }

        osmium {

            regular {
                I:damage=4
                D:efficiency=10.0
                I:enchantability=12
                I:harvestLevel=2
                I:maxUses=500
            }

            paxel {
                I:damage=5
                D:efficiency=12.0
                I:enchantability=16
                I:harvestLevel=3
                I:maxUses=700
            }

        }

        bronze {

            regular {
                I:damage=6
                D:efficiency=14.0
                I:enchantability=10
                I:harvestLevel=2
                I:maxUses=800
            }

            paxel {
                I:damage=10
                D:efficiency=16.0
                I:enchantability=14
                I:harvestLevel=3
                I:maxUses=1100
            }

        }

        glowstone {

            regular {
                I:damage=5
                D:efficiency=14.0
                I:enchantability=18
                I:harvestLevel=2
                I:maxUses=300
            }

            paxel {
                I:damage=5
                D:efficiency=18.0
                I:enchantability=22
                I:harvestLevel=2
                I:maxUses=450
            }

        }

        steel {

            regular {
                I:damage=4
                D:efficiency=14.0
                I:enchantability=10
                I:harvestLevel=3
                I:maxUses=850
            }

            paxel {
                I:damage=8
                D:efficiency=18.0
                I:enchantability=14
                I:harvestLevel=3
                I:maxUses=1250
            }

        }

    }

    armor-balance {

        obsidian {
            I:durability=50
            I:enchantability=40

            protection {
                I:chest=12
                I:feet=5
                I:head=5
                I:legs=8
            }

        }

        lapis {
            I:durability=13
            I:enchantability=8

            protection {
                I:chest=5
                I:feet=2
                I:head=2
                I:legs=6
            }

        }

        osmium {
            I:durability=30
            I:enchantability=12

            protection {
                I:chest=5
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

        bronze {
            I:durability=35
            I:enchantability=10

            protection {
                I:chest=6
                I:feet=2
                I:head=3
                I:legs=5
            }

        }

        glowstone {
            I:durability=18
            I:enchantability=18

            protection {
                I:chest=7
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

        steel {
            I:durability=40
            I:enchantability=10

            protection {
                I:chest=7
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

    }

    general {
        D:MobArmorSpawnRate=0.03
    }

}


