# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    # List of items that should not be displayed in the item list. Format: modId[:name[:meta]]. Edit Mode will automatically add or remove entries here. [Default: []]
    S:itemBlacklist <
        mekanism:MachineBlock2:lumixyl;:11
        mekanism:MachineBlock2:dirt;:11
        mekanism:MachineBlock2:electrum;:11
        mekanism:MachineBlock2:titanite;:11
        mekanism:MachineBlock2:for.honey;:11
        mekanism:MachineBlock2:liquiddna;:11
        mekanism:MachineBlock2:honey;:11
        mekanism:MachineBlock2:menrilresin;:11
        mekanism:MachineBlock2:proxideum;:11
        mekanism:MachineBlock2:knightslime;:11
        mekanism:MachineBlock2:metaphasedflux;:11
        mekanism:MachineBlock2:ethene;:11
        mekanism:MachineBlock2:moltencopper;:11
        mekanism:MachineBlock2:vibranium;:11
        mekanism:MachineBlock2:hellfire;:11
        mekanism:MachineBlock2:meteorite;:11
        mekanism:MachineBlock2:glimmercoal_fluid;:11
        mekanism:MachineBlock2:dyonite;:11
        mekanism:MachineBlock2:brine;:11
        mekanism:MachineBlock2:adamantite;:11
        mekanism:MachineBlock2:water;:11
        mekanism:MachineBlock2:steel;:11
        mekanism:MachineBlock2:fuelcolumn;:11
        mekanism:MachineBlock2:plantoil;:11
        mekanism:MachineBlock2:biodiesel;:11
        mekanism:MachineBlock2:ultranite;:11
        mekanism:MachineBlock2:alubrass;:11
        mekanism:MachineBlock2:iron;:11
        mekanism:MachineBlock2:yellorium;:11
        mekanism:MachineBlock2:sand;:11
        mekanism:MachineBlock2:noctunyx;:11
        mekanism:MachineBlock2:ardite;:11
        reccomplex
        mekanism:MachineBlock2:protein;:11
        mekanism:MachineBlock2:rubium;:11
        mekanism:MachineBlock2:uranium;:11
        mekanism:MachineBlock2:cobalt;:11
        mekanism:MachineBlock2:chlorine;:11
        mekanism:MachineBlock2:karmesine;:11
        mekanism:MachineBlock2:creosote;:11
        mekanism:MachineBlock2:tritium;:11
        mekanism:MachineBlock2:nutrient_distillation;:11
        mekanism:MachineBlock2:juice;:11
        mekanism:MachineBlock2:fractoryte;:11
        mekanism:MachineBlock2:nucleum;:11
        mekanism:MachineBlock2:rocket_fuel;:11
        mekanism:MachineBlock2:lead;:11
        mekanism:MachineBlock2:clay;:11
        mekanism:MachineBlock2:mythril;:11
        mekanism:MachineBlock2:oxygen;:11
        mekanism:MachineBlock2:liquid_crystal;:11
        mekanism:MachineBlock2:puremetal;:11
        mekanism:MachineBlock2:heavywater;:11
        mekanism:MachineBlock2:steam;:11
        mekanism:MachineBlock2:ice;:11
        mekanism:MachineBlock2:lithium;:11
        mekanism:MachineBlock2:hot_spring_water;:11
        mekanism:MachineBlock2:radiant_enderium;:11
        mekanism:MachineBlock2:hootch;:11
        mekanism:MachineBlock2:glimming_enderium;:11
        mekanism:MachineBlock2:violium;:11
        mekanism:MachineBlock2:gold;:11
        mekanism:MachineBlock2:poison;:11
        mekanism:MachineBlock2:hydrogen;:11
        mekanism:MachineBlock2:distilledwater;:11
        mekanism:MachineBlock2:fire_water;:11
        mekanism:MachineBlock2:syngas;:11
        mekanism:MachineBlock2:spectrum_fluid;:11
        mekanism:MachineBlock2:sodium;:11
        mekanism:MachineBlock2:seismodium;:11
        mekanism:MachineBlock2:deuterium;:11
        mekanism:MachineBlock2:mindorite;:11
        mekanism:MachineBlock2:tiberium;:11
        mekanism:MachineBlock2:palladium;:11
        mekanism:MachineBlock2:seed.oil;:11
        mekanism:MachineBlock2:multistorage:concrete;:11
        mekanism:MachineBlock2:eternite;:11
        mekanism:MachineBlock2:ender_distillation;:11
        mekanism:MachineBlock2:pigiron;:11
        mekanism:MachineBlock2:mutagen;:11
        mekanism:MachineBlock2:constantan;:11
        mekanism:MachineBlock2:emerald;:11
        mekanism:MachineBlock2:milk;:11
        mekanism:MachineBlock2:zinc;:11
        mekanism:MachineBlock2:bismuth;:11
        mekanism:MachineBlock2:stone;:11
        mekanism:MachineBlock2:obsidian;:11
        mekanism:MachineBlock2:terramite;:11
        mekanism:MachineBlock2:sulfurdioxidegas;:11
        mekanism:MachineBlock2:cyanite;:11
        mekanism:MachineBlock2:lifeessence;:11
        mekanism:MachineBlock2:nitronite;:11
        mekanism:MachineBlock2:cloud_seed;:11
        mekanism:MachineBlock2:arcanite;:11
        mekanism:MachineBlock2:sulfuricacid;:11
        mekanism:MachineBlock2:xpjuice;:11
        mekanism:MachineBlock2:aluminum;:11
        mekanism:MachineBlock2:lava;:11
        mekanism:MachineBlock2:purpleslime;:11
        mekanism:MachineBlock2:bronze;:11
        mekanism:MachineBlock2:imperomite;:11
        mekanism:MachineBlock2:soulforged_steel;:11
        mekanism:MachineBlock2:ignitite;:11
        mekanism:MachineBlock2:blood;:11
        mekanism:MachineBlock2:tin;:11
        mekanism:MachineBlock2:silver;:11
        mekanism:MachineBlock2:glass;:11
        mekanism:MachineBlock2:blueslime;:11
        mekanism:MachineBlock2:hydrogenchloride;:11
        mekanism:MachineBlock2:ethanol;:11
        mekanism:MachineBlock2:bysmuid;:11
        mekanism:MachineBlock2:liquid_sunshine;:11
        mekanism:MachineBlock2:biomass;:11
        mekanism:MachineBlock2:prometheum;:11
        mekanism:MachineBlock2:nickel;:11
        mekanism:MachineBlock2:anthracite_fluid;:11
        mekanism:MachineBlock2:sulfurtrioxidegas;:11
        mekanism:MachineBlock2:solarium;:11
        mekanism:MachineBlock2:manyullyn;:11
        mekanism:MachineBlock2:astrium;:11
        mekanism:MachineBlock2:aegisalt;:11
        mekanism:MachineBlock2:nitro_fluid;:11
        mekanism:MachineBlock2:liquidfat;:11
        mekanism:MachineBlock2:energy_enderium;:11
        mekanism:MachineBlock2:bio.ethanol;:11
        mekanism:MachineBlock2:short.mead;:11
        mekanism:MachineBlock2:copper;:11
        mekanism:MachineBlock2:fusionfueldt;:11
        mekanism:MachineBlock2:cloud_seed_concentrated;:11
        mekanism:MachineBlock2:cryptogen;:11
        mekanism:MachineBlock2:brass;:11
     >
}


