# Configuration file

~CONFIG_VERSION: 0.2.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    # Search items by color and show the searchable item colors on tooltips in the item list. [default: false]
    B:colorSearchEnabled=false
    B:debugItemEnabled=false
    B:debugModeEnabled=false
    B:deleteItemsInCheatModeEnabled=true

    # Items with models that cause a long delay will be hidden from the item list. [default: true]
    B:hideLaggyModelsEnabled=true

    # Items with missing models will be hidden from the item list. [default: true]
    B:hideMissingModelsEnabled=true
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# Options relating to the search bar.
##########################################################################################################

search {
    # Require "@" in front of a word to search by mod name. [default: true]
    B:atPrefixRequiredForModName=true

    # Require "^" in front of a word to search item colors. [default: true]
    B:prefixRequiredForColorSearch=true

    # Require "%" in front of a word to search creative tab names. [default: true]
    B:prefixRequiredForCreativeTabSearch=true

    # Require "$" in front of a word to search ore dictionary names. [default: true]
    B:prefixRequiredForOreDictSearch=true

    # Require "#" in front of a word to search tooltips. [default: false]
    B:prefixRequiredForTooltipSearch=false
}


