# Configuration file

####################
# nether biome weights
####################

"nether biome weights" {
    I:Boneyard=10
    I:"Corrupted Sands"=10
    I:"Phantasmagoric Inferno"=10
    I:Undergarden=10
    I:"Visceral Heap"=10
}


####################
# overworld biome weights
####################

"overworld biome weights" {
    I:Alps=1
    I:Arctic=2
    I:"Bamboo Forest"=6
    I:Bayou=8
    I:Bog=7
    I:"Boreal Forest"=8
    I:Brushland=8
    I:Canyon=7
    I:Chaparral=8
    I:"Cherry Blossom Grove"=4
    I:"Coniferous Forest"=8
    I:Crag=3
    I:"Dead Forest"=1
    I:"Dead Swamp"=1
    I:"Deciduous Forest"=8
    I:Fen=8
    I:"Flower Field"=1
    I:"Frost Forest"=3
    I:"Fungi Forest"=3
    I:Garden=4
    I:Grassland=1
    I:Grove=5
    I:Heathland=7
    I:Highland=7
    I:"Jade Cliffs"=5
    I:"Lavender Fields"=4
    I:"Lush Desert"=6
    I:"Lush Swamp"=8
    I:"Maple Woods"=5
    I:Marsh=1
    I:Meadow=8
    I:Moor=5
    I:Mountain=7
    I:"Mystic Grove"=4
    I:"Ominous Woods"=1
    I:"Origin Valley"=1
    I:Outback=6
    I:Prairie=8
    I:Rainforest=5
    I:"Redwood Forest"=7
    I:"Sacred Springs"=4
    I:"Seasonal Forest"=7
    I:Shield=7
    I:Shrubland=8
    I:Sludgepit=1
    I:"Snowy Coniferous Forest"=2
    I:Steppe=1
    I:"Temperate Rainforest"=7
    I:Thicket=1
    I:"Tropical Rainforest"=6
    I:Tundra=7
    I:Wasteland=4
    I:Wetland=2
    I:Woodland=8
}


