# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
     >
    S:"Mod Aliases" <
        botanicaladdons=botania
        ThermalDynamics=ThermalExpansion
        rftoolsdim=rftools
     >
    S:"Whitelisted Items" <
        opencomputers:tool@4
        immersiveengineering:tool@3
        evilcraft:originsOfDarkness
     >
    S:"Whitelisted Names" <
        book
        journal
        tome
        lexicon
        nomicon
        tablet
        manual
        knowledge
        pedia
        compendium
        guide
     >
}


