# Configuration file

features {
    # Default: false; If set to true, then all web UI features will be enabled; Used only on client side
    B:EnableWebServer=false

    # Default: true; If set to true, then all energy features will be enabled. Not recommended to disable, as it is core feature
    B:EnableEnergyFeatures=true

    # Default: false; If set to true, then all mana features will be enabled.
    B:EnableManaFeatures=false

    # Default: true; If enable, then interaction bus will be available in game
    B:"Enable Interaction Part"=true

    # Default: true; If set to true, then ember p2p tunnel will be available.
    B:EnableEmberFeatures=true

    # Default: true; If set to true, then starlight p2p tunnel will be available.
    B:EnableStarlightTunnel=true

    # Default: true; If set to true, then xnet p2p tunnel will be available.
    B:EnableXnetTunnel=true

    # Default: true; If set to true, then will p2p tunnel (demonic) will(you get :) ) be available.
    B:EnableWillTunnel=true
}


properties {
    # Default: 1 000 000 RF; Max capacity of ME Energy interface in RF units (all other units is depend on RF capacity).
    I:InterfaceStorage=1000000

    # Default: 97; Max range of ME Pylon's beam
    I:PylonDistance=97

    # Default: 20.0D; Active(used only when matter transmitted) energy drain per block of ME pylon's beam. Limit is: 10000
    D:PylonDrainPerBlock=20.0

    # Default: 8000; Port for web UI of network topology
    I:"WebUI Port"=8000

    # Default: False (blacklist); If true, then default mode is server security terminal GUI will be white list
    B:"Default Security Terminal List Mode"=false
}


"tile entities" {
    # Default: true (only in alpha); If set to true, then all black/white hole storage system blocks will be available in game.
    B:EnableBlackHoleStorageSystem=true

    # Default: true; If set to true, then ME multi-controller, blocks will be available in game.
    B:EnableMEMC=true

    # Default: true; If set to true, then Logic bus blocks will be available in game.
    B:EnableLogicBus=true
}


