# Configuration file

general {
    # Print ALL positional sound occurrences to the console. This includes sound event path, the sound's location, and what block is in that location. [default: false]
    B:"Debug Messages"=false

    # Displays a client-side chat message if there's an update available [default: true]
    B:"Version Checker"=false
}


"sounds: ambient" {
    # Add the [1.13+] cave sounds (affects client side only) [default: true]
    B:"More Cave"=true
}


"sounds: block" {
    # Use the [1.16+] Basalt Block sounds (affects client side only) [default: true]
    B:Basalt=true

    # Add the [1.13+] ambient and start/stop sounds for the Beacon (affects client side only; disable if you experience tick lag) [default: true]
    B:Beacon=true

    # Use the [1.16+] Bone Block sounds (affects client side only) [default: true]
    B:Bone=true

    # Use proper sound when placing a lilypad onto ice as per [1.13+] [default: true]
    B:Lilypad=true

    # Use the [1.16+] Nether Brick sounds (affects client side only) [default: true]
    B:"Nether Brick"=true

    # Use the [1.16+] Quartz Ore sounds (affects client side only) [default: true]
    B:"Nether Quartz Ore"=true

    # Use the [1.16+] Nether Wart Block sounds (affects client side only) [default: true]
    B:"Nether Wart"=true

    # Use the [1.16+] Netherrack sounds (affects client side only) [default: true]
    B:Netherrack=true

    # Add the [1.14+] Note Block tones [default: true]
    B:"Note Blocks"=true

    # Use the [1.16+] Soul Sand sounds (affects client side only) [default: true]
    B:"Soul Sand"=true

    # Use the [1.9-1.12] Wooden Door sounds (affects client side only) [default: false]
    B:"Wooden Door: Legacy"=false

    # Add the [1.13+] Wooden Door sounds (affects client side only) [default: true]
    B:"Wooden Door: Modern"=true
}


"sounds: entity" {
    # Add the [1.14+] Mooshroom bowling sounds [default: true]
    B:"Mooshroom Milking"=true
}


"sounds: item" {
    # Use the [1.14+] sounds when breaking seeds or nether wart (affects client side only) [default: true]
    B:"Crop Breaking"=true

    # Use the [1.14+] sounds when planting seeds or nether wart [default: true]
    B:"Crop Planting"=true

    # Use the [1.14+] stone sounds when placing redstone dust [default: true]
    B:Redstone=true
}


"sounds: player" {
    # Play armor equip sounds any way equipment is equipped, rather than only when right-clicked [default: true]
    B:"Armor Equip"=true

    # Use the [1.14+] sounds when turning a book page (affects client side only) [default: true]
    B:Book=true

    # Include the swimming sounds used up through [1.12] (affects client side only) [default: false]
    B:"Swimming: Legacy"=false

    # Add the [1.13+] swimming sounds (affects client side only) [default: true]
    B:"Swimming: Modern"=true
}


