# Configuration file

general {
    # Print ALL positional sound occurrences to the console. This includes sound event path, volume, and pitch; and the sound's location, and what block is in that location. [default: false]
    B:"Debug Messages"=false

    # Displays a client-side chat message if there's an update available [default: true]
    B:"Version Checker"=false
}


"sounds: ambient" {
    # Add the [1.13+] cave sounds (affects client side only) [default: true]
    B:"More Cave"=true

    # Add the [1.9+] rain sounds (affects client side only) [default: true]
    B:"More Rain"=true
}


"sounds: block" {
    # Use the [1.16+] Basalt Block sounds (affects client side only) [default: true]
    B:Basalt=true

    # Add the [1.13+] ambient and start/stop sounds for the Beacon (affects client side only; disable if you experience tick lag) [default: true]
    B:Beacon=true

    # Use the [1.16+] Bone Block sounds (affects client side only) [default: true]
    B:Bone=true

    # Add the [1.10+] sounds when enchanting items (affects client side only) [default: true]
    B:"Enchantment Table"=true

    # Use the [1.10+] Ender Chest sounds (affects client side only) [default: true]
    B:"Ender Chest"=true

    # Use the [1.9+] Fence Gate sounds (affects client side only) [default: true]
    B:"Fence Gate"=true

    # Add the [1.9+] lit furnace crackle sounds (affects client side only; disable if you experience tick lag) [default: true]
    B:Furnace=true

    # Use the [1.9+] Iron Door sounds (affects client side only) [default: true]
    B:"Iron Door"=true

    # Use the [1.9+] Iron Trapdoor sounds (affects client side only) [default: true]
    B:"Iron Trapdoor"=true

    # Add the [1.9+] sounds when placing a lilypad [default: true]
    B:Lilypad=true

    # Use the [1.16+] Nether Brick sounds (affects client side only) [default: true]
    B:"Nether Brick"=true

    # Use the [1.16+] Quartz Ore sounds (affects client side only) [default: true]
    B:"Nether Quartz Ore"=true

    # Use the [1.16+] Nether Wart Block sounds (affects client side only) [default: true]
    B:"Nether Wart"=true

    # Use the [1.16+] Netherrack sounds (affects client side only) [default: true]
    B:Netherrack=true

    # Add the [1.14+] Note Block tones (affects client side only) [default: true]
    B:"Note Blocks"=true

    # Use the [1.16+] Soul Sand sounds (affects client side only) [default: true]
    B:"Soul Sand"=true

    # Use the correct Stripped Log sounds when using Et Futurum or UpToDateMod [default: true]
    B:"Stripped Log"=true

    # Use the [1.9+] Wooden Button sounds (affects client side only) [default: true]
    B:"Wooden Button"=true

    # Use the [1.9+] Wooden Chest sounds (affects client side only) [default: true]
    B:"Wooden Chest"=true

    # Use the [1.9-1.12] Wooden Door sounds (affects client side only) [default: false]
    B:"Wooden Door: Legacy"=false

    # Use the [1.13+] Wooden Door sounds (affects client side only) [default: true]
    B:"Wooden Door: Modern"=true

    # Use the [1.9+] Wooden Trapdoor sounds (affects client side only) [default: true]
    B:"Wooden Trapdoor"=true
}


"sounds: entity" {
    # Use the [1.9+] Cow milking sounds [default: true]
    B:"Cow Milking"=true

    # Add the [1.9+] Horse feeding sounds [default: true]
    B:"Horse Feeding"=true

    # Add the distinct [1.14+] Mooshroom milking/bowling sounds [default: true]
    B:"Mooshroom Milking"=true

    # Add the distinct [1.9+] Snow Golem sounds [default: true]
    B:"Snow Golem"=true

    # Add the [1.9+] Squid sounds [default: true]
    B:Squid=true

    # Add the [1.9+] sounds when the Thorns enchantment triggers [default: true]
    B:Thorns=true

    # Add the [1.9+] Witch sounds [default: true]
    B:Witch=true

    # Use the [1.11+] Wither Skeleton sounds [default: true]
    B:"Wither Skeleton"=true

    # Use the [1.9+] Zombie Villager sounds (affects client side only) [default: true]
    B:"Zombie Villager"=true
}


"sounds: item" {
    # Add the [1.9+] sounds when filling a bottle with water [default: true]
    B:Bottle=true

    # Add the [1.9+] sounds when filling/emptying a bucket with water or lava [default: true]
    B:Bucket=true

    # Use the [1.14+] sounds when breaking seeds or nether wart (affects client side only) [default: true]
    B:"Crop Breaking"=true

    # Use the [1.14+] sounds when planting seeds or nether wart [default: true]
    B:"Crop Planting"=true

    # Use the [1.12+] sound when launching an Ender Eye [default: true]
    B:"Ender Eye Launch"=true

    # Use the [1.12+] sounds when activating an End portal [default: true]
    B:"Ender Eye Portal"=true

    # Use the [1.9+] sounds when hoeing soil (affects client side only) [default: true]
    B:"Farmland Tilling"=true

    # Add the [1.12+] sounds when casting or retrieving a fishing line [default: true]
    B:"Fishing Rod"=true

    # Add the [1.9+] sounds when placing or breaking item frames, and when inserting and rotating items [default: true]
    B:"Item Frame"=true

    # Add the [1.9+] sounds when tying leads onto fences or removing them [default: true]
    B:"Lead Knot"=true

    # Add the [1.9+] sounds when placing or breaking paintings [default: true]
    B:Painting=true

    # Use the [1.14+] stone sounds when placing redstone dust [default: true]
    B:Redstone=true
}


"sounds: player" {
    # Use the [1.9+] sounds when equipping armor [default: true]
    B:"Armor Equip"=true

    # Add the [1.9+] melee sounds when attacking entities [default: true]
    B:Attack=true

    # Use the [1.14+] sounds when turning a book page (affects client side only) [default: true]
    B:Book=true

    # Add the [1.12+] sounds when on fire [default: true]
    B:Burning=true

    # Add the [1.12+] sounds when taking drowning damage [default: true]
    B:Drowning=true

    # Play the "strong" attack sound (rather than "weak") if the player deals at least this much damage, regardless of the item in hand [range: 0.0 ~ 3.4028235E38, default: 4.0]
    S:"Strong Attack Threshold"=4.0

    # Play the "strong" attack sound (rather than "weak") if the player attacks with an ItemAxe, regardless of the damage dealt [default: false]
    B:"Strong Sound With Axe"=false

    # Play the "strong" attack sound (rather than "weak") if the player attacks with an ItemSpade, regardless of the damage dealt [default: false]
    B:"Strong Sound With Shovel"=false

    # Play the "strong" attack sound (rather than "weak") if the player attacks with an ItemSword, regardless of the damage dealt [default: false]
    B:"Strong Sound With Sword"=false

    # Include the swimming sounds used up through [1.12] (affects client side only) [default: false]
    B:"Swimming: Legacy"=false

    # Add the [1.13+] swimming sounds (affects client side only) [default: true]
    B:"Swimming: Modern"=true
}


