# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# These options are general options that don't fit any other category.
##########################################################################################################

general {
    # Magnitude of explosion caused by failed grinding. Default creeper explosion magnitude is 300.
    # Default: 150 [range: 0 ~ 2147483647, default: 150]
    I:explosionMagnitude=150

    # Number of ticks until the next discharge. Lower = faster. # 20 ticks = 1 second. Default: 100 (5 seconds) [range: 0 ~ 2147483647, default: 100]
    I:frequency=100

    # Each grinder will yield at least this many times before exploding.
    # Set to 0 for infinite.
    # Default: 8 [range: 0 ~ 2147483647, default: 8]
    I:grinderYield=8

    # Each grinder has a minimum chance to yield this many times.
    # Default: 8 [range: 0 ~ 2147483647, default: 8]
    I:randomExtraYield=8

    # Multiplier that is multiplied against Toss Power.
    # Default: 4 [range: 0 ~ 2147483647, default: 4]
    I:tossMultiplier=4

    # Power at which the drop is tossed from the mob.
    # Default: 5 [range: 0 ~ 2147483647, default: 5]
    I:tossPower=5
}


##########################################################################################################
# grinderenabledon
#--------------------------------------------------------------------------------------------------------#
# Mobs Grinder Is Enabled On
##########################################################################################################

grinderenabledon {
    # Allow Grinders on chickens? [range: 0 ~ 1, default: 1]
    I:allowChicken=1

    # Allow Grinders on cows? [range: 0 ~ 1, default: 1]
    I:allowCow=1

    # Allow Grinders on creepers? [range: 0 ~ 1, default: 1]
    I:allowCreeper=1

    # Allow Grinders on pigs? [range: 0 ~ 1, default: 1]
    I:allowPig=1

    # Allow Grinders on players?
    # Don't worry, nothing will actually be grinded out. It'll just stick like a non-harmful parasite. [range: 0 ~ 1, default: 1]
    I:allowPlayer=1

    # Allow Grinders on skeletons? [range: 0 ~ 1, default: 1]
    I:allowSkeleton=1

    # Allow Grinders on zombies? [range: 0 ~ 1, default: 1]
    I:allowZombie=1
}


