# Configuration file

general {
    #  [default: true]
    B:"Give Encyclopedia Aura automatically"=true

    # Keep in mind that this translates power/second to RF/tick. [range: 0.0 ~ 1.0, default: 0.75]
    S:"Power -> RF conversion factor"=0.75

    #  [default: true]
    B:"Questline enabled"=true

    # Sends anonymous reports on usage. Automatically disabled if snooper settings are disabled [default: true]
    B:analytics=true

    #  [default: true]
    B:generateVillage=true

    # HIGHLY RECOMENDED TO KEEP ON. Disabling this will lead to erratic rendering behavior. [default: true]
    B:overrideMaxParticleLimit=true

    #  [range: 1 ~ 2147483647, default: 20]
    I:pumpArrowDuration=20

    #  [range: 1 ~ 2147483647, default: 1000]
    I:pumpArrowSpeed=1000

    #  [range: 1 ~ 2147483647, default: 1]
    I:pumpBurningDuration=1

    #  [range: 1 ~ 2147483647, default: 300]
    I:pumpBurningSpeed=300

    #  [range: 1 ~ 2147483647, default: 90]
    I:pumpEggDuration=90

    #  [range: 1 ~ 2147483647, default: 500]
    I:pumpEggPumpSpeed=500

    #  [range: 1 ~ 2147483647, default: 2]
    I:pumpFallDuration=2

    #  [range: 1 ~ 2147483647, default: 500]
    I:pumpFallPumpSpeed=500

    #  [range: 1 ~ 2147483647, default: 180]
    I:pumpGlowstoneDuration=180

    #  [range: 1 ~ 2147483647, default: 750]
    I:pumpGlowstoneSpeed=750

    #  [range: 1 ~ 2147483647, default: 10]
    I:pumpRedstoneDuration=10

    #  [range: 1 ~ 2147483647, default: 1500]
    I:pumpRedstoneSpeed=1500

    #  [range: 1 ~ 2147483647, default: 10]
    I:pumpSnowballDuration=10

    #  [range: 1 ~ 2147483647, default: 500]
    I:pumpSnowballPumpSpeed=500

    #  [range: 1 ~ 2147483647, default: 30]
    I:pumpTorchDuration=30

    #  [range: 1 ~ 2147483647, default: 750]
    I:pumpTorchSpeed=750
}


