# Configuration file

client {
    # Should the bounding box of bamboo be fancy and detailed?
    # !! This feature has been moved to general/fancy_bamboo !!
    B:fancy_bamboo=true
}


general {
    # Should slabs be breakable individually when they are a double slab?
    B:advanced_slab_interaction=true

    # Should the bounding box of bamboo be fancy and detailed?
    # When false, collision logic will also be simplified
    B:fancy_bamboo=true

    # Should the bounding box of hopper be fancy and detailed?
    # When false, collision logic will also be simplified
    B:fancy_hopper=true

    # Should bundles of bamboo dry out over time when placed outside under the sun?
    B:in_world_bamboo_drying=true

    # Should salt blocks drop themselves when broken? If false, they will drop 9 salt piles
    B:salt_block_drops_itself=false
}


world {
    # Should bamboo stalks be generated in tropical biomes?
    B:generate_bamboo=true

    # Should halite clusters be generated underground?
    B:generate_salt_ore=true

    # The thickness of the halite clusters
    I:salt_ore_thickness=3
}


