# Configuration file

####################
# power usage
#===================
# Modify how much energy the tools use
####################

"power usage" {
    I:BaseModifier=10
    I:EasyDifficultyModifier=2
    I:HardDifficultyModifier=4
    I:NormalDifficultyModifier=3
    I:PeacefullDifficultyModifier=1
}


####################
# updates
#===================
# Section about updates
####################

updates {
    B:shouldCheckForUpdates=true
    B:shouldPrintOutChangelog=false
}


