# Configuration file

debug {
    # Prints Fake Player IDs to console.
    B:"Debug Mode"=false

    # Dumps the platform entity's block information in xxd format when the world is saved.
    B:"Dump Platform Block Data"=false
}


hardcore {
    B:"Hardcore Beds"=false
    B:"Hardcore Buckets"=false
    B:"Hardcore Buoy"=false
    B:"Hardcore Gunpowder"=false
    B:"Hardcore Hunger"=false
    B:"Hardcore Lumberjack"=false
    B:"Hardcore Spawn"=false
}


pulley {
    I:"Max Platform Blocks"=64

    # The speed at which the pulley rope and platform moves down [range: 0.0 ~ 1.0, default: 0.1]
    S:"Vertical speed down"=0.1

    # The speed at which the pulley rope and platform moves up [range: 0.0 ~ 1.0, default: 0.1]
    S:"Vertical speed up"=0.1
}


"vanilla tweaks" {
    B:"Animals Produce Dung"=true
    B:"Prevent Nether Spawns on Non-Nether Materials"=true
    B:"Prevent Slimes Spawning on Non-Stone Non-Dirt Materials"=true
}


