# Configuration file

general {
    # If set the contents of all bags in a players inventory will try to be inserted on a double right-click on the bit drawer controller.
    B:allowBagMultiInsertion=true

    # If set all Chisels & Bits blocks in a players inventory will try to be inserted on a double right-click on the bit drawer controller.
    B:allowChiseledBlockMultiInsertion=false

    # Base storage of a bit drawer (stacks).
    I:bitdrawerBaseStorage=16

    # If set the player will be informed in chat if something didn't work (if possible).
    B:chatty=true

    # Enable the bit drawer controller.
    B:enableBitController=true

    # Writes additional log messages while using the mod.  Mainly for debug purposes.  Should be kept disabled unless instructed otherwise.
    B:enableDebugLogging=false

    # Last Storage Drawer version warned about (internal, you should not change this without good reason).
    S:lastSDVersionWarned=3.6.1
}


