# Configuration file

client {
    # set to true to show tooltips on boats [default: false]
    B:boats=false

    # set to false to not show tooltips on chests [default: true]
    B:chests=true

    # set to false to not show tooltips on link items [default: true]
    B:"link items"=true
}


general {
    # Set to false to disable chest boats [default: true]
    B:"Enable chest boat"=true

    # A list of all items which can be used to link boats together, metadata is optional and will be fuzzy if not specified.
    # The first entry will act as the default in case of error [default: [minecraft:lead:0]]
    S:"Link key items" <
        minecraft:lead:0
     >
}


