# Configuration file

mixins {
    # Set to false to disable all mixins.
    B:general=true
}


"thaumcraft mixins" {
    # Set to false to disable Thaumcraft mixins:
    # TileCrucible, TileThaumatorium
    B:general=true
}


"vanilla mixins" {
    # Set to false to disable vanilla mixins:
    # EntityPotion, EntitySmallFireball, PathFinder
    B:general=true
}


"witchery mixins" {
    # Set to false to disable Witchery mixins:
    # TileEntityCauldron, TileEntityKettle, symbols.Incendio, symbols.Aguamenti, brews.EntitySplatter, brews.Extinguish
    B:general=true
}


