# Configuration file

general {
    # Set this to false to prevent picking up of mob spawners [default: true]
    B:pickupSpawners=true

    # Set this to false to prevent the diamond transporter to pick up mob spawners [default: true]
    B:spawnerWithDiamond=true

    # Set this to false to prevent the golden transporter to pick up mob spawners [default: true]
    B:spawnerWithGold=true

    # Set this to false to prevent the iron transporter to pick up mob spawners [default: true]
    B:spawnerWithIron=true

    # Set this to false to prevent the wooden transporter to pick up mob spawners [default: true]
    B:spawnerWithWood=true
}


