# Configuration file

clipboard {
    I:0 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        29
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        103
        114
        97
        115
        115
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        3
        0
        1
        115
        0
        0
        0
        8
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        -119
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        48
        -72
        -64
        -36
        -64
        -128
        5
        56
        48
        -32
        7
        -108
        -54
        -29
        0
        7
        -16
        -56
        53
        -128
        -27
        27
        -120
        -45
        47
        -125
        108
        -110
        2
        -119
        54
        -111
        8
        -104
        -15
        -56
        49
        -126
        -27
        25
        17
        46
        17
        64
        -43
        10
        -106
        103
        7
        -53
        -125
        100
        126
        -64
        -28
        -1
        -61
        -28
        -103
        24
        24
        -20
        -1
        -125
        -27
        63
        -128
        -27
        -127
        100
        61
        72
        -2
        1
        88
        -59
        -1
        -1
        -1
        -128
        -8
        -1
        -1
        7
        96
        -7
        7
        96
        121
        0
        -127
        -62
        45
        -33
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        41
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        100
        105
        114
        116
        63
        115
        110
        111
        119
        121
        61
        102
        97
        108
        115
        101
        38
        118
        97
        114
        105
        97
        110
        116
        61
        100
        105
        114
        116
        3
        0
        1
        115
        0
        0
        0
        57
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        -66
        120
        -38
        -123
        -52
        49
        14
        -126
        48
        20
        6
        -32
        23
        24
        88
        72
        -16
        6
        101
        -47
        -60
        -51
        -60
        -103
        52
        30
        -91
        81
        72
        -102
        40
        -110
        66
        52
        78
        112
        -76
        30
        -123
        35
        48
        58
        24
        43
        -81
        2
        -83
        6
        -21
        63
        -4
        109
        -33
        -41
        60
        -49
        91
        -100
        120
        -98
        -18
        5
        -53
        -86
        -27
        118
        -57
        -72
        -96
        -80
        -74
        39
        7
        46
        42
        90
        -26
        -25
        -21
        45
        -55
        -40
        -79
        76
        87
        23
        38
        56
        -53
        -85
        4
        1
        -32
        -31
        -73
        74
        -42
        -128
        -119
        1
        -70
        -94
        -115
        97
        -56
        29
        26
        125
        -114
        -34
        90
        -114
        34
        55
        -97
        -114
        -81
        -82
        120
        -49
        126
        -71
        36
        14
        -113
        -76
        71
        -109
        -121
        -106
        7
        -38
        3
        -121
        -5
        -33
        -2
        116
        -72
        -60
        10
        117
        -125
        -78
        92
        -87
        38
        -46
        -69
        113
        -61
        -28
        74
        -95
        99
        -29
        125
        114
        98
        -68
        55
        95
        13
        -47
        94
        107
        -81
        -115
        -101
        52
        84
        59
        117
        56
        -7
        -25
        99
        -49
        121
        63
        37
        99
        -49
        -69
        -7
        -11
        2
        1
        123
        -25
        -64
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        3
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        66
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        73
        -55
        44
        42
        -79
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        85
        43
        75
        44
        -54
        76
        -52
        43
        -79
        5
        73
        48
        48
        60
        96
        -6
        63
        10
        104
        10
        0
        -10
        -85
        117
        115
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        84
        -53
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        79
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        77
        -50
        -56
        44
        78
        -51
        1
        114
        -109
        -13
        -109
        -110
        114
        82
        -117
        75
        -14
        -13
        82
        83
        43
        74
        -118
        18
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        77
        25
        24
        62
        48
        -1
        71
        3
        12
        104
        96
        84
        126
        120
        -55
        3
        0
        64
        7
        20
        76
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        84
        -53
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        80
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        77
        -50
        -56
        44
        78
        -51
        1
        114
        -109
        -13
        -109
        -110
        114
        82
        -117
        75
        -14
        -13
        82
        83
        43
        74
        -118
        18
        -19
        -53
        18
        -117
        50
        19
        75
        50
        -13
        -13
        108
        77
        25
        24
        -98
        48
        51
        48
        -4
        -1
        -49
        -128
        23
        -116
        -54
        15
        117
        121
        0
        -89
        -34
        53
        17
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


