# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    I:stoneChiselUses=8384
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    B:showUsage=true
}


crafting {
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockBloodStoneBrick=true
    B:WayofTime.bloodmagic.block.BlockCrystal=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:betterwithmods.blocks.BlockAesthetic=true
    B:betterwithmods.blocks.BlockDebarkedNew=true
    B:betterwithmods.blocks.BlockDebarkedOld=true
    B:betterwithmods.blocks.BlockWolf=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPStone=true
    B:blusunrize.immersiveengineering.common.blocks.BlockIEBase=true
    B:com.Da_Technomancer.crossroads.blocks.BasicBlock=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.pam.harvestcraft.blocks.blocks.BeehiveBlock=true
    B:com.rwtema.extrautils2.blocks.BlockAngelBlock=true
    B:com.rwtema.extrautils2.blocks.BlockCompressed=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeGlass=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolid=true
    B:com.rwtema.extrautils2.blocks.BlockDecorativeSolidWood=true
    B:com.rwtema.extrautils2.blocks.BlockRedstoneClock=true
    B:com.sosnitzka.taiga.blocks.BlockLignite=true
    B:com.sosnitzka.taiga.blocks.BlockTiberium=true
    B:com.sosnitzka.taiga.generic.BasicBlock=true
    B:com.sosnitzka.taiga.generic.BasicBlockGround=true
    B:crazypants.enderio.block.BlockReinforcedObsidian=true
    B:crazypants.enderio.material.BlockIngotStorage=true
    B:elucent.roots.block.BlockBase=true
    B:elucent.roots.block.BlockDoubleSlabBase=true
    B:elucent.roots.block.BlockLogBase=true
    B:erogenousbeef.bigreactors.common.block.BlockBRMetal=true
    B:erogenousbeef.bigreactors.common.block.BlockBROre=true
    B:"forestry.arboriculture.blocks.log.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.log.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.planks.BlockArbPlanks$1"=true
    B:"forestry.arboriculture.blocks.planks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:ivorius.reccomplex.blocks.BlockGenericSolid=true
    B:li.cil.oc.common.block.ChameliumBlock=true
    B:li.cil.oc.common.block.FakeEndstone=true
    B:lumien.randomthings.block.BlockBiomeStone=true
    B:lumien.randomthings.block.BlockContactLever=true
    B:lumien.randomthings.block.BlockDyeingMachine=true
    B:lumien.randomthings.block.BlockLapisLamp=true
    B:lumien.randomthings.block.BlockPod=true
    B:lumien.randomthings.block.BlockQuartzLamp=true
    B:lumien.randomthings.block.BlockRainbowLamp=true
    B:lumien.randomthings.block.BlockStainedBrick=true
    B:mcjty.deepresonance.blocks.MachineFrame=true
    B:mcjty.deepresonance.blocks.ore.DenseObsidianBlock=true
    B:mcjty.deepresonance.blocks.ore.ResonatingOreBlock=true
    B:mcjty.deepresonance.blocks.poisondirt.PoisonedDirtBlock=true
    B:mcjty.deepresonance.blocks.radiationsensor.RadiationSensorBlock=true
    B:mcjty.rftools.blocks.MachineBase=true
    B:mcjty.rftools.blocks.MachineFrame=true
    B:mcjty.rftools.blocks.ores.DimensionalShardBlock=true
    B:mcjty.rftools.blocks.teleporter.DestinationAnalyzerBlock=true
    B:mcjty.rftools.blocks.teleporter.MatterBoosterBlock=true
    B:mcjty.rftoolsdim.blocks.probe.ActivityProbeBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalBlankBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalCross2Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalCrossBlock=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalPattern1Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalPattern2Block=true
    B:mcjty.rftoolsdim.blocks.shards.DimensionalSmallBlocks=true
    B:mekanism.common.block.BlockOre=true
    B:mekanism.common.block.BlockPlastic=true
    B:mekanism.common.block.BlockSalt=true
    B:mod.flatcoloredblocks.block.BlockFlatColored=true
    B:mod.flatcoloredblocks.block.BlockFlatColoredTranslucent=true
    B:mrriegel.storagenetwork.blocks.BlockCover=true
    B:net.malisis.doors.block.RustyLadder=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockHugeMushroom=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBlockConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBrickConfig$1"=true
    B:org.cyclops.integrateddynamics.block.BlockLogicProgrammer=true
    B:org.cyclops.integrateddynamics.block.BlockMenrilLog=true
    B:"org.cyclops.integrateddynamics.block.BlockMenrilPlanksConfig$1"=true
    B:slimeknights.tconstruct.gadgets.block.BlockBrownstone=true
    B:slimeknights.tconstruct.gadgets.block.BlockDriedClay=true
    B:slimeknights.tconstruct.shared.block.BlockClearGlass=true
    B:slimeknights.tconstruct.shared.block.BlockClearStainedGlass=true
    B:slimeknights.tconstruct.shared.block.BlockDecoGround=true
    B:slimeknights.tconstruct.shared.block.BlockFirewood=true
    B:slimeknights.tconstruct.shared.block.BlockMetal=true
    B:slimeknights.tconstruct.shared.block.BlockOre=true
    B:slimeknights.tconstruct.shared.block.BlockSlime=true
    B:slimeknights.tconstruct.shared.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.shared.block.BlockSoil=true
    B:slimeknights.tconstruct.smeltery.block.BlockSeared=true
    B:slimeknights.tconstruct.world.block.BlockSlime=true
    B:slimeknights.tconstruct.world.block.BlockSlimeCongealed=true
    B:slimeknights.tconstruct.world.block.BlockSlimeDirt=true
    B:slimeknights.tconstruct.world.block.BlockSlimeLeaves=true
    B:sonar.calculator.mod.common.block.CalculatorLogs=true
    B:sonar.calculator.mod.common.block.CalculatorPlanks=true
    B:sonar.calculator.mod.common.block.MaterialBlock=true
    B:sonar.core.common.block.BlockBase=true
    B:sonar.core.common.block.StableStone=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableBookshelf=true
    B:the_fireplace.adobeblocks.blocks.AdobeBlock=true
    B:the_fireplace.adobeblocks.blocks.AdobeBricks=true
    B:the_fireplace.adobeblocks.blocks.AdobeDoubleSlab=true
    B:the_fireplace.adobeblocks.blocks.AdobeMixtureBlock=true
    B:the_fireplace.adobeblocks.blocks.AdobeTile=true
    B:vazkii.botania.common.block.BlockDreamwood=true
    B:vazkii.botania.common.block.BlockEnchantedSoil=true
    B:vazkii.botania.common.block.BlockFelPumpkin=true
    B:vazkii.botania.common.block.BlockLivingrock=true
    B:vazkii.botania.common.block.BlockLivingwood=true
    B:vazkii.botania.common.block.BlockManaBomb=true
    B:vazkii.botania.common.block.BlockRoot=true
    B:vazkii.botania.common.block.BlockStorage=true
    B:vazkii.botania.common.block.decor.BlockBlaze=true
    B:vazkii.botania.common.block.decor.BlockCustomBrick=true
    B:vazkii.botania.common.block.decor.BlockPavement=true
    B:vazkii.botania.common.block.decor.BlockPetalBlock=true
    B:vazkii.botania.common.block.decor.BlockShimmerrock=true
    B:vazkii.botania.common.block.decor.BlockShimmerwoodPlanks=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneA=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneB=true
    B:vazkii.botania.common.block.decor.quartz.BlockSpecialQuartz=true
    B:vazkii.botania.common.block.mana.BlockAlchemyCatalyst=true
    B:vazkii.botania.common.block.mana.BlockConjurationCatalyst=true
    B:vazkii.psi.common.block.BlockPsiDecorative=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:xyz.brassgoggledcoders.boilerplate.blocks.BlockBase=true
    B:xyz.brassgoggledcoders.modularutilities.modules.decoration.BlockStoneDecor=true
    B:xyz.brassgoggledcoders.modularutilities.modules.miscellaneous.BlockFeathers=true
    B:xyz.brassgoggledcoders.modularutilities.modules.redstone.BlockFusedQuartz=true
    B:xyz.brassgoggledcoders.modularutilities.modules.redstone.BlockRedstoneSand=true
}


"integration settings" {
    B:ShowBitsInJEI=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


