# Configuration file

general {
    # This alue determines how often the clayHut be infested with zombies. The higher the value, the rarer the chance. Set it to 0 to disable zombiefication. [range: 0 ~ 2147483647, default: 32]
    I:"Clay-Hut Spawn Chance"=512

    # A soldiers unarmed/base damage. [range: 1.0 ~ 40.0, default: 1.0]
    S:"Soldier Base Damage"=1.0

    # A soldiers base health. [range: 1.0 ~ 40.0, default: 20.0]
    S:"Soldier Base Health"=20.0

    # A Squirrel! [default: yes]
    S:Squirrel=yes

    # Should soldiers use the old hurt sound? [default: true]
    B:"Use old hurt sound"=true
}


