# Configuration file

compactmachines {
    # Chunk Loading Mode: 0 = Never, 1 = Always, 2 = When machine is loaded [range: 0 ~ 2, default: 1]
    I:chunkLoadingMode=2

    # Number of ticks between each import/export action for Fluids, i.e. 0 => 1 Bucket per tick [range: 0 ~ 2147483647, default: 10]
    I:cooldownFluid=10

    # Number of ticks between each import/export action for Items, i.e. 40 => 1 Stack every two seconds [range: 0 ~ 2147483647, default: 10]
    I:cooldownItems=10

    # Number of ticks between each import/export action for Redstone Flux, i.e. 20 => 10000 RF/s, 0 => 10000 RF/t [range: 0 ~ 2147483647, default: 0]
    I:cooldownRF=0

    # Maximum number of items dropping when breaking a Compact Machine [range: 0 ~ 2147483647, default: 128]
    I:maxDroppedStacks=128

    # The item used to upgrade compact machines. Format: modid:name_block_registered_with [default: nether_star]
    S:upgradeItem=nether_star
}


internal {
    # The distance between the cubes in the machine dimension! Must be a multiple of 16, i.e. 16, 32, 48, 64... DO NOT CHANGE THIS. [range: 16 ~ 2147483647, default: 64]
    I:cubeDistance=64

    # Dimension used for machines. Do not change this unless it is somehow conflicting! [range: -2147483648 ~ 2147483647, default: -1]
    I:dimension=2
}


