# Configuration file

##########################################################################################################
# blocks
#--------------------------------------------------------------------------------------------------------#
# Setting any of these options to false will disable their crafting recipe.
##########################################################################################################

blocks {
    #  [default: true]
    B:"Cooking Oven"=true

    #  [default: true]
    B:Sink=true

    #  [default: true]
    B:Toaster=true
}


client {
    # If you hate cool things, set this to true to disable the item rendering inside of fridges and ovens. Note that the inside only renders when the door is open anyways, so you won't gain much from this. [default: false]
    B:disableItemRender=false
}


general {
    # Set this to true if you'd like to disallow automation of the oven (pipes and such won't be able to insert/extract) [default: false]
    B:disallowOvenAutomation=false

    # The cooking time multiplier for the cooking oven. Higher values means it will take longer. [range: 0.25 ~ 9.0, default: 1.0]
    S:ovenCookTimeMultiplier=1.0

    # The fuel multiplier for the cooking oven. Higher values means fuel lasts longer, 1.0 is furnace default. [range: 0.1 ~ 2.0, default: 0.33]
    S:ovenFuelTimeMultiplier=0.33

    # Set this to true if you'd like the oven to only accept cooking oil as fuel (requires Pam's Harvestcraft) [default: false]
    B:ovenRequiresCookingOil=false

    # Set this to true if you'd like the sink to require water to be piped in, instead of providing infinite of it. [default: false]
    B:sinkRequiresWater=false
}


##########################################################################################################
# items
#--------------------------------------------------------------------------------------------------------#
# Setting any of these options to false will disable their crafting recipe.
##########################################################################################################

items {
    #  [default: true]
    B:"#NoFilter Edition"=true

    # Disabling this will also disable the Cooking Table recipe. [default: true]
    B:"Crafting Book"=true
}


##########################################################################################################
# modules
#--------------------------------------------------------------------------------------------------------#
# Setting any of these options to false will disable their specific mod support.
##########################################################################################################

modules {
    # Dynamic Food Values [default: true]
    B:AppleCore=true

    # Multiblock Kitchen Support (Freezer) [default: true]
    B:EnviroMine=true

    # Multiblock Kitchen Support, Tool Support, Oven Recipes, Oven Fuel, Ingredient Recipes [default: true]
    B:"Pam's HarvestCraft"=true

    # Should bread be toasted into Pam's toast (if available) instead of the Cooking for Blockheads one? [default: true]
    B:"Use Pam's Toast"=true

    # Sink Support, Ingredient Recipes [default: true]
    B:"Vanilla Minecraft"=true
}


