# Configuration file

coroutil {
    B:PFQueueDebug=false
    S:chunkCacheDimensionBlacklist_IDs=
    S:chunkCacheDimensionBlacklist_Names=promised
    B:chunkCacheOverworldOnly=false

    # Test admin thing for kcauldron issues, kills zombies a bit after sunrise every cleanupStrayMobsDayRate days
    B:cleanupStrayMobs=false
    I:cleanupStrayMobsDayRate=5
    I:cleanupStrayMobsTimeOfDay=2000
    I:debugChunkRenderPollRate=100
    B:debugChunkRenderUpdates=false
    B:debugChunkRenderUpdatesPoll=false
    B:trackPlayerData=false
    B:useBlackListsAsWhitelist=false
    B:usePlayerRadiusChunkLoadingForFallback=true
}


