# Configuration file

coroutil_dynamicdifficulty {
    I:difficulty_BestDPSRadius=4
    I:difficulty_BestVanillaDPS=20

    # Distance from spawn required to hit the max difficulty for this setting
    I:difficulty_DistFromSpawnMax=5000
    B:difficulty_InfernalMobsOverride=false

    # what level of difficulty is required to count as 100% chance
    D:difficulty_Infernal_Elite_Max=5.0
    D:difficulty_Infernal_Elite_ScaleRate=1.0

    # what level of difficulty is required to count as 100% chance
    D:difficulty_Infernal_Infernal_Max=5.0
    D:difficulty_Infernal_Infernal_ScaleRate=1.0

    # what level of difficulty is required to count as 100% chance
    D:difficulty_Infernal_Ultra_Max=5.0
    D:difficulty_Infernal_Ultra_ScaleRate=1.0

    # -1 = dont cap it
    D:difficulty_Max=-1.0
    D:difficulty_MaxDPSLoggable=500.0
    D:difficulty_MaxDPSRatingAllowed=5.0

    # How long it takes to reach max difficulty level for a specific chunk in gameplay ticks (50 hours)
    I:difficulty_MaxTicksInChunk=3600000

    # How long it takes to reach max difficulty level for a specific player in gameplay ticks (50 hours)
    I:difficulty_MaxTicksOnServer=3600000

    # Track chunk bound data required for some difficulty calculations, disable if issues with server stability relating to CoroUtil
    B:trackChunkData=true
    D:weightDPS=1.5
    D:weightDistFromSpawn=1.0
    D:weightHealth=1.0
    D:weightPlayerEquipment=1.5
    D:weightPlayerServerTime=1.0
    D:weightPosOccupy=1.0
}


