# Configuration file

balance {
    # The default radius of wireless transmitters, in blocks. [range: 1.0 ~ 65536.0, default: 64.0]
    S:defaultWirelessRange=64.0

    # If enabled, the Weldthrower will damage mobs and set them on fire. [default: true]
    B:weldthrowerHurts=true
}


crafting {
    # If true, processors can be crafted without going to the limbo dungeon. Not recommended. [default: false]
    B:easyProcessors=false
}


ids {
    # The dimension ID for the glitch dungeon. [range: -256 ~ 256, default: -31]
    I:limboDimId=-31
}


import {
    # The mode for the old network importer, which will run on any 1.x networks loaded with Correlated 2.x. Possible values are:
    # refund_all: Refund components, convert drives into Data Cores, and refund Interface contents. [default]
    # refund_some: Convert drives into Data Cores and refund Interface contents, but do not refund drive crafting ingredients. Useful if you used MineTweaker to change the recipes. Blocks will still be refunded.
    # refund_content: Convert drives into Data Cores and refund Interface contents, but do not refund anything else.
    # destroy: Outright delete the network, and all items that were contained in it. If you use this option, PLEASE state it prominently on your modpack page, and warn people.
    # leave: Leave the network alone. May result in glitchy drives holding more data than they should be able to, crashes, and general strangeness. Not recommended. [default: refund_all]
    S:mode=refund_all
}


powerfinetuning {
    # The maximum T/t the controller can use, and therefore a network. [range: 0 ~ 2147483647, default: 640]
    I:controllerCap=640

    # The Tesla stored by the controller. [range: 0 ~ 2147483647, default: 64000]
    I:controllerCapacity=64000

    # The T/t used by the controller when it detects another controller in its network and is erroring. [range: 0 ~ 2147483647, default: 4]
    I:controllerErrorUsage_MultipleControllers=4

    # The T/t used by the controller when it reaches the network scan limit. [range: 0 ~ 2147483647, default: 640]
    I:controllerErrorUsage_NetworkTooBig=640
}


powerusage {
    # The T/t used by the Controller. [range: 0 ~ 2147483647, default: 32]
    I:controller=32

    # The T/t used by the Drive Bay. [range: 0 ~ 640, default: 8]
    I:driveBay=8

    # Drive power usage is (pow**tier)/div [range: 0 ~ 8, default: 2]
    I:driveDiv=2

    # Drive power usage is (pow**tier)/div [range: 0 ~ 8, default: 2]
    I:drivePow=2

    # The T/t used by the Interface. [range: 0 ~ 640, default: 8]
    I:interface=8

    # The T/t used by the Memory Bay. [range: 0 ~ 640, default: 4]
    I:memoryBay=4

    # The T/t used by the Wireless Receiver. [range: 0 ~ 640, default: 16]
    I:receiver=16

    # The T/t used by the Terminal. [range: 0 ~ 640, default: 4]
    I:terminal=4

    # The T/t used by the Wireless Transmitter. [range: 0 ~ 640, default: 16]
    I:transmitter=16

    # The T/t used by the Void Drive. [range: 0 ~ 640, default: 4]
    I:voidDrive=4
}


