# Configuration file

~CONFIG_VERSION: 2

general {
    # How often saplings drop from ancient ree leaves. 0 disables. Higher values are less rare. '20' is the same rarity as vanilla saplings. [range: 0 ~ 2147483647, default: 200]
    I:saplingDropRarity=200

    chests {
        # How often ancient parcels are found in blacksmith's chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 0]
        I:blacksmithRarity=0

        # How often ancient parcels are found in bonus chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 0]
        I:bonusChestRarity=0

        # How often ancient parcels are found in desert temple chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 1]
        I:desertTempleRarity=1

        # How often ancient parcels are found in dungeon chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 1]
        I:dungeonRarity=1

        # How often ancient parcels are found in jungle temple dispensers. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 0]
        I:jungleTempleDispenserRarity=0

        # How often ancient parcels are found in jungle temple chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 1]
        I:jungleTempleRarity=1

        # How often ancient parcels are found in mineshaft corridor chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 1]
        I:mineshaftCorridorRarity=1

        # How often ancient parcels are found in stronghold corridor chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 1]
        I:strongholdCorridorRarity=1

        # How often ancient parcels are found in stronghold crossing chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 1]
        I:strongholdCrossingRarity=1

        # How often ancient parcels are found in stronghold library chests. 0 disables. Higher values are less rare. [range: 0 ~ 2147483647, default: 1]
        I:strongholdLibraryRarity=1
    }

    worldgen {
        # How often ancient trees are found growing in the overworld. 0 disables. Higher values are less rare. [range: 0 ~ 10000, default: 1]
        I:overworldTreeGenRarity=15
    }

    integration {
        # Should this mod allow its wood to be used to make decorative blocks in Chisel? [default: true]
        B:integrateChisel=true

        # Should this mod allow its trees to be recognized by Forestry farms and backpacks? [default: true]
        B:integrateForestry=true

        # Should this mod allow its trees to grow as miniatures in GardenStuff's pots? [default: true]
        B:integrateGardenStuff=true

        # Should this mod allow its trees to grow in Minefactory Reloaded farms? [default: true]
        B:integrateMFR=true

        # Should this mod allow you to analyze its blocks in Minechem? [default: true]
        B:integrateMinechem=true

        # Should this mod allow Storage Drawers to use its wood? [default: true]
        B:integrateStorageDrawers=true
    }

}


