# Configuration file

_features {
    #  [default: true]
    B:enableBundle=true

    #  [default: true]
    B:enableFox=true
}


bundle {
    # Falls back to leather if none of the items can be resolved [default: [etfuturum:rabbit_hide]]
    S:bundleCraftingItems <
        etfuturum:rabbit_hide
     >

    # Items that aren't allowed in bundles
    # The '*' character can be used as a wildcard to match one or more characters.
    #  [default: [etfuturum:shulker_box], [JABBA:mover*], [ExtraUtilities:*bedrockium*]]
    S:bundleItemBlacklist <
        etfuturum:shulker_box
        JABBA:mover*
        ExtraUtilities:*bedrockium*
     >

    # Remove extra spacing between rows in the bundle tooltip. [default: false]
    B:compactBundleGUI=false
}


fox {
    # NORMAL: Foxes unlock abilities as they level up
    # UNLOCK_ALL: All abilities are unlocked from the start
    # UNLOCK_NONE: No abilities will ever be unlocked
    # Note: changing this won't affect the amount of exp foxes have, just whether the abilities will be enabled or not [default: NORMAL]
    S:foxAbilityMode=NORMAL

    # Falls back to wheat if none of the items can be resolved [default: [etfuturum:sweet_berries]]
    S:foxBreedingItems <
        etfuturum:sweet_berries
     >

    # The EXP foxes earn will get multiplied by this value. [range: 0.0 ~ Infinity, default: 1.0]
    S:foxExpModifier=1.0

    # item=weight pairs deciding the relative likelyhood of foxes spawning with certain items. Entries containing items that can't be resolved will be ignored. [default: [emerald=5], [egg=15], [etfuturum:rabbit_foot=10], [etfuturum:rabbit_hide=10], [wheat=20], [leather=20], [feather=20]]
    S:foxMouthItems <
        emerald=5
        egg=15
        etfuturum:rabbit_foot=10
        etfuturum:rabbit_hide=10
        wheat=20
        leather=20
        feather=20
     >

    #  [default: [etfuturum.rabbit]]
    S:rabbitEntities <
        etfuturum.rabbit
     >
}


mixins {
    # Change the durability bar color of certain items (bundles) [default: true]
    B:durabilityBarColor=true

    # Make looting enchants of fox weapons have an effect. [default: true]
    S:lootingFoxFix=true

    #  [default: true]
    B:wolvesTargetFoxes=true
}


