# Configuration file

"energy consumption" {
    # Sets the energy consumption for the produstion of Conductive Iron. [range: 1 ~ 100000, default: 10000]
    I:energyConductiveIron=10000

    # Sets the energy consumption for the produstion of Dark Steel. [range: 1 ~ 100000, default: 20000]
    I:energyDarkSteel=20000

    # Sets the energy consumption for the produstion of Electrical Steel. [range: 1 ~ 100000, default: 10000]
    I:energyElectricalSteel=10000

    # Sets the energy consumption for the produstion of Energetic Alloy. [range: 1 ~ 100000, default: 10000]
    I:energyEnergeticAlloy=10000

    # Sets the energy consumption for the produstion of Vibrant Alloy. [range: 1 ~ 100000, default: 10000]
    I:energyPhasedGold=10000

    # Sets the energy consumption for the produstion of Pulsating Iron. [range: 1 ~ 100000, default: 10000]
    I:energyPhasedIron=10000

    # Sets the energy consumption for the produstion of Redstone Alloy. [range: 1 ~ 100000, default: 10000]
    I:energyRedstoneAlloy=10000

    # Sets the energy consumption for the produstion of Soularium. [range: 1 ~ 100000, default: 10000]
    I:energySoularium=10000
}


