# Configuration file

general {
    # eiramoticons:config.bttvEmoteChannels.tooltip [default: ]
    S:bttvEmoteChannels <
     >

    # Should emotes be enabled for IRC chat, if EiraIRC is installed? [default: true]
    B:enableIRCEmotes=true

    # Should emotes be enabled for Vanilla Minecraft chat? [default: true]
    B:enableMCEmotes=true

    # The Twitch smiley style to use in chat: 0 for robot, 1 for Turbo, 2 for monkeys (NYI) [range: 0 ~ 2, default: 0]
    I:twitchSmileySet=0

    # A regex pattern to limit the Twitch subscriber emotes that are registered. [default: [a-z0-9][a-z0-9]+[A-Z0-9].*]
    S:twitchSubscriberRegex=[a-z0-9][a-z0-9]+[A-Z0-9].*
}


packs {
    # Should Better TwitchTV Channel emoticons be registered? [default: true]
    B:bttvChannelEmotes=true

    # Should Better TwitchTV emoticons be registered? [default: false]
    B:bttvEmotes=false

    # Should the default EiraMoticons emoticons be registered? [default: true]
    B:defaultPack=true

    # Should the user-submitted emotes from the EiraNet be registered? [default: true]
    B:eiranetPack=true

    # Should the global Twitch emoticons be registered? [default: true]
    B:twitchGlobalEmotes=true

    # Should Twitch :) smileys be registered? [default: false]
    B:twitchSmileys=false

    # Should Twitch subscriber emoticons be registered? [default: true]
    B:twitchSubscriberEmotes=true

    # Should the Twitch Turbo emoticons be registered? [default: false]
    B:twitchTurboEmotes=false
}


tweaks {
    # Should all Kappas be turned into the more beautiful KappaHDs? (requires twitchTurboEmotes to be enabled) [default: false]
    B:betterKappas=false
}


