# Configuration file

##########################################################################################################
# mobs
#--------------------------------------------------------------------------------------------------------#
# Settings related to ore generation.
##########################################################################################################

mobs {
    # Spawning weight of the Ancient Golem mob. Higher values make golems spawn more frequently. [range: 0 ~ 32767, default: 15]
    I:ancientGolemSpawnWeight=15
}


##########################################################################################################
# ores
#--------------------------------------------------------------------------------------------------------#
# Settings related to ore generation.
##########################################################################################################

ores {
    # Maximum height under which copper ore will spawn. [range: 0 ~ 255, default: 64]
    I:copperMaxY=64

    # Minimum height over which copper ore will spawn. [range: 0 ~ 255, default: 0]
    I:copperMinY=0

    # Maximum size of a copper ore vein (in blocks) [range: 0 ~ 255, default: 12]
    I:copperVeinSize=0

    # Number of attempts to spawn copper ore the world generator will make for each chunk. [range: 0 ~ 255, default: 6]
    I:copperVeinsPerChunk=0

    # Maximum height under which lead ore will spawn. [range: 0 ~ 255, default: 28]
    I:leadMaxY=28

    # Minimum height over which lead ore will spawn. [range: 0 ~ 255, default: 0]
    I:leadMinY=0

    # Maximum size of a lead ore vein (in blocks) [range: 0 ~ 255, default: 8]
    I:leadVeinSize=0

    # Number of attempts to spawn lead ore the world generator will make for each chunk. [range: 0 ~ 255, default: 4]
    I:leadVeinsPerChunk=0

    # Maximum height under which silver ore will spawn. [range: 0 ~ 255, default: 28]
    I:silverMaxY=28

    # Minimum height over which silver ore will spawn. [range: 0 ~ 255, default: 0]
    I:silverMinY=0

    # Maximum size of a silver ore vein (in blocks) [range: 0 ~ 255, default: 6]
    I:silverVeinSize=0

    # Number of attempts to spawn silver ore the world generator will make for each chunk. [range: 0 ~ 255, default: 4]
    I:silverVeinsPerChunk=0
}


