# Configuration file

general {
    # 
    # [default: false]
    B:catchUnregisteredBlocks=false

    # Setting this value greater than 0 will reduce RAM usage, at the cost of less available Block IDs.
    # Notice: This does not affect ITEM IDs.
    # By default, block IDs can also go up to 16 Million, and each additional bit in this setting halves
    # this value.
    # (0: 16M, 1: 8M, 2: 4M, 3: 2M, 4: 1M, 5: 512K, 6: 256K, 7: 128K, 8: 64K, 9: 32K, 10: 16K, 11: 8K, 12: 4K)
    # 
    # [range: 0 ~ 12, default: 0]
    I:countCorrectionBits=0

    # Extend DataWatcher IDs. Vanilla limit is 31, new limit is 127.
    # [default: false]
    B:extendDataWatcher=false

    # Remove invalid (corrupted) blocks from the game.
    # [default: false]
    B:removeInvalidBlocks=false
}


