# Configuration file

machines {
    # What blocks should the table accept for alloy smelters. [default: [enderio:blockAlloySmelter]]
    S:"Alloy Blocks" <
        enderio:blockAlloySmelter
     >

    # What blocks should the table accept for crafters. [default: [minecraft:crafting_table]]
    S:"Crafter Blocks" <
        minecraft:crafting_table
     >

    # What blocks should the table accept for crushers. [default: [enderio:blockSagMill]]
    S:"Crusher Blocks" <
        enderio:blockSagMill
     >

    # Is an alloy smelter allowed as a machine? (Requires EnderIO) [default: true]
    B:"Enable Alloy Smelter"=true

    # Is a crusher allowed as a machine? (Requires EnderIO) [default: true]
    B:"Enable Crusher"=true

    # What blocks should the table accept for furances. [default: [minecraft:furnace]]
    S:"Furnace Blocks" <
        minecraft:furnace
     >

    # What blocks should the table accept for storage. [default: [minecraft:chest]]
    S:"Storage Blocks" <
        minecraft:chest
     >
}


power {
    # Should RF upgrades be allowed? [default: true]
    B:"RF Support"=true
    B:"Tesla Support"=true
}


tweaks {
    # Sets the amount of ticks between each time the worktable consumes a fuel resource [range: 0 ~ 2147483647, default: 15]
    I:"Fuel Delay"=15

    # Sets the default max power in the workshop table (minimum, since upgrades can only add power) [range: 1 ~ 2147483647, default: 8000]
    I:"Max Power"=8000

    # Power conversion rate [x:1] [x = external power input] [range: 1 ~ 2147483647, default: 8]
    I:"Power Conversion Rate"=8
}


upgrades {
    # Sets the amount that each fuel delay upgrade decreases the fuel delay by. [range: 0 ~ 14, default: 1]
    I:"Fuel Delay Change"=1

    # Sets how efficient each upgrade is, formula: 'power = fuel * (upgradeAmount / this)' [range: 0 ~ 2147483647, default: 4]
    I:"Fuel Efficiency Change"=4

    # Sets the amount that each max power upgrade increases the max power by. [range: 0 ~ 2147483647, default: 1000]
    I:"Max Power Change"=1000

    # Sets the amount of energy generated per fuel-tick per solar panel upgrade in the workshop table [range: 1 ~ 2147483647, default: 4]
    I:"Solar Generation"=4

    # Max amount of the auto_crafter upgrade [range: 0 ~ 1, default: 1]
    I:"auto_crafter maximum amount"=1

    # Max amount of the auto_transfer upgrade [range: 0 ~ 1, default: 1]
    I:"auto_transfer maximum amount"=1

    # Max amount of the axe upgrade [range: 0 ~ 1, default: 1]
    I:"axe maximum amount"=1

    # Max amount of the charged upgrade [range: 0 ~ 448, default: 8]
    I:"charged maximum amount"=8

    # Max amount of the compactor upgrade [range: 0 ~ 1, default: 1]
    I:"compactor maximum amount"=1

    # Max amount of the efficiency upgrade [range: 0 ~ 512, default: 4]
    I:"efficiency maximum amount"=4

    # Max amount of the filter upgrade [range: 0 ~ 1, default: 1]
    I:"filter maximum amount"=1

    # Max amount of the fuel_delay upgrade [range: 0 ~ 512, default: 5]
    I:"fuel_delay maximum amount"=5

    # Max amount of the max_power upgrade [range: 0 ~ 512, default: 16]
    I:"max_power maximum amount"=16

    # Max amount of the queue upgrade [range: 0 ~ 3, default: 3]
    I:"queue maximum amount"=3

    # Max amount of the rf upgrade [range: 0 ~ 1, default: 1]
    I:"rf maximum amount"=1

    # Max amount of the solar upgrade [range: 0 ~ 512, default: 4]
    I:"solar maximum amount"=4

    # Max amount of the speed upgrade [range: 0 ~ 448, default: 8]
    I:"speed maximum amount"=8

    # Max amount of the storage upgrade [range: 0 ~ 1, default: 1]
    I:"storage maximum amount"=1

    # Max amount of the transfer upgrade [range: 0 ~ 20, default: 6]
    I:"transfer maximum amount"=6
}


