# Configuration file

##########################################################################################################
# both
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
##########################################################################################################

both {
    B:"Should the mod be used?"=true
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings controlled client.
# Can vary from server to server.
##########################################################################################################

client {
    B:hasParticles=true
    S:tableParticles=portal
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
##########################################################################################################

enchantments {
    B:"Eternal Compass"=true
    S:"Eternal Compass-ToolTip"=
    B:Reading=true
    S:Reading-ToolTip=
    B:enchant.cofh.holding=true
    S:enchant.cofh.holding-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=Increases damage
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=Flaming arrows
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=Shooting consumes no arrows
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=Increases knockback
    B:enchantment.cluster=true
    S:enchantment.cluster-ToolTip=
    B:enchantment.consuming=true
    S:enchantment.consuming-ToolTip=
    B:enchantment.corrupting=true
    S:enchantment.corrupting-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=Extra damage
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=Extra damage to spiders, cave spiders and silverfish
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=Extra damage to undead mobs
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=Faster resource gathering while in use
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=Increases durability
    B:enchantment.educational=true
    S:enchantment.educational-ToolTip=
    B:enchantment.enderio.soulBound=true
    S:enchantment.enderio.soulBound-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=Lights the target on fire
    B:enchantment.fishingSpeed=true
    S:enchantment.fishingSpeed-ToolTip=
    B:enchantment.gravityResist=true
    S:enchantment.gravityResist-ToolTip=
    B:enchantment.greedy=true
    S:enchantment.greedy-ToolTip=
    B:enchantment.haste=true
    S:enchantment.haste-ToolTip=Usable on boots and the Thaumostatic Harness only. Makes you move faster. Very effective on Boots of the Traveller, or the Thaumostatic Harness.
    B:enchantment.impact=true
    S:enchantment.impact-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=Increases knockback
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=Mobs can drop more loot
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=Increases the drop rate of items from blocks
    B:enchantment.lootBonusFishing=true
    S:enchantment.lootBonusFishing-ToolTip=
    B:enchantment.openblocks.explosive=true
    S:enchantment.openblocks.explosive-ToolTip=
    B:enchantment.openblocks.flimflam=true
    S:enchantment.openblocks.flimflam-ToolTip=
    B:enchantment.openblocks.laststand=true
    S:enchantment.openblocks.laststand-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=Decreases the rate of air loss underwater; increases time between damage while suffocating and drowning
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=Reduces damage from all sources
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=Protection against explosion damage; reduces explosion recoil
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=Protection against fall damage
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=Protection against fire damage; fire is extinguished faster
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=Protection against damage from projectile entities
    B:enchantment.railcraft.crowbar.destruction=true
    S:enchantment.railcraft.crowbar.destruction-ToolTip=
    B:enchantment.railcraft.crowbar.implosion=true
    S:enchantment.railcraft.crowbar.implosion-ToolTip=
    B:enchantment.railcraft.crowbar.wrecking=true
    S:enchantment.railcraft.crowbar.wrecking-ToolTip=
    B:enchantment.repair=true
    S:enchantment.repair-ToolTip=Consumes vis from the local aura to repair the item with this enchantment
    B:enchantment.tfChillAura=true
    S:enchantment.tfChillAura-ToolTip=
    B:enchantment.tfFireReact=true
    S:enchantment.tfFireReact-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=Chance of dealing damage to mobs or players attacking the wearer
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=Mined blocks will drop themselves instead of the item(s) it should drop
    B:enchantment.voidtouched=true
    S:enchantment.voidtouched-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=Increases underwater mining rate
    B:enchantment.wrath=true
    S:enchantment.wrath-ToolTip=
    B:enchantment.xpboost=true
    S:enchantment.xpboost-ToolTip=
}


##########################################################################################################
# server
#--------------------------------------------------------------------------------------------------------#
# Settings controlled by server.
##########################################################################################################

server {
    B:"Are bookshelves required to do an enchantment?"=false
    I:"At when level do players need to have bookshelves?"=150
    B:"Can players disenchant items they have not enchanted?"=false
    B:"Can the table disenchant items?"=true
    B:"Can the table enchant damaged items?"=true
    B:"Can the table repair items?"=false
    B:"Disregard item type?"=false
    D:"How blast resistant is the table?"=2000.0
    D:"How long to break the table?"=5.0
    B:"Should the table have light?"=true
    I:"What is the cost factor?"=40
    I:"What is the repair factor"=20
}


