# Configuration file

settings {
    # Whether Potion ID Conflicts are supposed to be logged to the console. (Otherwise they will be logged to the DEBUG log)
    B:LogConflicts=true

    # What should be the new potion id limit (Vanilla is 32)
    I:PotionIDLimit=4096
}


