# Configuration file

general {
    # Used to control whether FalsePatternLib should check for outdated mods.
    # If you're building a public modpack, you should turn this off so that your users don't get nagged about outdated mods.
    # [default: true]
    B:ENABLE_UPDATE_CHECKER=true

    # Used to control whether FalsePatternLib should be allowed to use the internet.
    # If this is disabled, library downloads will be blocked.
    # Note that if a mod tries to download a library that is not downloaded yet, the game will crash.
    # [default: true]
    B:ENABLE_LIBRARY_DOWNLOADS=true

    # Fixes the mod options menu in-game.
    # By default, the mod options when in already in a game will show "Test1, Test2, DISABLED" in bright red.
    # This replaces that interface with the one from the main menu.
    # [default: true]
    B:IN_GAME_MOD_OPTIONS_FIX=true

    # How "loud" the config error logging should be.
    # [default: Log, possible values: [LogAndToast, None, Log]]
    S:CONFIG_ERROR_LOUDNESS=Log
}


toasts {
    # The maximum amount of toasts to show on the screen
    # [range: 1 ~ 10, default: 5]
    I:MAX_VISIBLE=5

    # The amount of empty space from the top of the screen in pixels
    # [range: 0 ~ 10000, default: 0]
    I:Y_OFFSET=0

    # Which side of the screen should toasts show up on
    # [default: Right, possible values: [Right, Left]]
    S:ALIGN=Right
}


