# Configuration file

general {
    I:"Fisherman Villager ID"=12
}


##########################################################################################################
# spawn depths
#--------------------------------------------------------------------------------------------------------#
# Each set is a minum for that size, but past their set, smaller fish can spawn.
##########################################################################################################

"spawn depths" {
    #  [range: 1 ~ 30, default: 7]
    I:"Big Min Spawn Depth"=7

    #  [range: 1 ~ 30, default: 10]
    I:"Large Min Spawn Depth"=10

    #  [range: 1 ~ 30, default: 15]
    I:"Legendary Min Spawn Depth"=15

    #  [range: 1 ~ 30, default: 4]
    I:"Medium Min Spawn Depth"=4

    #  [range: 1 ~ 30, default: 2]
    I:"Tiny-Small Min Spawn Depth"=2
}


##########################################################################################################
# spawn rates
#--------------------------------------------------------------------------------------------------------#
# Percents are relative, decreasing from 'Tiny'. If 'Tiny' has 60% chance of spawning, and 'Small' has a 50% chance, 'Small' will only spawn 20% of the time, and so on. (100% - 60% = 40%. 40% * 50% = 20%)
##########################################################################################################

"spawn rates" {
    #  [range: 1 ~ 100, default: 40]
    I:"Big Fish Spawn Rate"=40

    #  [range: 1 ~ 100, default: 30]
    I:"Large Fish Spawn Rate"=30

    #  [range: 1 ~ 100, default: 10]
    I:"Legendary Fish Spawn Rate"=10

    #  [range: 1 ~ 100, default: 90]
    I:"Medium Fish Spawn Rate"=90

    #  [range: 1 ~ 100, default: 100]
    I:"Small Fish Spawn Rate"=100

    #  [range: 1 ~ 100, default: 100]
    I:"Tiny Fish Spawn Rate"=100
}


