# Configuration file

general {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General settings for configuring the mod.
    ##########################################################################################################

    general {
        # Define a blacklist of blocks that can't be used as a frame in a tank.
        # Registry names need to be used, example: minecraft:stone, minecraft:wool@3
        S:"Block Blacklist" <
         >

        # When enabled, this will turn the blacklist into a whitelist.
        B:"Block Blacklist Invert"=false

        # Define the maximum number of air blocks a tank can have.
        # 2197 have been tested to not cause any noticeable lag.
        # Min: 3
        # Max: 2197
        I:"Maximum Air Blocks"=2197

        # How many millibuckets can each block within the tank store?
        # (Has to be higher than 1!)
        # Min: 1
        # Max: 2147483647
        I:"mB Per Virtual Tank"=16000
    }

}


