# Configuration file

general {
    # Define the maximum size a tank can have. This includes the whole tank, including the frame!
    # Minimum: 3, Maximum: 32
    # Default: 13
    I:maxSize=13

    # How many millibuckets can each block within the tank store? (Has to be higher than 1!)
    # Default: 16000
    I:mbPerVirtualTank=16000

    # At which temperature should a tank start burning on a random occasion? (Has to be positive!)
    # This only applies to blocks that are flammable, like Wood or Wool.
    # Default: 1300 (Temperature of Lava)
    # 0 to disable.
    I:minimumBurnableTemperature=1300

    # Should tank capacity only count the interior air blocks, rather than including the frame?
    # Default: true
    B:onlyCountInsideCapacity=false

    # Do you want to set the world on fire? Or do you just want to create a flame in my heart?
    # (Don't worry, this is harmless :))
    # Default: true
    B:setWorldOnFire=true

    # Should tanks with leaky materials start leaking randomly?
    # Default: true
    B:shouldTanksLeak=true

    # Declare which mode you want the tank frames to be.
    # 0 = Only the same block with the same metadata is allowed
    # 1 = Only the same block is allowed, but the metadata can be different
    # 2 = Allow any block
    # Default: 1
    I:tankFrameMode=1

    # Should tanks only render the inside as fluid or extend to the frame-sides?
    # Default: true
    B:tanksRenderInsideOnly=true

    # Should the mod send anonymous usage statistics to GameAnalytics?
    # This allows us to evaluate interesting statistics :)
    # Default: true
    B:usageStatistics=true
}


