# Configuration file

energy {
    # the storage capacity of Basic Flux Storage [range: 0 ~ 2147483647, default: 256000]
    I:"Basic Storage Capacity"=256000

    # the transfer rate of Basic Flux Storage [range: 0 ~ 2147483647, default: 6400]
    I:"Basic Storage Transfer"=6400

    # the default transfer limit of a flux connection [range: 0.0 ~ 9.223372E18, default: 256000.0]
    S:"Default Transfer Limit"=256000.0

    # the storage capacity of Gargantuan Flux Storage [range: 0 ~ 2147483647, default: 128000000]
    I:"Gargantuan Storage Capacity"=128000000

    # the transfer rate of Gargantuan Flux Storage [range: 0 ~ 2147483647, default: 256000]
    I:"Gargantuan Storage Transfer"=256000

    # the multiplier god mod - for how much energy is transfer compared to normal rate [range: 1 ~ 16, default: 10]
    I:"God Mode Multiplier"=10

    # the storage capacity of Herculean Flux Storage [range: 0 ~ 2147483647, default: 12800000]
    I:"Herculean Storage Capacity"=12800000

    # the transfer rate of Herculean Flux Storage [range: 0 ~ 2147483647, default: 12800]
    I:"Herculean Storage Transfer"=12800

    # the multiplier for hyper mode - for how much energy is transfer compared to normal rate [range: 1 ~ 16, default: 4]
    I:"Hyper Mode Multiplier"=4
}


settings {
    # prevents the use of God Mode [default: false]
    B:"Ban God Mode"=false

    # prevents the use of Hyper Mode [default: false]
    B:"Ban Hyper Mode"=false
}


