# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Fine-tune render distance options
##########################################################################################################

general {
    # Render distance will never go below this value (in blocks) [range: 0 ~ 1024, default: 8]
    I:"Minimum Render Distance"=64

    # Render distance is based on the median value of this many previous frame render times. Higher values are more computationally expensive but result in less flicker caused by render spikes. [range: 1 ~ 64, default: 4]
    I:"Render Buffer Frame Window"=4

    # Render distance will not update if the calculated range is within this distance tolerance (in blocks) [range: 1 ~ 1024, default: 2]
    I:"Render Distance Update Tolerance"=2

    # Dynamic rendering calibration value. For a frame rate of X FPS, entities and tile entities only render within a view frustum of volume X times this value.
    # 120 corresponds to about a render distance of 24 at the default Minecraft FOV and aspect ratio and at 60 FPS.
    # Set to lower values to preserve higher frame rate, and higher values to render more things. [range: 1 ~ 10000, default: 120]
    I:"Render Frustum Volume Per Frame Rate"=120

    # Render distance is only calculated at intervals of this many milliseconds. Good for lowering both computation and flicker. [range: 1 ~ 100000, default: 200]
    I:"Update Interval"=200
}


##########################################################################################################
# miscellaneous
#--------------------------------------------------------------------------------------------------------#
# Debug messages and version checker live here
##########################################################################################################

miscellaneous {
    # Set this to false to deacactivate the in-game config GUI, in case it conflicts with other mods. [default: true]
    B:"Allow in-game config access"=true

    # Prints diagnostic messages to the console [default: false]
    B:"Debug Message"=false

    # Displays a client-side chat message on login if there's an update available. If the URL pinged by the checker happens to be down, your game will freeze for a while on login. Turn this on at your own risk. [default: false]
    B:"Version Checker"=false
}


##########################################################################################################
# mixins
#--------------------------------------------------------------------------------------------------------#
# Choose which things to render-cull
##########################################################################################################

mixins {
    # Apply render culling to entities [default: true]
    B:"Cull Entities"=false

    # Apply render culling to tile entities [default: true]
    B:"Cull Tile Entities"=true
}


