# Configuration file

"damage values" {
    # Maximum damage that projectile of Tome of Primal Chaos can deal. Damage dealt varies between 1 and this value for each hit. [range: 0.0 ~ 32000.0, default: 100.0]
    S:chaosTomeDamageCap=100.0

    # Maximal damage that can be dealt by projectiles of Crimson Spell. [range: 0.0 ~ 32000.0, default: 100.0]
    S:crimsonSpellDamageMAX=100.0

    # Minimal damage that can be dealt by projectiles of Crimson Spell. [range: 0.0 ~ 32000.0, default: 42.0]
    S:crimsonSpellDamageMIN=42.0

    # How much damage inflicts direct hit of Babylon Weapons, summoned by Apotheosis. [range: 0.0 ~ 32000.0, default: 100.0]
    S:damageApotheosisDirect=100.0

    # How much damage receive entities within impact zone of Babylon Weapons, summoned by Apotheosis. [range: 0.0 ~ 32000.0, default: 75.0]
    S:damageApotheosisImpact=75.0

    # How much damage inflicts direct hit of Lunar Flare. [range: 0.0 ~ 32000.0, default: 72.0]
    S:damageLunarFlareDirect=72.0

    # How much damage receive entities within impact zone of Lunar Flare. [range: 0.0 ~ 32000.0, default: 40.0]
    S:damageLunarFlareImpact=40.0

    # How much damage deal lightning bolts of Thunderpeal's electrical orbs. [range: 0.0 ~ 32000.0, default: 16.0]
    S:damageThunderpealBolt=16.0

    # How much damage inflicts direct hit of Thunderpeal's electrical orbs. [range: 0.0 ~ 32000.0, default: 24.0]
    S:damageThunderpealDirect=24.0

    # Default damage dealt by projectiles of Eldritch Spell. [range: 0.0 ~ 32000.0, default: 32.5]
    S:eldritchSpellDamage=32.5

    # Damage dealt by projectiles of Eldritch Spell, while it is used in Outer Lands. [range: 0.0 ~ 32000.0, default: 100.0]
    S:eldritchSpellDamageEx=100.0

    # Maximal damage that can be dealt by charges of Nuclear Fury. [range: 0.0 ~ 32000.0, default: 32.0]
    S:nuclearFuryDamageMAX=32.0

    # Minimal damage that can be dealt by charges of Nuclear Fury. [range: 0.0 ~ 32000.0, default: 24.0]
    S:nuclearFuryDamageMIN=24.0

    # Maximum damage The Paradox can deal. Damage dealt varies between 1 and this value for each hit. [range: 0.0 ~ 32000.0, default: 200.0]
    S:paradoxDamageCap=200.0

    # Maximal damage that can be dealt by lightning attack of Tome of Predestiny. [range: 0.0 ~ 32000.0, default: 40.0]
    S:telekinesisTomeDamageMAX=40.0

    # Minimal damage that can be dealt by lightning attack of Tome of Predestiny. [range: 0.0 ~ 32000.0, default: 16.0]
    S:telekinesisTomeDamageMIN=16.0
}


"generic config" {
    # Mining speed boost for Ethereal Mining Charm. 3.0 means that it is boosted by 300%. [range: 0.0 ~ 32000.0, default: 3.0]
    S:advancedMiningCharmBoost=3.0

    # Block reach increase for Ethereal Mining Charm. [range: 0.0 ~ 32.0, default: 4.0]
    S:advancedMiningCharmReach=4.0

    # Whether or not Tome of Predestiny should be handled in alternative way, that uses vanilla .onUsingTick(). Basically, it just adds charging animation and slows player down while casting. [default: false]
    B:altTelekinesisAlgorithm=false

    # Damage Reduction for Ancient Aegis. 1.0 equals 100% reduction, 0.0 - 0%. [range: 0.0 ~ 1.0, default: 0.25]
    S:ancientAegisDamageReduction=0.25

    # Multiplier for Vis generation rate of Nebulous Core. [range: 0.0 ~ 32000.0, default: 1.0]
    S:arcanumGenRate=1.0

    # Damage cap for Ring of The Seven Suns. Any attacks that exceed this amount of damage will be completely negated while wearing it. [range: 0.0 ~ 32768.0, default: 100.0]
    S:darkSunRingDamageCap=100.0

    # Chance to deflect enemy's attack back to it, while wearing Ring of The Seven Suns. 1.0 equals 100% chance, 0.0 - 0%. [range: 0.0 ~ 1.0, default: 0.2]
    S:darkSunRingDeflectChance=0.2

    # Enables the cooldown on Ring of The Seven Sun's healing effect, so standing in fire or lava wouldn't replenish your health insanely fast. WARNING: This config option is experimental, only touch it if you really want this. [default: false]
    B:darkSunRingHealLimit=false

    # Whether or not Deific Amulet should provide immunity to status effects. Note, that it includes buffs as well as debuffs. [default: true]
    B:deificAmuletEffectImmunity=true

    # Whether or not Deific Amulet should provide prolonged invincibility frames. [default: true]
    B:deificAmuletInvincibility=true

    # Allows you to prevent Deific Amulet from dispelling positive potion effects, so that it would only cure debuffs. [default: false]
    B:deificAmuletOnlyNegatesDebuffs=false

    # Whether or not False Justice should be enabled. Note that it will only remove respective research, so it would be impossible to create this relic legally - it won't remove existing copies from world or prevent it's spawning from Creative Mode. [default: true]
    B:falseJusticeEnabled=true

    # Maximal possible cooldown (in seconds) for triggering Tome of Broken Fates' death prevention effect. Setting this to 0 will disable cooldown entirely. [range: 0 ~ 32768, default: 90]
    I:fateTomeCooldownMAX=90

    # Minimal possible cooldown (in seconds) for triggering Tome of Broken Fates' death prevention effect. [range: 0 ~ 32768, default: 30]
    I:fateTomeCooldownMIN=30

    # Defines the radius in which anti-abuse system of Guardian of Gaia checks for liquids. Set to 0 to disable it... and proclaim yourself as wuss. [range: 0.0 ~ 1024.0, default: 16.0]
    S:guardianAntiAbuseRadius=16.0

    # Defines the radius in which players receive chat notification upon force despawn of Guardian of Gaia (when it's anti-abuse system triggers). Set to 0 to disable notification. Set to any negative value for message to be sent to ALL players that are present in the world at the moment. [range: -32768.0 ~ 32768.0, default: 64.0]
    S:guardianNotificationRadius=64.0

    # Whether or not Dimensional Mirror should be capable of teleporting player across dimensions. If this is set to false, player must reside in the dimension of saved location in order to teleport to it. [default: true]
    B:interdimensionalMirror=true

    # Enables super secret memes. You are not prepared! [default: false]
    B:memesEnabled=false

    # Mining speed boost for Mining Charm. 1.0 means that it is boosted by 100%. [range: 0.0 ~ 32000.0, default: 1.0]
    S:miningCharmBoost=1.0

    # Block reach increase for Mining Charm. [range: 0.0 ~ 32.0, default: 2.0]
    S:miningCharmReach=2.0

    # Chance to dodge attack by teleporting player from it for Nebulous Core. 1.0 equals 100% chance, 0.0 - 0%. [range: 0.0 ~ 1.0, default: 0.4]
    S:nebulousCoreDodgeChance=0.4

    # Vis production multiplier for Devourer of The Void. [range: 0.0 ~ 32000.0, default: 1.0]
    S:obeliskDrainerVisGen=1.0

    # How much items you can add into list of single Keystone of The Oblivion before you would be unable add nothing more. This limit exists to prevent players from occasional or intentional abusing, since multiple keystones with huge lists (like tens of thousands of items) may cause significant performance impact. [range: 0 ~ 2048, default: 64]
    I:oblivionStoneHardCap=64

    # Controls the amount of items that can be added into list of Keystone of The Oblivion, before displayble list in Ctrl tooltip stops expanding and becomes unreadable. You may want to increase or decrease it, depending on your screen resolution. [range: 0 ~ 2048, default: 28]
    I:oblivionStoneSoftCap=28
    S:outerLandsAntiAbuseDamage=40000.0

    # Whether or not anti-abuse system for Outer Lands should be enabled. Disable if you like cheating or don't want it for some other reason. [default: true]
    B:outerLandsAntiAbuseEnabled=true

    # Checkrate for Outer Lands anti-abuse system, if it's enabled. Measured in ticks. Setting this value to 20 means that it would check each player once in 20 ticks, or once per second. [range: 1 ~ 1024000, default: 20]
    I:outerLandsCheckrate=20

    # Multiplier for probability of revealing forgotten knowledge. This multiplies both inspection frequency and individual chance for each check, so increasing it more than few times over is highly unrecommended. [range: 0.001 ~ 32.0, default: 1.0]
    S:revelationModifier=1.0

    # Checkrate for Shiny Stone effects. The greater it is, the less frequently health regen would happen, and the more time acceleration would take. WARNING: This config option is experimental, only touch it if you really want this. [range: 1 ~ 2048, default: 4]
    I:shinyStoneCheckrate=4

    # Divisor, used during damage calculations by Edict of a Thousand Damned Souls. Setting this value to 10 basically means that most of the time it will drain 1/10 of entity's max health per attack. [range: 0.0 ~ Infinity, default: 10.0]
    S:soulTomeDivisor=10.0

    # In a perfect world, this option would disable Tome of Predestiny's ability to affect players... BUT IT'S A WRONG WORLD BRO, AHAHAHAHAHAHAHAHAAHAHAHAHAHAH [default: true]
    B:telekinesisOnPlayers=true

    # Whether or not update notifications should be enabled. I have no idea why someone may not want to behold greatness of new versions, but alright, it's all up to you. [default: true]
    B:updateNotificationsEnabled=false

    # Whethere or not Grimoire of The Abyss should be enabled. Note that it will only remove respective research, so it would be impossible to create this relic legally - it won't remove existing copies from world or prevent it's spawning from Creative Mode. [default: true]
    B:voidGrimoireEnabled=true
}


##########################################################################################################
# justice handler overrides
#--------------------------------------------------------------------------------------------------------#
# Allows you to override item triggers for any research classified as forgotten knowledge.
# 
# Your overrides should be formatted like this: ResearchKey[modid:itemname:meta, modid:itemname:meta, ..., modid:itemname:meta]
# 
# Notice: there are no optional parameters, even metadata should be always specified - even though it makes no difference
# for 'damageable' items, like Diamond Sword or Iron Helmet. The Thaumcraft alone decides what to do with one or another
# type of item, but items should always be passed like ItemStack with defined metadata - so here it is.
# If you leave research key with no items specified (for instance: 'AncientAegis[]'), it would simply be unlocked without
# scanning any items, but that will still take some time and you will receive respective notification upon unlocking.
# 
# Comlete list of forgotten knowledge research keys is always printed into log file upon post-initialization.
# Needless to say, setting triggers for researches that are not classified as forgotten knowledge won't have any effect.
# 
# If you are using MineTweaker, you may prefer using integration features that were designed for it.
# You can read about them here: https://github.com/Extegral/Forgotten-Relics/wiki/MineTweaker-Integration
# 
# If you have no idea what the Justice Handler is, read this article: 
# https://github.com/Extegral/Forgotten-Relics/wiki/Research-Trigger-System
##########################################################################################################

"justice handler overrides" {
    # Here is some working expamles. You may want to replace them with your own ones if you enabled overriding.
    S:justiceHandlerOverrides <
        EldritchSpell[Thaumcraft:ItemEldritchObject:2]
        AdvancedMiningCharm[Botania:manaResource:5, ForgottenRelics:ItemMiningCharm:0, minecraft:diamond_pickaxe:0]
        TerrorCrown[minecraft:ender_eye:0, minecraft:nether_star:0, minecraft:golden_helmet:0, Botania:manaResource:15]
     >

    # Whether or not overriding triggers by config should be enabled. If it's disabled, no overrides specified here would take effect. [default: false]
    B:justiceOverridingEnabled=false
}


"thaumcraft overrides" {
    # Determines how fast notifications scroll downwards. Overrides respective option in default Thaumcraft config. [range: 0 ~ 32768, default: 2000]
    I:notificationDelay=2000

    # How much Aer and Terra centi-vis (0.01 vis) it costs to reacharge a single unit of Runic Shield. Overrides respective option in default Thaumcraft config. [range: 0 ~ 32768, default: 10]
    I:runicCost=10

    # How many game ticks pass after Runic Shield has been reduced to zero before it can start recharging again. Overrides respective option in default Thaumcraft config. [range: 0 ~ 32768, default: 40]
    I:runicRechargeDelay=40

    # How many milliseconds pass between Runic Shield recharge ticks. Setting this value lower than 50 is not recommended. Overrides respective option in default Thaumcraft config. [range: 0 ~ 32768, default: 750]
    I:runicRechargeSpeed=750
}


"vis costs" {
    # Vis cost multiplier for Apotheosis. [range: 0.0 ~ 1024.0, default: 1.0]
    S:apotheosisVisMult=1.0

    # Vis cost multiplier for Tome of Primal Chaos. [range: 0.0 ~ 1024.0, default: 1.0]
    S:chaosTomeVisMult=1.0

    # Vis cost multiplier for Crimson Spell. [range: 0.0 ~ 1024.0, default: 1.0]
    S:crimsonSpellVisMult=1.0

    # Vis cost multiplier for Deific Amulet. [range: 0.0 ~ 1024.0, default: 1.0]
    S:deificAmuletVisCost=1.0

    # Vis cost multiplier for Tome of Discord. [range: 0.0 ~ 1024.0, default: 1.0]
    S:discordTomeVisCost=1.0

    # Vis cost multiplier for Dormant Nebulous Core (applies in the moment of transormation; final amount of Vis required for re-awakening depends on this.) [range: 0.0 ~ 1024.0, default: 1.0]
    S:dormantArcanumVisMult=1.0

    # Vis cost multiplier for Eldritch Spell. [range: 0.0 ~ 1024.0, default: 1.0]
    S:eldritchSpellVisCost=1.0

    # Vis cost multiplier for Tome of Broken Fates. [range: 0.0 ~ 1024.0, default: 1.0]
    S:fateTomeVisCost=1.0

    # Vis cost multiplier for Tome of Lunar Flares. [range: 0.0 ~ 1024.0, default: 1.0]
    S:lunarFlaresVisCost=1.0

    # Vis cost multiplier for Nuclear Fury. [range: 0.0 ~ 1024.0, default: 1.0]
    S:nuclearFuryVisCost=1.0

    # Vis cost multiplier for Amulet of The Oblivion. [range: 0.0 ~ 1024.0, default: 1.0]
    S:oblivionAmuletVisCost=1.0

    # Vis cost multiplier for Edict of Eternal Banishment. [range: 0.0 ~ 1024.0, default: 1.0]
    S:overthrowerVisCost=1.0

    # Vis cost multiplier for Edict of a Thousand Damned Souls. [range: 0.0 ~ 1024.0, default: 1.0]
    S:soulTomeVisCost=1.0

    # Vis cost multiplier for Tome of Predestiny. [range: 0.0 ~ 1024.0, default: 1.0]
    S:telekinesisTomeVisCost=1.0

    # Vis cost multiplier for Thunderpeal. [range: 0.0 ~ 1024.0, default: 1.0]
    S:thunderpealVisCost=1.0

    # Vis cost multiplier for Grimoire of The Abyss. [range: 0.0 ~ 1024.0, default: 1.0]
    S:voidGrimoireVisMult=1.0

    # Vis cost multiplier for Runic Stone. [range: 0.0 ~ 1024.0, default: 1.0]
    S:weatherStoneVisCost=1.0
}


