# Configuration file

client {
    # If true the EScanner text will be smaler and more text can be rendered, using the default font otherwise. [default: true]
    B:allow_uncide_font=true

    # Synchronize and show: Lasers from turrets [default: true]
    B:doEntityEaterSync=true

    # If true, will add all BLueprint research item to the Futurepack Tab. [default: false]
    B:enable_blueprints_in_creative=false

    # Show custom loading Screen [default: false]
    B:futurepackStartMenu=false

    # This is for Mantes and BTM [default: [{res:"minecraft:grass",snowy:false}]]
    S:qick_holograms <
        {res:"minecraft:grass",snowy:false}
     >

    # Synchronize and show: Itemflow in Pipes [default: true]
    B:renderPipeItems=true
}


common {
    # The saturation added after eating an Erse [range: 0.1 ~ 10.0, default: 0.3]
    S:erse_food_saturation=0.3

    # The Amount of food when eating an Erse [range: 1 ~ 20, default: 3]
    I:erse_food_value=3

    # Should smelt recipes allways be added for Futurepack materials. Only use this if Dust to Ingot recipes are missing! [default: false]
    B:forceSmeltRecipes=false

    # Matching Algorithm to determine which Items are repairable by Recyclers 'Nanostructure Manipulator' < 0 = Lazy, 1 = Default, 2 = Strict > [range: 0 ~ 2, default: 1]
    I:recyclerRepairBehavior=1

    # Number of blocks supported by one thruster [range: 0 ~ 100000, default: 101]
    I:thrusterBlockMoveCount=101
}


intern {
    I:version=1
}


magnetism {
    # Magnetic boots
    S:boots=minecraft:iron_boots,minecraft:chainmail_boots

    # Magnetic chestplates
    S:chestplates=minecraft:iron_chestplate,minecraft:chainmail_chestplate

    # Magnetic helmets
    S:helmets=minecraft:iron_helmet,minecraft:chainmail_helmet

    # Magnetic leggings
    S:leggings=minecraft:iron_leggings,minecraft:chainmail_leggings
}


research {
    # This will disable the research feature so everybody will have access to all researches from the very start. [default: false]
    B:disable_researching=false

    # Factor to manipulate requirements of all Researches (Neon-Energy Bar). This entry should have the same value on server and client! [range: 1.0E-6 ~ 1000.0, default: 1.0]
    S:neon_factor=1.0

    # Factor to manipulate requirements of all Researches (Support Bar). This entry should have the same value on server and client! [range: 0.001 ~ 100.0, default: 1.0]
    S:support_factor=1.0

    # Factor to manipulate requirements of all Researches (Time Bar). This entry should have the same value on server and client! [range: 0.001 ~ 100.0, default: 1.0]
    S:time_factor=1.0

    # Factor to manipulate requirements of all Researches (Experience Bar). This entry should have the same value on server and client! [range: 0.001 ~ 100.0, default: 1.0]
    S:xp_factor=1.0
}


server {
    # Disables stairs and fence gates to save IDs [default: false]
    B:BTM=false

    # If set to true, the claime will no longer load the chunk it is placed in. [default: false]
    B:disable_claime_chunkloading=false

    # This disables the 'You dont know how to use this machine' message, and you can open the gui. [default: false]
    B:disable_machine_lock=false

    # This disables the research checking ins die the researcher. If enabled you can research a blueprint, even if this would not be possible. [default: false]
    B:disable_research_check=false

    # If set to true you can no longer pickup spawner with the spawner chest. Crafting and researching tt is still possible. [default: false]
    B:disable_spawnerchest=false

    # If set to true, the Miner will no longer load itself [default: false]
    B:disbale_miner_chunkloading=false

    # This will force the ingame netowrk (network cables) too use an extra thread, thus improving performance. This will most likely crash SpongeForge, so be carefull (Will not corrupt your worlds). [default: false]
    B:enforce_extra_thread_for_network=false

    # Disable this to prevent glowmelows to fall down after they are fully grown. [default: true]
    B:glowmelow_drop=true

    # CHange this if you dont use the vanilla overworld as your default dimension. This will prevent players from flying to the dim 0 with a spaceship [range: -2147483648 ~ 2147483647, default: 0]
    I:overworld_dimension=0

    # A Player must wait this time (in ms) until he can jump with a spaceship again. This prevents griefers from attacking servers. [range: 1 ~ 2147483647, default: 60000]
    I:spacetravelCooldown=60000

    # If false the player will not receive a note a the start on a world [default: true]
    B:spawn_note_enabled=true
}


sound {
    # This is the volume of the airlock [range: 0.0 ~ 2.0, default: 1.0]
    D:volume_airlock=1.0

    # This is the volume of the deepcore miner [range: 0.0 ~ 2.0, default: 1.0]
    D:volume_deepcoreminer=1.0

    # This is the volume of the electro magnet [range: 0.0 ~ 2.0, default: 1.0]
    D:volume_emagnet=1.0

    # This is the volume of the T0 generator [range: 0.0 ~ 2.0, default: 1.0]
    D:volume_generator=1.0

    # This is the volume of the optibench [range: 0.0 ~ 2.0, default: 1.0]
    D:volume_optibench=1.0

    # This is the volume of the partpress [range: 0.0 ~ 2.0, default: 1.0]
    D:volume_partpress=1.0
}


worldgeneration {
    # Quantity of Bauxite Ore [range: 0 ~ 25, default: 7]
    I:bauxiteOre=0

    # Quantity of Bedrock Rifts [range: 0 ~ 25, default: 1]
    I:bedrockRift=1

    # Heigth for Bedrockrift: Should be equal to flat bedrock heigth (if used) [range: 0 ~ 256, default: 1]
    I:bedrockRiftHeight=1

    # A blacklist to stop bauxit ore from spawning in dimensions [default:[0]]
    I:bl_bauxit_ore <
     >

    # A blacklist to stop copper ore from spawning in dimensions [default:[0]]
    I:bl_copper_ore <
     >

    # A blacklist to stop magnetite ore from spawning in dimensions [default:[0]]
    I:bl_magntite_ore <
     >

    # A blacklist to stop tec dungeon spawn in dimensions. [default:[0]]
    I:bl_tec_dungeons <
        1
        2
     >

    # A blacklist to stop tin ore from spawning in dimensions [default:[0]]
    I:bl_tin_ore <
     >

    # A blacklist to stop zinc ore from spawning in dimensions [default:[0]]
    I:bl_zinc_ore <
     >

    # Quantity of Menelaus Coal Ore [range: 0 ~ 25, default: 10]
    I:coalOreM=10

    # Quantity of Copper Ore [range: 0 ~ 25, default: 10]
    I:copperOre=0

    # Quantity of Menelaus Copper Ore [range: 0 ~ 25, default: 6]
    I:copperOreM=6

    # The amount erse generation  loops per chunk. If greater then one it will run mutliple times, smaler then one will result in percentage per chunk. Keep in mind erse will only spawn if there is the tall grass ( not the grass block, not the 2-block tall grass) [range: 0.0 ~ 100.0, default: 2.0]
    S:erse_count=2.0

    # Chance of Alutin Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_alutin=5

    # Chance of Bioterium Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_bioterium=5

    # Chance of Glowtite Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_glowtite=5

    # Chance of Neon Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_neon=5

    # Chance of Retium Holes in Percent [range: 0 ~ 100, default: 5]
    I:hole_retium=5

    # Distance in Chunks ( so *16 for block coords) around the spawn were no huge dungeons will spawn. [range: 0 ~ 2147483647, default: 0]
    I:hugeDungeon_mindis=0

    # Chance of a huge Tecdungeon to spawn in a chunk [range: 0.0 ~ 0.1, default: 0.0012]
    S:hugeDungeon_spawnrate=0.0012

    # Quantity of Magnetite Ore [range: 0 ~ 25, default: 5]
    I:magnetiteOre=5

    # Quantity of Menelaus Quartz Ore [range: 0 ~ 25, default: 8]
    I:quartzOreM=8

    # Distance in Chunks ( so *16 for block coords) around the spawn were no tec dungeons will spawn. [range: 0 ~ 2147483647, default: 0]
    I:tecDungeon_mindis=0

    # Chance of a normal Tecdungeon to spawn in a chunk [range: 0.0 ~ 0.2, default: 0.00667]
    S:tecDungeon_spawnrate=0.00667

    # Quantity of Tin Ore [range: 0 ~ 25, default: 10]
    I:tinOre=0

    # A whitelist for enabling alutin crystal caves in other dimensions. [default:[0]]
    I:wl_alutincave <
        0
     >

    # A whitelist for enabling bioterium crystal caves in other dimensions. [default:[0]]
    I:wl_bioterium_cave <
        74
     >

    # A whitelist for enabling glowtite crystal caves in other dimensions. [default:[0]]
    I:wl_glowtite_cave <
        73
     >

    # A whitelist for enabling huge dungeon spawn in other dimensions. [default:[0]]
    I:wl_huge_dungeons <
        0
     >

    # A whitelist for enabling neon crystal caves in other dimensions. [default:null]
    I:wl_neon_cave <
        0
     >

    # A whitelist for enabling retium crystal caves in other dimensions. [default:[0]]
    I:wl_retium_cave <
        73
     >

    # Quantity of Zinc Ore [range: 0 ~ 25, default: 10]
    I:zincOre=10
}


