# Configuration file

general {
    # Don't register any items or blocks. If set to true on a server,
    # Fruit Phone will not be required to connect to the server. If
    # set to true on a client, Fruit Phone will pretend you're
    # wearing glasses at all times. Since this disables all of Fruit
    # Phone's items, if you try to enable this on the client and
    # connect to a server with it disabled, you will get a 'Fatally
    # missing blocks and items' error and will not be able to connect.
    # 
    # Not required to connect to servers that don't have Fruit
    # Phone. The mod will pretend you're wearing glasses when
    # connected to servers that lack the mod.
    # 
    # If you just want to have the mod pretend you're wearing Fruit
    # Glass at all times, use /gamerule fruitphone:alwaysOn true
    # 
    #  [default: false]
    B:optional=false

    # If true and Waila is installed, Fruit Phone will disable it and
    # claim all Waila requests. [default: true]
    B:overwriteWaila=false
}


##########################################################################################################
# glasses
#--------------------------------------------------------------------------------------------------------#
# Configuration for the glasses overlay. This can be configured ingame much more easily with the Power Drill.
##########################################################################################################

glasses {
    # The gravity for the glasses overlay. [default: north_west]
    S:gravity=north

    # The maximum height for the glasses overlay, as a percentage of the screen height [range: 0.0 ~ 100.0, default: 66.666664]
    S:maxHeight=33.333335876464844

    # The maximum width for the glasses overlay, as a percentage of the screen width [range: 0.0 ~ 100.0, default: 33.333332]
    S:maxWidth=50.0

    # The scale for the glasses overlay, as a percentage of the default [range: 0.0 ~ 100000.0, default: 100.0]
    S:scale=100.0

    # The X offset for the glasses overlay, dependent on gravity [range: 0 ~ 65535, default: 10]
    I:xOffset=0

    # The Y offset for the glasses overlay, dependent on gravity [range: 0 ~ 65535, default: 10]
    I:yOffset=10
}


