# Configuration file

general {
    # Blocks that will fall and break into items when hitting a non-solid block. Format: modid:name [default: [minecraft:gravel]]
    S:"Gravel Blocks" <
        minecraft:gravel
     >

    # If set to true, GravelMiner will only be active for users who install the mod on their clients. (for use in servers) [default: true]
    B:"Is Opt In"=true

    # The delay in client ticks before the torch should be placed after breaking a block below gravel. Increase if torch is placed too early, decrease if torch is placed too late. (for use on clients) [range: 2 ~ 20, default: 8]
    I:"Torch Delay"=8

    # Blocks that are non-solid and can be destroyed in a single hit. Format: modid:name (for use on clients) [default: [minecraft:torch]]
    S:"Torch Items" <
        minecraft:torch
     >
}


