# Configuration file

general {
    # Master Volume for all Backpack Items that play Sounds from IC2. Please do not change it. If you really want to then do a number between 0-1
    D:"Backpack Sound Volume"=1.0

    # If this config is true then you can use the ChargePad UpgradeKit on any side
    B:"ChargePads AnySide Upgrade"=false

    # Enables the Nei Plugin to add extra information to the Cropseeds which make it easier for you to Breed Crops
    B:"Crop Breeding Helper"=true

    # Disables Bronze Tools (Not wrench) and Armor for crafting/loot/CreativeTabs
    B:"Disable Bronze Tools"=false
    B:"Display All No IC2 ExpItems"=false

    # Allows you to Change the Electric Cost per Damage of the Armor
    D:"Electric Armor Cost Modifier"=1.0

    # Balacing Config. Allows you to decrease/Increase the Quantum&Nano Armor Damage Absorbtion 1F = Standart (100% of their Capabilities) 0.1F or smaller (10% of their Capabilities) limit up does not exsist
    D:"Electric Armor Damage Absorbtion"=1.0

    # Enables that Electric Damage (including the downsides) charges Electric Armor
    B:"Enable Electric Armor Ability"=true

    # Enables the Recipes for the Enriched Uranium
    B:"Enable Enriched Uranium"=true

    # Enables that ic2Exp plates get their classic ingot version in the oredictionary. It can break the balance with other mods. Enable at own choice. (Its there for a reason)
    B:"Enable Plates = Ingots"=false

    # Master Volume for all Items that play Sounds in your Hand from IC2. Please do not change it. If you really want to then do a number between 0-1
    D:"Equippet Item Sound Volume"=1.0

    # IC2 Keybinding Detection is active even if a gui is Open. (Flying while having Inv Open) set to true to dissable that
    B:"Gui Dissables Keybinding"=false

    # To make the Creation of Enriched Uran Rods harder
    B:"Harder Enriched Uran"=false

    # IC2 Easy mode is simply IC2 without explosions. But if you try to Overpower machines/Storages then they stop accepting power, some addons get effected by that maybe!
    B:"IC2 Easy Mode"=false

    # This config allows you to skip the Waila Config. If something is not working correctly. Note this will ignore you Waila Settings
    B:"Ignore Waila Config"=false

    # Config for None IC2 Wrenches to be lossless Mode. By default disabled!
    B:"Lossless None IC2 Wrenches"=true

    # Allows to add Boots to the magnitzer registry
    S:"Magnetizer Boots Registry"=minecraft:iron_boots, minecraft:chainmail_boots, minecraft:golden_boots, GalaxySpace:item.cobalt_boots, AWWayofTime:boundBoots, EnderIO:item.darkSteel_boots, GalaxySpace:item.spacesuit_boots, MekanismTools:OsmiumBoots, MekanismTools:SteelBoots, OpenComputers:hoverBoots, PortalGun:LongFallBoots, ThermalFoundation:armor.bootsNickel, aether_legacy:gravitite_boots, aether_legacy:zanite_boots, Thaumcraft:ItemBootsThaumium

    # Master Volume that you can change ingame. Please do not change it. If you really want to then do a number between 0-1
    D:"Master Sound Volume"=0.5

    # Sets the Max Ticks per Tick, Min: 10
    I:"Max Reactor Planner Ticks"=1000

    # This Counter Effects how long it can max take (it will be randomly shuffeld) that the wind is changing. Default: Every 5 Min (6000 Ticks)
    I:"Max Wind Change Delay"=6000

    # The amount you get when you convert EU to RF
    I:RF_for_EU=4

    # The amount you need to convert RF to EU
    I:RF_per_EU=40

    # Every Recipe that would require Refined Iron now needs Steel, also effects addons. Keep that in mind
    B:"Steel Mode"=false

    # Master Volume for all Machines from IC2. Please do not change it. If you really want to then do a number between 0-1
    D:"Tile Sound Volume"=1.0

    # The Custom Wind Simulator calculates Windspeed definded on Random Caclulations You can effect the time how often it will change.
    B:"Use Custom Wind Simulator"=true

    # This allows you to setup your Block/ItemIDs by yourself. That is only a feature to prevent world corruption. Dissabled by default. (Forge will kill me for that)
    B:"enable ID selfcontroll"=false

    # Enable burning of scrap in a generator
    B:enableBurningScrap=true

    # Enable crafting of buckets out of tin
    B:enableCraftingBucket=true

    # Enable crafting of Industrial Credit coins
    B:enableCraftingCoin=true

    # Enable crafting of glowstone dust out of dusts
    B:enableCraftingGlowstoneDust=true

    # Enable crafting of gunpowder out of dusts
    B:enableCraftingGunpowder=true

    # Enable crafting of ITNT
    B:enableCraftingITnt=true

    # Enable crafting of nukes
    B:enableCraftingNuke=true

    # Enable crafting of rails out of bronze
    B:enableCraftingRail=true

    # Enable logging of players when they remove a machine using a wrench
    B:enableLoggingWrench=true

    # Enable usage of lapotron crystals on miners
    B:enableMinerLapotron=true

    # Enable activation of the quantum leggings' speed boost when sprinting instead of holding the boost key
    B:enableQuantumSpeedOnSprint=true

    # Enable hiding of secret recipes in CraftGuide/NEI
    B:enableSecretRecipeHiding=true

    # Enable calculation of inventory weight when going through a teleporter
    B:enableTeleporterInventory=false

    # Enable generation of copper in the world
    B:enableWorldGenOreCopper=false

    # Enable generation of tin in the world
    B:enableWorldGenOreTin=false

    # Enable generation of uranium in the world
    B:enableWorldGenOreUranium=false

    # Enable generation of rubber trees in the world
    B:enableWorldGenTreeRubber=true

    # Base energy generation values - increase those for higher energy yield
    I:energyGeneratorBase=10
    I:energyGeneratorGeo=20
    I:energyGeneratorNuclear=5
    I:energyGeneratorSolar=100
    I:energyGeneratorWater=100
    I:energyGeneratorWind=100

    # Explosion power of a nuke, where TNT is 4
    S:explosionPowerNuke=35.0

    # Maximum explosion power of a nuclear reactor, where TNT is 4
    S:explosionPowerReactorMax=45.0

    # Factor to adjust the ore generation rate
    S:oreDensityFactor=1.0

    # List of blocks and items which should not be turned into scrap by the recycler. Comma separated, format is id(Block/ItemName)-metadata
    S:recyclerBlacklist=minecraft:glass_pane, minecraft:stick, minecraft:snowball, IC2:scaffold, Forestry:beeQueenGE, Forestry:beePrincessGE

    # Maximum number of audio sources, only change if you know what you're doing
    I:soundSourceLimit=32

    # Enable sounds
    B:soundsEnabled=true

    # List of valuable ores the miner should look for. Comma separated, format is id-metadata:value (id can be a number or a Block name) where value should be at least 1 to be considered by the miner
    S:valuableOres=
}


idsettings {
    # StartID for the Blocks
    I:"Block Start ID"=3500

    # StartID for the Items
    I:"Item StartID"=5000
}


modules {
    B:Baubles=true
    B:BuildCraft=true
    B:CraftingGuide=true
    B:NotEnoughItems=true
    B:NotEnoughResources=true
    B:ProjectE=true
    B:RedstoneFlux=true
    B:Thaumcraft=true
    B:TinkersConstruct=true
    B:Waila=true
    B:WrenchPlugin=true
}


