# Configuration file

##########################################################################################################
# drops
#--------------------------------------------------------------------------------------------------------#
# Drops configuration
##########################################################################################################

drops {
    # Potent seed drop amount [range: 0 ~ 3, default: 1]
    I:amountPotSeed=1

    # Drop chance apatite from sandstone [range: 0 ~ 100, default: 5]
    I:chanceApatite=5

    # Drop chance industrial hemp seeds (if crop drops is enabled) [range: 0 ~ 100, default: 50]
    I:chanceHempSeeds=50

    # Drop crops instead fiber [default: true]
    B:enableCrops=true

    # Pot drop max amount [range: 0 ~ 4, default: 4]
    I:potMax=4

    # Pot drop min amount [range: 0 ~ 4, default: 1]
    I:potMin=1

    # Drop industrial hemp seeds from grass [default: false]
    B:seedsFromGrass=false
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General configuration
##########################################################################################################

general {
    # Show log in console [default: false]
    B:enableLog=false

    # Potent hemp fertilizable at this level [range: 0 ~ 6, default: 4]
    I:fertilizerLvl=4

    # Hemp field max amount [range: 0 ~ 5, default: 1]
    I:fieldMax=1

    # Hemp field min amount [range: 0 ~ 5, default: 1]
    I:fieldMin=1

    # Enables pot seed at trading level 3 [default: true]
    B:potSeed=true
}


##########################################################################################################
# recipes
#--------------------------------------------------------------------------------------------------------#
# Recipes configuration
##########################################################################################################

recipes {
    # Hempstone to Clay [default: true]
    B:recipeClay=true

    # Space cookie [default: true]
    B:recipeCookie=true

    # Grassblock [default: true]
    B:recipeGrass=true

    # Fiber to Paper [default: true]
    B:recipePaper=true

    # Fiber to Wool [default: true]
    B:recipeWool=true
}


