# Configuration file

compatability {
    # Set this to false to disable IE's built in compatability with Baubles
    B:"Enable Compatmodule: Baubles"=true

    # Set this to false to disable IE's built in compatability with EnderIO
    B:"Enable Compatmodule: EnderIO"=true

    # Set this to false to disable IE's built in compatability with IC2
    B:"Enable Compatmodule: IC2"=true

    # Set this to false to disable IE's built in compatability with OpenComputers
    B:"Enable Compatmodule: OpenComputers"=true

    # Set this to false to disable IE's built in compatability with Thaumcraft
    B:"Enable Compatmodule: Thaumcraft"=true

    # Set this to false to disable IE's built in compatability with Waila
    B:"Enable Compatmodule: Waila"=true

    # Set this to false to disable IE's built in compatability with chiselsandbits
    B:"Enable Compatmodule: chiselsandbits"=true

    # Set this to false to disable IE's built in compatability with denseores
    B:"Enable Compatmodule: denseores"=true

    # Set this to false to disable IE's built in compatability with foundry
    B:"Enable Compatmodule: foundry"=true

    # Set this to false to disable IE's built in compatability with tconstruct
    B:"Enable Compatmodule: tconstruct"=true
}


general {
    # Set this to false to disable tge manual's forced change of GUI scale
    B:AutoscaleManual=false

    # Set this to true if you suffer from bad eyesight. The Engineer's manual will be switched to a bold and darker text to improve readability. Note that this may lead to a break of formatting and have text go off the page in some instances. This is unavoidable.
    B:BadEyesight=false

    # Support for colourblind people, gives a text-based output on capacitor sides
    B:ColourblindSupport=false

    # Set this to true to completely disable the ore-crushing recipes with the Engineers Hammer
    B:"Disable Hammer Crushing"=false

    # The maximum durability of the Engineer's Hammer. Used up when hammering ingots into plates.
    I:"Hammer Durability"=100

    # By default all devices that accept cables have increased renderbounds to show cables even if the block itself is not in view. Disabling this reduces them to their minimum sizes, which might improve FPS on low-power PCs
    B:"Increased Renderboxes"=true

    # Increase the distance at which certain TileEntities (specifically windmills) are still visible. This is a modifier, so set it to 1 for default render distance, to 2 for doubled distance and so on.
    D:"Increased Tile Renderdistance"=1.5

    # Set this to false to disable the super awesome looking nixie tube front for the voltmeter and other things
    B:NixietubeFont=true

    # A list of preferred Mod IDs that results of IE processes should stem from, aka which mod you want the copper to come from. This affects the ores dug by the excavator, as well as those crushing recipes that don't have associated IE items. This list is in oreder of priority.
    S:"Preferred Ores" <
        immersiveengineering
     >

    # Set this to false to hide the update news in the manual
    B:"Show Update News"=true

    # The ID of the texture sheet used for revolvers. This should probably never conflict since not many mods do custom sheets.
    I:"TextureSheet: Revolvers"=94

    # Drop connections with non-existing endpoints when loading the world. Use with care and backups and only when suspecting corrupted data. This option will check and load all connection endpoints and may slow down the world loading process.
    B:"Validate Connections"=false

    # The villager ID for the Engineer Villager. Change if it conflicts
    I:"Villager ID: Engineer"=512

    # The RGB colourate of the wires.
    I:"Wire colouration" <
        13926474
        15576418
        7303023
        9862765
        7303023
        16723759
     >

    # The maximum length wire can have. Copper and Electrum should be similar, Steel is meant for long range transport, Structural Rope & Cables are purely decorational
    I:"Wire length" <
        16
        16
        32
        32
        32
        32
     >

    # The percentage of power lost every 16 blocks of distance for the wire tiers (copper, electrum, HV, Structural Rope, Cable & Redstone(no transfer) )
    D:"Wire loss" <
        0.05
        0.025
        0.025
        1.0
        1.0
        1.0
     >

    # The transfer rates in Flux/t for the wire tiers (copper, electrum, HV, Structural Rope, Cable & Redstone(no transfer) )
    I:"Wire transfer rates" <
        2048
        8192
        32768
        0
        0
        0
     >

    # The maximum durability of the Wirecutter. Used up when cutting plates into wire.
    I:"Wirecutter Durability"=250
}


machines {
    # Set this to true to make the blueprint for graphite electrodes craftable in addition to villager/dungeon loot
    B:"Arc Furnace: Craftable Blueprint"=false

    # A modifier to apply to the energy costs of every Arc Furnace recipe
    D:"Arc Furnace: EnergyModifier"=1.0

    # The maximum amount of damage Graphite Electrodes can take. While the furnace is working, electrodes sustain 1 damage per tick, so this is effectively the lifetime in ticks. The default value of 96000 makes them last for 8 consecutive ingame days
    I:"Arc Furnace: Graphite Electrodes"=96000

    # Set this to false to disable the Arc Furnace's recycling of armors and tools
    B:"Arc Furnace: Recycling"=true

    # A modifier to apply to the time of every Arc Furnace recipe
    D:"Arc Furnace: TimeModifier"=1.0

    # The Flux the Assembler will consume to craft an item from a recipe
    I:"Assembler: Consumed"=80

    # The Flux per tick the Blast Furnace Preheater will consume to speed up the Blast Furnace
    I:"BlastFurnacePreheater: Charge"=32

    # The maximum amount of Flux that can be stored in a high-voltage capacitor
    I:"Capacitor HV: Flux Storage"=4000000

    # The maximum amount of Flux that can be input into a high-voltage capacitor (by IE net or other means)
    I:"Capacitor HV: Input"=4096

    # The maximum amount of Flux that can be output from a high-voltage capacitor (by IE net or other means)
    I:"Capacitor HV: Output"=4096

    # The maximum amount of Flux that can be stored in a low-voltage capacitor
    I:"Capacitor LV: Flux Storage"=100000

    # The maximum amount of Flux that can be input into a low-voltage capacitor (by IE net or other means)
    I:"Capacitor LV: Input"=256

    # The maximum amount of Flux that can be output from a low-voltage capacitor (by IE net or other means)
    I:"Capacitor LV: Output"=256

    # The maximum amount of Flux that can be stored in a medium-voltage capacitor
    I:"Capacitor MV: Flux Storage"=1000000

    # The maximum amount of Flux that can be input into a medium-voltage capacitor (by IE net or other means)
    I:"Capacitor MV: Input"=1024

    # The maximum amount of Flux that can be output from a medium-voltage capacitor (by IE net or other means)
    I:"Capacitor MV: Output"=1024

    # The Flux per tick the Charging Station can insert into an item
    I:"ChargingStation: Charge"=256

    # The Flux per tick consumed by the Core Sample Drill
    I:"Core Sample Drill: Consumption"=40

    # The length in ticks it takes for the Core Sample Drill to figure out which mineral is found in a chunk
    I:"Core Sample Drill: Evaluation Time"=200

    # A modifier to apply to the energy costs of every Crusher recipe
    D:"Crusher: EnergyModifier"=1.0

    # A modifier to apply to the time of every Crusher recipe
    D:"Crusher: TimeModifier"=1.0

    # The Flux per tick that the Diesel Generator will output. The burn time of the fuel determines the total output
    I:"Diesel Generator: Output"=4096

    # The base Flux that is output by the dynamo. This will be modified by the rotation modifier of the attached water- or windmill
    D:"Dynamo: Output"=3.0

    # The Flux per tick the Excavator will consume to dig
    I:"Excavator: Consumed"=4096

    # The chance that a given chunk will contain a mineral vein.
    D:"Excavator: Mineral Chance"=0.2

    # The maximum amount of yield one can get out of a chunk with the excavator. Set a number smaller than zero to make it infinite
    I:"Excavator: Mineral Depletion"=38400

    # List of dimensions that can't contain minerals. Default: The End.
    I:"Excavator: Mineral Dimension Blacklist" <
        1
     >

    # Set this to false to disable the ridiculous amounts of particles the Excavator spawns
    B:"Excavator: Particles"=true

    # The speed of the Excavator. Basically translates to how many degrees per tick it will turn.
    D:"Excavator: Speed"=1.0

    # A modifier to apply to the energy costs of every Fermenter recipe
    D:"Fermenter: EnergyModifier"=1.0

    # A modifier to apply to the time of every Fermenter recipe
    D:"Fermenter: TimeModifier"=1.0

    # Set this to false to disable the mob-spawn prevention of the Floodlight
    B:"Floodlight: Spawn Prevention"=true

    # The Flux the Fluid Pump will consume pressurize+accellerate fluids, increasing the transferrate
    I:"Fluid Pump: Acceleration"=5

    # If this is set to true (default) the pump will replace fluids it picks up with cobblestone in order to reduce lag caused by flowing fluids.
    B:"Fluid Pump: Cobble"=true

    # The Flux the Fluid Pump will consume to pick up a fluid block in the world
    I:"Fluid Pump: Consumed"=250

    # Set this to false to disable the fluid pump being able to draw infinite water from sources
    B:"Fluid Pump: Infinite Water"=true

    # The Flux per tick consumed to add one heat to a furnace. Creates up to 4 heat in the startup time and then 1 heat per tick to keep it running
    I:"Heater: Flux per Heat"=8

    # The Flux per tick consumed to double the speed of the furnace. Only happens if furnace is at maximum heat.
    I:"Heater: Speedup"=24

    # A modifier to apply to the energy costs of every MetalPress recipe
    D:"Metal Press: EnergyModifier"=1.0

    # A modifier to apply to the time of every MetalPress recipe
    D:"Metal Press: TimeModifier"=1.0

    # Set this to false to disable the mob-spawn prevention of the Powered Lantern
    B:"Powered Lantern: Spawn Prevention"=true

    # A modifier to apply to the energy costs of every Refinery recipe
    D:"Refinery: EnergyModifier"=1.0

    # A modifier to apply to the time of every Refinery recipe
    D:"Refinery: TimeModifier"=1.0

    # A modifier to apply to the energy costs of every Squeezer recipe
    D:"Squeezer: EnergyModifier"=1.0

    # A modifier to apply to the time of every Squeezer recipe
    D:"Squeezer: TimeModifier"=1.0

    # The amount of Flux the Tesla Coil will consume when shocking an entity
    I:"TeslaCoil: Active"=512

    # The amount of damage the Tesla Coil will do when shocking an entity
    I:"TeslaCoil: Damage"=6

    # The Flux per tick the Tesla Coil will consume, simply by being active
    I:"TeslaCoil: Passive"=256

    # Output modifier for the energy created by the Thermoelectric Generator
    D:"Thermoelectric: Output"=1.0

    # In- and output rates of LV,MV and HV Wire Conenctors. This is independant of the transferrate of the wires.
    I:"Wire Connector Input" <
        256
        1024
        4096
     >
}


oregen {
    # Generation config for Bauxite Ore. Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
    I:Bauxite <
        4
        40
        85
        8
        100
     >

    # Generation config for Copper Ore. Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
    I:Copper <
        8
        40
        72
        8
        100
     >

    # A blacklist of dimensions in which IE ores won't spawn. By default this is Nether (-1) and End (1)
    I:DimensionBlacklist <
        -1
        1
     >

    # Generation config for Lead Ore. Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
    I:Lead <
        6
        8
        36
        4
        100
     >

    # Generation config for Nickel Ore. Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
    I:Nickel <
        6
        8
        24
        2
        100
     >

    # Generation config for Silver Ore. Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
    I:Silver <
        8
        8
        40
        4
        80
     >

    # Generation config for Uranium Ore. Parameters: Vein size, lowest possible Y, highest possible Y, veins per chunk, chance for vein to spawn (out of 100). Set vein size to 0 to disable the generation
    I:Uranium <
        4
        8
        24
        2
        60
     >

    # Set this to true to allow retro-generation of Bauxite Ore.
    B:retrogen_Bauxite=false

    # Set this to true to allow retro-generation of Copper Ore.
    B:retrogen_Copper=false

    # Set this to true to allow retro-generation of Lead Ore.
    B:retrogen_Lead=false

    # Set this to true to allow retro-generation of Nickel Ore.
    B:retrogen_Nickel=false

    # Set this to true to allow retro-generation of Silver Ore.
    B:retrogen_Silver=false

    # Set this to true to allow retro-generation of Uranium Ore.
    B:retrogen_Uranium=false

    # The retrogeneration key. Basically IE checks if this key is saved in the chunks data. If it isn't, it will perform retrogen on all ores marked for retrogen. Change this in combination with the retrogen booleans to regen only some of the ores.
    S:retrogen_key=DEFAULT

    # Set this to false to disable the logging of the chunks that were flagged for retrogen.
    B:retrogen_log_chunkFlagged=true

    # Set this to false to disable the logging of the chunks that are still left to retrogen.
    B:retrogen_log_chunksRemaining=true
}


tools {
    # The amount of base damage an ArmorPiercing Cartridge inflicts
    D:BulletDamage-AP=10.0

    # The amount of base damage a single part of Buckshot inflicts
    D:BulletDamage-Buck=2.0

    # The amount of base damage a Casull Cartridge inflicts
    D:BulletDamage-Casull=10.0

    # The amount of base damage a DragonsBreath Cartridge inflicts
    D:BulletDamage-Dragon=3.0

    # The amount of base damage a Homing Cartridge inflicts
    D:BulletDamage-Homing=10.0

    # The amount of base damage a Phial Cartridge inflicts
    D:BulletDamage-Potion=1.0

    # The amount of damage a silver bullet inflicts
    D:BulletDamage-Silver=10.0

    # The amount of base damage a Wolfpack Cartridge inflicts
    D:BulletDamage-Wolfpack=6.0

    # The amount of damage the sub-projectiles of the Wolfpack Cartridge inflict
    D:BulletDamage-WolfpackPart=4.0

    # The mb of fluid the Chemical Thrower will consume per tick of usage
    I:"ChemThrower: Consumed"=10

    # A list of sounds that should not be muffled by the Ear Defenders. Adding to this list requires knowledge of the correct sound resource names.
    S:"EarDefenders: Blacklist" <
     >

    # The base amount of Flux consumed per shot by the Railgun
    I:"Railgun: Consumed"=800
}


