# Configuration file

biome {
    B:biomeMeneglin=true

    # The weight of spawning.
    I:biomeMeneglin.spawnWeight=3
}


block {
    B:coalGenerator=true
    B:creativeEnergyBattery=true
    B:crystalizedMenrilBlock=true
    B:crystalizedMenrilBlockStairs=true
    B:crystalizedMenrilBrick=true
    B:crystalizedMenrilBrickStairs=true
    B:delay=true
    B:dryingBasin=true
    B:energyBattery=true
    B:invisibleLight=true
    B:logicProgrammer=true
    B:materializer=true
    B:menrilLeaves=true

    # A 1/x chance menril berries will be dropped when breaking a leaves block.
    I:menrilLeaves.berriesDropChance=4
    B:menrilLog=true
    B:menrilLogFilled=true
    B:menrilPlanks=true
    B:menrilPlanksStairs=true
    B:menrilSapling=true
    B:menrilTorch=true
    B:menrilTorchStone=true
    B:proxy=true
    B:squeezer=true
    B:variablestore=true
}


core {
    # If an anonymous mod startup analytics request may be sent to our analytics service.
    B:general.analytics=true

    # If cable models should be cached for rendering optimization.
    B:general.cacheCableModels=true

    # The maximum network energy transfer rate.
    I:general.energyRateLimit=2147483647

    # Config version for Integrated Dynamics.
    # DO NOT EDIT MANUALLY!
    S:general.version=0.5.0

    # If the version checker should be enabled.
    B:general.versionChecker=false
}


general {
    # The energy usage multiplier for networks.
    I:general.energyConsumptionMultiplier=0

    # The maximum render distance for part overlays to render. The higher, the more resource intensive.
    I:general.partOverlayRenderdistance=15
}


item {
    B:crystalizedMenrilChunk=true
    B:facade=true
    B:labeller=true
    B:menrilBerries=true

    # If the berries should give the night vision effect when eaten.
    B:menrilBerries.nightVision=true
    B:on_the_dynamics_of_integration=true

    # If the info book can give item rewards for tutorial completion.
    B:on_the_dynamics_of_integration.bookRewards=true

    # If the info book should automatically obtained when the player first spawns.
    B:on_the_dynamics_of_integration.obtainOnSpawn=true
    B:portableLogicProgrammer=true
    B:variableTransformer=true
    B:wrench=true
}


machine {
    # The maximum value history length that can be maintained..
    I:delay.maxHistoryCapacity=1024

    # The default capacity of an energy battery.
    I:energyBattery.capacity=100000

    # How much energy per tick it emits when activated.
    I:energyBattery.energyPerTick=2000

    # The maximum capacity possible by combining batteries. (Make sure that you do not cross the max int size.)
    I:energyBattery.maxCapacity=65536000

    # The maximum capacity visible in the creative tabs. (Make sure that you do not cross the max int size.)
    I:energyBattery.maxCreativeCapacity=4096000

    # The default update frequency in ticks to use for new parts.
    I:general.defaultPartUpdateFreq=1
}


"mod compat" {
    B:CharsetPipes=true

    # RF readers aspects and operators.
    B:CoFHAPI=true

    # Integration for Integrated Dynamics recipes.
    B:JEI=true

    # Integration for Integrated Dynamics recipes.
    B:MineTweaker3=true

    # WAILA tooltips for parts.
    B:Waila=true

    # Squeezer and backpack support.
    B:forestry=true

    # squeezer support.
    B:immersiveengineering=true

    # Multipart support for cables and parts
    B:mcmultipart=true

    # Crystalized Menril crafting in the Casting Basin.
    B:tconstruct=true
    B:theoneprobe=true
}


worldgeneration {
    # The chance at which a Menril Tree will spawn in the wild, the higher this value, the lower the chance.
    I:general.wildMenrilTreeChance=1000
    I:menrilLog.filledMenrilLogChance=10

    # The 1/x chance at which a Menril Log will be filled with Menril Resin when generated, the higher this value, the lower the chance.
    I:menrilLogFilled.filledMenrilLogChance=10
}


