# Configuration file

##########################################################################################################
# 0) config
#--------------------------------------------------------------------------------------------------------#
# IMPORTANT: If you ever manually edit ANY of these values, please change the value below to true. This will prevent them being overwritten if an update changes the config file.
##########################################################################################################

"0) config" {
    # If you modify ANY values here set this to true so a future update doesn't override them. Otherwise leave it as false and any new changes in the config defaults will automatically be updated.
    B:"1) Manually Changed"=false
}


##########################################################################################################
# 1) backpacks
#--------------------------------------------------------------------------------------------------------#
# Here you can modify the traits of the backpacks.
##########################################################################################################

"1) backpacks" {
}


"1) basic backpack" {
    # The number of upgrade points on the backpack. Default 8.
    I:"1) Upgrade Points"=8

    # The size of the backpack. Either 9 or 11. Default 9.
    I:"2) Number of Slots Per Row"=9

    # The size of the backpack. Between 1 and 7. Default 2.
    I:"3) Number of Rows"=2
}


"2) iron backpack" {
    # The number of upgrade points on the backpack. Default 12.
    I:"1) Upgrade Points"=12

    # The size of the backpack. Either 9 or 11. Default 9.
    I:"2) Number of Slots Per Row"=9

    # The size of the backpack. Between 1 and 7. Default 4.
    I:"3) Number of Rows"=4
}


"3) gold backpack" {
    # The number of upgrade points on the backpack. Default 16.
    I:"1) Upgrade Points"=16

    # The size of the backpack. Either 9 or 11. Default 9.
    I:"2) Number of Slots Per Row"=9

    # The size of the backpack. Between 1 and 7. Default 6.
    I:"3) Number of Rows"=6
}


"4) diamond backpack" {
    # The number of upgrade points on the backpack. Default 20.
    I:"1) Upgrade Points"=20

    # The size of the backpack. Either 9 or 11. Default 11.
    I:"2) Number of Slots Per Row"=11

    # The size of the backpack. Between 1 and 7. Default 7.
    I:"3) Number of Rows"=7
}


##########################################################################################################
# 5) recipes
#--------------------------------------------------------------------------------------------------------#
# Each recipe has 9 lines, each corresponding to the next slot in the crafting grid. The recipes are registered with the oreDictionary, so putting in blocks.wool will allow you to use any color of wool while crafting.Syntax: use 'items.item_name' or 'blocks.block_name' or 'oreDictionaryName' or 'none' for a blank space. 
# Example:
# 	items.paper - vanilla item
# 	blocks.gold_block - vanilla block
# 	items.paper - vanilla item
# 	plankWood - oreDictionary
# 	ingotSilver - oreDictionary(assuming another mod is loaded that adds this)
# 	plankWood - oreDictionary
# 	items.modname:itemName - format for mod items (Note: mods may register their items/blocks differently, one possibility is their use of a period instead of a colon. ex: items.modname.itemName)
# 	blockGold - oreDictionary
# 	blocks.modname:blockName - format for mod blocks
##########################################################################################################

"5) recipes" {
    # The recipe for the basic backpack. Default is blocks.chest surrounded by items.leather.
    S:"01) Basic Backpack Recipe" <
        items.leather
        items.leather
        items.leather
        items.leather
        blocks.chest
        items.leather
        items.leather
        items.leather
        items.leather
     >

    # The recipe to upgrade the backpack to an Iron Backpack. Default is surrounded by ingotIron.
    S:"02) Iron Backpack Recipe" <
        ingotIron
        blockIron
        ingotIron
        ingotIron
        items.ironbackpacks:basicBackpack
        ingotIron
        ingotIron
        ingotIron
        ingotIron
     >

    # The recipe to upgrade the backpack to a Gold Backpack. Default is surrounded by ingotGold.
    S:"03) Gold Backpack Recipe" <
        ingotGold
        blockGold
        ingotGold
        ingotGold
        items.ironbackpacks:ironBackpack
        ingotGold
        ingotGold
        ingotGold
        ingotGold
     >

    # The recipe to upgrade the backpack to a Diamond Backpack. Default is surrounded by gemDiamond.
    S:"04) Diamond Backpack Recipe" <
        gemDiamond
        gemDiamond
        gemDiamond
        gemDiamond
        items.ironbackpacks:goldBackpack
        gemDiamond
        gemDiamond
        gemDiamond
        gemDiamond
     >

    # The recipe for the button upgrade.
    S:"10) Button Upgrade Recipe" <
        items.ironbackpacks:treatedLeather
        blocks.stone_button
        items.ironbackpacks:treatedLeather
        blocks.wooden_button
        items.ironbackpacks:upgradeCore
        blocks.wooden_button
        items.ironbackpacks:treatedLeather
        blocks.stone_button
        items.ironbackpacks:treatedLeather
     >

    # The recipe for the nesting upgrade.
    S:"11) Nesting Upgrade Recipe" <
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:upgradeCore
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
     >

    # The recipe for the advanced nesting upgrade.
    S:"12) Advanced Nesting Upgrade Recipe" <
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:nestingUpgrade
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
     >

    # The recipe for the renaming upgrade. Only used if the upgrade is required (another option in config)
    S:"13) Renaming Upgrade Recipe" <
        items.writable_book
        items.paper
        items.writable_book
        items.ironbackpacks:treatedLeather
        items.ironbackpacks:upgradeCore
        items.ironbackpacks:treatedLeather
        items.writable_book
        items.paper
        items.writable_book
     >

    # The recipe for the damage bar upgrade.
    S:"14) Damage Bar Upgrade Recipe" <
        items.ironbackpacks:treatedLeather
        items.bowl
        items.ironbackpacks:treatedLeather
        items.string
        items.ironbackpacks:upgradeCore
        items.string
        items.ironbackpacks:treatedLeather
        items.bowl
        items.ironbackpacks:treatedLeather
     >

    # The recipe for the basic filter upgrade.
    S:"15) Basic Filter Upgrade Recipe" <
        items.ironbackpacks:treatedLeather
        items.writable_book
        items.ironbackpacks:treatedLeather
        items.paper
        items.ironbackpacks:upgradeCore
        items.paper
        items.ironbackpacks:treatedLeather
        items.writable_book
        items.ironbackpacks:treatedLeather
     >

    # The recipe for the fuzzy filter upgrade.
    S:"16) Fuzzy Filter Upgrade Recipe" <
        blocks.clay
        blocks.clay
        blocks.clay
        blocks.red_flower
        items.ironbackpacks:filterBasicUpgrade
        blocks.red_flower
        blocks.clay
        blocks.clay
        blocks.clay
     >

    # The recipe for the ore dictionary filter upgrade.
    S:"17) Ore Dictionary Filter Upgrade Recipe" <
        none
        items.clock
        none
        items.clock
        items.ironbackpacks:filterBasicUpgrade
        items.clock
        none
        items.clock
        none
     >

    # The recipe for the mod specific filter upgrade.
    S:"18) Mod Specific Filter Upgrade Recipe" <
        none
        items.compass
        none
        items.compass
        items.ironbackpacks:filterBasicUpgrade
        items.compass
        none
        items.compass
        none
     >

    # The recipe for the advanced filter upgrade.
    S:"19) Advanced Filter Upgrade Recipe" <
        items.ironbackpacks:buttonUpgrade
        items.ironbackpacks:filterBasicUpgrade
        items.ender_eye
        items.ironbackpacks:filterFuzzyUpgrade
        items.ironbackpacks:upgradeCore
        items.ironbackpacks:filterOreDictUpgrade
        items.ender_eye
        items.ironbackpacks:filterModSpecificUpgrade
        items.ironbackpacks:buttonUpgrade
     >

    # The recipe for the mining filter upgrade.
    S:"20) Mining Upgrade Recipe" <
        oreGold
        items.iron_pickaxe
        oreGold
        items.iron_pickaxe
        items.ironbackpacks:filterBasicUpgrade
        items.iron_pickaxe
        oreIron
        items.iron_pickaxe
        oreIron
     >

    # The recipe for the void filter upgrade.
    S:"21) Void Upgrade Recipe" <
        items.string
        cobblestone
        items.string
        stone
        items.ironbackpacks:filterBasicUpgrade
        stone
        items.string
        cobblestone
        items.string
     >

    # The recipe for the resupply upgrade.
    S:"22) Resupply Upgrade Recipe" <
        none
        blocks.hopper
        none
        blocks.hopper
        items.ironbackpacks:upgradeCore
        blocks.hopper
        none
        blocks.hopper
        none
     >

    # The recipe for the crafting upgrade.
    S:"23) Crafting Upgrade Recipe" <
        gemLapis
        blockLapis
        gemLapis
        blocks.crafting_table
        items.ironbackpacks:upgradeCore
        blocks.crafting_table
        dustRedstone
        blockRedstone
        dustRedstone
     >

    # The recipe for the small crafting upgrade.
    S:"24) Small Crafting Upgrade Recipe" <
        gemLapis
        blocks.crafting_table
        gemLapis
        blocks.crafting_table
        items.ironbackpacks:upgradeCore
        blocks.crafting_table
        dustRedstone
        blocks.crafting_table
        dustRedstone
     >

    # The recipe for the tiny crafting upgrade.
    S:"25) Tiny Crafting Upgrade Recipe" <
        gemLapis
        blocks.crafting_table
        gemLapis
        logWood
        items.ironbackpacks:upgradeCore
        plankWood
        dustRedstone
        blocks.crafting_table
        dustRedstone
     >

    # The recipe for the upgrade that allows you to keep the backpack upon dying.
    S:"26) Keep On Death Upgrade Recipe" <
        blockDiamond
        record
        blockDiamond
        record
        items.ironbackpacks:upgradeCore
        record
        blockDiamond
        record
        blockDiamond
     >

    # The recipe for the upgrade which gives the backpack a configurable amount of additional upgrade points.
    S:"27) Additional Upgrade Slots Recipe" <
        blockEmerald
        record
        blockEmerald
        record
        items.ironbackpacks:upgradeCore
        record
        blockEmerald
        record
        blockEmerald
     >

    # The recipe for the upgrade which gives the backpack the ability to empty it's contents into an inventory.
    S:"28) Quick Deposit Upgrade Recipe" <
        slimeball
        blocks.piston
        slimeball
        slimeball
        items.ironbackpacks:upgradeCore
        slimeball
        blocks.piston
        slimeball
        blocks.piston
     >

    # The recipe for the upgrade which gives the backpack the ability to empty it's contents into an inventory if the items already exist in the inventory.
    S:"29) Quick Deposit Precise Upgrade Recipe" <
        slimeball
        blocks.sticky_piston
        slimeball
        slimeball
        items.ironbackpacks:upgradeCore
        slimeball
        blocks.sticky_piston
        slimeball
        blocks.sticky_piston
     >

    # The recipe for the upgrade which gives a backpack the ability to check fort nested backpacks before applying effects.
    S:"30) Depth Upgrade Recipe" <
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nestingUpgrade
        items.ironbackpacks:upgradeCore
        items.ironbackpacks:nestingUpgrade
        items.ironbackpacks:jeweledFeather
        items.ironbackpacks:nest
        items.ironbackpacks:jeweledFeather
     >

    # The recipe for the crafting item - nest.
    S:"31) Nest Recipe" <
        stickWood
        stickWood
        stickWood
        stickWood
        items.egg
        stickWood
        stickWood
        stickWood
        stickWood
     >

    # The recipe for the crafting item - upgrade core.
    S:"32) Upgrade Core Recipe" <
        items.leather
        items.string
        items.leather
        items.string
        items.paper
        items.string
        items.leather
        items.string
        items.leather
     >

    # The recipe for the crafting item - jeweled feather. Shapeless Recipe, must be less than 9 items.
    S:"33) Jeweled Feather Recipe" <
        items.feather
        nuggetGold
        nuggetGold
     >

    # The recipe for the crafting item - treated leather. Shapeless Recipe, must be less than 9 items. Default includes lime dye.
    S:"34) Treated Leather Recipe" <
        items.leather
        items.water_bucket
        dyeLime
        items.flint
     >
}


##########################################################################################################
# 6) upgrade costs
#--------------------------------------------------------------------------------------------------------#
# Here you can modify how expensive the upgrades are to add to a backpack. A cost of 0 makes the upgrade 'free' to apply, while a higher number makes it more expensive.
##########################################################################################################

"6) upgrade costs" {
    # The cost for the button upgrade. Default 2.
    I:"1) Button Upgrade Recipe"=2

    # The cost for the advanced filter upgrade. Default 6.
    I:"10) Advanced Filter Upgrade Recipe"=6

    # The cost for the mining filter upgrade. Default 4.
    I:"11) Mining Upgrade Recipe"=4

    # The cost for the void filter upgrade. Default 2.
    I:"12) Void Upgrade Recipe"=2

    # The cost for the resupply upgrade. Default 2.
    I:"13) Resupply Upgrade Recipe"=2

    # The cost for the crafting upgrade. Default 3.
    I:"14) Crafting Upgrade Recipe"=3

    # The cost for the small crafting upgrade. Default 2.
    I:"15) Small Crafting Upgrade Recipe"=2

    # The cost for the tiny crafting upgrade. Default 2.
    I:"16) Tiny Crafting Upgrade Recipe"=2

    # The cost for the upgrade that allows you to keep the backpack upon dying. Default 5.
    I:"17) Keep On Death Upgrade Recipe"=5

    # The cost for the quick deposit upgrade. Default 2.
    I:"18) Quick Deposit Upgrade Recipe"=2

    # The cost for the precise quick deposit upgrade. Default 2.
    I:"19) Precise Quick Deposit Upgrade Recipe"=2

    # The cost for the nesting upgrade. Default 3.
    I:"2) Nesting Upgrade Recipe"=3

    # The cost for the depth deposit upgrade. Default 2.
    I:"20) Depth Upgrade Recipe"=2

    # The cost for the advanced nesting upgrade. Default 5.
    I:"3) Advanced Nesting Upgrade Recipe"=5

    # The cost for the renaming upgrade. Only used if the upgrade is required (another option in config). Default 1.
    I:"4) Renaming Upgrade Recipe"=1

    # The cost for the damage bar upgrade. Default 2.
    I:"5) Damage Bar Upgrade Recipe"=2

    # The cost for the basic filter upgrade. Default 3.
    I:"6) Basic Filter Upgrade Recipe"=3

    # The cost for the fuzzy filter upgrade. Default 4.
    I:"7) Fuzzy Filter Upgrade Recipe"=4

    # The cost for the ore dictionary filter upgrade. Default 4.
    I:"8) Ore Dictionary Filter Upgrade Recipe"=4

    # The cost for the mod specific filter upgrade. Default 4.
    I:"9) Mod Specific Filter Upgrade Recipe"=4
}


##########################################################################################################
# 7) miscellaneous
#--------------------------------------------------------------------------------------------------------#
# A variety of miscellaneous configurable tweaks and changes to the mod.
##########################################################################################################

"7) miscellaneous" {
    # To disable the model rendering on the player when they have an equipped backpack. Default false.
    B:"0) Disable Rendering"=false

    # If the renaming upgrade is required to rename the backpack. Default is false (so you can rename backpacks natively).
    B:"1) Renaming Upgrade Required"=false

    # The delay (in milliseconds) until a tooltip will appear over the buttons. Default is 1500 (so 1.5 seconds).
    I:"2) Tooltip Delay"=1500

    # The maximum number of times you can apply the 'additional upgrade slots' upgrade. This number represents the starting number (for the basic backpack), each backpack tier increments this number by one. Negative numbers are allowed (ex: -1 will allow none on basic or iron backpacks, once on gold backpacks, and twice on diamond). Default is 1.
    I:"3) Additional Upgrades Limit"=1

    # The amount of extra upgrade points the 'additional upgrade slots' upgrade will apply. Default is 2.
    I:"4) Additional Upgrades Increase"=2

    # Use alternate, higher definition textures for the backpacks. Default is false.
    B:"5) Alternate Backpack Textures"=false

    # Make the styling of the letters on a renamed backpack be in italics. Default false.
    B:"6) Italic Renames"=false
}


