# Configuration file

generic {
    # Enable moving one item from all stacks by holding down Control and dragging over slots with the left mouse button held down.
    B:enableDragMovingControlLeft=true

    # Enable moving full stacks of items by holding down Shift and dragging over slots with the left mouse button held down.
    B:enableDragMovingShiftLeft=true

    # Enable moving everything but the last item from all stacks by holding down Shift and dragging over slots with the right mouse button held down.
    B:enableDragMovingShiftRight=true

    # Enable moving all items at once (while holding ctrl and shift).
    B:enableMovingEverything=true

    # Enable moving all matching items at once (while holding ctrl).
    B:enableScrollingMatchingStacks=true

    # Enable scrolling items one item at a time.
    B:enableScrollingSingle=true

    # Enable item scrolling full stack at a time (while holding shift).
    B:enableScrollingStacks=true

    # Enable special handling for Villager GUI (normally you can't shift+click items into them).
    B:enableScrollingVillager=true

    # Enable dropping items while holding shift to drop all the matching items at once.
    B:enableShiftDropItems=true

    # Enable placing items to an empty slot while holding shift to move all the mathing items to that inventory.
    B:enableShiftPlaceItems=true

    # Reverse the scrolling direction for single item mode.
    B:reverseScrollDirectionSingle=false

    # Reverse the scrolling direction for full stacks mode.
    B:reverseScrollDirectionStacks=false

    # When enabled, the item movement direction depends on the slots' y-position on screen. Might be derpy with more complex inventories, use with caution!
    B:useSlotPositionAwareScrollDirection=false
}


