#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <ID>:<meta>
#<ID> may be a numerical id or the unlocalised name of the block/item enclosed in double quotes. NEI can help you find these
#<meta> may be ommitted, in which case it defaults to 0, otherwise it can be a number, a comma separated list of numbers, or a dash separated range
#Ex. 3. 5:3. 213:1,2,3,5. "tile.blockIron":0-15

"Botania:livingrock":0-4
"Botania:livingwood":0-5
"Botania:dreamwood":0-5
"Botania:prismarine":0-2
"Botania:reedBlock"
"Botania:thatch"
"Botania:customBrick":0-15
"Botania:quartzTypeMana":0-2
"Botania:quartzTypeBlaze":0-2
"Botania:quartzTypeLavender":0-2
"Botania:quartzTypeRed":0-2
"Botania:quartzTypeElf":0-2