#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <ID>:<meta>
#<ID> may be a numerical id or the unlocalised name of the block/item enclosed in double quotes. NEI can help you find these
#<meta> may be ommitted, in which case it defaults to 0, otherwise it can be a number, a comma separated list of numbers, or a dash separated range
#Ex. 3. 5:3. 213:1,2,3,5. "tile.blockIron":0-15

#Botania
"Botania:livingrock":0-4
"Botania:livingwood":0-5
"Botania:dreamwood":0-5
"Botania:prismarine":0-2
"Botania:reedBlock"
"Botania:thatch"
"Botania:customBrick":0-15
"Botania:quartzTypeMana":0-2
"Botania:quartzTypeBlaze":0-2
"Botania:quartzTypeLavender":0-2
"Botania:quartzTypeRed":0-2
"Botania:quartzTypeElf":0-2

#Ztones
"Ztones:stoneTile"
"Ztones:tile.vectBlock":0-15
"Ztones:tile.lairBlock":0-15
"Ztones:tile.laveBlock":0-15
"Ztones:tile.zomeBlock":0-15
"Ztones:tile.zionBlock":0-15
"Ztones:auroraBlock"
"Ztones:tile.zoneBlock":0-15
"Ztones:tile.zorgBlock":0-15
"Ztones:tile.solsBlock":0-15
"Ztones:tile.tankBlock":0-15
"Ztones:tile.fortBlock":0-15
"Ztones:tile.bittBlock":0-15
"Ztones:tile.ztylBlock":0-15
"Ztones:tile.roenBlock":0-15
"Ztones:tile.zechBlock":0-15
"Ztones:tile.jeltBlock":0-15
"Ztones:tile.korpBlock":0-15
"Ztones:tile.agonBlock":0-15
"Ztones:tile.mystBlock":0-15
"Ztones:tile.mintBlock":0-15
"Ztones:tile.crayBlock":0-15
"Ztones:tile.krypBlock":0-15
"Ztones:tile.redsBlock":0-15
"Ztones:tile.venaBlock":0-15
"Ztones:tile.iszmBlock":0-15
"Ztones:tile.zkulBlock":0-15
"Ztones:tile.glaxx":0-15
"Ztones:tile.reedBlock":0-15
"Ztones:tile.syncBlock":0-15
"Ztones:tile.ztylBlock":0-15
"Ztones:tile.zythBlock":0-15
"Ztones:tile.zaneBlock":0-15
"Ztones:tile.zoeaBlock":0-15
"Ztones:tile.zestBlock":0-15
"Ztones:tile.zetaBlock":0-15
"Ztones:tile.azurBlock":0-15

# BOP
"BiomesOPlenty:newBopDirt":0-5
"BiomesOPlenty:crystal"
"BiomesOPlenty:gemOre":0-15
"BiomesOPlenty:logs1":0-3
"BiomesOPlenty:logs2":0-3
"BiomesOPlenty:logs3":0-3
"BiomesOPlenty:logs4":0-3
"BiomesOPlenty:leaves1":0-3
"BiomesOPlenty:leaves2":0-3
"BiomesOPlenty:leaves3":0-3
"BiomesOPlenty:leaves4":0,1
"BiomesOPlenty:petals":0,1
"BiomesOPlenty:mud":0,1
"BiomesOPlenty:driedDirt"
"BiomesOPlenty:rocks":0-5
"BiomesOPlenty:ash"
"BiomesOPlenty:flesh"
"BiomesOPlenty:ashStone"
"BiomesOPlenty:hardIce"
"BiomesOPlenty:mudBricks"
"BiomesOPlenty:colorizedLeaves1":0-3
"BiomesOPlenty:colorizedLeaves2":0-3
"BiomesOPlenty:planks":0-14