# Configuration file

modcompat {
    B:"Avaritia Enabled"=true
    B:"Botania Enabled"=true
    B:"Immersive Engineering Enabled"=true
    B:"Iron Chests Enabled"=true
    B:"MineFactory Reload Enabled"=true
    B:"Minechem Enabled"=true
    B:"RF Enabled"=true
    B:"Railcraft Enabled"=true
    B:"Vanilla Enabled"=true
    B:"Waila Enabled"=true
}


##########################################################################################################
# tweaks
#--------------------------------------------------------------------------------------------------------#
# Most these values will be overwritten by Railcraft values, if it is installed
##########################################################################################################

tweaks {
    # change to '{t}=true' to restore vanilla behavior
    B:breakOnDrop=false

    # change the value to your desired minecart stack size, vanilla=1, default=3, max=64
    I:maxStackSize=3
}


