# Configuration file

##########################################################################################################
# bees
#--------------------------------------------------------------------------------------------------------#
# Bee configuration
##########################################################################################################

bees {
    # Set to false to disable Apocalyptic Bees. NOTE:this stops being able to get all bees useing this bee by noncreative means i.e. Breeding. [default: true]
    B:apocalypticBees=true

    # Set to false to disable Certus Quartz Bees. [default: true]
    B:certzBees=true

    # Set to false to disable Diamond Bees. [default: true]
    B:diamondBees=true

    # Set to false to disable Draconic Bees. [default: true]
    B:draconicBees=true

    # Set to false to disable Irdium Bees. [default: true]
    B:iridiumBees=true

    # The Multipler for the chance of mutation e.g. 0.5 is half as likely 2.0 is twice as likely [range: 0.0 ~ 100.0, default: 1.0]
    S:mutationMultipler=1.0

    # Set to false to disable Wither Bees. [default: true]
    B:netherStarBees=true

    # Set to false to disable Radioactive Bees. NOTE:this stops being able to get all bees useing this bee by noncreative means i.e. Breeding. [default: true]
    B:radioactiveBees=true

    # Set to false to disable Resonating Bees. [default: true]
    B:resonatingBees=true

    # Set to false to disable TinkersConstructs Metal Bees. i.e. cobalt, ardite [default: true]
    B:tinkersMetalBees=true

    # Set to false to disable TinkersConstructs Slime Bees. i.e. blue, purple, magma [default: true]
    B:tinkersSlimeBees=true

    # Set to false to disable Uranic Bees. [default: true]
    B:uranicBees=true

    # Set to false to disable Withering Bees. NOTE:this stops being able to get all bees useing this bee by noncreative means i.e. Breeding. [default: true]
    B:witherBees=true

    # Set to false to disable Yellorite Bees. [default: true]
    B:yelloriteBees=true
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General configuration
##########################################################################################################

general {
    # Set to false to disable More Bees frames e.g. mutating frame. [default: true]
    B:enableFrames=true
}


##########################################################################################################
# world gen
#--------------------------------------------------------------------------------------------------------#
# World Generation configuration
##########################################################################################################

"world gen" {
    # Set to false to disable the generation of ore veins around rock hives. [default: true]
    B:genHiveFlowers=true

    # Set to false to disable the generation of rock hives. [default: true]
    B:genHives=true
}


