# Configuration file

##########################################################################################################
# chisels
#--------------------------------------------------------------------------------------------------------#
# Toggling of all chisels. If the chisel doesn't find the material it requires, it will not register.
##########################################################################################################

chisels {
    #  [default: true]
    B:chiselBedrockiumEnabled=true

    #  [default: true]
    B:chiselBoundEnabled=true

    #  [default: true]
    B:chiselCheeseEnabled=true

    #  [default: true]
    B:chiselDeshEnabled=true
    B:chiselEmeraldEnabled=true

    #  [default: true]
    B:chiselFieryEnabled=true

    #  [default: true]
    B:chiselFluxedEnabled=true

    #  [default: true]
    B:chiselGravititeEnabled=true

    #  [default: true]
    B:chiselHolystoneEnabled=true

    #  [default: true]
    B:chiselIronwoodEnabled=true

    #  [default: true]
    B:chiselKnightmetalEnabled=true
    B:chiselRubyEnabled=true
    B:chiselSapphireEnabled=true

    #  [default: true]
    B:chiselSkyrootEnabled=true

    #  [default: true]
    B:chiselSouliumEnabled=true
    B:chiselSteamEnabled=true

    #  [default: true]
    B:chiselSteeleafEnabled=true

    #  [default: true]
    B:chiselThaumiumEnabled=true

    #  [default: true]
    B:chiselUnstableEnabled=true

    #  [default: true]
    B:chiselVoidmetalEnabled=true

    #  [default: true]
    B:chiselZaniteEnabled=true

    # Whitelist for chisels created by Gems. Add the OreDict suffix.
    # Syntax is:
    # GemName:Durability:HexColor [default: [Emerald:700:#22ED4E], [Ruby:700:#DD0707], [Sapphire:700:#1F52F8], [Amethyst:2500:#FF00CE], [Peridot:700:#43A749], [Topaz:700:#f43E00], [Tanzanite:700:#59008B], [Malachite:700:#26E5CD], [Amber:300:#FFCE00]]
    S:gemChiselWhitelist <
        Emerald:700:#22ED4E
        Ruby:700:#DD0707
        Sapphire:700:#1F52F8
     >
}


##########################################################################################################
# durability
#--------------------------------------------------------------------------------------------------------#
# Setting of durabilities for every chisel.
##########################################################################################################

durability {
    I:durabilityBedrockium=2147483647
    I:durabilityBloody=20000

    #  [range: 0 ~ 32767, default: 12]
    I:durabilityCheese=12

    #  [range: 0 ~ 32767, default: 1024]
    I:durabilityDesh=1024

    #  [range: 0 ~ 32767, default: 720]
    I:durabilityElementium=720
    I:durabilityEmerald=700

    #  [range: 0 ~ 32767, default: 1300]
    I:durabilityFiery=1300

    #  [range: 0 ~ 32767, default: 100000]
    I:durabilityFluxed=100000

    #  [range: 0 ~ 32767, default: 720]
    I:durabilityGravitite=720

    #  [range: 0 ~ 32767, default: 130]
    I:durabilityHolystone=130

    #  [range: 0 ~ 32767, default: 750]
    I:durabilityIronwood=750

    #  [range: 0 ~ 32767, default: 650]
    I:durabilityKnightmetal=650

    #  [range: 0 ~ 32767, default: 300]
    I:durabilityManasteel=300
    I:durabilityRuby=700
    I:durabilitySapphire=700

    #  [range: 0 ~ 32767, default: 60]
    I:durabilitySkyroot=60

    #  [range: 0 ~ 32767, default: 1030]
    I:durabilitySoulium=1030
    I:durabilitySteam=10000

    #  [range: 0 ~ 32767, default: 200]
    I:durabilitySteeleaf=200

    #  [range: 0 ~ 32767, default: 400]
    I:durabilityThaumium=400

    #  [range: 0 ~ 32767, default: 1800]
    I:durabilityUnstable=1800

    #  [range: 0 ~ 32767, default: 150]
    I:durabilityVoidmetal=150

    #  [range: 0 ~ 32767, default: 720]
    I:durabilityZanite=720
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# Misc settings.
##########################################################################################################

misc {
    # Disable this if you don't like cool people. [default: true]
    B:addCoolStuffForCoolPeople=true
    B:addEnderIOFluxedChiselRecipes=false
    B:addRedstoneArsenalFluxedChiselRecipes=false
    B:addThermalExpansionFluxedChiselRecipes=true

    # Allows MoreChisels to log things to console. This must be enabled when submitting a log for support. [default: true]
    B:enableLogging=true
    I:steamPerUse=200
}


##########################################################################################################
# recipes
#--------------------------------------------------------------------------------------------------------#
# Recipe settings.
##########################################################################################################

recipes {
    # Requires EnderIO to be present. [default: false]
    B:addEnderIOFluxedChiselRecipes=false

    # Requires RedstoneArsenal to be present. [default: false]
    B:addRedstoneArsenalFluxedChiselRecipes=false

    # Requires ThermalExpansion to be present. [default: true]
    B:addThermalExpansionFluxedChiselRecipes=true
}


