# Configuration file

dimension0 {
    S:biomeCommands=allow:10,11,12,13,26,30,40,41,58,101,140;
    I:dimension_ID=10
    B:isFullOverworld=false
    S:name=Dim10
    S:worldType=default
}


dimension1 {
    S:biomeCommands=allow:251,252;
    I:dimension_ID=11
    B:isFullOverworld=false
    S:name=Dim11
    S:worldType=MWmultiBiome
}


general {
    I:options.dimensions=2
    I:options.providerId=21
}


world {
    S:defaultBiomeCommands=allow:*;
    I:worldTypeMW=7
}


