# Configuration file

neid {
    #  [default: false]
    B:CatchUnregisteredBlocks=false

    # Extend DataWatcher IDs. Vanilla limit is 31, new limit is 127. [default: false]
    B:ExtendDataWatcher=false

    # If true, only blocks with IDs > 4095 will disappear after removing NEID. [default: true]
    B:PostNeidWorldsSupport=true

    # Remove invalid (corrupted) blocks from the game. [default: false]
    B:RemoveInvalidBlocks=false
}


