# Configuration file

##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Configuration for all Client configs
##########################################################################################################

client {
    # Set to true to enable the experimental Widget System
    B:EnableWidgets=false

    # Set to true to always show the HUD
    B:ForceShowHud=true

    # The base position of the HUD on the screen. 0 = top left, 1 = top center, 2 = top right, 3 = left, 4 = right, 5 = bottom left, 6 = bottom right
    I:HUDBasePosition=6

    # The HUD display will be shifted horizontally by this value. This value may be negative.
    I:HUDOffset-X=0

    # The HUD display will be shifted vertically by this value. This value may be negative.
    I:HUDOffset-Y=0

    # How large the HUD will be rendered. Default is 1.0, can be bigger or smaller
    D:HUDScale=1.0

    # Set to true if you have too much stuff on your HUD
    B:PostModeToChat=false

    # When enabled, the HUD will display the Block or Entity the player is looking at.
    B:ShowBlocksAndEntities=false

    # When enabled, the HUD will display even when the chat window is opened.
    B:ShowHUDwhilechatting=true
}


##########################################################################################################
# common
#--------------------------------------------------------------------------------------------------------#
# Configuration for all Common configs
##########################################################################################################

common {
    # Adds the Barrier Block to the Redstone Creative Tab
    B:TweakBarrierBlock=true

    # Adds the Command Blocks to the Redstone Creative Tab
    B:TweakCommandBlock=true

    # Adds the Command Cart to the Transport Creative Tab
    B:TweakCommandCart=true

    # Increases stacksize of Ender Pearls 64
    B:TweakEnderPearls=true

    # Increases stacksize of Snow Balls 64
    B:TweakSnowBalls=true

    # Adds the Structure Blocks to the Redstone Creative Tab
    B:TweakStructureBlocks=true

    ##########################################################################################################
    # crafting
    #--------------------------------------------------------------------------------------------------------#
    # Configuration for all Crafting configs
    ##########################################################################################################

    crafting {
        # Allows crafting of the Rainbow Chroma.
        B:CraftChromaRainbow=true

        # Allows crafting of the Tracker Chroma.
        B:CraftChromaTracker=true

        # Allows crafting of Chromas.
        B:CraftChromas=true
    }

    ##########################################################################################################
    # integration
    #--------------------------------------------------------------------------------------------------------#
    # Configuration for all Integration configs
    ##########################################################################################################

    integration {
        # Enable The One Probe integration.
        B:IntegrationTOP=true

        # Enable Waila integration.
        B:IntegrationWAILA=true
    }

}


