# Configuration file

"emergency undo" {
    # Not Enough Pets animals are different from vanilla Minecraft, so that they can obey things like new skin types and "follow teleport range" values. If you wish to remove Not Enough Pets, set this to true, load your game, and then visit each such animal you wish to retain (so that it loads into the server memory). They will be reverted back to vanilla types. If you don't do this, they will vanish from your world when you remove Not Enough Pets [default: false]
    B:"Revert NEC Animals"=false
}


"enable nec animals" {
    # If false, ocelots/cats will revert to their vanilla counterparts, removing many NEC features. Do this if you experience inter-mod compatibility issues. [default: true]
    B:"Enable NEC version: Cat"=true

    # If false, wolves/dogs will revert to their vanilla counterparts, removing many NEC features. Do this if you experience inter-mod compatibility issues. [default: true]
    B:"Enable NEC version: Dog"=true

    # If false, mooshrooms will revert to their vanilla counterparts, removing many NEC features. Do this if you experience inter-mod compatibility issues. [default: true]
    B:"Enable NEC version: Mooshroom"=true

    # Parrots will spawn in jungles, like in 1.12 [default: true]
    B:"Enable NEP version: Parrot"=true

    # If true, wild-spawning wolves (skin type 0) remain or become vanilla when tamed [default: false]
    B:"Tamed Wolves Remain Vanilla"=false

    # If true, wild-spawning ocelots (skin type 0) will remain vanilla until tamed [default: false]
    B:"Untamed Ocelots Remain Vanilla"=false

    # If true, wild-spawning wolves (skin type 0) will remain vanilla until tamed [default: false]
    B:"Untamed Wolves Remain Vanilla"=false
}


general {
    # If a 256-by-256 zone around a spawning mooshroom has this many mooshrooms, the spawn is canceled. Set to -1 for no limit. [range: -1 ~ 10000, default: -1]
    I:"Area Spawn Limit: Mooshroom"=-1

    # If a 256-by-256 zone around a spawning ocelot has this many ocelots, the spawn is canceled. Set to -1 for no limit. [range: -1 ~ 10000, default: -1]
    I:"Area Spawn Limit: Ocelot"=-1

    # If a 256-by-256 zone around a spawning parrot has this many parrots, the spawn is canceled. Set to -1 for no limit. [range: -1 ~ 10000, default: -1]
    I:"Area Spawn Limit: Parrot"=-1

    # If a 256-by-256 zone around a spawning wolf has this many wolves, the spawn is canceled. Set to -1 for no limit. [range: -1 ~ 10000, default: -1]
    I:"Area Spawn Limit: Wolf"=-1

    # If false, parrots are only poisoned when fed a cookie, but not killed. [default: true]
    B:"Cool Story, Theobromine"=true

    # Item that is used to tame, heal, and breed cats and ocelots. Can be of the form mod:thing, mod:thing:meta, or ore:oredict [default: [minecraft:fish:0], [minecraft:fish:1], [minecraft:chicken], [ore:listAllfishraw]]
    S:"Feeding Items: Cat" <
        minecraft:fish:0
        minecraft:fish:1
        minecraft:chicken
        ore:listAllfishraw
     >

    # The amount to heal cats/ocelots when fed an item from "Feeding Items: Cat" that is not a food item [range: 0.0 ~ 3.4028235E38, default: 2.0]
    S:"Feeding Items: Cat - Default Amount"=2.0

    # Item that is used to heal and breed dogs and wolves. Can be of the form mod:thing, mod:thing:meta, or ore:oredict [default: [minecraft:porkchop], [minecraft:cooked_porkchop], [minecraft:beef], [minecraft:cooked_beef], [minecraft:chicken], [minecraft:cooked_chicken], [ore:listAllmeatraw], [ore:listAllmeatcooked]]
    S:"Feeding Items: Dog" <
        minecraft:porkchop
        minecraft:cooked_porkchop
        minecraft:beef
        minecraft:cooked_beef
        minecraft:chicken
        minecraft:cooked_chicken
        ore:listAllmeatraw
        ore:listAllmeatcooked
     >

    # The amount to heal dogs/wolves when fed an item from "Feeding Items: Dog" that is not a food item [range: 0.0 ~ 3.4028235E38, default: 3.0]
    S:"Feeding Items: Dog - Default Amount"=3.0

    # Item that is used to tame, heal, and breed parrots. Can be of the form mod:thing, mod:thing:meta, or ore:oredict [default: [minecraft:wheat_seeds], [minecraft:pumpkin_seeds], [minecraft:melon_seeds], [ganyssurface:beetrootSeeds], [etfuturum:beetroot_seeds], [ore:listAllseed]]
    S:"Feeding Items: Parrot" <
        minecraft:wheat_seeds
        minecraft:pumpkin_seeds
        minecraft:melon_seeds
        ganyssurface:beetrootSeeds
        etfuturum:beetroot_seeds
        ore:seedBeetroot
        ore:listAllseed
     >

    # The amount to heal parrots when fed an item from "Feeding Items: Parrot" that is not a food item [range: 0.0 ~ 3.4028235E38, default: 1.0]
    S:"Feeding Items: Parrot - Default Amount"=1.0

    # If false, tamed cats will never follow or teleport to their owners. [default: true]
    B:"Follow owner: Cat"=true

    # If false, tamed dogs will never follow or teleport to their owners. [default: true]
    B:"Follow owner: Dog"=true

    # If false, tamed parrots will never follow or teleport to their owners. [default: true]
    B:"Follow owner: Parrot"=true

    # If not sitting or leashed, your tamed ocelot/cat will teleport to you when you're farther than this distance away. Set this to 0 to disable teleporting entirely. [range: 0.0 ~ 256.0, default: 12.0]
    S:"Follow teleport: Cat"=12.0

    # Same as the above setting, but for tamed wolves/dogs. [range: 0.0 ~ 256.0, default: 12.0]
    S:"Follow teleport: Dog"=12.0

    # Same as the above setting, but for tamed parrots. [range: 0.0 ~ 256.0, default: 12.0]
    S:"Follow teleport: Parrot"=12.0

    # Using the taming food on a tamed cat will heal it. [default: true]
    B:"Healing Food: Cat"=true

    # Using the taming food on a tamed parrot will heal it. [default: true]
    B:"Healing Food: Parrot"=true

    # Determines the frequency of occurrence of the idle sounds that a tamed cat makes as a percentage of typical Minecraft mob sound frequency. Set this to 50 for 50 percent, etc. [range: 0 ~ 100, default: 25]
    I:"Idle Sound Occurrence: Cat"=25

    # Determines the frequency of occurrence of the idle sounds that a tamed dog makes as a percentage of typical Minecraft mob sound frequency. Set this to 50 for 50 percent, etc. [range: 0 ~ 100, default: 50]
    I:"Idle Sound Occurrence: Dog"=50

    # Determines the frequency of occurrence of the idle sounds that a tamed parrot makes as a percentage of typical Minecraft mob sound frequency. Set this to 50 for 50 percent, etc. [range: 0 ~ 100, default: 100]
    I:"Idle Sound Occurrence: Parrot (Ambient)"=100

    # The frequency that a parrot makes a sound imitating another mob as a percentage of a typical Minecraft parrot. Set this to 50 for 50 percent, etc. [range: 0 ~ 100, default: 100]
    I:"Idle Sound Occurrence: Parrot (Imitate)"=100

    # Who will own a newborn kitten
    # 0: Untamed
    # 1: Owned by the owner of the breeding parents
    # 2: Owned by the player who bred the kitten [range: 0 ~ 2, default: 2]
    I:"Newborn Taming Behavior: Cat"=2

    # Who will own a newborn puppy
    # 0: Untamed
    # 1: Owned by the owner of the breeding parents
    # 2: Owned by the player who bred the puppy [range: 0 ~ 2, default: 2]
    I:"Newborn Taming Behavior: Dog"=2

    # Who will own a newborn chick
    # 0: Untamed
    # 1: Owned by the owner of the breeding parents
    # 2: Owned by the player who bred the chick [range: 0 ~ 2, default: 2]
    I:"Newborn Taming Behavior: Parrot"=2

    # Shoulder-perching parrots dismount when you fall at least this far. Vanilla is 0.5. [range: 0.0 ~ 512.0, default: 1.1]
    S:"Parrot Dismount Fall Height"=1.1

    # Strays can appear in villages within these dimension IDs (0 is Overworld, -1 is Nether, 1 is The End, etc).
    I:"Stray Dimensions" <
        0
     >

    # Black cats found in swamp huts spawn with a name. [default: true]
    B:"Swamp Hut Cat Name"=true

    # Swamp huts often contain a black cat. [default: true]
    B:"Swamp Hut Cats"=true

    # Use a cruder determination of the size of a village for the purpose of limiting the number of strays that can spawn. Set to true if you're using a mod that replaces vanilla villagers, or otherwise notice that strays never spawn. [default: false]
    B:"Use Village Radius To Limit Strays"=false

    # Maximum number of stray cats that can spawn in a village depends on the village's size, but will never be bigger than this value. [range: 0 ~ 100, default: 10]
    I:"Village spawn cap: Cat"=10

    # Maximum number of stray dogs that can spawn in a village depends on the village's size, but will never be bigger than this value. [range: 0 ~ 100, default: 10]
    I:"Village spawn cap: Dog"=10

    # This fraction of village strays are cats. The rest are dogs. [range: 0.0 ~ 1.0, default: 0.75]
    S:"Village spawn cat fraction"=0.75

    # Villages will check their stray animal populations against their limits every 1.5 seconds and, if there's room, will attempt to spawn a new stray this percent of the time. [range: 0 ~ 100, default: 50]
    I:"Village spawn rate percent"=50
}


miscellaneous {
    # Print extra debug messages to the console. [default: false]
    B:"Debug Messages"=false

    # Displays a client-side chat message on login if there's an update available. [default: true]
    B:"Version Checker"=true
}


"parrot imitation" {
    # If false, NEP parrots will not make mimic sounds. Do this if you experience issues. [default: true]
    B:"Enable Parrot Mimicry"=true

    # List of entities for parrots to mimic. Format is: classPath|soundPath|pitch
    # classPath: The address to the entity class.
    # soundPath: the sound address, typically in the sounds.json file.
    # pitch: the average pitch/speed factor, between 0.4 and 2.0, at which this mimicked sound will be played, where 1.0 is unshifted. [default: [net.minecraft.entity.monster.EntityBlaze|minecraft:mob.blaze.breathe|1.8], [net.minecraft.entity.monster.EntityCaveSpider|minecraft:mob.spider.say|1.8], [net.minecraft.entity.monster.EntityCreeper|minecraft:creeper.primed|1.8], [net.minecraft.entity.boss.EntityDragon|minecraft:mob.enderdragon.growl|1.8], [net.minecraft.entity.monster.EntityEnderman|minecraft:mob.endermen.idle|1.7], [net.minecraft.entity.monster.EntityGhast|minecraft:mob.ghast.moan|1.8], [net.minecraft.entity.monster.EntityMagmaCube|minecraft:mob.magmacube.big|1.8], [net.minecraft.entity.monster.EntityPigZombie|minecraft:mob.zombiepig.zpig|1.8], [net.minecraft.entity.monster.EntitySilverfish|minecraft:mob.silverfish.say|1.8], [net.minecraft.entity.monster.EntitySkeleton|minecraft:mob.skeleton.say|1.7], [net.minecraft.entity.monster.EntitySlime|minecraft:mob.slime.big|1.8], [net.minecraft.entity.monster.EntitySpider|minecraft:mob.spider.say|1.8], [net.minecraft.entity.boss.EntityWither|minecraft:mob.wither.idle|1.8], [net.minecraft.entity.monster.EntityZombie|minecraft:mob.zombie.say|1.8]]
    S:"Parrot Mimic Sounds" <
        net.minecraft.entity.monster.EntityBlaze|minecraft:mob.blaze.breathe|1.8
        net.minecraft.entity.monster.EntityCaveSpider|minecraft:mob.spider.say|1.8
        net.minecraft.entity.monster.EntityCreeper|minecraft:creeper.primed|1.8
        net.minecraft.entity.boss.EntityDragon|minecraft:mob.enderdragon.growl|1.8
        net.minecraft.entity.monster.EntityEnderman|minecraft:mob.endermen.idle|1.7
        net.minecraft.entity.monster.EntityGhast|minecraft:mob.ghast.moan|1.8
        net.minecraft.entity.monster.EntityMagmaCube|minecraft:mob.magmacube.big|1.8
        net.minecraft.entity.monster.EntityPigZombie|minecraft:mob.zombiepig.zpig|1.8
        net.minecraft.entity.monster.EntitySilverfish|minecraft:mob.silverfish.say|1.8
        net.minecraft.entity.monster.EntitySkeleton|minecraft:mob.skeleton.say|1.7
        net.minecraft.entity.monster.EntitySlime|minecraft:mob.slime.big|1.8
        net.minecraft.entity.monster.EntitySpider|minecraft:mob.spider.say|1.8
        net.minecraft.entity.boss.EntityWither|minecraft:mob.wither.idle|1.8
        net.minecraft.entity.monster.EntityZombie|minecraft:mob.zombie.say|1.8
     >
}


