# Configuration file

general {
    # Optimize EntityAITarget Class.
    # [default: true]
    B:enableMixinEntityAITarget=true

    # Optimize AnvilChunkLoader Class.
    # [default: true]
    B:enableMixinAnvilChunkLoader=true

    # Enabling Block Name Debugger for getPendingBlockUpdates from WorldServer Class?.
    # [default: false]
    B:enablegetPendingBlockUpdatesDebugger=false

    # Optimize AxisAlignedBB Class.
    # [default: true]
    B:enableMixinAxisAlignedBB=true

    # Optimize RandomPositionGenerator Class.
    # [default: true]
    B:enableMixinRandomPositionGenerator=true

    # Optimize EntityAIWander Class.
    # [default: true]
    B:enableMixinEntityAIWander=true

    # Optimize EntityAIPlay Class.
    # [default: true]
    B:enableMixinEntityAIPlay=true

    # Optimize EntityArrowAttack Class.
    # [default: true]
    B:enableMixinEntityArrowAttack=true

    # Optimize CodecIBXM Class.
    # [default: true]
    B:enableMixinCodecIBXM=true

    # Optimize EntityLiving Update.
    # [default: true]
    B:enableMixinEntityLivingUpdate=true

    # Optimize Chunk Provider Server
    # [default: true]
    B:enableMixinChunkProviderServer=true

    # Optimize EntityRenderer Class.
    # [default: true]
    B:enableMixinEntityRenderer=true

    # Choose the number of processor/CPU of your computer to fix potential issues.
    # [range: 1 ~ 64, default: 6]
    I:numberofcpus=6

    # Batch size ,if you have tps issues try lowering or highering the batch size.
    # [range: 1 ~ 1000, default: 150]
    I:batchsize=150

    # Optimize MixinEntitySquid class
    # [default: true]
    B:enableMixinEntitySquid=true

    # Optimize EntityZombie class
    # [default: true]
    B:enableMixinEntityZombie=true

    # Optimize EntityLookHelper performances
    # [default: true]
    B:enableMixinEntityLookHelper=true

    # Optimize BaseAttributeMap performances
    # [default: true]
    B:enableMixinServersideAttributeMap=true

    # Optimize EntityAIAttackOnCollide performances
    # [default: true]
    B:enableMixinEntityAIAttackOnCollide=true

    # Add better logging to Exception getting block type in world
    # [default: true]
    B:enableMixinWorld=true

    # Disable Attack Indicator from LotrImprovements if Lotr iam a cat fork is enabled
    # [default: true]
    B:enableMixinMain=true

    # Add decimal value support to Minestones mod stoneDropRate config
    # [default: true]
    B:enableMixinMinestoneSupportDecimalValue=true

    # Make Minestones item with 64 item stacksize instead of 1
    # [default: true]
    B:enableMixinItemMinestone=true

    # Optimize LowerStringMap performances
    # [default: true]
    B:enableMixinLowerStringMap=true

    # Optimize RenderManager
    # [default: true]
    B:enableMixinRenderManager=true

    # Optimize EntityAINearestAttackableTarget
    # [default: true]
    B:enableMixinEntityAINearestAttackableTarget=true

    # Optimize EntitySpellParticleFX
    # [default: true]
    B:enableMixinEntitySpellParticleFX=true

    # Optimize Tesselator
    # [default: true]
    B:enableMixinTesselator=true

    # Optimize BlockLiquid Tick
    # [default: true]
    B:enableMixinBlockLiquid=true

    # Optimize EntityItem
    # [default: true]
    B:enableMixinEntityItem=true

    # Optimize OilTweakEventHandler from Buildcraft oil Tweak addon
    # [default: true]
    B:enableMixinOilTweakEventHandler=true

    # Optimize SteamcraftEventHandler from Flaxbeard's Steam Power
    # [default: true]
    B:enableMixinSteamcraftEventHandler=true

    # Optimize EntityBlockLing from Blocklings mod
    # [default: true]
    B:enableMixinEntityBlockling=true

    # Optimize CommonProxy from Catwalks 2
    # [default: true]
    B:enableMixinCommonProxyForCatWalks2=true

    # Optimize EntityEagle from Adventurers Amulet
    # [default: true]
    B:enableMixinEntityEagle=true

    # Optimize MinecraftServer
    # [default: true]
    B:enableMixinMinecraftServer=true

    # Optimize DedicatedServer
    # [default: true]
    B:enableMixinDedicatedServer=true

    # Optimize FMLClientHandler
    # [default: true]
    B:enableMixinFMLClientHandler=true

    # Optimize FMLServerHandler
    # [default: true]
    B:enableMixinFMLServerHandler=true

    # Optimize Minecraft
    # [default: true]
    B:enableMixinMinecraft=true

    # Optimize MinecraftServerGui
    # [default: true]
    B:enableMixinMinecraftServerGui=true

    # Optimize SaveFormatOld
    # [default: true]
    B:enableMixinSaveFormatOld=true

    # Optimize WorldGenMinable
    # [default: true]
    B:enableMixinWorldGenMinable=true

    # Optimize ThreadedFileIOBase
    # [default: true]
    B:enableMixinThreadedFileIOBase=true

    # Optimize WorldServer
    # [default: true]
    B:enableMixinWorldServer=true

    # Optimize PathFinder Class
    # [default: true]
    B:enableMixinPathFinder=true

    # Optimize StatsComponent
    # [default: true]
    B:enableMixinStatsComponent=true

    # Optimize NBTTagCompound
    # [default: true]
    B:enableMixinNBTTagCompound=true

    # Optimize EntityList
    # [default: true]
    B:enableMixinEntityList=true

    # Optimize DataWatcher(Avoid usage of locks and use ConcurrentHashMap)
    # [default: true]
    B:enableMixinDataWatcher=true

    # Optimize TickHandler from IC2
    # [default: true]
    B:enableMixinTickHandler=true

    # Optimize NEIServerUtils from NotEnoughItems
    # [default: true]
    B:enableMixinNEIServerUtils=true

    # Optimize Config from IC2
    # [default: true]
    B:enableMixinConfig=true

    # Optimize EventRegistry from Practical Logistics(Disabled due to crash on certain servers)
    # [default: false]
    B:enableMixinEventRegistry=false

    # Optimize NibbleArray
    # [default: true]
    B:enableMixinNibbleArray=true

    # Optimize EntityLiving
    # [default: true]
    B:enableMixinEntityLiving=true

    # Optimize EntityAIEatDroppedFood from Easy Breeding mod
    # [default: true]
    B:enableMixinEntityAIEatDroppedFood=true

    # Optimize EntityAITempt + add a follower limit(30 max) at the same time
    # [default: true]
    B:enableMixinEntityAITempt=true

    # Optimize EventHandlerNEP from notenoughpets
    # [default: true]
    B:enableMixinEventHandlerNEP=true

    # Optimize HackTickHandler from Pneumaticraft
    # [default: true]
    B:enableMixinHackTickHandler=true

    # Optimize EntityAeable
    # [default: true]
    B:enableMixinEntityAgeable=true

    # Optimize PriorityExecutor from Industrialcraft2
    # [default: true]
    B:enableMixinPriorityExecutor=true

    # Optimize PlayerAether from Aether
    # [default: true]
    B:enableMixinPlayerAether=true

    # Optimize AnimTickHandler from Akatsuki mod
    # [default: true]
    B:enableMixinAnimTickHandler=true

    # Optimize AnimationHandler from Akatsuki mod
    # [default: true]
    B:enableMixinAnimationHandler=true

    # Optimize EntitySasosri from Akatsuki mod
    # [default: true]
    B:enableMixinEntitySasosri=true

    # Optimize EntitySasosri2 from Akatsuki mod
    # [default: true]
    B:enableMixinEntitySasosri2=true

    # Optimize PuppetKadz from Akatsuki mod
    # [default: true]
    B:enableMixinPuppetKadz=true

    # Optimize Chunk ticking
    # [default: true]
    B:enableMixinChunk=true

    # Optimize BlockGrass Ticking
    # [default: true]
    B:enableMixinBlockGrass=true

    # Optimize OpenGlHelper
    # [default: true]
    B:enableMixinOpenGlHelper=true

    # Optimize RenderItem
    # [default: true]
    B:enableMixinRenderItem=true

    # Optimize Vec3 Class
    # [default: true]
    B:enableMixinVec3=true

    # Optimize FontRenderer
    # [default: true]
    B:enableMixinFontRenderer=true

    # Optimize ModelRenderer
    # [default: true]
    B:enableMixinModelRenderer=true

    # Optimize GuiNewChat
    # [default: true]
    B:enableMixinGuiNewChat=true

    # Optimize Gui
    # [default: true]
    B:enableMixinGui=true

    # Optimize RenderGlobal
    # [default: true]
    B:enableMixinRenderGlobal=true

    # Optimize TextureUtil
    # [default: true]
    B:enableMixinTextureUtil=true

    # Optimize ItemRenderer
    # [default: true]
    B:enableMixinItemRenderer=true

    # Optimize TextureManager
    # [default: true]
    B:enableMixinTextureManager=true

    # Fix Godzilla Spam Log from orespawn
    # [default: false]
    B:enableMixinGodZillaFix=false

    # Optimize EntityMoveHelper Performances
    # [default: true]
    B:enableMixinEntityMoveHelper=true

    # Optimize EntityAnimal
    # [default: true]
    B:enableMixinEntityAnimal=true

    # Optimize ChunkIOExecutor
    # [default: true]
    B:enableMixinChunkIOExecutor=true

    # Optimize EntityAIFollowParent
    # [default: true]
    B:enableMixinEntityAIFollowParent=true

    # Optimize EntityAITasks
    # [default: true]
    B:enableMixinEntityAITasks=true

    # Optimize BlockFalling
    # [default: true]
    B:enableMixinBlockFalling=true

    # Optimize LootPPHelper from Loot++ Mod
    # [default: true]
    B:enableMixinLootPPHelper=true

    # Optimize Utils performances class from Et futurum REQUIEM
    # [default: true]
    B:enableMixinUtils=true

    # Optimize ClassDiscoverer from CodeChickenCore
    # [default: true]
    B:enableMixinClassDiscoverer=true

    # Optimize Matmos mod to reduce fps Lags
    # [default: true]
    B:enableOptimizeMatmos=true

    # Optimize MappingThread class from Thaumcraft
    # [default: true]
    B:enableMixinMappingThread=true

    # Optimize Unthaumic class from ThaumcraftMinusThaumcraft
    # [default: true]
    B:enableMixinUnthaumic=true

    # Print stats ids to help to fix duplicated stats ids crash
    # [default: true]
    B:enableMixinStatList=true

    # Add Missing oredict to Gems n jewels ores
    # [default: true]
    B:enableMixinModBlocksGemsNJewels=true

    # Add oredict to industrialupgrades
    # [default: true]
    B:enableMixinRegisterOreDict=true

    # Fix null Crash when clicking on the Item from blockling
    # [default: true]
    B:enableMixinItemBlockling=true

    # (todo) Fix https://github.com/quentin452/privates-minecraft-modpack/issues/48 with FamiliarsAPI
    # [default: true]
    B:enableMixinFamiliar=true

    # Fix Crash when using F7 from NEI and using Small Stairs mod
    # [default: true]
    B:enableMixinWorldOverlayRenderer=true

    # Fix Exception in server tick loop caused by Portal Gun mod
    # [default: true]
    B:enableMixinSettings=true

    # Fix eternalfrost biomes ids are hardcoded at 255(by removing it) if endlessids ids is installed
    # [default: true]
    B:enableMixinEFConfiguration=true

    # Fix Null Crash caused by Better Burning
    # [default: true]
    B:enableMixinBetterBurning=true

    # Fix Null Crash caused by Hardcore Wither
    # [default: true]
    B:enableMixinEventHandler=true

    # Fix StackOverflow Crash caused by Shincolle
    # [default: true]
    B:enableMixinEVENT_BUS_EventHandler=true

    # Disable gui from Essence of the God mod?
    # [default: false]
    B:enableMixindisablingguifromEssenceofthegod=false

    # Fix crash from AppleFuelHandler from GrowthCraft mod
    # [default: false]
    B:enableMixinAppleFuelHandler=false

    # Change name of TileEntities from aeterh to fix dupplicated names
    # [default: true]
    B:enableMixinAetherTileEntities=true

    # Disable the Jewelrycraft2 book when spawning?
    # [default: false]
    B:enableMixinEntityEventHandler=false

    # Fix Spam logs when minefactory reloaded is installed with several mod(see the mixin to find which
    # [default: true]
    B:enableMixinFixNoSuchMethodException=true

    # Fix Crash between Endlessids and Lord of the rings mod(but problem remain , does not support higher id than the vanilla scope(256)
    # [default: true]
    B:MixinLOTRWorldProvider=true

    # Add configs options to change Biome Ids from LOTR mod
    # [default: true]
    B:enableMixinAddConfigForLOTRBIOMEIDS=true

    # Fix Some Cascading Worldgen caused by Rubber Trees from minefactory reloaded Mod
    # [default: true]
    B:enableMixinFixRubberTreesMinefactoryReloadedCascadingWorldgenFix=true

    # Fix Some Cascading Worldgen caused by MineFactoryReloadedWorldGen from minefactory reloaded Mod
    # [default: true]
    B:enableMixinFixCascadingforMineFactoryReloadedWorldGen=true

    # Fix Some Cascading Worldgen caused by Lakes from minefactory reloaded Mod
    # [default: true]
    B:enableMixinFixWorldGenLakesMetaMinefactoryReloadedCascadingWorldgenFix=true

    # Fix All Cascading Worldgen caused by Poly Gravel from Shinkeiseikan Collection Mod (ATTENTION this mixin disabling Poly Gravel generation)
    # [default: true]
    B:enableMixinFixCascadingFromWorldGenPolyGravel=true

    # Fix Some Cascading Worldgen caused by Shincolle World Gen from Shinkeiseikan Collection Mod
    # [default: true]
    B:enableMixinFixCascadingFromShinColleWorldGen=true

    # Fix Completly Cascading Worldgen caused by Shipwreck Gen from Shipwreck Mod
    # [default: true]
    B:enableMixinFixCascadingFromShipwreckGen=true

    # Fix Some Cascading Worldgen caused by Trees from pam's harvestcraft mod
    # [default: true]
    B:enableMixinFixPamsTreesCascadingWorldgenLag=true

    # Fix Some Cascading Worldgen caused by WorldGenSlimeCarnage from Slime Carnage mod
    # [default: true]
    B:enableMixinFixCascadingFromWorldGenSlimeCarnage=true

    # Fix Some Cascading Worldgen caused by ThaumcraftWorldGenerator from Thaumcraft4 mod
    # [default: true]
    B:enableMixinFixCascadingWorldGenFromThaumcraftWorldGenerator=true

    # Fix Some Cascading Worldgen caused by WorldGenPamFruitTree from Pam's Harvestcraft mod
    # [default: true]
    B:enableMixinFixWorldGenPamFruitTree=true

    # Fix Unable to play unknown soundEvent: minecraft: for Entities from Farlanders mod
    # [default: true]
    B:enableMixinFixUnableToPlayUnknowSoundEventFromFarlandersmod=true

    # Fix Some Cascading Worldgen caused by WorldGenBrassTree from Steamcraft 2 mod
    # [default: true]
    B:enableMixinFixCascadingFromWorldGenBrassTree=true

    # Fix Random Crash caused by oredict from Cofh Core mod
    # [default: true]
    B:enableMixinOreDictCofhFix=true

    # Fix null Crash during World Exiting from Ragdoll Corpse
    # [default: true]
    B:enableMixinRagdollCorpse=true

    # Fix Crash while updating neighbours from BlockTickingWater class from Cofh Core
    # [default: true]
    B:enableMixinBlockTickingWater=true

    # Fix tps lags + reduce fps stutters caused by leaves from Thaumcraft
    # [default: true]
    B:enableMixinPatchBlockMagicalLeavesPerformances=true

    # Fix Null crash caused by ScanManager from Thaumcraft
    # [default: true]
    B:enableMixinScanManager=true

    # Reduce tps lags caused by SpawnerAnimals on VoidWorld
    # [default: true]
    B:enableMixinPatchSpawnerAnimals=true

    # Reduce tps lags caused by BlockLeaves especially on Modpacks
    # [default: true]
    B:enableMixinLeaves=true

    # Reduce tps lags caused by BiomeGenMagicalForest from Thaumcraft
    # [default: true]
    B:enableMixinPatchBiomeGenMagicalForest=true

    # Reduce tps lags caused by WorldGenCloudNine from Kingdom of the Overworld
    # [default: true]
    B:enableMixinPatchWorldGenCloudNine=true

    # Fix a large bottleneck caused by EntityDarkMiresi from The Kingdom of the Overworld
    # [default: true]
    B:enableMixinEntityDarkMiresi=true

    # Remove Version check from Mal Core mod
    # [default: true]
    B:enableMixinVersionInfo=true

    # Remove unecessary println in KitchenCraftMachines class from KitchenCraft Mod
    # [default: true]
    B:enableMixinKitchenCraftMachines=true

    # Make sure that isLoaded from BuildCraftConfig is calculated only one time to reduce tps lag
    # [default: true]
    B:enableMixinBuildCraftConfig=true
    B:enableMixinMapStorage=true
    B:enableMixinPathFinding=true
}


