# Configuration file

client {
    # The Block to be used as the loaded chunk indicator. Can be any block. Formatted as <modid>:<registryName> or <modid>:<registryName>:<meta>
    S:"Loaded Chunk Indicator Block"=minecraft:stained_glass_pane:14

    # This is how many blocks above the current Y level the loaded chunk indicators will pillar up to
    I:"Max Height for Loaded Chunk Indicator"=24
}


general {
    # The radius of chunks covered by the loader
    I:"Chunk Loading Radius"=3

    # Enabling this means player that don't own a chunk loader can't break it
    B:"Enable Chunk Loader Security"=false

    # Helpful for servers to see when someone has placed a Chunk Loader, and where
    B:"Enable Console Notification of Placement / Destruction"=true
}


