# Configuration file

recipe {
    # set to true to remove recipe from QuantumStorage Tank MK1
    B:"Disable QuantumStorage Tank MK1"=false

    # set to true to remove recipe from QuantumStorage Unit MK1
    B:"Disable QuantumStorage Unit MK1"=false
}


tweaks {
    # set to change the max storage of the quantum storage unit
    I:"DSU Max Storage"=536870911

    # set to true to disable the render
    B:"Disable Dsu Item Render"=false

    # set to change the max storage of the quantum storage tank
    I:"Quantum Tank Max Storage"=536870911
}


