# Configuration file

general {
    # Should you be able to change between row and column switching modes. Default: true
    B:allow_mode_switching=true

    # Should you be able to hold down inventory number slot and scroll that column. Default: true
    B:allow_number_scrolling=true

    # If this is true, user can scroll inventory rows with bind keyboard keys. Default: true
    B:allow_scrolling_with_keyboard_keys=true

    # When you join a game, this mod prints out that is has been loaded and it's keybindings. Set to false to disable this behavior. Default: true
    B:announce_mod_loaded=true

    # If this is true, you are able to open mod settings menu. Default: true
    B:enable_settings_menu_gui=true

    # If this is true, popup menu will be shown immediately instead of waiting till user scrolls. Default: false
    B:immediately_show_popup_menu=false

    # If true, by default you will browse between rows. If false by default you will browse through columns. Default: true
    B:mode_switching_default_mode=true

    # If this is true, mousewheel scrolling will be reversed. Default: false
    B:reverse_mousewheel_scrolling=false
}


keybindings {
    # Keyboard key which can be used to scroll inventory rows down. Default: KEY_DOWN. Should you wish to change this key, you can find all supported keys from here: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html
    S:keyboard_scroll_key_down=KEY_DOWN

    # Keyboard key which can be used to scroll inventory rows up. Default: KEY_UP. Should you wish to change this key, you can find all supported keys from here: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html
    S:keyboard_scroll_key_up=KEY_UP

    # Keybinding which opens the settings menu. Note that you will also need to hold down the scrolling key to open the menu, for ex. ctrl + m. Default: KEY_M
    S:open_settings_menu_key=KEY_M

    # Key which you need to hold down to scroll between inventory rows. Default: KEY_LCONTROL. Should you wish to change this key, you can find all supported keys from here: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html
    S:scrolling_key=KEY_LCONTROL

    # Key which you can use to switch between row and column switching while also holding the scrolling key. Default: KEY_C. Should you wish to change this key, you can find all supported keys from here: http://www.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html
    S:switch_scrolling_mode_key=KEY_C
}


