# Configuration file

####################
# blocks
####################

blocks {
    B:FertilizedDirt=true
    B:FluidDisplay=true
    B:FluidRouter=true
    B:ImbuingStation=true
    B:ItemCollector=true
    B:MoonSensor=true
    B:NotificationInterface=true
    B:OnlineDetector=true
    B:PlayerInterface=true
    B:SpectreLamp=true
}


####################
# dungeonloot
####################

dungeonloot {
    I:WhiteStone=3
}


####################
# items
####################

items {
    B:BiomePainter=true
    B:BiomeSolution=true
    B:CreativeChestGenerator=true
    B:CreativeGrower=true
    B:CreativeSword=true
    B:DropFilter=true
    B:EnderLetter=true
    B:MagneticForce=true
    B:SoundRecorder=true
    B:SpectreArmor=true
    B:SpectreKey=true
    B:SpectreSword=true
    B:SpiritBinder=true
    B:VoidStone=true
    B:Whitestone=true
}


####################
# settings
####################

settings {
    B:AnimatedTextures=true

    # Bonemeal particles will appear whenever fertilized dirt boosts the plant
    B:FertilizedDirtGrowthIndicator=false

    # In ticks (20=1 Second)
    I:MagneticForceTeleportLength=200

    # The chance of a spirit spawning when you have a spirit binder in your inventory. (0-1)
    D:SpiritChance=0.1

    # The chance of a spirit spawning when you have a spirit binder in your inventory and kill the entity with a spectre sword. (0-1)
    D:SpiritChanceSword=0.2
}


####################
# vanillachanges
####################

vanillachanges {
    B:FasterLeaveDecay=true
    B:"Hardcore Darkness"=false

    # Locks the Gamma to 0
    B:LockedGamma=false

    # The normal dirt background will be replaced with a different block each start
    B:ModifiedBackgrounds=true

    # When you throw something or shoot an arrow the motion of the player will be added to the motion of the projectile
    B:ThrowableMotion=false

    # If this is not empty the options background will not be random but the one specified here. This has to be the name of a block texture without the .png
    S:fixedBackground=
}


