# Configuration file

"fuel settings" {
    # Number of ticks Poor Scrap will burn in a furnace [range: 0 ~ 2147483647, default: 400]
    I:"Poor Scrap Fuel Ticks"=400

    # Number of ticks a ScrapBox will burn in multiples of the base scrap type [range: 0 ~ 2147483647, default: 9]
    I:"Scrapbox Multiplier"=9

    # Number of ticks Standard Scrap will burn in a furnace [range: 0 ~ 2147483647, default: 800]
    I:"Standard Scrap Fuel Ticks"=800

    # Number of ticks Superior Scrap will burn in a furnace [range: 0 ~ 2147483647, default: 1600]
    I:"Superior Scrap Fuel Ticks"=1600
}


logging {
    # Enables/disables debug logging of the mod [default: false]
    B:"Enable Debug Logging"=false

    # Enables/disables logging of recipes to the Forge log during startup [default: true]
    B:"Enable Recipe Logging"=true
}


machines {

    recycler {
        # Control whether client displays visual effects [default: true]
        B:"Enable FX"=true

        # The bonus amount of scrap a scrapbox will get when processed with Core: Extraction [range: 0 ~ 4, default: 1]
        I:"Scrapbox Bonus"=1
    }

    composter {
        # Control whether client displays visual effects [default: true]
        B:"Enable FX"=true
    }

}


mods {
    # Controls the display of tooltips in the client [default: true]
    B:"Enable Tooltips"=false

    # Enables/disables display of scrap information via Waila [default: true]
    B:"Enable Waila Display"=false

    # ModIds to add to the internal whitelist [default: ]
    S:Whitelist <
     >
}


recycle {

    enable {
        # Enable/Disable whether recycling recipes for items from [BuildCraft|Builders] are added [default: true]
        B:"BuildCraft|Builders"=true

        # Enable/Disable whether recycling recipes for items from [BuildCraft|Core] are added [default: true]
        B:"BuildCraft|Core"=true

        # Enable/Disable whether recycling recipes for items from [BuildCraft|Energy] are added [default: true]
        B:"BuildCraft|Energy"=true

        # Enable/Disable whether recycling recipes for items from [BuildCraft|Factory] are added [default: true]
        B:"BuildCraft|Factory"=true

        # Enable/Disable whether recycling recipes for items from [BuildCraft|Silicon] are added [default: true]
        B:"BuildCraft|Silicon"=true

        # Enable/Disable whether recycling recipes for items from [BuildCraft|Transport] are added [default: true]
        B:"BuildCraft|Transport"=true

        # Enable/Disable whether recycling recipes for items from [Chicken Chunks] are added [default: true]
        B:ChickenChunks=true

        # Enable/Disable whether recycling recipes for items from [EnderIO] are added [default: true]
        B:EnderIO=true

        # Enable/Disable whether recycling recipes for items from [Ender Storage] are added [default: true]
        B:EnderStorage=true

        # Enable/Disable whether recycling recipes for items from [ExtrabiomesXL] are added [default: true]
        B:ExtrabiomesXL=true

        # Enable/Disable whether recycling recipes for items from [Forestry] are added [default: true]
        B:Forestry=true

        # Enable/Disable whether recycling recipes for items from [Iron Chest] are added [default: true]
        B:IronChest=true

        # Enable/Disable whether recycling recipes for items from [MineFactory Reloaded] are added [default: true]
        B:MineFactoryReloaded=true

        # Enable/Disable whether recycling recipes for items from [Railcraft] are added [default: true]
        B:Railcraft=true

        # Enable/Disable whether recycling recipes for items from [Thaumcraft] are added [default: true]
        B:Thaumcraft=true

        # Enable/Disable whether recycling recipes for items from [Thermal Dynamics] are added [default: true]
        B:ThermalDynamics=true

        # Enable/Disable whether recycling recipes for items from [Thermal Expansion] are added [default: true]
        B:ThermalExpansion=true

        # Enable/Disable whether recycling recipes for items from [Thermal Foundation] are added [default: true]
        B:ThermalFoundation=true

        # Enable/Disable whether recycling recipes for items from [Advanced Generators] are added [default: true]
        B:advgenerators=true

        # Enable/Disable whether recycling recipes for items from [Minecraft] are added [default: true]
        B:minecraft=true

        # Enable/Disable whether recycling recipes for items from [Thermal Recycling] are added [default: true]
        B:recycling=true

        # Enable/Disable whether recycling recipes for items from [RFTools] are added [default: true]
        B:rftools=true
        B:vanilla=true
    }

    recipe {

        control {

            vanilla {
                B:"Enable Diamond Recycling"=true
                B:"Enable Nether Star Recycling"=true
                I:"Quantity Rotten Flesh to Leather"=2
            }

            minecraft {
                # Controls whether recycling items for diamonds is enabled [default: true]
                B:"Enable Diamond Recycling"=true

                # Controls whether recycling items for nether stars is enabled [default: true]
                B:"Enable Nether Star Recycling"=true

                # Amount of Rotten Flesh to use to create a piece of leather (0 to disable) [range: 0 ~ 64, default: 2]
                I:"Quantity Rotten Flesh to Leather"=2
            }

        }

    }

}


