# Configuration file

chainsaw_tier1 {
    # Can the tool break when it runs out of energy [default: true]
    B:"Can Break"=true

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 3.0]
    S:Damage=3.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 6.0]
    S:Efficiency=6.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 0]
    I:Enchantablility=0

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 80]
    I:"Energy Per Block"=80

    # Can the tool change modes [default: false]
    B:"Has Modes"=false

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 20000]
    I:"Maximum Energy"=20000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 2]
    I:"Mining Level"=2

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 80]
    I:"Recharge Rate"=80
    B:canBreak=true
    S:damage=3.0
    S:efficiency=6.0
    I:enchant=0
    I:energyPerBlock=80
    B:hasModes=false
    I:maxEnergy=20000
    I:miningLevel=2
    I:rechargeRate=80
}


chainsaw_tier2 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 4.0]
    S:Damage=4.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 7.0]
    S:Efficiency=7.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 0]
    I:Enchantablility=0

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 200]
    I:"Energy Per Block"=200

    # Can the tool change modes [default: false]
    B:"Has Modes"=false

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 100000]
    I:"Maximum Energy"=100000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 3]
    I:"Mining Level"=3

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 400]
    I:"Recharge Rate"=400
    B:canBreak=false
    S:damage=4.0
    S:efficiency=7.0
    I:enchant=0
    I:energyPerBlock=200
    B:hasModes=false
    I:maxEnergy=100000
    I:miningLevel=3
    I:rechargeRate=400
}


chainsaw_tier3 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 5.0]
    S:Damage=5.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 10.0]
    S:Efficiency=10.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 10]
    I:Enchantablility=10

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 800]
    I:"Energy Per Block"=800

    # Can the tool change modes [default: true]
    B:"Has Modes"=true

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 1000000]
    I:"Maximum Energy"=1000000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 3]
    I:"Mining Level"=3

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 1500]
    I:"Recharge Rate"=1500
    B:canBreak=false
    S:damage=5.0
    S:efficiency=10.0
    I:enchant=10
    I:energyPerBlock=800
    B:hasModes=true
    I:maxEnergy=1000000
    I:miningLevel=3
    I:rechargeRate=1500
}


chainsaw_tier4 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 6.0]
    S:Damage=6.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 12.0]
    S:Efficiency=12.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 15]
    I:Enchantablility=15

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 1500]
    I:"Energy Per Block"=1500

    # Can the tool change modes [default: true]
    B:"Has Modes"=true

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 5000000]
    I:"Maximum Energy"=5000000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 4]
    I:"Mining Level"=4

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 5000]
    I:"Recharge Rate"=5000
    B:canBreak=false
    S:damage=6.0
    S:efficiency=12.0
    I:enchant=15
    I:energyPerBlock=1500
    B:hasModes=true
    I:maxEnergy=5000000
    I:miningLevel=4
    I:rechargeRate=5000
}


drill_tier1 {
    # Can the tool break when it runs out of energy [default: true]
    B:"Can Break"=true

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 2.0]
    S:Damage=2.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 6.0]
    S:Efficiency=6.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 0]
    I:Enchantablility=0

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 80]
    I:"Energy Per Block"=80

    # Can the tool change modes [default: false]
    B:"Has Modes"=false

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 20000]
    I:"Maximum Energy"=20000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 2]
    I:"Mining Level"=2

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 80]
    I:"Recharge Rate"=80
    B:canBreak=true
    S:damage=2.0
    S:efficiency=6.0
    I:enchant=0
    I:energyPerBlock=80
    B:hasModes=false
    I:maxEnergy=20000
    I:miningLevel=2
    I:rechargeRate=80
}


drill_tier2 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 3.0]
    S:Damage=3.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 8.0]
    S:Efficiency=8.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 0]
    I:Enchantablility=0

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 200]
    I:"Energy Per Block"=200

    # Can the tool change modes [default: false]
    B:"Has Modes"=false

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 100000]
    I:"Maximum Energy"=100000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 3]
    I:"Mining Level"=3

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 400]
    I:"Recharge Rate"=400
    B:canBreak=false
    S:damage=3.0
    S:efficiency=8.0
    I:enchant=0
    I:energyPerBlock=200
    B:hasModes=false
    I:maxEnergy=100000
    I:miningLevel=3
    I:rechargeRate=400
}


drill_tier3 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 4.0]
    S:Damage=4.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 10.0]
    S:Efficiency=10.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 10]
    I:Enchantablility=10

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 800]
    I:"Energy Per Block"=800

    # Can the tool change modes [default: true]
    B:"Has Modes"=true

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 1000000]
    I:"Maximum Energy"=1000000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 3]
    I:"Mining Level"=3

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 1500]
    I:"Recharge Rate"=1500
    B:canBreak=false
    S:damage=4.0
    S:efficiency=11.0
    I:enchant=10
    I:energyPerBlock=1000
    B:hasModes=true
    I:maxEnergy=1000000
    I:miningLevel=3
    I:rechargeRate=1500
}


drill_tier4 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 5.0]
    S:Damage=5.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 12.0]
    S:Efficiency=12.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 15]
    I:Enchantablility=15

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 1500]
    I:"Energy Per Block"=1500

    # Can the tool change modes [default: true]
    B:"Has Modes"=true

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 5000000]
    I:"Maximum Energy"=5000000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 4]
    I:"Mining Level"=4

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 5000]
    I:"Recharge Rate"=5000
    B:canBreak=false
    S:damage=5.0
    S:efficiency=13.0
    I:enchant=15
    I:energyPerBlock=2000
    B:hasModes=true
    I:maxEnergy=4000000
    I:miningLevel=4
    I:rechargeRate=5000
}


drill_tier5 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 8.0]
    S:Damage=8.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 15.0]
    S:Efficiency=15.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 20]
    I:Enchantablility=20

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 5000]
    I:"Energy Per Block"=5000

    # Can the tool change modes [default: true]
    B:"Has Modes"=true

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 25000000]
    I:"Maximum Energy"=25000000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 5]
    I:"Mining Level"=5

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 10000]
    I:"Recharge Rate"=10000
    B:canBreak=false
    S:damage=8.0
    S:efficiency=15.0
    I:enchant=20
    I:energyPerBlock=5000
    B:hasModes=true
    I:maxEnergy=25000000
    I:miningLevel=5
    I:rechargeRate=10000
}


general {
    # Set this to false to disable EnderIO integration [default: true]
    B:"Integrate EIO"=true

    # Set this to false to disable using Redstone Arsenal integration [default: true]
    B:"Integrate Redstone Arsenal"=true

    # Set this to false to disable Thermal Expansion integration [default: true]
    B:"Integrate TE"=true

    # Set this to false to disable shears functionality for lower tier chainsaws [default: true]
    B:"Shears Default"=true
    B:integrateEIO=true
    B:integrateRArs=true
    B:integrateTE=true
    B:shearsDefault=true
}


hoe_tier1 {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 2.0]
    S:Damage=2.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 6.0]
    S:Efficiency=6.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 0]
    I:Enchantablility=0

    # The amount of energy that the tool uses to mine 1 block (uses twice as much energy for attacking) [range: 0 ~ 2147483647, default: 80]
    I:"Energy Per Block"=80

    # Can the tool change modes [default: false]
    B:"Has Modes"=false

    # The max amount of energy that the tool can hold [range: 0 ~ 2147483647, default: 20000]
    I:"Maximum Energy"=20000

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 2]
    I:"Mining Level"=2

    # RF that the tool can recharge per tick [range: 0 ~ 2147483647, default: 80]
    I:"Recharge Rate"=80
}


soulcrusher {
    # Can the tool break when it runs out of energy [default: false]
    B:"Can Break"=false

    # Damage that the tool does when attacking enemies [range: 0.0 ~ 3.4028235E38, default: 8.0]
    S:Damage=8.0

    # Mining speed of the tool [range: 0.0 ~ 3.4028235E38, default: 12.0]
    S:Efficiency=12.0

    # Enchantablity of the tool (0 - not enchantable) [range: 0 ~ 2147483647, default: 20]
    I:Enchantability=20

    # Mining level of the tool (1 - can mine iron, 2 - can mine diamonds etc.) [range: 0 ~ 2147483647, default: 5]
    I:"Mining Level"=5
}


