# Configuration file

##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings that affect clientside graphical preferences.
##########################################################################################################

client {
    # The number of pixels above the bottom of the screen that the mana bar should be rendered. If it's conflicting with a bar from another mod, raising it by 10 will normally position it right. [range: 0 ~ 32767, default: 59]
    I:manaBarOffset=59

    # Toggles the wave effect in the Runic Tablet GUI. [default: true]
    B:showTabletWave=true
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Settings related to actual gameplay-affecting features.
##########################################################################################################

general {
    # Berries will drop from oak leaves with a 1/berriesDropChance probability. [range: 0 ~ 32767, default: 25]
    I:berriesDropChance=25

    # A string list of all disabled components. Valid component names include: "allium", "apple", "azurebluet", "blueorchid", "chorus", "dandelion", "flareorchid", "lilac", "lilypad", "midnightbloom", "netherwart", "orangetulip", "oxeyedaisy", "peony", "pinktulip", "poisonouspotato", "poppy", "radiantdaisy", "redtulip", "rosebush", "sunflower", "whitetulip" [default: [<example>], [<another example>]]
    S:disabledComponents <
        <example>
        <another example>
     >

    # The cooldown (in ticks) of the discharge amulet. [range: 1 ~ 32767, default: 100]
    I:dischargeAmuletTimer=100

    # Dragon's Eyes will drop from chorus flowers with a 1/dragonsEyeDropChance probability. [range: 0 ~ 32767, default: 10]
    I:dragonsEyeDropChance=10

    # The number of additional uses each efficiency modifier gives. [range: 0 ~ 32767, default: 32]
    I:efficiencyBonusUses=32

    # The cooldown (in ticks) of the hunger talisman. [range: 1 ~ 32767, default: 100]
    I:hungerTalismanTimer=100

    # Infernal Bulbs will drop from nether wart with a 1/infernalBulbDropChance probability. [range: 0 ~ 32767, default: 20]
    I:infernalBulbDropChance=20

    # Old Roots will drop from tall grass with a 1/oldRootDropChance probability. [range: 0 ~ 32767, default: 40]
    I:oldRootDropChance=40

    # The dimension ID used for the otherworld dimension. [range: 0 ~ 32767, default: 67]
    I:otherworldDimensionID=67

    # The number of ticks required to prepare a spell with a staff. [range: 1 ~ 32767, default: 20]
    I:staffChargeTicks=20

    # The number of uses an unmodified staff will have upon being crafted. [range: 0 ~ 32767, default: 65]
    I:staffUses=65

    # Verdant Sprigs will drop from grown crops with a 1/verdantSprigDropChance probability. [range: 0 ~ 32767, default: 30]
    I:verdantSprigDropChance=30
}


spells {
    # Whether or not damaging spells can affect players. [default: false]
    B:disablePVP=false
}


