# Configuration file

general {
    # If enabled, all blocks that dare stand in a bridge's way will be broken.
    # Very useful in creative mode. [default: false]
    B:breakThroughBlocks=false

    # Percent of slack the bridge will have, causing it to hang. [range: 0 ~ 100, default: 100]
    I:bridgeDroopFactor=100

    # Generated bridges will be raised or lowered by this ammount in blocks.
    # Default is just below user's feet. [range: -1.0 ~ 1.0, default: -0.3]
    S:bridgeYOffset=-0.3

    # Custom crafting and building achievements. [default: true]
    B:customAchievements=true

    # Set true to ignore all slope warnings and allow building of very steep bridges. [default: false]
    B:ignoreSlopeWarnings=false

    # Max length of bridges made be Grappling Gun. [range: 1 ~ 1000, default: 400]
    I:maxBridgeDistance=400

    # Turn this off if issues come up with Optifine. [default: true]
    B:zoomOnAim=true
}


