# Configuration file

~CONFIG_VERSION: 1.1

general {
    # This will enable (true) or disable (false) the window title easter egg. [default: true]
    B:enableWindowTitleMsg=false
}


updater {
    # This will enable (true) or disable (false) the update checker. [default: true]
    B:enableUpdater=false

    # If set to true, the update manager checks for alpha/beta/release candidate updates of mods.
    # Note: installed mods within one of the before mentioned states
    # receive unstable updates regardless of this setting! [default: false]
    B:subscribeToUnstable=false
}


