# Configuration file

energized_paste {
    # Blocks in this list wont be able to be picked up be the Energized Camouflage Paste, so no other block can mirror this
    S:blacklist_mirror <
     >

    # Blocks in this list wont be able to be replaced by the Energized Camouflage Paste, so the rendering for this block cant be changed
    S:non_replaceable <
     >

    # The Sound, Volume and Pitch to play when a block is set to the Energized Paste.
    S:sound_set_name=minecraft:block.sand.place
    D:sound_set_pitch=3.0
    D:sound_set_volume=0.5

    # The Sound, Volume and Pitch to play when Energized Paste is used on another block, changing the appereance of that block.
    S:sound_use_name=minecraft:block.slime.break
    D:sound_use_pitch=3.0
    D:sound_use_volume=0.2

    # A list of Blocks which have TileEntities, and whose model is allowed to be copied by Energized paste.
    # To apply to a whole mod, do 'modid:*', replacing modid with the Mod ID
    S:whitelisted_tileentities <
        minecraft:*
     >
}


general {
    # Optifine can do some pretty funky stuff to this mod. I cannot gaurentee that all Optifine Versions will work, only the ones listed here: http://www.wynprice.com/supported-optifine/
    # please following format: OptiFine_<MC version>_<Optifine Version>
    S:accepted_optifine_versions <
        OptiFine_1.12.2_HD_U_C6
        OptiFine_1.12.2_HD_U_C7
        OptiFine_1.12.2_HD_U_C8
     >

    # Should Ambient Occlusion be forced on. If false, AO will be turned on if Minecraft permits it, If true it will be forced on no matter what.
    B:force_ambient_occlusion=false

    # Should the Update Checker be run on startup
    B:update_checker=true
}


