# Configuration file

general {
    # Allows you to turn any blocks able to be made into paths, into paths by right clicking. When false only works on blocks with paths that don't have a tool that normally breaks them. [default: false]
    B:"Enable Path Chisel for Normal Blocks"=false
}


