# Configuration file

general {
    # Can the drill break bedrock [default: false]
    B:"break bedrock"=false

    # Does the drill make noise when it moves? [default: true]
    B:"enable sounds"=true

    # Show First Time Use Message? [default: true]
    B:firstuse=true

    # Use particles for effect [default: true]
    B:"use particles"=true
}


tutorial {
    # Does this show the drill head tutorial? [default: true]
    B:"show tutorial 1"=true

    # Does this show the coal tutorial? [default: true]
    B:"show tutorial 2"=true

    # Does this show the power tutorial? [default: true]
    B:"show tutorial 3"=true

    # Does this show the storage tutorial? [default: true]
    B:"show tutorial 4"=true

    # Does this show the selection tutorial for the decoration? [default: true]
    B:"show tutorial 5"=true

    # Does this show the selection zero tutorial for the decoration? [default: true]
    B:"show tutorial 6"=true

    # Does this show the patter tutorial for the decoration [default: true]
    B:"show tutorial 7"=true

    # Does this show the reinforcement tutorial 1 [default: true]
    B:"show tutorial 8"=true

    # Does this show the reinforcement tutorial 2 [default: true]
    B:"show tutorial 9"=true
}


