# Configuration file

_general {
    # Set this to false to disable this module [default: true]
    B:enable=true
}


interface {
    # Show notification when new dependencies have been downloaded and a restart is needed. [default: true]
    B:showRestartNotification=true
}


