# Configuration file

client {
    B:smallFont=true
}


debug {
    # If enabled the network won't work. For the case that you cannot enter your world. [default: false]
    B:STOPTICK=false
}


general {
    I:energyCapacity=32000

    # How much energy the network drains. [range: 0.1 ~ 100.0, default: 1.0]
    I:energyMultiplier=15
    B:energyNeeded=true

    # Capacity of item box. [range: 10000 ~ 8000000, default: 500000]
    I:energycellCapacity=500000

    # Transfer rate per energy cell. [range: 80 ~ 80000, default: 800]
    I:energyinterfaceTransferRate=800
    I:fluidBoxCapacity=64
    B:"invisible=untouchable"=true
    I:itemBoxCapacity=128

    # Capacity of item box. [range: 25 ~ 99999, default: 100]
    I:itemboxCapacity=100

    # If enabled the network core needs energy to operate. [default: true]
    B:needsEnergy=true

    # The range the wireless accessor works within. [range: 8 ~ 256, default: 64]
    I:rangeWirelessAccessor=32

    # If enabled items will be teleported to the item attractor. [default: false]
    B:teleportItems=false
}


