# Configuration file

general {
    # Whether to enable the library system for sharing tails. This mostly matters on servers. [default: true]
    B:"Enable Library"=true

    #  [default: Local Players data. Delete to remove all customisation data. Do not try to edit manually]
    S:"Local Player Data"={"partInfos":[{"hasPart":false,"typeid":0,"subid":0,"tints":[0,0,0],"textureID":0,"partType":"TAIL"},{"hasPart":false,"typeid":0,"subid":0,"tints":[0,0,0],"textureID":0,"partType":"EARS"},{"hasPart":false,"typeid":0,"subid":0,"tints":[0,0,0],"textureID":0,"partType":"WINGS"}]}
}


