# Configuration file

general {
    # Whether to enable the library system for sharing tails. This mostly matters on servers. [default: true]
    B:"Enable Library"=true
    S:"Local Player Data"={"partInfoMap":{"EARS":{"hasPart":false,"typeid":0,"subid":0,"tints":[-65536,-16711936,-16776961],"textureID":0,"partType":"EARS"},"WINGS":{"hasPart":false,"typeid":0,"subid":0,"tints":[-65536,-16711936,-16776961],"textureID":0,"partType":"WINGS"},"TAIL":{"hasPart":false,"typeid":0,"subid":0,"tints":[-65536,-16711936,-16776961],"textureID":0,"partType":"TAIL"},"MUZZLE":{"hasPart":false,"typeid":0,"subid":0,"tints":[-65536,-16711936,-16776961],"textureID":0,"partType":"MUZZLE"}}}
}


