# Configuration file

misc {
    # Setting this to false will disable Tainted Magic update notifications. [default: true]
    B:NOTIFY_UPDATE=true
    B:research_tags=true
    B:show_update_messages=false
    B:thaumic_disassembler_icon=false
    B:use_update_handler=true
}


ores {
    B:disable_shadowore_spawning_in_world=true
    I:shadowore_spawn_rate=0
}


research {
    # Setting this to true will bring back the old Tainted Magic research tab background. [default: false]
    B:CUSTOM_RESEARCH_TAB_BACK=false

    # Setting this to false will disable the '[TM]' tag on Tainted Magic research items. [default: true]
    B:RESEARCH_TAGS=true
    B:research_tags=true
    B:use_custom_research_tab_background=false
}


wands_and_foci {
    # The ID for the Antibody focus upgrade. [range: 85 ~ 32767, default: 65]
    I:ANTIBODY_UPGRADE_ID=65

    # The ID for the Corrosive focus upgrade. [range: 85 ~ 32767, default: 66]
    I:CORROSIVE_UPGRADE_ID=66

    # The ID for the Diffusion focus upgrade. [range: 85 ~ 32767, default: 68]
    I:DIFFUSION_UPGRADE_ID=68

    # Defines the base amount of damage to increase wand / staff attack damage by when the Mage's Mace focus is equipped. [range: 1.0 ~ 100.0, default: 8.0]
    S:MAGE_MACE_DMG_INC_BASE=8.0

    # The ID for the Persistent focus upgrade. [range: 85 ~ 32767, default: 67]
    I:PERSISTENT_UPGRADE_ID=67

    # The ID for the Sanity focus upgrade. [range: 85 ~ 32767, default: 64]
    I:SANITY_UPGRADE_ID=64

    # Defines the base refresh period in ticks for the Warpwood Wand. The delay period between vis refreshes is calculated by dividing this number by the amount of permanent warp the player has accumulated. [range: 100.0 ~ 100000.0, default: 10000.0]
    S:WARP_WAND_REFRESH_BASE=10000.0
}


