# Configuration file

##########################################################################################################
# biomes
#--------------------------------------------------------------------------------------------------------#
# Biomes and effects
##########################################################################################################

biomes {
    # Eerie biome id
    I:biome_eerie=194

    # Eldritch Lands biome id
    I:biome_eldritch=195

    # Magical Forest biome id
    I:biome_magical_forest=193

    # higher values increases number of magical forest biomes. If you are using biome addon mods you probably want to increase this weight quite a bit
    I:magical_forest_biome_weight=3

    # The dimension considered to be your 'overworld'. Certain TC structures will only spawn in this dim.
    I:main_dim=0
    I:outer_lands_dim=-42
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Custom enchantments
##########################################################################################################

enchantments {
}


general {
    # Enables a version of the Thauminomicon in creative mode that grants you all the research when you first use it.
    B:allow_cheat_sheet=false

    # The % chance of taint fibres spreading on a block tick. Setting this to 0 will effectively stop taint fibre spread. Default 100%
    I:taint_spread=100

    # The range at which taint can spread from a taint seed. This value is only a base and will be modified by flux levels. (valid values are 8-256, default 32)
    I:taint_spread_area=32

    # Setting this to true disables Warp, Taint spread and similar mechanics. You wuss.
    B:wuss_mode=false
}


##########################################################################################################
# graphics
#--------------------------------------------------------------------------------------------------------#
# Graphics
##########################################################################################################

graphics {
    # Set this to true to get the old blue magical forest back.
    B:blue_magical_forest=false

    # The location of the HUD for item vis charge levels. 0 = left (default), 1 = right, 2 = top
    I:charge_bar_pos=0

    # Setting this to true will make certain colors higher contrast or darker to prevent them from being 'invisible' to color blind people.
    B:color_blind=false

    # Hate crooked labels, kittens, puppies and all things awesome? If yes, set this to false.
    B:crooked=true

    # Item aspects are hidden by default and pressing shift reveals them. Changing this setting to 'true' will reverse this behaviour and always display aspects unless shift is pressed.
    B:display_aspects=false

    # Setting this to true will make the amount text in aspect tags twice as large. Useful for certain resolutions and custom fonts.
    B:large_tag_text=false

    # Set to true to disable anxiety triggers like the heartbeat sound.
    B:no_stress=false

    # This setting will disable certain thaumcraft shaders for those who experience FPS drops.
    B:shaders=true

    # Will golems display emote particles if they recieve orders or encounter problems
    B:show_golem_emotes=true

    # Set to true to have the wand dial display in the bottom left instead of the top left.
    B:wand_dial_bottom=false
}


##########################################################################################################
# monster_spawning
#--------------------------------------------------------------------------------------------------------#
# Will these mobs spawn
##########################################################################################################

monster_spawning {
    # Setting this to false will disable spawning champion mobs. Even when false they will still have a greatly reduced chance of spawning in certain dangerous places.
    B:champion_mobs=true
    B:spawn_angry_zombies=true
    B:spawn_eldercreatures=true
    B:spawn_fire_bats=true
    B:spawn_pechs=true
    B:spawn_taintacles=true
    B:spawn_wisps=true
}


##########################################################################################################
# research
#--------------------------------------------------------------------------------------------------------#
# Various research related things.
##########################################################################################################

research {
    # This setting is useful for cooperative or team play. When a research is completed this is the amount of discoveries that will be created (default 1, max 64) Setting it less than 1 will create a discovery that will not be used up when learned.
    I:research_amount=1

    # 0 = normal, -1 = easy (all research items are directly purchased with levels), 1 = Hard (all research items need to be solved via the research table)
    I:research_difficulty=0
}


##########################################################################################################
# runic_shielding
#--------------------------------------------------------------------------------------------------------#
# Runic Shielding
##########################################################################################################

runic_shielding {
    # How much aer and terra vis it costs to reacharge a single unit of shielding. Minimum of 0.
    I:runic_shield_cost=1

    # How many milliseconds passes after a shield has been reduced to zero before it can start recharging again. Minimum of 0.
    I:runic_shield_recharge_delay=4000

    # How many milliseconds passes between runic shielding recharge ticks. Lower values equals faster recharge. Minimum of 500.
    I:runic_shield_recharge_speed=2000
}


##########################################################################################################
# world_generation
#--------------------------------------------------------------------------------------------------------#
# Settings to turn certain world-gen on or off.
##########################################################################################################

world_generation {
    B:generate_amber_ore=true
    B:generate_aura_nodes=true
    B:generate_cinnibar_ore=true

    # Can magic forest biomes generate at worldgen
    B:generate_magic_forest=true
    B:generate_quartz_ore=true
    B:generate_structures=true
    B:generate_trees=true
    B:generate_vis_crystals=true

    # How rare nodes are in the world. The number means there will be (on average) one node per N chunks.
    I:node_rarity=33

    # The % of normal ore amounts that will be spawned. For example 50 will spawn half the ores while 200 will spawn double. Default 100
    I:ore_density=100

    # The chance of a node being special (pure, dark, unstable, etc.). The number means roughly 1 in N nodes will be special, so setting the number to 5 will mean 1 in 5 nodes may be special.
    I:special_node_rarity=10
}


##########################################################################################################
# world_regeneration
#--------------------------------------------------------------------------------------------------------#
# If a chunk is encountered that skipped TC worldgen, then the game will attempt to regenerate certain world features if they are set to true. CAUTION: Best used for worlds created before you added this mod, and only if you know what you are doing. Backups are advised.
##########################################################################################################

world_regeneration {
    B:Quartz_ore=false
    B:amber_ore=false
    B:aura_nodes=false
    B:cinnibar_ore=false

    # This key is used to keep track of which chunk have been generated/regenerated. Changing it will cause the regeneration code to run again, so only change it if you want it to happen. Useful to regen only one world feature at a time.
    S:regen_key=DEFAULT
    B:structures=false
    B:trees=false
    B:vis_crystals=false
}


