# Configuration file

clientside {
    # Enable if you want a see-through portal seals, and more. [default: false]
    B:"Enable Looking Glass Support"=false
}


customization {
    # [PRE-ALPHA (VERY STRANGE)] Enable custom model support. Used in a resource pack, to change 3D look of some blocks. [/assets/thaumicadditions/textures/tcn/] [default: false]
    B:CustomModelSupport=false
}


misc {
    # The Maximum Amount Of Boost That Can Be Applied To Tile Booster [range: 1 ~ 15, default: 5]
    I:MaxBoostNum=5
}


