# Configuration file

##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Client-side settings
##########################################################################################################

client {
    # Color of the border of the box (0 to disable) [default: ff999999]
    S:boxBorderColor=ff003F42

    # The distance to the bottom side of the screen. Use -1 if you don't want to set this [range: -1 ~ 10000, default: -1]
    I:boxBottomY=-1

    # Color of the box (0 to disable) [default: 55006699]
    S:boxFillColor=552BD3DB

    # The distance to the left side of the screen. Use -1 if you don't want to set this [range: -1 ~ 10000, default: 5]
    I:boxLeftX=-1

    # The distance to the right side of the screen. Use -1 if you don't want to set this [range: -1 ~ 10000, default: -1]
    I:boxRightX=-1

    # Thickness of the border of the box (0 to disable) [range: 0 ~ 20, default: 2]
    I:boxThickness=1

    # The distance to the top side of the screen. Use -1 if you don't want to set this [range: -1 ~ 10000, default: 5]
    I:boxTopY=5

    # If true equal stacks will be compacted in the chest contents overlay [default: true]
    B:compactEqualStacks=true

    # If true the probe will automatically show extended information if it is in your main hand (so not required to sneak) [default: false]
    B:extendedInMain=false

    # If true then the probe hotkey must be held down to show the tooltip [default: false]
    B:holdKeyToMakeVisible=false

    # Toggle default probe visibility (client can override) [default: true]
    B:isVisible=true

    # If true show liquid information when the probe hits liquid first [default: false]
    B:showLiquids=false

    # The scale of the tooltips, 1 is default, 2 is smaller [range: 0.4 ~ 5.0, default: 1.0]
    S:tooltipScale=1.0
}


##########################################################################################################
# providers
#--------------------------------------------------------------------------------------------------------#
# Provider configuration
##########################################################################################################

providers {
    S:excludedEntityProviders <
     >
    S:excludedProviders <
     >
    S:sortedEntityProviders <
        theoneprobe:entity.default
        theoneprobe:entity.debug
        theoneprobe:entity.entity
        topaddons:base
        topaddons:bloodmagic
        topaddons:forestry
        topaddons:storagedrawers
        topaddons:tconstruct
        topaddons:vanilla
     >
    S:sortedProviders <
        theoneprobe:default
        theoneprobe:debug
        theoneprobe:block
        mcjtylib:default
        enderio:default
        integrateddynamics:partData
        integrateddynamics:proxyData
        integrateddynamics:dryingBasinData
        integrateddynamics:squeezerData
        topaddons:base
        topaddons:bloodmagic
        topaddons:forestry
        topaddons:storagedrawers
        topaddons:tconstruct
        topaddons:vanilla
        shetiphian.endertanks
        soulshardstow:cage
     >
}


##########################################################################################################
# theoneprobe
#--------------------------------------------------------------------------------------------------------#
# The One Probe configuration
##########################################################################################################

theoneprobe {
    # If true equal stacks will be compacted in the chest contents overlay [default: true]
    B:compactEqualStacks=true

    # If true the probe will automatically show extended information if it is in your main hand (so not required to sneak) [default: false]
    B:extendedInMain=false

    # How much time (ms) to wait before reporting an exception again [range: 1 ~ 10000000, default: 20000]
    I:loggingThrowableTimeout=20000

    # Is the probe needed to show the tooltip? 0 = no, 1 = yes, 2 = yes and clients cannot override [range: 0 ~ 2, default: 1]
    I:needsProbe=0

    # Distance at which the probe works [range: 0.1 ~ 200.0, default: 6.0]
    S:probeDistance=6.0

    # The amount of milliseconds to wait before showing a 'fetch from server' info on the client (if the server is slow to respond) (-1 to disable this feature) [range: 10 ~ 100000, default: 500]
    I:renderTimeout=-1

    # Format for displaying RF: 0 = full, 1 = compact, 2 = comma separated [range: 0 ~ 2, default: 1]
    I:rfFormat=1

    # Alternate color for the RF bar [default: ff430000]
    S:rfbarAlternateFilledColor=ff430000

    # Color for the RF bar border [default: ff555555]
    S:rfbarBorderColor=ff555555

    # Color for the RF bar [default: ffdd0000]
    S:rfbarFilledColor=ffdd0000

    # Show if the block can be harvested (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 2]
    I:showCanBeHarvested=2

    # Show chest contents (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 2]
    I:showChestContents=2

    # Show the growth level of crops (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 1]
    I:showCropPercentage=2

    # If true show debug info with creative probe [default: true]
    B:showDebugInfo=true

    # Show harvest level (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 1]
    I:showHarvestLevel=2

    # Show lever setting (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 1]
    I:showLeverSetting=2

    # Show mob health (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 1]
    I:showMobHealth=1

    # Show mob potion effects (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 2]
    I:showMobPotionEffects=2

    # Show mod name (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 1]
    I:showModName=1

    # How to display RF: 0 = do not show, 1 = show in a bar, 2 = show as text [range: 0 ~ 2, default: 1]
    I:showRF=1

    # Show redstone (0 = not, 1 = always, 2 = sneak) [range: 0 ~ 2, default: 1]
    I:showRedstone=2

    # The amount of milliseconds to wait before updating probe information from the server [range: 10 ~ 100000, default: 200]
    I:timeout=400
}


