# Configuration file

"ender io" {
    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Destabilized Redstone and Molten Iron to be mixed, creating molten Energetic Alloy"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Destabilized Redstone to be casted onto Silicon, creating EnderIO's Electrical Steel ingot"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Destabilized Redstone, Glowstone, and Molten Gold to be mixed, creating molten Energetic Alloy"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Molten Gold to be casted onto a Soulsand Block, creating EnderIO's Soularium ingot"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Molten Steel and Molten Obsidian to be mixed, creating molten Energetic Alloy"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Resonant Ender Fluid and Molten Iron to be mixed, creating molten Energetic Alloy"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Steel to be casted onto Silicon, creating EnderIO's Electrical Steel ingot"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow all EnderIO Metals to be casted into Casting Table/Basins"=true
}


##########################################################################################################
# thermal expansion
#--------------------------------------------------------------------------------------------------------#
# Only used if Thermal Expansion module is on.
# Do not modify the internal names lightly.
##########################################################################################################

"thermal expansion" {
    I:"The Multiplier for RF Cost for Auto-Caster recipe adaptation"=1
    I:"The Multiplier for RF Cost for Magma Crucible recipe adaptation"=5
    I:"The Multiplier for RF Cost for Pattern Stamper recipe adaptation"=1
    S:"The internal name for the Auto-Output TE augment"=generalAutoOutput
    S:"The internal name for the Debugger TE item"=debugger
    S:"The internal name for the Energy Storage TE augment"=energyStorage
    S:"The internal name for the Multimeter TE item"=multimeter
    S:"The internal name for the Processing Speed TE augment"=machineSpeed
    S:"The internal name for the Reception Coil item"=powerCoilGold
    S:"The internal name for the Secondary Output TE augment"=machineSecondary
    S:"The internal name for the Side Config TE augment"=generalReconfigSides
    S:"The internal name for the generalRedstoneControl TE augment"=generalRedstoneControl
}


"tinkers construct" {
    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Steel to be made in the Smeltery"=true

    # Only used if the Tinker's construct Smeltery Module is enabled.
    B:"Allow Yellorium to be casted into the casting table/basin."=true
}


"tinkers smeltery" {
    B:"Allow Destabilized Redstone and Molten Iron to be mixed, creating molten Energetic Alloy"=true
    B:"Allow Destabilized Redstone to be casted onto Silicon, creating EnderIO's Electrical Steel ingot"=true
    B:"Allow Destabilized Redstone, Glowstone, and Molten Gold to be mixed, creating molten Energetic Alloy"=true
    B:"Allow Molten Gold to be casted onto a Soulsand Block, creating EnderIO's Soularium ingot"=true
    B:"Allow Molten Steel and Molten Obsidian to be mixed, creating molten Energetic Alloy"=true
    B:"Allow Resonant Ender Fluid and Molten Iron to be mixed, creating molten Energetic Alloy"=true
    B:"Allow Steel to be casted onto Silicon, creating EnderIO's Electrical Steel ingot"=true
    B:"Allow Steel to be made in the Smeltery"=true
    B:"Allow Yellorium to be casted into the casting table/basin."=true
    B:"Allow all EnderIO Metals to be casted into Casting Table/Basins"=true
}


