# Configuration file

##########################################################################################################
# thermal expansion
#--------------------------------------------------------------------------------------------------------#
# Thermal Expansion related options
##########################################################################################################

"thermal expansion" {
    I:"The Multiplier for RF Cost for Magma Crucible recipe adaptation"=5
}


