# Configuration file

general {
    # Set this to false if you don't want the trash can icon to be rendered inside the trash slot. [default: true]
    B:drawSlotBackground=true

    # Set this to false if you don't want the delete key to delete the item below the mouse cursor. [default: true]
    B:enableDeleteKey=true

    # Set this to true if you want the position of the trash slot to be relative to the game window. [default: false]
    B:trashSlotRelative=false

    # The absolute x position of the trash slot from the center of the screen [range: -2147483648 ~ 2147483647, default: 56]
    I:trashSlotX=56

    # The absolute y position of the trash slot from the center of the screen [range: -2147483648 ~ 2147483647, default: 79]
    I:trashSlotY=79
}


