# Configuration file

general {
    # These items will drop from tumbleweed upon destroying.
    # First number is entry weight and the string after space is item name.
    S:Drops <
        3 minecraft:bone
        3 minecraft:deadbush
        3 minecraft:string
        3 minecraft:feather
        3 minecraft:wheat
        3 minecraft:stick
        3 minecraft:reeds
        2 minecraft:melon_seeds
        2 minecraft:pumpkin_seeds
        2 minecraft:gold_nugget
        1 minecraft:name_tag
        1 minecraft:saddle
        1 minecraft:emerald
        1 minecraft:diamond
        1 minecraft:iron_ingot
        1 minecraft:gold_ingot
     >
}


