# Configuration file

general {
    # Set to true to replace Botany's default Pigmented Glass texture to match vanilla/your resource pack's stained glass. [default: true]
    B:replaceBotanyGlassTexture=true
}


