# Configuration file

enabled {
    B:"appliedenergistics2:quartz_block"=true
    B:"appliedenergistics2:sky_stone_brick"=true
    B:"biomesoplenty:dirt"=true
    B:"biomesoplenty:planks_0"=true
    B:"biomesoplenty:white_sandstone"=true
    B:"botania:biomestonea"=true
    B:"botania:biomestoneb"=true
    B:"botania:dreamwood"=true
    B:"botania:livingrock"=true
    B:"botania:livingwood"=true
    B:"botania:quartztypeblaze"=true
    B:"botania:quartztypedark"=true
    B:"botania:quartztypeelf"=true
    B:"botania:quartztypelavender"=true
    B:"botania:quartztypemana"=true
    B:"botania:quartztypered"=true
    B:"botania:quartztypesunny"=true
    B:"botany:ceramic"=true
    B:"botany:stained"=true
    B:"extratrees:planks.0"=true
    B:"extratrees:planks.1"=true
    B:"extratrees:planks.2"=true
    B:"extratrees:planks.fireproof.0"=true
    B:"extratrees:planks.fireproof.1"=true
    B:"extratrees:planks.fireproof.2"=true
    B:"forestry:ash_brick"=true
    B:"forestry:planks.0"=true
    B:"forestry:planks.1"=true
    B:"forestry:planks.fireproof.0"=true
    B:"forestry:planks.fireproof.1"=true
    B:"immersiveengineering:treated_wood"=true
    B:"integrateddynamics:crystalized_chorus_brick"=true
    B:"integrateddynamics:crystalized_menril_brick"=true
    B:"integrateddynamics:menril_planks"=true
    B:"natura:nether_planks"=true
    B:"natura:overworld_planks"=true
    B:"plants2:planks"=true
    B:"quark:biome_cobblestone"=true
    B:"quark:biotite_block"=true
    B:"quark:duskbound_block"=true
    B:"quark:midori_block"=true
    B:"quark:soul_sandstone"=true
    B:"quark:stained_planks"=true
    B:"rustic:painted_wood_black"=true
    B:"rustic:painted_wood_blue"=true
    B:"rustic:painted_wood_brown"=true
    B:"rustic:painted_wood_cyan"=true
    B:"rustic:painted_wood_gray"=true
    B:"rustic:painted_wood_green"=true
    B:"rustic:painted_wood_light_blue"=true
    B:"rustic:painted_wood_lime"=true
    B:"rustic:painted_wood_magenta"=true
    B:"rustic:painted_wood_orange"=true
    B:"rustic:painted_wood_pink"=true
    B:"rustic:painted_wood_purple"=true
    B:"rustic:painted_wood_red"=true
    B:"rustic:painted_wood_silver"=true
    B:"rustic:painted_wood_white"=true
    B:"rustic:painted_wood_yellow"=true
    B:"rustic:planks"=true
    B:"rustic:slate_brick"=true
    B:"techreborn:rubber_planks"=true
    B:"wizardry:nacre_block_brick"=true
    B:"wizardry:wisdom_wood_planks"=true
}


enabled_groups {
}


general {
    # Whether or not to enable debug functionality. [default: false]
    B:enableDebugFeatures=false
}


