# Configuration file

_general {
    # Set this to false to disable this mod [default: true]
    B:enable=true

    # If true, results that errored won't be shown [default: false]
    B:hideErrored=false

    # The update channel which should be checked. Forge defines 'latest' for the bleeding-edge versions and 'recommended' for the stable versions of mods. [default: latest]
    S:promoChannel=latest
}


interface {
    # Show updates button in main menu when there are updates available [default: true]
    B:showUpdatesButton=true

    # true: the X and Y are absolute coordinates
    # false: the X and Y is relative to WIDTH/2 and HEIGHT/4 respectively (which is how the buttons are placed in the vanilla menu GUI) [default: false]
    B:updatesButtonAbsolutePos=false

    #  [range: -2147483648 ~ 2147483647, default: 104]
    I:updatesButtonX=104

    #  [range: -2147483648 ~ 2147483647, default: 96]
    I:updatesButtonY=96
}


