# Configuration file

~CONFIG_VERSION: 2.4.1

##########################################################################################################
# Deprecated
#--------------------------------------------------------------------------------------------------------#
# You do not have to change the configurations in Deprecated section.
##########################################################################################################

Deprecated {
    # Entity ID for Armorstand [range: 0 ~ 2147483647, default: 5]
    I:idArmorStand=5

    # Entity ID for Acacia Boat [range: 0 ~ 2147483647, default: 0]
    I:idBoatAcacia=0

    # Entity ID for Birch Boat [range: 0 ~ 2147483647, default: 1]
    I:idBoatBirch=1

    # Entity ID for Dark Oak Boat [range: 0 ~ 2147483647, default: 2]
    I:idBoatDarkOak=2

    # Entity ID for Jungle Boat [range: 0 ~ 2147483647, default: 3]
    I:idBoatJungle=3

    # Entity ID for Spruce Boat [range: 0 ~ 2147483647, default: 4]
    I:idBoatSpruce=4
}


General {
    # If true, the mod will check for updates automatically | アップデートを自動で確認するかどうか [default: true]
    B:doUpdateChecking=true

    # Channel of updates checking | アップデートのチャンネル [default: recommended]
    S:updateChannel=recommended

    # Enable debug mode | デバッグモード。通常はfalseにすることを推奨 [default: false]
    B:enableDebugMode=false

    # Validate vanilla jar hash | バニラのJarファイルのハッシュ値を確認する [default: true]
    B:validateVanillaJar=true

    WorldGen {
        # Generate Granite, Diorite, Andesite in Overworld or not | 花崗岩、閃緑岩、安山岩をワールドに生成するか否か [default: true]
        B:genStones=true

        #  [default: 1, -1]
        S:genStonesDimensionBlackList <
            1
            -1
         >

        # Generate fossiles in Overworld or not | 化石を生成するか否か [default: true]
        B:genFossiles=true

        #  [default: 1, -1]
        S:genFossilesDimensionBlackList <
            1
            -1
         >

        # Generate coarse dirt in Overworld or not | 粗い土を生成するか否か [default: true]
        B:genCoarseDirt=true

        #  [default: 1, -1]
        S:genCoarseDirtDimensionBlackList <
            1
            -1
         >

        # Generate magma block or not | マグマブロックを生成するか否か [default: true]
        B:genMagmaBlock=true

        #  [default: [0, 1]]
        I:genMagmaBlockDimensionBlackList <
            0
            1
         >

        # Generate Deepslate or not | 深層岩を生成するかどうか [default: true]
        B:genDeepslate=true

        #  [default: [1, -1]]
        I:genDeepslateDimensionBlackList <
            1
            -1
         >
    }

    Recipe {
        # Delete the recipe of 2 fences from 6 sticks | 棒6本からフェンス2個を作るレシピを削除するかどうか(木材4つと棒2本からフェンスを作るレシピは、この設定に関わらず常に追加されます) [default: false]
        B:removeOldFenceRecipe=false

        # If set to true, old smooth stone slab recipe will be kept | 古い石ハーフブロックのレシピを使うかどうか [default: false]
        B:useOldSmoothStoneSlabRecipe=false
    }

    Entity {
        # Boat added by this mod will crash when collision | このMODが追加するボートが、衝突時に壊れるかどうか(バニラのボートは衝突時に壊れる) [default: false]
        B:boatCrashWhenCollide=false
    }

    DisableFeatures {
        # granite, andesite, diorite, polished ones, stairs, slabs, and walls
        B:"enable stones"=true
        B:"enable deepslateStone"=true
        B:"enable wood"=true
        B:"enable smoothStone"=true
        B:"enable armorStand"=true
        B:"enable doors"=true
        B:"enable woodenTrapdoors"=true
        B:"enable fences"=true
        B:"enable fenceGates"=true
        B:"enable buttons"=true
        B:"enable pressurePlates"=true
        B:"enable boats"=true
        B:"enable strippedLogs"=true
        B:"enable ironTrapdoor"=true
        B:"enable grassPath"=true
        B:"enable coarseDirt"=true

        # prismarine block, prismarine bricks, dark prismarine, prismarine shard, and prismarine crystal
        B:"enable prismarineStuffs"=true
        B:"enable sponge"=true
        B:"enable redNetherBricks"=true
        B:"enable netherWartBlock"=true
        B:"enable endstoneBricks"=true
        B:"enable purpurStuffs"=true
        B:"enable boneBlockAndFossile"=true
        B:"enable magmaBlock"=true
        B:"enable redSandstone"=true
        B:"enable mutton"=true
        B:"enable concreteAndConcretePowder"=true
        B:"enable glazedTerracotta"=true
        B:"enable ironNugget"=true
        B:"enable barrel"=true
        B:"enable sweetBerry"=true
        B:"enable witherRose"=true
        B:"enable flower"=true
        B:"enable plainDye"=true
        B:"enable suspiciousStew"=true
        B:"enable newNoteBlockInstruments"=true
        B:"enable lantern"=true
        B:"enable allKindsOfStairs"=true
        B:"enable allKindsOfSlabs"=true
        B:"enable allKindsOfWalls"=true
    }

    Alternative {
        # Make squid drop prismarine stuff | イカがプリズマリン系のアイテムをドロップするようになる [default: false]
        B:altPrismarine=false

        # Make enderman drop purpur stuff | エンダーマンがプルプァ系のアイテムをドロップするようになる [default: false]
        B:altPurpur=false
    }

    Integration {

        ##########################################################################################################
        # EtFuturum
        #--------------------------------------------------------------------------------------------------------#
        # Settings to cooperate with EtFuturum
        ##########################################################################################################

        EtFuturum {
            # Cooperate with EtFuturum or not | EtFuturumと連携するかどうか [default: true]
            B:integrate=true
        }

        ##########################################################################################################
        # ThaumCraft
        #--------------------------------------------------------------------------------------------------------#
        # Settings to cooperate with ThaumCraft
        ##########################################################################################################

        ThaumCraft {
            # Cooperate with ThaumCraft or not | ThaumCraftと連携するかどうか [default: true]
            B:integrate=true
        }

    }

}


