# Configuration file

general {
    # Check for nearby doors when block is placed (Use specialized mod if you want more advanced restrictions)
    B:block_placing_next_to_doors=false

    # Stop accepting item after some item were sold out.
    B:close_on_partial_sold_out=false

    # Stop accepting item after last item is sold out.
    B:close_on_sold_out=false

    # Set Y offset of HUD
    I:offsetY=40

    # Transfer sold item directly to player's inventory.
    B:transfer_to_inventory=false

    # Add a new tab to creative mode and put all vending blocks there.
    B:use_custom_creative_tab=true
}


