# Configuration file

##########################################################################################################
# block tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks for Blocks
##########################################################################################################

"block tweaks" {
    # Allows for right-click-to-harvest on nearly any (including mod) crop. No seeds will be dropped - intended
    B:"Easy Crop Harvesting"=true

    # Allows more things to be bonemealed; Nether Wart requires Blaze Powder
    B:"Enable Bonemeal Tweak"=true

    # Uneaten Cakes can be broken and re-acquired
    B:"Enable Cake Drops"=true

    # Fixes some tools NOT being effective on certain materials
    B:"Enable Tool Efficiency Tweaks"=true

    # Right clicking with a tool will place a torch from your inventory
    B:"Enable Tool Torch Placement"=true
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantment ID's and Tweaks
##########################################################################################################

enchantments {
    # If set to 0, the enchantment is disabled
    I:"Hypermending Enchantment ID"=233

    # If set to 0, the enchantment is disabled
    I:"Autosmelt Enchantment ID"=234

    # If set to 0, the enchantment is disabled
    I:"Step Boost Enchantment ID"=235

    # If set to 0, the enchantment is disabled
    I:"Lumbering Enchantment ID"=236

    # Tweaks Feather Falling IV to negate ALL fall damage
    B:"Enable Better Feather Falling"=true

    # Allow crafting a piece of paper with an enchanted tool to disenchant said tool
    B:"Enable Item Disenchantment"=true
}


##########################################################################################################
# miscellaneous
#--------------------------------------------------------------------------------------------------------#
# Other Tweaks
##########################################################################################################

miscellaneous {
    # This config allows for flint and gravel to be a reasonably heavy part of crafting / early-game gameplay
    B:"Change Base Game Mechanics?"=false

    # This features allows you to rebirth the ender dragon via a cryptic ritual..
    B:"Enable Ender Dragon Rebirth"=true

    # Combining two pairs of undamaged leggings in an anvil will get you horse armor of that type
    B:"Enable Horse Armor Recipes"=true

    # Adjusts Max Stack Sizes of some vanilla items
    B:"Enable Stack Size Tweaks"=true

    # Disables lightning from spawning, it can get annoying
    B:"Disable Lightning?"=false

    # Small tweaks to fix inconsistencies
    B:"Adjust Various Block Sounds?"=true

    # 0 disables the feature, 1 enables the features all the time, 2 enables the feature only while sneaking
    I:"Enable Food Value Tooltips?"=0
}


##########################################################################################################
# mob tweaks
#--------------------------------------------------------------------------------------------------------#
# Various Tweaks to Mobs
##########################################################################################################

"mob tweaks" {
    # If set to false, chicken drops will be unchanged
    B:"Chickens Drop Extra Feathers"=true

    # If set to false, cow drops will be unchanged
    B:"Cows Drop Extra Leather"=true

    # If set to false, skeleton drops will be unchanged
    B:"Skeletons Drop Extra Bones"=true

    # If set to false, squid drops will be unchanged
    B:"Squids Drop Extra Ink Sacs"=true

    # If set to false, enderman drops will be unchanged
    B:"Endermen Drop Extra Ender Pearls"=true
    B:"Disable Bats"=false

    # Also balances Ghast spawns
    B:"Disable Pig Zombies"=false

    # Randomly spawns more difficult (but more lootworthy) enemies? Applies to ALL enemies
    B:"Challenger Mobs Enabled"=true

    # There is a 1 in 'x' chance for Challenger mobs to spawn, this is 'x'
    I:"Challenger Mobs Rarity"=75

    # Renaming will not change anything, just their highlighted name
    S:"Challenger Mobs' Prefixes" <
        Tanky
        Hungry
        Ranger
        Mage
        Pyro
        Zestonian
        Resilient
        Hyper
		BBoldted
		Unabridged
		Unhinged
		Unleashed
		Ultimate
		Unmasked
		Minetweaker
		Fucking
		Cool
		Beta
		Chad
		Karen
     >
}


