# Configuration file

##########################################################################################################
# block tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks for Blocks
##########################################################################################################

"block tweaks" {
    # Allows for right-click-to-harvest on nearly any (including mod) crop
    B:"Easy Crop Harvesting"=true

    # Objects listed here will not be effected by the Easy Crop Harvesting tweak. These are class names, or parts of class names
    S:"Easy Crop Harvesting Class Blacklist" <
        harvestcraft
        tehnut.resourceful.crops
     >

    # Allows more things to be bonemealed
    B:"Enable Bonemeal Tweak"=true

    # Uneaten Cakes can be broken and re-acquired
    B:"Enable Cake Drops"=true

    # Fixes some tools NOT being effective on certain materials
    B:"Enable Tool Efficiency Tweaks"=true

    # Right clicking with a tool will place a torch from your inventory
    B:"Enable Tool Torch Placement"=true

    # Fixes common vanilla instances of items spawning and glitching everywhere by bypassing the spawning situation completely
    B:"Glitching Item Fix"=true
}


##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Enchantment ID's and Tweaks
##########################################################################################################

enchantments {
    # If set to 0, the enchantment is disabled
    I:"Hypermending Enchantment ID"=233

    # If set to 0, the enchantment is disabled
    I:"Autosmelt Enchantment ID"=234

    # If set to 0, the enchantment is disabled
    I:"Step Boost Enchantment ID"=235

    # If set to 0, the enchantment is disabled
    I:"Lumbering Enchantment ID"=236

    # Registry Names (or part of a registry name) that you want to have Autosmelt + Fortune interaction
    S:"Autosmelt Fortune Interaction Overrides" <
     >

    # The number of levels that crafting this book will require.
    I:"Hypermending XP Cost"=30

    # The number of levels that crafting this book will require.
    I:"Auto-Smelt XP Cost"=15

    # The number of levels that crafting this book will require.
    I:"StepBoost XP Cost"=5

    # The number of levels that crafting this book will require.
    I:"Lumbering XP Cost"=20

    # Tweaks Feather Falling IV to negate ALL fall damage
    B:"Enable Better Feather Falling"=true

    # Allow crafting a piece of paper with an enchanted tool to disenchant said tool
    B:"Enable Item Disenchantment"=true
}


##########################################################################################################
# item tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks for Items
##########################################################################################################

"item tweaks" {
    # Adds wooden items to fuel list if they were missing
    B:"Add Missing Items as Fuels?"=true
}


##########################################################################################################
# miscellaneous
#--------------------------------------------------------------------------------------------------------#
# Other Tweaks
##########################################################################################################

miscellaneous {
    # This config allows for flint and gravel to be a reasonably heavy part of crafting / early-game gameplay
    B:"Change Base Game Mechanics?"=false

    # Combining two pairs of undamaged leggings in an anvil will get you horse armor of that type
    B:"Enable Horse Armor Recipes"=true

    # Adjusts Max Stack Sizes of some vanilla items
    B:"Enable Stack Size Tweaks"=true

    # Disables lightning from spawning, it can get annoying
    B:"Disable Lightning?"=true

    # 0 disables the feature, 1 enables the features all the time, 2 enables the feature only while sneaking
    I:"Enable Food Value Tooltips?"=2
}


##########################################################################################################
# mob tweaks
#--------------------------------------------------------------------------------------------------------#
# Various Tweaks to Mobs
##########################################################################################################

"mob tweaks" {
    # Allows you to R-Click on TAMED pets with horse armor to armor them up!
    B:"Allow pet armor?"=true

    # If set to false, chicken drops will be unchanged
    B:"Chickens Drop Extra Feathers"=true

    # If set to false, cow drops will be unchanged
    B:"Cows Drop Extra Leather"=true

    # If set to false, skeleton drops will be unchanged
    B:"Skeletons Drop Extra Bones"=true

    # If set to false, squid drops will be unchanged
    B:"Squids Drop Extra Ink Sacs"=true

    # If set to false, enderman drops will be unchanged
    B:"Endermen Drop Extra Ender Pearls"=true

    # Allows chickens to have a feather plucked using shears
    B:"Pluck Feathers from Chickens"=true

    # Disables all bat spawns from the world. May prevent irration; side-effects are: difficulties with angel ring acquisition from ExU2
    B:"Disable Bats"=false

    # Also balances Ghast spawns
    B:"Disable Pig Zombies"=false

    # Special request - only allows the wither to be summoned in non-overworld dimensions
    B:"Disallow Wither Spawning in the Overworld"=false

    # Randomly spawns more difficult (but more lootworthy) enemies? Applies to ALL enemies
    B:"Challenger Mobs Enabled"=true

    # There is a 1 in 'x' chance for Challenger mobs to spawn, this is 'x'
    I:"Challenger Mobs Rarity"=75

    # Loot table. Formatted as <modid>:<item>:<metadata>*<quantity>, <modid>:<item>*quantity, or <modid>:<item>
    S:"Challenger Mobs Loot Table" <
        minecraft:gold_ingot
        minecraft:gold_nugget*15
        minecraft:diamond
        minecraft:emerald
        minecraft:ghast_tear
        minecraft:ender_pearl
        minecraft:emerald
        minecraft:experience_bottle
        minecraft:record_13
        minecraft:record_cat
        minecraft:record_blocks
        minecraft:record_chirp
        minecraft:record_far
        minecraft:record_mall
        minecraft:record_mellohi
        minecraft:record_stal
        minecraft:record_strad
        minecraft:record_ward
        minecraft:record_11
        minecraft:record_wait
     >

    # Renaming will not change anything, just their highlighted name
    S:"Challenger Mobs' Prefixes" <
        Tanky
        Hungry
        Ranger
        Mage
        Pyro
        Zestonian
        Resilient
        Hyper
     >
}


