# Configuration file

general {
    # Block IDs that liquids will not be able to flow into.
    # Note that some modded fluids will require a game restart for changes here to take effect!
    S:WaterproofBlocks <
        minecraft:redstone_wire
        minecraft:redstone_torch
        minecraft:unlit_redstone_torch
        minecraft:powered_repeater
        minecraft:unpowered_repeater
        minecraft:powered_comparator
        minecraft:unpowered_comparator
        minecraft:rail
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:activator_rail
        minecraft:stone_button
        minecraft:wooden_button
        minecraft:lever
     >
}


