# Configuration file

"alloyed fist" {
    B:ENABLED=true
    I:ESSENCE=1
}


augment {

    "alloyed fist" {
        # Enables the Alloyed Fist [default: true]
        B:enabled=true

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 5]
        I:rarity=5

        # Tolerance cost of the Augment [range: 0 ~ 50, default: 1]
        I:tolerance=1
    }

    "ender convergence device" {
        # Maxmimum number of items to attempt to teleport at once [range: 1 ~ 200, default: 50]
        I:MAXIMUM=50

        # Radius in which the ECD will look for items. [range: 0 ~ 32, default: 16]
        I:RANGE=16

        # These items will never be picked up by the ECD. [default: [appliedenergistics2:item.ItemCrystalSeed], [Botania:livingrock], [Botania:manaTablet]]
        S:blacklist <
            appliedenergistics2:item.ItemCrystalSeed
            Botania:livingrock
            Botania:manaTablet
         >

        # Enables the Ender Convergence Device [default: true]
        B:enabled=true

        # Energy Cost of the Augment per ItemStack Teleported [range: 0 ~ 1000, default: 20]
        I:energyPerEffect=20

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 10]
        I:rarity=10

        # Tolerance cost of the Augment [range: 0 ~ 50, default: 2]
        I:tolerance=2
    }

    cyberbrain {
        # Enables the Cyberbrain Augment [default: true]
        B:enabled=true

        # Energy Cost of the Augment per Second [range: 0 ~ 50, default: 10]
        I:energyDrain=10

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 10]
        I:rarity=10

        # Tolerance Cost of the Augment [range: 0 ~ 50, default: 5]
        I:tolerance=5
    }

    cyberstomach {
        # Enables the Cyberstomach Augment [default: true]
        B:enabled=true

        # Energy Cost of the Augment per Second [range: 0 ~ 50, default: 5]
        I:energyDrain=5

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 10]
        I:rarity=10

        # Tolerance Cost of the Augment [range: 0 ~ 50, default: 10]
        I:tolerance=10

        "cyborg food" {
            # Spawn CyborgFood as loot [default: true]
            B:chestLoot=true

            "power bar" {
                # Enables the Power Bar [default: true]
                B:enabledBar=true

                # Energy Regained when Consumed [range: 0 ~ 1000, default: 300]
                I:energyBar=300

                #  [range: 0 ~ 20, default: 8]
                I:hunger=8

                #  [range: 0.0 ~ 1.0, default: 0.4]
                S:saturation=0.4
            }

            "silver gorgon" {
                # Enables the Energy Drink [default: true]
                B:enabledDrink=true

                # Energy Regained when Consumed [range: 0 ~ 1000, default: 500]
                I:energyDrink=500

                #  [range: 0 ~ 20, default: 3]
                I:hunger=3

                #  [range: 0.0 ~ 1.0, default: 0.6]
                S:saturation=0.6
            }

        }

    }

    "thermo-optical camouflage" {
        # Enables the Thermo-Optical Camouflage Augment [default: true]
        B:enabled=true

        # Energy Cost of the Augment every 4 Seconds [range: 0 ~ 1000, default: 150]
        I:energyDrain=150

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 1]
        I:rarity=1

        # Tolerance Cost of the Augment [range: 0 ~ 50, default: 15]
        I:tolerance=15
    }

    "kinetic dampener" {
        # Enables the Kinetic Dampener [default: true]
        B:enabled=true

        # Energy Cost of the augment per Projectile Deflected [range: 0 ~ 1000, default: 75]
        I:energyDrain=75

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 1]
        I:rarity=1

        # Tolerance Cost of the Augment [range: 0 ~ 50, default: 10]
        I:tolerance=10
    }

    derps {
        # Enable the Delayed Ender Repositioning System [default: true]
        B:enabled=true

        # Energy Cost of the Augment per Block of the fall negated [range: 0 ~ 1000, default: 40]
        I:energyDrain=40

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 15]
        I:rarity=15

        # Tolerance Cost of the Augment [range: 0 ~ 50, default: 10]
        I:tolerance=10
    }

    "nanofilament lancets" {
        # Enables the Sap Tap when IC2 is Loaded [default: true]
        B:enabled=true

        # Energy Cost per Tap-Action [range: 0 ~ 1000, default: 40]
        I:energyDrain=40

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 15]
        I:rarity=15

        # Tolerance Cost of the Augment [range: 0 ~ 50, default: 3]
        I:tolerance=3
    }

    "ore scanner" {
        # Cooldown in Seconds [range: 0 ~ 600, default: 90]
        I:chargeTime=90

        # Enables the Ore Scanner when Scannable is Loaded [default: true]
        B:enabled=true

        # Energy Cost per Pulse [range: 0 ~ 10000, default: 200]
        I:energyDrain=200

        # Rarity. 0 never spawns. 100 always spawns [range: 0 ~ 100, default: 5]
        I:rarity=5

        # Tolerance Cost of the Augment [range: 0 ~ 50, default: 2]
        I:tolerance=2
    }

}


"ballistic shields" {
    B:ENABLED=true
    S:"Zombie-Item Spawn Chance"=5.0
}


batons {
    B:ENABLED=true
}


clothing {
    B:ENABLED=true
    S:"Tech-Visor Zombie-Item Spawn Chance"=5.0
    S:"Zombie-Item Spawn Chance"=5.0
}


compatability {

    "the one probe" {
        # Enable the Hudjack and Hudlens augments to act as a Probe if the mod is present [default: false]
        B:hudjackProbe=false
    }

    ic2 {
        # EU per 80 Energy [range: 0 ~ 2147483647, default: 1]
        I:EUPerEnergy=1
    }

}


"cyber mobs" {

    cyberskeleton {
        # Enables Cyberskeletons Spawning [default: true]
        B:enabled=true

        # Chance for a skeleton to be a Cyberskeleton [range: 0.0 ~ 100.0, default: 10.0]
        S:spawnChance=10.0
    }

    "grey goo" {
        # Enables Grey Goo Spawning [default: true]
        B:enable=true

        # Chance out of 100 for a Grey Goo to Spawn on the death of a Cybermob [range: 0.0 ~ 100.0, default: 2.0]
        S:spawnChance=2.0
    }

}


cyberbrain {
    B:ENABLED=true
    I:ENERGY=10
    I:ESSENCE=5
}


cyberstomach {
    B:ENABLED=true
    I:ENERGY=5
    I:ESSENCE=10
}


"cyborg food" {
    B:"Energy Drink: ENABLED"=true
    I:"Energy Drink: ENERGY"=500
    B:"Power Bar: ENABLED"=true
    I:"Power Bar: ENERGY"=300
}


derps {
    B:ENABLED=true
    I:ENERGY=40
    I:ESSENCE=10
}


"ender convergence device" {
    S:BLACKLIST <
        appliedenergistics2:item.ItemCrystalSeed
        Botania:livingrock
        Botania:manaTablet
     >
    B:ENABLED=true
    I:ENERGY=20
    I:ESSENCE=2
    I:MAXIMUM=50
    I:RANGE=16
}


equipment {

    clothing {
        # Chance for this Item to drop from a Cybermob [range: 0.0 ~ 100.0, default: 10.0]
        S:dropChance=10.0

        # Enables Genera Clothing Items [default: true]
        B:enabled=true

        # Chance for Cybermobs to spawn with this Item [range: 0.0 ~ 100.0, default: 5.0]
        S:spawnChance=5.0
    }

    tech-visor {
        # Chance for this item to drop from a Cybermob [range: 0.0 ~ 100.0, default: 10.0]
        S:dropChance=10.0

        # Enables the Tech-Visor [default: true]
        B:enabled=true

        # chance for Cybermobs to spawn with this item [range: 0.0 ~ 100.0, default: 5.0]
        S:spawnChance=5.0
    }

    "riot shields" {
        # Allow this item to spawn as chest loot [default: true]
        B:chestLoot=true

        # Chance for this Item to drop from a Cybermob [range: 0.0 ~ 100.0, default: 15.0]
        S:dropChance=15.0

        # Enable the Ballistic Shields [default: true]
        B:enabled=true

        # Chance for Cybermobs to spawn with this item [range: 0.0 ~ 100.0, default: 20.0]
        S:spawnChance=20.0
    }

    batons {
        # Allow this item to spawn as chest loot [default: true]
        B:chestLoot=true

        # Chance for Item to Drop from Mobs [range: 0.0 ~ 100.0, default: 15.0]
        S:dropChance=15.0

        # Enable Baton weapons [default: true]
        B:enabled=true

        # Chance for Mob to Spawn with the Item [range: 0.0 ~ 100.0, default: 20.0]
        S:spawnChance=20.0
    }

}


general {
    B:"Drop Augments on Death"=true
}


"kinetic dampener" {
    B:ENABLED=true
    I:ENERGY=75
    I:ESSENCE=10
}


miscellaneous {
    B:"Enable Cyberskeletons"=true
    B:"Enable Grey Goo"=true
    I:"Energy per EU"=1
    S:"Grey Goo Spawn Chance"=2.0
}


rarirty {
    I:"Sap Tap"=15
}


rarity {
    I:"Alloyed Fist"=5
    I:Cyberbrain=10
    I:Cyberstomach=10
    I:DERPS=15
    I:"Ender Convergence Device"=10
    I:"Kinetic Dampener"=1
    I:"Thermo-Optical Camouflage"=1
}


"sap tap" {
    B:ENABLED=true
    I:ENERGY=40
    I:ESSENCE=3
}


"the one probe" {
    B:"Hudjack acts as One Probe"=false
}


"thermo-optical camouflage" {
    B:ENABLED=true
    I:ENERGY=150
    I:ESSENCE=15
}


