# Configuration file

##########################################################################################################
# General
#--------------------------------------------------------------------------------------------------------#
# Settings of YumaLib
##########################################################################################################

General {
    #  [default: false]
    B:showCreativeTab=false

    #  [default: false]
    B:enableGMSwitcher=false
}


##########################################################################################################
# Tooltip
#--------------------------------------------------------------------------------------------------------#
# Settings of Tooltip
##########################################################################################################

Tooltip {
    #  [default: Never]
    S:showOreDic=Never

    #  [default: Never]
    S:showRegistryName=Never

    #  [default: Never]
    S:showBlockMaterialInfo=Never
}


