# Configuration file

general {
    S:defaultCompletedIconColor=#DBA213
    S:defaultCompletedTitleColor=#DBA213
    S:defaultUncompletedIconColor=#FFFFFF
    S:defaultUncompletedTitleColor=#0489C1
}


