# Configuration file

"skeleton#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 60]
    I:maxAttackTime=60

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:minAttackTime=20

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 15.0]
    S:range=15.0
}


"snowman#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 20]
    I:maxAttackTime=20

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:minAttackTime=20

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.25]
    S:moveSpeedTowardsTarget=1.25

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"witch#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 60]
    I:maxAttackTime=60

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 60]
    I:minAttackTime=60

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 10.0]
    S:range=10.0
}


"witherboss#rangedattack" {
    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Longest time in ticks (20 ticks a second) between attacks, scaled using (((distanceToTargetSQ / attackRange) * (maxTime - minTime)) + minTime) resulting in faster attacks the closer a target gets. [range: 0 ~ 1200, default: 40]
    I:maxAttackTime=40

    # Shortest time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 40]
    I:minAttackTime=40

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Range to attack targets, is limited by power of an arrow and target selector range [range: 0.0 ~ 400.0, default: 20.0]
    S:range=20.0
}


