# Configuration file

"creeper#attacking#any" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: false]
    B:useLongMemory=false
}


"pigzombie#attacking#[net_minecraft_entity_player_entityplayer]" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: false]
    B:useLongMemory=false
}


"pigzombie#attacking#villager" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: true]
    B:useLongMemory=true
}


"skeleton#attacking#[net_minecraft_entity_player_entityplayer]" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.2]
    S:moveSpeedTowardsTarget=1.2

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: false]
    B:useLongMemory=false
}


"villagergolem#attacking#any" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: true]
    B:useLongMemory=true
}


"wolf#attacking#any" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: true]
    B:useLongMemory=true
}


"zombie#attacking#[net_minecraft_entity_player_entityplayer]" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: false]
    B:useLongMemory=false
}


"zombie#attacking#villager" {
    # Time in ticks (20 ticks a second) between attacks [range: 0 ~ 1200, default: 20]
    I:attackTime=20

    # allows enabling replacement for the entity class's attack AI and settings [default: false]
    B:enable=false

    # Speed of the entity when moving closer to the target. [range: 0.0 ~ 2.0, default: 1.0]
    S:moveSpeedTowardsTarget=1.0

    # Allows the entity to keep tracking a target even if it can't walk to the target. [default: true]
    B:useLongMemory=true
}


