# Configuration file

settings {
    I:"Bound Fishing Rod - Fish Limit Per Use (Demon)"=64
    I:"Bound Fishing Rod - Fish Limit Per Use (Weak)"=8
    D:"Breeding Multiplier"=1.0
    B:"Disable Mariculture Live Fish in NEI"=false
    B:"Easier Fish Scanner Recipe"=true
    D:"Fish Caught Alive Modifier"=1.15
    B:"Ignore biomes when catching fish"=false
    B:"Ignore dimensions when catching fish"=false
}


