# Configuration file

drops {
    # Enables crates to drop of items from my custom port of Aether Legacy Departure. [default: false]
    B:enableAetherLegacyDepartureItems=false
}


"et futurum requiem options" {
    # Enables Calcite from Et Futurum to generate from y=70 to y=100. [default: true]
    B:enableCalciteGeneration=true

    # Enables Tuff Generation from Et Futurum to generate from y=25 to y=45, instead of at lower y levels.(Disable the Tuff generation in Et Futurum before setting this to true.) [default: false]
    B:enableNovaCraftTuffGeneration=false
}


mobs {
    # Enables increased spawning of Zombie Pigmen, Magma Cubes, and Ghasts in all Nether Biomes [default: true]
    B:enableIncreasedVanillaNetherMobSpawn=true

    # Enables the Spawning of Blazing Chargers [default: true]
    B:enableSpawnBlazingCharger=true

    # Enables the Spawning of Drifters [default: true]
    B:enableSpawnDrifter=true

    # Enables the Spawning of Ender Avis' [default: true]
    B:enableSpawnEnderAvis=true

    # Enables the Spawning of Enderlords [default: true]
    B:enableSpawnEnderLord=true

    # Enables the Spawning of Ender Rays [default: true]
    B:enableSpawnEnderRay=true

    # Enables the Spawning of Glow Squids [default: true]
    B:enableSpawnGlowSquid=true

    # Enables the Spawning of Iceologer [default: true]
    B:enableSpawnIceologer=true

    # Enables the Spawning of Phantoms in the Moutain Biomes [default: false]
    B:enableSpawnOverworldPhantom=false

    # Enables the Spawning of Phantoms [default: true]
    B:enableSpawnPhantom=true

    # Enables the Spawning of Sculk Dweller [default: true]
    B:enableSpawnSculkDweller=true

    # Enables the Spawning of Slaughters [default: true]
    B:enableSpawnSlaughter=true

    # Enables the Spawning of Vindicator [default: true]
    B:enableSpawnVindicator=true
}


"new generation" {
    # Enables More Coal Ore to generate within Caves. [default: true]
    B:enableAdditonalCoalOreGeneration=true

    # Enables More Diamond Ore to generate within Caves.(Enable if you wants diamonds rarer than vanilla but not as rare as in NovaCraft.) [default: false]
    B:enableAdditonalDiamondOreGeneration=false

    # Enables More Gold Ore to generate within Caves. [default: true]
    B:enableAdditonalGoldOreGeneration=true

    # Enables More Iron Ore to generate within Caves. [default: true]
    B:enableAdditonalIronOreGeneration=true

    # Enables More Lapis Ore to generate within Caves.(Not sure why you want more lapis but it here if you want more in world gen.) [default: false]
    B:enableAdditonalLapisOreGeneration=false

    # Enables More Redstone Ore to generate within Caves. [default: true]
    B:enableAdditonalRedstoneOreGeneration=true

    # Enables Etherstone generation [default: true]
    B:enableEtherstone=true

    # Enables Etherstone Coal Ore generation [default: true]
    B:enableEtherstoneCoal=true

    # Enables Etherstone Emerald Ore generation [default: true]
    B:enableEtherstoneEmerald=true

    # Enables Etherstone Gold Ore generation [default: true]
    B:enableEtherstoneGold=true

    # Enables Etherstone Iron Ore generation [default: true]
    B:enableEtherstoneIron=true

    # Enables Emerald Ore to rarely generate in all biomes from y = 0 to y = 90 [default: true]
    B:enableExtraEmeraldOreGeneration=true

    # Enables Glow lichen generation. [default: true]
    B:enableGlowLichenGeneration=true

    # Enables Grimstone Diamond Ore generation [default: true]
    B:enableGrimstoneDiamond=true

    # Enables Grimstone Emerald Ore generation [default: true]
    B:enableGrimstoneEmerald=true

    # Enables Grimstone Gold Ore generation [default: true]
    B:enableGrimstoneGold=true

    # Enables Grimstone Iron Ore generation [default: true]
    B:enableGrimstoneIron=true

    # Enables Grimstone Lapis Ore generation [default: true]
    B:enableGrimstoneLapis=true

    # Enables Grimstone Redstone Ore generation [default: true]
    B:enableGrimstoneRedstone=true

    # Enables Dark and Grim lichen generation. [default: true]
    B:enableLichenGeneration=true

    # Enables moss blocks and carpets to generate on the surface and in caves close to the surface. [default: true]
    B:enableMossGeneration=true

    # Enables Coal, Iron, Gold, and Emerald generating above y = 90. [default: true]
    B:enableMountainOres=true

    # Enables all the new types of mushrooms to generate. [default: true]
    B:enableNovaMushrooomGeneration=true

    # Enables Nullstone Diamond Ore generation [default: true]
    B:enableNullstoneDiamond=true

    # Enables Nullstone Emerald Ore generation [default: true]
    B:enableNullstoneEmerald=true

    # Enables Nullstone Gold Ore generation [default: true]
    B:enableNullstoneGold=true

    # Enables Nullstone Iron Ore generation [default: true]
    B:enableNullstoneIron=true

    # Enables Nullstone Lapis Ore generation [default: true]
    B:enableNullstoneLapis=true

    # Enables Nullstone Redstone Ore generation [default: true]
    B:enableNullstoneRedstone=true

    # Enables pherithium stalagmites and stalagtites generation. [default: true]
    B:enablePherithiumGeneration=true

    # Enables pherithium ore to generate, by default it is set to false. [default: false]
    B:enablePherithiumOreGeneration=false

    # Enables the various crystals to very rarely generate in caves outside their geos. [default: true]
    B:enableRareCrystalGeneration=true

    # Enables Sculk and it's variations to generate outside sculk geos/dungeons. [default: true]
    B:enableSculkGeneration=true

    # Disabled Entirely due to cascading world generation crash. [default: false]
    B:enableStalagAndStalacGeneration=false
}


"new particles" {
    # Enables Ender Lord Particles(Causing the log to freak out if Dragon API is installed) [default: true]
    B:enableEnderLordParticles=true

    # Enables Glow Squid Particles(Causing the log to freak out if Dragon API is installed) [default: true]
    B:enableGlowSquidParticles=true

    # Enables Warden Particles(Causing the log to freak out if Dragon API is installed) [default: true]
    B:enableWardenParticles=true
}


"tools/weapons" {
    # Enables weapons from novacraft to allign with vanilla in terms of damage/durability more rather than other RPG like mods. [default: false]
    B:enableWeaponsToAllignWithVanilla=false
}


vanilla {
    # Disables Coal Ore generation.
    B:disableCoal=false

    # Disables custom ore generation. NOTE: Very few mods actually use the OreGenEvent.GenerateMinable event though, and this only works with those that do.
    B:disableCustom=false

    # Disables Diamond Ore generation.
    B:disableDiamond=false

    # Disables Dirt pocket generation inside stone.
    B:disableDirt=false

    # Disables Emerald Ore generation in Extreme Hills biomes. NOTE: This will be done after chunk population by replacing all Emerald ore with Stone.
    B:disableEmerald=false

    # Disables Gold Ore generation.
    B:disableGold=false

    # Disables Gravel pocket generation inside stone.
    B:disableGravel=false

    # Disables Iron Ore generation.
    B:disableIron=false

    # Disables Lapis Ore generation.
    B:disableLapis=false

    # Disables Monster Egg (= Silverfish block) generation in Extreme Hills biomes. NOTE: This will be done after chunk population by replacing all Monster Eggs with Stone.
    B:disableMonsterEgg=true

    # Disables Nether Quartz Ore generation.
    B:disableNetherQuartz=false

    # Disables Redstone Ore generation.
    B:disableRedstone=false

    # Disables all "regular" vanilla generation. NOTE: This includes Dirt and Gravel pockets inside stone, but not Emeralds in Extreme Hills biomes.
    B:disableRegularVanillaGen=true

    # Disables "regular" vanilla _ore_ generation, not including Nether Quartz. This does not include Emeralds in Extreme Hills biomes, which are not part of the regular ore generation.
    B:disableRegularVanillaOres=true
}


