# Configuration file

"enable modern ore textures?" {
    B:"Enables Post 1.17 Ore textures."=true
}


"enable stone texture override?" {
    B:"Enables 1.14 stone texture."=true
    B:"Enables pre 1.3 gravel texture."=true
}


