# Configuration file

##########################################################################################################
# enchantments
#--------------------------------------------------------------------------------------------------------#
# Settings for enchantments.
##########################################################################################################

enchantments {
    #  [default: true]
    B:frostWalker=true

    #  [range: 0 ~ 255, default: 200]
    I:frostWalkerID=200

    #  [default: true]
    B:mending=true

    #  [range: 0 ~ 255, default: 201]
    I:mendingID=201

    #  [default: true]
    B:swiftSneak=true

    #  [range: 0 ~ 255, default: 202]
    I:swiftSneakID=202
}


##########################################################################################################
# potions
#--------------------------------------------------------------------------------------------------------#
# Settings for potions. Potion IDs are very limited so it is highly recommended to use a potion ID expansion.
##########################################################################################################

potions {
    # Since this is essential for Shulkers, this is tied to Shulkers being enabled instead of having its own option. [range: 0 ~ 127, default: 27]
    I:levitationID=27
}


