# Configuration file

misc {
    # Adds compat for Baubles Expanded. Does nothing for standard baubles, this REQUIRES Baubles Expanded! It uses the new "wings" slot added by the expanded version. https://modrinth.com/mod/baubles-expanded
    # When enabled, this allows the player to equip an elytra with a chestplate, by placing the elytra in a "wings" slot instead of the chestplate slot. Note that the player can only equip one elytra at a time.
    # 0 = No compat, do not allow the elytra to be placed in a wings slot.
    # 1 = Elytra will be placeable in a wings slot. Will enable the slot, if it isn't there.
    # 2 = The elytra can ONLY go in the wings slots, not the chestplate slot. [range: 0 ~ 2, default: 1]
    I:elytraBaublesExpandedCompat=1

    # If Iron Chests is installed, allow Iron Shulker boxes to be crafted having all the same tiers as Iron Chests. This option does nothing if Iron Chests is not installed. [default: true]
    B:shulkerBoxesIronChest=true
}


