# Configuration file

general {
    # The default stream of the player.
    S:defaultURL=StreamURL

    # Automatically check for mod updates.
    B:enableMUD=true

    # Should we try to play streams at all? If false streams will not work in game. (Client side only)
    B:enableStreams=true

    # Maximum speakers that can be attached to a radio, higher numbers may cause performance issues
    I:maxSpeakers=10
}


