# Configuration file

##########################################################################################################
# bop biomes
#--------------------------------------------------------------------------------------------------------#
# Tweak Biome'O Plenty Biomes occurence, does nothing if BOP isn't loaded or if BOP compatibility is disabled
##########################################################################################################

"bop biomes" {
    # Chance to generate Alps Biome [range: 0 ~ 2147483647, default: 1]
    I:"Alps Chance"=1

    # Chance to generate Alps Foothills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Alps Foothills Chance"=1

    # Chance to generate Bamboo Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Bamboo Forest Chance"=1

    # Chance to generate Bayou Biome [range: 0 ~ 2147483647, default: 1]
    I:"Bayou Chance"=1

    # Chance to generate Bog Biome [range: 0 ~ 2147483647, default: 1]
    I:"Bog Chance"=1

    # Chance to generate Boreal Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Boreal Forest Chance"=1

    # Chance to generate Brushland Biome [range: 0 ~ 2147483647, default: 1]
    I:"Brushland Chance"=1

    # Chance to generate Chaparral Biome [range: 0 ~ 2147483647, default: 1]
    I:"Chaparral Chance"=1

    # Chance to generate Cherry Blossom Grove Biome [range: 0 ~ 2147483647, default: 1]
    I:"Cherry Blossom Grove Chance"=1

    # Chance to generate Cold Desert Biome [range: 0 ~ 2147483647, default: 1]
    I:"Cold Desert Chance"=1

    # Chance to generate Coniferous Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Coniferous Forest Chance"=1

    # Chance to generate Corrupted Sands Biome [range: 0 ~ 2147483647, default: 1]
    I:"Corrupted Sands Chance"=1

    # Chance to generate Crag Biome [range: 0 ~ 2147483647, default: 1]
    I:"Crag Chance"=1

    # Chance to generate Dead Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Dead Forest Chance"=1

    # Chance to generate Dead Swamp Biome [range: 0 ~ 2147483647, default: 1]
    I:"Dead Swamp Chance"=1

    # Chance to generate Eucalyptus Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Eucalyptus Forest Chance"=1

    # Chance to generate Fen Biome [range: 0 ~ 2147483647, default: 1]
    I:"Fen Chance"=1

    # Chance to generate Flower Field Biome [range: 0 ~ 2147483647, default: 1]
    I:"Flower Field Chance"=1

    # Chance to generate Flower Island Biome [range: 0 ~ 2147483647, default: 1]
    I:"Flower Island Chance"=1

    # Chance to generate Fungi Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Fungi Forest Chance"=1

    # Chance to generate Glacier Biome [range: 0 ~ 2147483647, default: 1]
    I:"Glacier Chance"=1

    # Chance to generate Grassland Biome [range: 0 ~ 2147483647, default: 1]
    I:"Grassland Chance"=1

    # Chance to generate Gravel Beach Biome [range: 0 ~ 2147483647, default: 1]
    I:"Gravel Beach Chance"=1

    # Chance to generate Grove Biome [range: 0 ~ 2147483647, default: 1]
    I:"Grove Chance"=1

    # Chance to generate Land Of Lakes Biome [range: 0 ~ 2147483647, default: 1]
    I:"Land Of Lakes Chance"=1

    # Chance to generate Lavender Fields Biome [range: 0 ~ 2147483647, default: 1]
    I:"Lavender Fields Chance"=1

    # Chance to generate Lush Desert Biome [range: 0 ~ 2147483647, default: 1]
    I:"Lush Desert Chance"=1

    # Chance to generate Lush Swamp Biome [range: 0 ~ 2147483647, default: 1]
    I:"Lush Swamp Chance"=1

    # Chance to generate Mangrove Biome [range: 0 ~ 2147483647, default: 1]
    I:"Mangrove Chance"=1

    # Chance to generate Maple Wood Biome [range: 0 ~ 2147483647, default: 1]
    I:"Maple Wood Chance"=1

    # Chance to generate Meadow Biome [range: 0 ~ 2147483647, default: 1]
    I:"Meadow Chance"=1

    # Chance to generate Moor Biome [range: 0 ~ 2147483647, default: 1]
    I:"Moor Chance"=1

    # Chance to generate Mystic Grove Biome [range: 0 ~ 2147483647, default: 1]
    I:"Mystic Grove Chance"=1

    # Chance to generate Oasis Biome [range: 0 ~ 2147483647, default: 1]
    I:"Oasis Chance"=1

    # Chance to generate Ominous Woods Biome [range: 0 ~ 2147483647, default: 1]
    I:"Ominous Woods Chance"=1

    # Chance to generate Orchard Biome [range: 0 ~ 2147483647, default: 1]
    I:"Orchard Chance"=1

    # Chance to generate Origin Island Biome [range: 0 ~ 2147483647, default: 1]
    I:"Origin Island Chance"=1

    # Chance to generate Outback Biome [range: 0 ~ 2147483647, default: 1]
    I:"Outback Chance"=1

    # Chance to generate Overgrown Cliffs Biome [range: 0 ~ 2147483647, default: 1]
    I:"Overgrown Cliffs Chance"=1

    # Chance to generate Phantasmagoric Inferno Biome [range: 0 ~ 2147483647, default: 1]
    I:"Phantasmagoric Inferno Chance"=1

    # Chance to generate Polar Chasm Biome [range: 0 ~ 2147483647, default: 1]
    I:"Polar Chasm Chance"=1

    # Chance to generate Quagmire Biome [range: 0 ~ 2147483647, default: 1]
    I:"Quagmire Chance"=1

    # Chance to generate Rain Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Rain Forest Chance"=1

    # Chance to generate Redwood Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Redwood Forest Chance"=1

    # Chance to generate Sacred Springs Biome [range: 0 ~ 2147483647, default: 1]
    I:"Sacred Springs Chance"=1

    # Chance to generate Seasonal Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Seasonal Forest Chance"=1

    # Chance to generate Shield Biome [range: 0 ~ 2147483647, default: 1]
    I:"Shield Chance"=1

    # Chance to generate ShrubLand Biome [range: 0 ~ 2147483647, default: 1]
    I:"ShrubLand Chance"=1

    # Chance to generate Snowy Coniferous Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Snowy Coniferous Forest"=1

    # Chance to generate Snowy Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Snowy Forest Chance"=1

    # Chance to generate Temperate Rain forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Temperate Rain forest Chance"=1

    # Chance to generate Tropical Island Biome [range: 0 ~ 2147483647, default: 1]
    I:"Tropical Island Chance"=1

    # Chance to generate Tropical Rain Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Tropical Rain Forest Chance"=1

    # Chance to generate Tundra Biome [range: 0 ~ 2147483647, default: 1]
    I:"Tundra Chance"=1

    # Chance to generate Undergarden Biome [range: 0 ~ 2147483647, default: 1]
    I:"Undergarden Chance"=1

    # Chance to generate Visceral Heap Biome [range: 0 ~ 2147483647, default: 1]
    I:"Visceral Heap Chance"=1

    # Chance to generate Volcanic Island Biome [range: 0 ~ 2147483647, default: 1]
    I:"Volcanic Island Chance"=1

    # Chance to generate Wasteland Biome [range: 0 ~ 2147483647, default: 1]
    I:"Wasteland Chance"=1

    # Chance to generate Wetland Biome [range: 0 ~ 2147483647, default: 1]
    I:"Wetland Chance"=1

    # Chance to generate White Beach Biome [range: 0 ~ 2147483647, default: 1]
    I:"White Beach Chance"=1

    # Chance to generate WoodLand Biome [range: 0 ~ 2147483647, default: 1]
    I:"WoodLand Chance"=1

    # Chance to generate Xeric Shrubland Biome [range: 0 ~ 2147483647, default: 1]
    I:"Xeric Shrubland Chance"=1
}


##########################################################################################################
# disabled biomes
#--------------------------------------------------------------------------------------------------------#
# Vanilla biomes that have nothing to do in a skyland world (for now).
##########################################################################################################

"disabled biomes" {
    # Chance to generate Beach Biome [range: 0 ~ 2147483647, default: 0]
    I:"Beach Chance"=0

    # Chance to generate Cold Beach Biome [range: 0 ~ 2147483647, default: 0]
    I:"Cold Beach Chance"=0

    # Chance to generate Deep Ocean Biome [range: 0 ~ 2147483647, default: 0]
    I:"Deep Ocean Chance"=0

    # Chance to generate Frozen Ocean Biome [range: 0 ~ 2147483647, default: 0]
    I:"Frozen Ocean Chance"=0

    # Chance to generate Frozen River Biome [range: 0 ~ 2147483647, default: 0]
    I:"Frozen River Chance"=0

    # Chance to generate Ocean Biome [range: 0 ~ 2147483647, default: 0]
    I:"Ocean Chance"=0

    # Chance to generate River Biome [range: 0 ~ 2147483647, default: 0]
    I:"River Chance"=0

    # Chance to generate Stone Beach Biome [range: 0 ~ 2147483647, default: 0]
    I:"Stone Beach Chance"=0
}


##########################################################################################################
# vanilla biomes
#--------------------------------------------------------------------------------------------------------#
# Tweak Vanilla biome occurence, a chance of 2 mean that the biome will be generated 2 time more often than a biome which have a chance of 1.
##########################################################################################################

"vanilla biomes" {
    # Chance to generate Birch Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Birch Forest Chance"=1

    # Chance to generate Birch Forest Hills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Birch Forest Hills Chance"=1

    # Chance to generate Cold Taiga Biome [range: 0 ~ 2147483647, default: 1]
    I:"Cold Taiga Chance"=1

    # Chance to generate Cold Taiga Hills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Cold Taiga Hills Chance"=1

    # Chance to generate Desert Biome [range: 0 ~ 2147483647, default: 1]
    I:"Desert Chance"=1

    # Chance to generate Desert Hills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Desert Hills Chance"=1

    # Chance to generate Extreme Hills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Extreme Hills Chance"=1

    # Chance to generate Extreme Hills Edge Biome [range: 0 ~ 2147483647, default: 1]
    I:"Extreme Hills Edge Chance"=1

    # Chance to generate Extreme Hills With Trees Biome [range: 0 ~ 2147483647, default: 1]
    I:"Extreme Hills With Trees Chance"=1

    # Chance to generate Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Forest Chance"=1

    # Chance to generate Forest Hills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Forest Hills Chance"=1

    # Chance to generate Ice Mountains Biome [range: 0 ~ 2147483647, default: 1]
    I:"Ice Mountains Chance"=1

    # Chance to generate Ice Plains Biome [range: 0 ~ 2147483647, default: 1]
    I:"Ice Plains Chance"=1

    # Chance to generate Jungle Biome [range: 0 ~ 2147483647, default: 1]
    I:"Jungle Chance"=1

    # Chance to generate Jungle Edge Biome [range: 0 ~ 2147483647, default: 1]
    I:"Jungle Edge Chance"=1

    # Chance to generate Mesa Biome [range: 0 ~ 2147483647, default: 1]
    I:"Mesa Chance"=1

    # Chance to generate Mesa Clear Rock Biome [range: 0 ~ 2147483647, default: 1]
    I:"Mesa Clear Rock Chance"=1

    # Chance to generate Mesa Rock Biome [range: 0 ~ 2147483647, default: 1]
    I:"Mesa Rock Chance"=1

    # Chance to generate Mushroom Island Biome [range: 0 ~ 2147483647, default: 1]
    I:"Mushroom Island Chance"=1

    # Chance to generate Mushroom Island Shore Biome [range: 0 ~ 2147483647, default: 1]
    I:"Mushroom Island Shore Chance"=1

    # Chance to generate Plains Biome [range: 0 ~ 2147483647, default: 1]
    I:"Plains Chance"=1

    # Chance to generate Redwood Taiga Biome [range: 0 ~ 2147483647, default: 1]
    I:"Redwood Taiga Chance"=1

    # Chance to generate Redwood Taiga Hills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Redwood Taiga Hills Chance"=1

    # Chance to generate Roofed Forest Biome [range: 0 ~ 2147483647, default: 1]
    I:"Roofed Forest Chance"=1

    # Chance to generate Savanna Biome [range: 0 ~ 2147483647, default: 1]
    I:"Savanna Chance"=1

    # Chance to generate Savanna Plateau Biome [range: 0 ~ 2147483647, default: 1]
    I:"Savanna Plateau"=1

    # Chance to generate Swampland Biome [range: 0 ~ 2147483647, default: 1]
    I:"Swampland Chance"=1

    # Chance to generate Taiga Biome [range: 0 ~ 2147483647, default: 1]
    I:"Taiga Chance"=1

    # Chance to generate Taiga Hills Biome [range: 0 ~ 2147483647, default: 1]
    I:"Taiga Hills Chance"=1
}


