# Configuration file

compatibility {
    # If enabled and if BOP is installed there will be BOP biomes in the world [default: false]
    B:"Biome O Plenty"=false
}


misc {
    # If True the Skylands dimension will be enabled and registered with the ID below [default: false]
    B:"Enable Skylands Dimension"=false

    # ID of the Skylands dimension (if enabled) [range: -2147483648 ~ 2147483647, default: 3]
    I:"Skyland Dimension ID"=3

    # If enabled players will spawn with elytras and a stack of rockets - Note that due to a bug/functionnality in vanilla code rockets can not boost elytra flight on first connection, just disconnect an reconnect will solve the problem [default: false]
    B:"Starting Inventory"=false
}


"sky islands" {
    # If true, Biome config will be disabled and all biomes will spawn with a chance of 1 [default: false]
    B:"Disable Biome Config"=false

    # If true, all the Ores Config file will be disabled and replaced by vannilla settings [default: false]
    B:"Disable Ore Config"=false
}


