# Configuration file

##########################################################################################################
# andesite
#--------------------------------------------------------------------------------------------------------#
# Generation of andesite clusters
##########################################################################################################

andesite {
    # Number of attempts to generate andesite cluster in this chunk [range: 0 ~ 2147483647, default: 10]
    I:andesiteChunkCount=10

    # Size of the andesite clusters (not really in blocks) [range: 0 ~ 2147483647, default: 33]
    I:andesiteClusterSize=33

    # Maximal height for generation of andesite clusters [range: 0 ~ 256, default: 80]
    I:andesiteMaxHeight=80

    # Minimal height for generation of andesite clusters [range: 0 ~ 256, default: 0]
    I:andesiteMinHeight=0

    # Set to false to disable generation of andesite clusters [default: true]
    B:enableAndesite=true
}


##########################################################################################################
# coal
#--------------------------------------------------------------------------------------------------------#
# Generation of coal ore
##########################################################################################################

coal {
    # Number of attempts to generate coal ore cluster in this chunk [range: 0 ~ 2147483647, default: 20]
    I:coalChunkCount=20

    # Size of the coal ore clusters (not really in blocks) [range: 0 ~ 2147483647, default: 17]
    I:coalClusterSize=17

    # Maximal height for generation of coal ore clusters [range: 0 ~ 256, default: 128]
    I:coalMaxHeight=128

    # Minimal height for generation of coal ore clusters [range: 0 ~ 256, default: 0]
    I:coalMinHeight=0

    # Set to false to disable generation of coal ore [default: true]
    B:enableCoal=true
}


##########################################################################################################
# diamond
#--------------------------------------------------------------------------------------------------------#
# Generation of diamond ore
##########################################################################################################

diamond {
    # Number of attempts to generate diamond ore cluster in this chunk [range: 0 ~ 2147483647, default: 1]
    I:diamondChunkCount=1

    # Size of the diamond ore clusters (not really in blocks) [range: 0 ~ 2147483647, default: 8]
    I:diamondClusterSize=8

    # Maximal height for generation of diamond ore clusters [range: 0 ~ 256, default: 16]
    I:diamondMaxHeight=16

    # Minimal height for generation of diamond ore clusters [range: 0 ~ 256, default: 0]
    I:diamondMinHeight=0

    # Set to false to disable generation of diamond ore [default: true]
    B:enableDiamond=true
}


##########################################################################################################
# diorite
#--------------------------------------------------------------------------------------------------------#
# Generation of diorite clusters
##########################################################################################################

diorite {
    # Number of attempts to generate diorite cluster in this chunk [range: 0 ~ 2147483647, default: 10]
    I:dioriteChunkCount=10

    # Size of the diorite clusters (not really in blocks) [range: 0 ~ 2147483647, default: 33]
    I:dioriteClusterSize=33

    # Maximal height for generation of diorite clusters [range: 0 ~ 256, default: 80]
    I:dioriteMaxHeight=80

    # Minimal height for generation of diorite clusters [range: 0 ~ 256, default: 0]
    I:dioriteMinHeight=0

    # Set to false to disable generation of diorite clusters [default: true]
    B:enableDiorite=true
}


##########################################################################################################
# dirt
#--------------------------------------------------------------------------------------------------------#
# Generation of dirt clusters
##########################################################################################################

dirt {
    # Number of attempts to generate dirt cluster in this chunk [range: 0 ~ 2147483647, default: 10]
    I:dirtChunkCount=10

    # Size of the dirt clusters (not really in blocks) [range: 0 ~ 2147483647, default: 33]
    I:dirtClusterSize=33

    # Maximal height for generation of dirt clusters [range: 0 ~ 256, default: 256]
    I:dirtMaxHeight=256

    # Minimal height for generation of dirt clusters [range: 0 ~ 256, default: 0]
    I:dirtMinHeight=0

    # Set to false to disable generation of dirt clusters [default: true]
    B:enableDirt=true
}


##########################################################################################################
# gold
#--------------------------------------------------------------------------------------------------------#
# Generation of gold ore
##########################################################################################################

gold {
    # Set to false to disable generation of gold ore [default: true]
    B:enableGold=true

    # Number of attempts to generate gold ore cluster in this chunk [range: 0 ~ 2147483647, default: 2]
    I:goldChunkCount=2

    # Size of the gold ore clusters (not really in blocks) [range: 0 ~ 2147483647, default: 9]
    I:goldClusterSize=9

    # Maximal height for generation of gold ore clusters [range: 0 ~ 256, default: 32]
    I:goldMaxHeight=32

    # Minimal height for generation of gold ore clusters [range: 0 ~ 256, default: 0]
    I:goldMinHeight=0
}


##########################################################################################################
# granite
#--------------------------------------------------------------------------------------------------------#
# Generation of granite clusters
##########################################################################################################

granite {
    # Set to false to disable generation of granite clusters [default: true]
    B:enableGranite=true

    # Number of attempts to generate granite cluster in this chunk [range: 0 ~ 2147483647, default: 10]
    I:graniteChunkCount=10

    # Size of the granite clusters (not really in blocks) [range: 0 ~ 2147483647, default: 33]
    I:graniteClusterSize=33

    # Maximal height for generation of granite clusters [range: 0 ~ 256, default: 80]
    I:graniteMaxHeight=80

    # Minimal height for generation of granite clusters [range: 0 ~ 256, default: 0]
    I:graniteMinHeight=0
}


##########################################################################################################
# gravel
#--------------------------------------------------------------------------------------------------------#
# Generation of gravel clusters
##########################################################################################################

gravel {
    # Set to false to disable generation of gravel clusters [default: true]
    B:enableGravel=true

    # Number of attempts to generate gravel cluster in this chunk [range: 0 ~ 2147483647, default: 8]
    I:gravelChunkCount=8

    # Size of the gravel clusters (not really in blocks) [range: 0 ~ 2147483647, default: 33]
    I:gravelClusterSize=33

    # Maximal height for generation of gravel clusters [range: 0 ~ 256, default: 256]
    I:gravelMaxHeight=256

    # Minimal height for generation of gravel clusters [range: 0 ~ 256, default: 0]
    I:gravelMinHeight=0
}


##########################################################################################################
# iron
#--------------------------------------------------------------------------------------------------------#
# Generation of iron ore
##########################################################################################################

iron {
    # Set to false to disable generation of iron ore [default: true]
    B:enableIron=true

    # Number of attempts to generate iron ore cluster in this chunk [range: 0 ~ 2147483647, default: 20]
    I:ironChunkCount=20

    # Size of the iron ore clusters (not really in blocks) [range: 0 ~ 2147483647, default: 9]
    I:ironClusterSize=9

    # Maximal height for generation of iron ore clusters [range: 0 ~ 256, default: 64]
    I:ironMaxHeight=64

    # Minimal height for generation of iron ore clusters [range: 0 ~ 256, default: 0]
    I:ironMinHeight=0
}


##########################################################################################################
# lapis lazuli
#--------------------------------------------------------------------------------------------------------#
# Generation of lapis lazuli ore
##########################################################################################################

"lapis lazuli" {
    # Set to false to disable generation of lapis lazuli ore [default: true]
    B:enableLapis=true

    # Number of attempts to generate lapis lazuli cluster in this chunk [range: 0 ~ 2147483647, default: 1]
    I:lapisChunkCount=1

    # Size of the lapis lazuli ore clusters (not really in blocks) [range: 0 ~ 2147483647, default: 7]
    I:lapisClusterSize=7

    # Maximal height for generation of lazuli ore clusters [range: 0 ~ 256, default: 32]
    I:lapisMaxHeight=32

    # Minimal height for generation of lapis lazuli ore clusters [range: 0 ~ 256, default: 0]
    I:lapisMinHeight=0
}


##########################################################################################################
# redstone
#--------------------------------------------------------------------------------------------------------#
# Generation of redstone ore
##########################################################################################################

redstone {
    # Set to false to disable generation of redstone ore [default: true]
    B:enableRedstone=true

    # Number of attempts to generate redstone ore cluster in this chunk [range: 0 ~ 2147483647, default: 8]
    I:redstoneChunkCount=8

    # Size of the redstone ore clusters (not really in blocks) [range: 0 ~ 2147483647, default: 8]
    I:redstoneClusterSize=8

    # Maximal height for generation of redstone ore clusters [range: 0 ~ 256, default: 16]
    I:redstoneMaxHeight=16

    # Minimal height for generation of redstone ore clusters [range: 0 ~ 256, default: 0]
    I:redstoneMinHeight=0
}


