# Configuration file

enable_override_handlers {
    # Allows overriding default settings for arrow range attacks used by skeleton. Might work on modded entities but depends on implementation by each mod. [default: true]
    B:minecraft.attack.arrow=true

    # Allows overriding default settings for close range attacks used by zombies, pig zombies, or any melee monster. Might work on modded entities but depends on implementation by each mod. [default: true]
    B:minecraft.attack.collide=true
}


general {
    # Disables the AI segment that controls entities looking at random locations [default: false]
    B:RemoveEntityAILookIdle=false

    # Disables the AI segment that controls entities looking at the closest player [default: false]
    B:RemoveEntityAIWatchClosest=false

    # Replaces the EntityLookHelper with a more CPU efficient version [default: true]
    B:ReplaceLookHelper=true
}


