# Configuration file

General {
    # This allows you to disable recipes for Florbs. It also means that you actively dislike fun things.
    B:Recipe.Enable=true
}


Whitelist {
    B:adamantine.molten=true
    B:aerotheum=true
    B:aluminiumbrass.molten=true
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ardite.molten=true
    B:bacterialsludge=true
    B:bedrockium.molten=true
    B:bioethanol=true
    B:biofuel=true
    B:biomass=true
    B:blood=true
    B:blue.alloy.molten=true
    B:blutonium.molten=true
    B:brass.molten=true
    B:brine1=true
    B:brine2=true
    B:brine3=true
    B:brine4=true
    B:bronze.molten=true
    B:caramel_fluid=true
    B:cheese_of_milk_fluid=true
    B:chocolatemilk=true
    B:cloud_seed=true
    B:cloud_seed_concentrated=true
    B:coal=true
    B:cobalt.molten=true
    B:coconut_milk_fluid=true
    B:conductive.iron.molten=true
    B:conductiveiron=true
    B:constantan.molten=true
    B:copper.molten=true
    B:creosote=true
    B:cryotheum=true
    B:cyanite=true
    B:dark.steel.molten=true
    B:darksteel=true
    B:desh.molten=true
    B:diesel=true
    B:dirty_water_fluid=true
    B:drulloy.molten=true
    B:electrical.steel.molten=true
    B:electrum.molten=true
    B:elementium.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:endergoo=true
    B:enderium.molten=true
    B:energetic.alloy.molten=true
    B:energeticalloy=true
    B:etchacid=true
    B:fairy.molten=true
    B:fire_water=true
    B:fluiddeath=true
    B:fluidmilk=true
    B:fluidmushroom=true
    B:fluidpure=true
    B:fluidvishroom=true
    B:fluxgoo=true
    B:for.honey=true
    B:frozen_water_fluid=true
    B:fuel=true
    B:fuelgc=true
    B:glass=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:heavyoil=true
    B:hell_blood=true
    B:honey=true
    B:hootch=true
    B:hotcrude=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:ice=true
    B:imagproj=true
    B:infused.teslatite.liquid=true
    B:invar.molten=true
    B:io_black_lava=true
    B:io_lava=true
    B:iron.molten=true
    B:juice=true
    B:kerosene=true
    B:lava=true
    B:lead.molten=true
    B:"life essence"=true
    B:lightoil=true
    B:liquid_brown_sulfur=true
    B:liquid_methane_fluid=true
    B:liquid_nitrogen_fluid=true
    B:liquid_orange_sulfur=true
    B:liquid_red_sulfur=true
    B:liquid_sunshine=true
    B:liquid_yellow_sulfur=true
    B:liquiddna=true
    B:liquidmethane=true
    B:lpg=true
    B:lubricant=true
    B:ludicrite.molten=true
    B:lumium.molten=true
    B:mana=true
    B:manasteel.molten=true
    B:manyullyn.molten=true
    B:mead=true
    B:meat=true
    B:methane=true
    B:milk=true
    B:mineral_water_fluid=true
    B:mithril.molten=true
    B:mobessence=true
    B:mushroomsoup=true
    B:mutagen=true
    B:naturalgas=true
    B:nickel.molten=true
    B:nuclearfuel=true
    B:nutrient_distillation=true
    B:obsidian.molten=true
    B:oil=true
    B:oilgc=true
    B:osmium.molten=true
    B:ovantine_fluid=true
    B:petrotheum=true
    B:phased.gold.molten=true
    B:phased.iron.molten=true
    B:phasedgold=true
    B:phasediron=true
    B:pigiron.molten=true
    B:pinkslime=true
    B:plastic=true
    B:platinum.molten=true
    B:poison=true
    B:pokefennium.molten=true
    B:potato.soup=true
    B:protein=true
    B:purple.alloy.molten=true
    B:pyrotheum=true
    B:red.alloy.molten=true
    B:red.aurum.molten=true
    B:redmetal.molten=true
    B:redplasma=true
    B:redstone=true
    B:redstone.alloy.molten=true
    B:redstone.molten=true
    B:refined.glowstone.molten=true
    B:rocket_fuel=true
    B:seedoil=true
    B:sewage=true
    B:short.mead=true
    B:signalum.molten=true
    B:silicon.liquid=true
    B:silver.molten=true
    B:sirius_lava=true
    B:slime.blue=true
    B:sludge=true
    B:soularium.molten=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:sulfurousacid=true
    B:syngas=true
    B:tea_fluid=true
    B:terrasteel.molten=true
    B:teslatite.liquid=true
    B:tin.molten=true
    B:tropicsportal=true
    B:tropicswater=true
    B:tungsten.molten=true
    B:unknowwater=true
    B:veganoption.fluidoilvegetable=true
    B:veganoption.fluidsoapsolution=true
    B:veganoption.inkblack=true
    B:veganoption.inkwhite=true
    B:veganoption.lyewater=true
    B:veganoption.plantmilk=true
    B:veganoption.rawender=true
    B:voidmetal.molten=true
    B:water=true
    B:watertropics=true
    B:"witchery:brew"=true
    B:"witchery:brewliquid"=true
    B:"witchery:fluiddisease"=true
    B:"witchery:fluidspirit"=true
    B:"witchery:hollowtears"=true
    B:yellorium=true
    B:zinc.molten=true
}


