# Configuration file

####################
# general
####################

general {
    # Set to false to remove the block breaking particles from the flowers and other items in the mod.
    B:blockBreakingParticles.enabled=true

    # Set to false to remove the block breaking particles from the Mana Shatterer, as there can be a good amount in higher levels.
    B:blockBreakingParticlesTool.enabled=true

    # Set to false to disable the wireframe when looking a block bound to something (spreaders, flowers, etc).
    B:boundBlock.wireframe.enabled=true

    # Set to false to disable the Smokey Quartz blocks. This config option is here for those using Thaumic Tinkerer
    B:darkQuartz.enabled=false

    # Set to false to disable the Fallen Kanade flower (gives Regeneration). This config option is here for those using Blood Magic. Note: Turning this off will not remove ones already in the world, it'll simply prevent the crafting.
    B:fallenKanade.enabled=true

    # The frequency in which particles spawn from normal (worldgen) mystical flowers
    D:flowerParticles.frequency=0.25

    # Set to false to disable the rotating items in the petal and rune entries in the Lexica Botania.
    B:lexicon.enable.rotatingItems=true

    # Set to false to disabled the animated 3D render for the lexica botania
    B:lexicon.render.3D=true

    # Set to true to set the power system's particles to be a lot more subtle. Good for low-end systems, if the particles are causing lag.
    B:powerSystem.subtle=false

    # Set to true to use the old (non-.obj, pre beta18) pylon model
    B:pylonModel.old=false

    # Set to false to disable the references in flower tooltips. (You monster D:)
    B:references.enabled=true

    # Set to false to disable the use of shaders for some of the mod's renders.
    B:shaders.enabled=true

    # Do not ever touch this value if not asked to. Possible symptoms of doing so include your head turning backwards, the appearance of Titans near the walls or you being trapped in a game of Sword Art Online.
    I:spreader.posShift=1

    # Set to false to disable checking and alerting when new Botania versions come out.
    B:versionChecking.enabled=true

    # Set to true to use a static wand beam that shows every single position of the burst, similar to the way it used to work on old botania versions. Warning: Disabled by default because it may be laggy.
    B:wandBeam.static=false

    # The density of each flower patch generataed, defaults to 32, the lower the number, the less each patch will have.
    I:worldgen.flower.density=5

    # The quanity of flower patches to generate in the world, defaults to 3, the lower the number the less patches geenrate.
    I:worldgen.flower.quantity=1
}


