# Configuration file

####################
# general
####################

general {
    B:advancedmachines.enableArrayModule_actual=true
    I:advancedmachines.idleEUPerTick=1
    I:advancedmachines.idleEUPerTick_washer=6
    I:advancedmachines.maxArrayWindmillEffectiveHeight=147
    I:advancedmachines.maxVoltage=128
    I:advancedmachines.runningEUPerTick=16
    I:advancedmachines.runningEUPerTick_washer=48
    I:advancedmachines.spinDownRate=2
    I:advancedmachines.spinUpRate=1
    B:advancedmachines.useOreDictionaryIronPlate=false
    B:autoAssign=false

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # Which power system should be used. Possible values are: ic2 (IndustrialCraft 2's energy network), minecraftJoules (Buildcraft's power system, also used by other mods), redstoneFlux (Thermal Expansion's power system, also used by other mods), infinite (power is free)
    S:preferredEnergySystem=ic2
}


