# Configuration file

explosionpower {
    # Sets the Psychic Creeper explosion power
    I:psychicCreeperPower=8

    # Sets the Spring Creeper explosion radius
    I:springCreeperPower=3

    # Sets the Wind Creeper explosion power
    I:windCreeperPower=3
}


explosionradii {
    # Sets the Dark Creeper explosion radius
    I:darkCreeperRadius=12

    # Sets the Earth Creeper explosion radius
    I:earthCreeperRadius=8

    # Sets the Electric Creeper explosion radius
    I:electricCreeperRadius=5

    # Sets the Ender Creeper explosion radius
    I:enderCreeperRadius=8

    # Sets the Fire Creeper explosion radius
    I:fireCreeperRadius=6

    # Sets the Firework Creeper explosion radius
    I:fireworkCreeperRadius=5

    # Sets the Furnace Creeper explosion radius
    I:furnaceCreeperRadius=3

    # Sets the Ghost Creeper explosion radius
    I:ghostCreeperRadius=5

    # Sets the Hydrogen (Bomb) Creeper explosion radius
    I:hydrogenCreeperRadius=64

    # Sets the Ice Creeper explosion radius
    I:iceCreeperRadius=8

    # Sets the Light Creeper explosion radius
    I:lightCreeperRadius=4

    # Sets the Magma Creeper explosion radius
    I:magmaCreeperRadius=3

    # Sets the Psychic Creeper explosion radius
    I:psychicCreeperRadius=5

    # Sets the Reverse Creeper explosion radius
    I:reverseCreeperRadius=8

    # Sets the Spider Creeper explosion radius
    I:spiderCreeperRadius=12

    # Sets the Stone Creeper explosion radius
    I:stoneCreeperRadius=8

    # Sets the Water Creeper explosion radius
    I:waterCreeperRadius=4

    # Sets the Wind Creeper explosion radius
    I:windCreeperRadius=5
}


general {
    # Whether or not to target every close & visible mob if the creeper can throw TNT
    B:ballisticCreeperAI=false

    # Sets the max number of cookies dropped by the Cookie Creeper
    # Min: 1
    # Max: 64
    I:cookieCreeperAmount=5

    # Whether or not certain explosions are characteristically dome shaped
    B:domeExplosion=true

    # Percent chance of a ghost creeper spawning
    # Min: 1
    # Max: 100
    I:ghostCreeperChance=35

    # Whether or not elemental creepers should spawn like normal creepers or basically overwrite them
    B:reasonableSpawnRates=false
}


spawnrate {
    # Sets the cake Creeper Spawn weight
    I:cakeCreeperSpawn=2

    # Sets the Cookie Creeper Spawn weight
    I:cookieCreeperSpawn=10

    # Sets the Dark Creeper Spawn weight
    I:darkCreeperSpawn=2

    # Sets the Earth Creeper Spawn weight
    I:earthCreeperSpawn=10

    # Sets the Electric Creeper Spawn weight
    I:electricCreeperSpawn=10

    # Sets the Ender Creeper Spawn weight
    I:enderCreeperSpawn=4

    # Sets the Fire Creeper Spawn weight
    I:fireCreeperSpawn=10

    # Sets the Firework Creeper Spawn weight
    I:fireworkCreeperSpawn=8

    # Sets the Friendly Creeper Spawn weight
    I:friendlyCreeperSpawn=1

    # Sets the Furnace Creeper Spawn weight
    I:furnaceCreeperSpawn=1

    # Sets the Hydrogen Creeper Spawn weight
    I:hydrogenCreeperSpawn=1

    # Sets the Ice Creeper Spawn weight
    I:iceCreeperSpawn=10

    # Sets the Illusion Creeper Spawn weight
    I:illusionCreeperSpawn=6

    # Sets the Light Creeper Spawn weight
    I:lightCreeperSpawn=4

    # Sets the Magma Creeper Spawn weight
    I:magmaCreeperSpawn=6

    # Sets the Psychic Creeper Spawn weight
    I:psychicCreeperSpawn=10

    # Sets the Reverse Creeper Spawn weight
    I:reverseCreeperSpawn=6

    # Sets the Spider Creeper Spawn weight
    I:spiderCreeperSpawn=8

    # Sets the Spring Creeper Spawn weight
    I:springCreeperSpawn=7

    # Sets the Stone Creeper Spawn weight
    I:stoneCreeperSpawn=10

    # Sets the Water Creeper Spawn weight
    I:waterCreeperSpawn=10

    # Sets the Wind Creeper Spawn weight
    I:windCreeperSpawn=10
}


