# Tip: restart MAtmos to reload the configs without restarting Minecraft

# There's a bug in Minecraft's sound system that causes it to crash after some time if looping streams are played.
# Forge provides a fix for this in 1.12.2, but MAtmos has to provide its own fix on 1.7.10, and on LiteLoader versions.
# Use this option to control when the SoundSystem should be overridden.
# 
# Allowed values are: always, never, auto (which only overrides if no other mod is present which also overrides it (like DynamicSurroundings on 1.7.10, or Forge itself on 1.12.2))
coremod.replacesoundsystem=auto

# Guess the aliases of items from their class and name
dealias.guessfromclass=true

# Dealias oredicted blocks to the lowest id block of the oredict group.
dealias.oredict=true

debug.mode=0

debug.verbosealiasparsing=false

# Comma-separated list of dimensions. If dimensions.listtype is black, then ambience will NOT be played in these dimensions.
# If it's white, then ambience will ONLY play in these dimensions.
dimensions.list=

# BLACK or WHITE?
dimensions.listtype=black

dump.sheets.enabled=false

globalvolume.scale=1.0

key.code=65

# Print log messages about alias map construction
log.category.aliasmap=false

# Display message in chat when MAtmos crashes
log.printcrashestochat=true

minecraftsound.ambient.volume=1.0

# Comma-separated list of rain sounds to suppress if rain.suppress is true
rain.soundlist=ambient.weather.rain,ambient.weather.rain_calm,rain

# Rain strength threshold above which it's considered to be raining by soundpacks
# Range: 0~1, or -1 to use the default setting, which is 0.2 in vanilla
# Set this to something low like 0 for better compatibility with Weather2
rain.strengththreshold=-1

# Use this option to control how the conflict should be resolved between MAtmos rain sounds
# and rain sounds from vanilla or other mods.
# True: rain from other sources is muted
# False: rain is muted from MAtmos soundpacks which support this option
# Auto: true if there's at least one soundpack which supports this option present, false otherwise
rain.suppress=auto

reversed.controls=false

sound.autopreview=true

# Configure sound system to be able to play more sounds at once. Note: Regardless of the setting, this can get overrriden by mods that change it after us (e.g. Dynamic Surroundings)
# True: always do this
# Auto: don't do this if another mod has done it before us
# False: never do this
soundsystem.changechannelcount=auto

# The number of normal channels (e.g. sound effects). The vanilla value is 28. Set to -1 to decide automatically.
soundsystem.changechannelcount.normal=-1

# The number of streaming channels (e.g. music, longer soundpack sounds). The vanilla value is 4. Set to -1 to decide automatically.
soundsystem.changechannelcount.streaming=-1

# I forgot what this does, but it probably makes things faster. It is not known to cause any issues, but can be disabled here just in case.
soundsystem.changestreamqueueformatsmatch=true

# If false, MAtmos won't start until the MAtmos key is pressed.
start.enabled=true

update.display.count=3

update.enabled=true

update.makamys.zen.display.remaining=0

update.makamys.zen.version=1.2.2

update.mod.display.remaining=2

update.mod.version=1.7.10-35.4.7

useroptions.altitudes.high=true

useroptions.altitudes.low=true

useroptions.biome.override=-1

version.last=35.4.7

version.warnunstable=3

world.height=256

world.maxblockid=8192

