#Main configuration of NEI.
#Most of these options can be changed ingame.
#Deleting any element will restore it to it's default value

checkUpdates=false
itemLoadingTimeout=500

#Change these options if you have a different mod installed on the server that handles the commands differently, Eg. Bukkit Essentials
command
{
	creative=/gamemode {0} {1}
	heal=
	item=/give {0} {1} {2} {3}
	rain=/toggledownfall
	time=/time set {0}
}

inventory
{
	#REI Style Animation in Bookmarks
	bookmarksAnimationEnabled=true
	#Enable/disable bookmarks
	bookmarksEnabled=true
	cacheItemRendering=false
	#Center Search Widget
	centerSearchWidget=true
	cheatmode=2
	#Creative or JEI style tabs
	creative_tab_style=false
	disableMouseScrollTransfer=false
	gamemodes=creative+, adventure, creative
	hidden=false
	#Ignore overlap with potion effect HUD
	ignore_potion_overlap=false
	invertMouseScrollTransfer=false
	itemIDs=2
	itemsort=nei.itemsort.minecraft,nei.itemsort.mod,nei.itemsort.default,nei.itemsort.id,nei.itemsort.damage,nei.itemsort.name
	#JEI styled cycled ingredients
	jei_style_cycled_ingredients=true
	#Enable/disable JEI Style item presence overlay on ?-hover
	jei_style_item_presence_overlay=true
	#Enable/disable JEI Style Recipe Catalysts
	jei_style_recipe_catalyst=true
	#Enable/disable JEI Style Tabs
	jei_style_tabs=true
	layoutstyle=0
	#For those who can't help themselves.
	#Set this to a mode and you will be unable to change it ingame
	lockmode=-1
	#Optimize computation for GUI overlap
	optimize_gui_overlap_computation=false
	oredict=false
	profileRecipes=false
	#Show recipe tooltips in Bookmarks
	recipeTooltipsEnabled=true
	searchmode=1
	#Require holding shift to move items when overlaying recipe
	shift_overlay_recipe=true
	#Show Item Quantity Widget
	showItemQuantityWidget=true
	#Show Recipe Marker
	showRecipeMarker=false
	#Use NBT in Bookmarks
	useNBTInBookmarks=true
	utilities=creative, creative+, adventure
	widgetsenabled=true
	#Global or world specific bookmarks
	worldSpecificBookmarks=false
	#Global or world specific presets
	worldSpecificPresets=false
}

keys
{
	showenchant=23
	
	gui
	{
		back=14
		bookmark=30
		bookmark_count=33554462
		bookmark_pull_items=47
		bookmark_recipe=67108894
		bookmark_recipe_count=100663326
		botania_corporea_request=46
		enchant=45
		getnextsearch=208
		getprevioussearch=200
		hide=24
		hide_bookmarks=48
		next=209
		next_machine=208
		next_recipe=205
		next_tooltip=44
		overlay=31
		overlay_hide=33554463
		overlay_use=67108895
		potion=25
		prev=201
		prev_machine=200
		prev_recipe=203
		recipe=19
		search=33
		usage=22
		xu_ping=20
	}
	
	neiplugins
	{
		recipeList=38
	}
	
	world
	{
		chunkoverlay=67
		creative=0
		dawn=0
		dusk=0
		heal=0
		highlight_tips=0
		midnight=0
		moboverlay=65
		noon=0
		rain=0
	}
}

neiplugins
{
	developer
	{
		showOreDictionaryNames=true
		showUsageInOreDictionary=true
	}
	
	fueltooltip
	{
		enableContextTooltip=true
		showTooltipForItemStack=true
		showTooltipForLiquidContainer=true
		showTooltipForLiquidItem=true
		showTooltipInFluidRegistry=true
	}
}

tools
{
	#ADVANCED: Load catalysts from config
	catalyst_load_from_config=false
	#ADVANCED: Load handlers from config
	handler_load_from_config=false
	
	dump
	{
		biome=2
		block=0
		enchantment=2
		item=0
		itempanel=0
		neiintegration_dimension=0
		neiintegration_loadedmod=0
		potion=2
		
		neiintegration
		{
			dimension=0
			fluid=0
		}
	}
}

world
{
	highlight_tips=false
	highlight_tips.x=5000
	highlight_tips.y=100
	panels.bookmarks.bottom=0
	panels.bookmarks.left=0
	panels.bookmarks.right=0
	panels.bookmarks.top=0
	panels.items.bottom=0
	panels.items.left=0
	panels.items.right=0
	panels.items.top=0
}
