# Configuration file

"aechor plant configuration" {
    I:"Maximum Group Size"=4
    I:"Maximum Group in Area"=5
    I:"Minimum Group Size"=2
    I:"Minimum Group in Area"=1
}


"aerbunny configuration" {
    I:"Maximum Group Size"=5
    I:"Maximum Group in Area"=3
    I:"Minimum Group Size"=2
    I:"Minimum Group in Area"=0
}


"aerwhale configuration" {
    I:"Maximum Entity Count"=6
    I:"Maximum Group Size"=3
    I:"Maximum Group in Area"=2
    I:"Minimum Group Size"=2
    I:"Minimum Group in Area"=0
}


"biome ids" {
    I:"Aether Biome ID"=237
}


"carrion sprout configuration" {
    I:"Maximum Group Size"=3
    I:"Maximum Group in Area"=4
    I:"Minimum Group Size"=2
    I:"Minimum Group in Area"=0
}


"cockatrice configuration" {
    I:"Maximum Group Size"=2
    I:"Maximum Group in Area"=6
    I:"Minimum Group Size"=1
    I:"Minimum Group in Area"=3
}


"dimension ids" {
    I:"Aether Dimension ID"=-77
    I:"Dungeon Dimension ID"=-76
}


"flying cow configuration" {
    I:"Maximum Group Size"=5
    I:"Maximum Group in Area"=7
    I:"Minimum Group Size"=1
    I:"Minimum Group in Area"=0
}


"moa configuration" {
    I:"Maximum Group Size"=4
    I:"Maximum Group in Area"=3
    I:"Minimum Group Size"=1
    I:"Minimum Group in Area"=0
}


"phyg configuration" {
    I:"Maximum Group Size"=4
    I:"Maximum Group in Area"=3
    I:"Minimum Group Size"=1
    I:"Minimum Group in Area"=0
}


"potion ids" {
    I:"High Steps Potion ID"=26
    I:"Slowfall Potion ID"=25
}


"sheepuff configuration" {
    I:"Maximum Entity Count"=22
    I:"Maximum Group Size"=6
    I:"Maximum Group in Area"=6
    I:"Minimum Group Size"=3
    I:"Minimum Group in Area"=0
}


"swet configuration" {
    I:"Maximum Group Size"=5
    I:"Maximum Group in Area"=5
    I:"Minimum Group Size"=2
    I:"Minimum Group in Area"=1
}


"tempest configuration" {
    I:"Maximum Group Size"=3
    I:"Maximum Group in Area"=3
    I:"Minimum Group Size"=1
    I:"Minimum Group in Area"=1
}


"use aether menu system" {
    #  [default: true]
    B:"Menu Configuration"=false
}


"zephyr configuration" {
    I:"Maximum Entity Count"=30
    I:"Maximum Group Size"=5
    I:"Maximum Group in Area"=9
    I:"Minimum Group Size"=1
    I:"Minimum Group in Area"=2
}


"zephyroo configuration" {
    I:"Maximum Group Size"=4
    I:"Maximum Group in Area"=2
    I:"Minimum Group Size"=1
    I:"Minimum Group in Area"=0
}


