# Configuration file

"aechor plant configuration" {
    D:"Average Amount of groups in Area"=0.4000000059604645
    I:"Maximum Group Size"=4
    I:"Minimum Group Size"=2
}


"aerbunny configuration" {
    D:"Average Amount of groups in Area"=0.30000001192092896
    I:"Maximum Group Size"=5
    I:"Minimum Group Size"=2
}


"aether portal options" {
    # Decides wether or not the Aether will generate portals. (allow player created portals only) [default: true]
    B:"Generate Aether Portals"=false
}


"biome ids" {
    I:"Aether Biome ID"=244
    I:"Dungeon Biome ID"=245
}


"carrion sprout configuration" {
    D:"Average Amount of groups in Area"=0.4000000059604645
    I:"Maximum Group Size"=3
    I:"Minimum Group Size"=2
}


"christmas event" {
    # Aggressive mobs will randomly drop presents without a Lucky Bell
    B:Enable=false
}


"cockatrice configuration" {
    D:"Average Amount of groups in Area"=0.8999999761581421
    I:"Maximum Group Size"=2
    I:"Minimum Group Size"=1
}


"dimension ids" {
    I:"Aether Dimension ID"=-77
    I:"Dungeon Dimension ID"=-76
}


"flying cow configuration" {
    D:"Average Amount of groups in Area"=0.6499999761581421
    I:"Maximum Group Size"=4
    I:"Minimum Group Size"=1
}


"moa configuration" {
    D:"Average Amount of groups in Area"=0.4399999976158142
    I:"Maximum Group Size"=4
    I:"Minimum Group Size"=1
}


"phyg configuration" {
    D:"Average Amount of groups in Area"=0.3499999940395355
    I:"Maximum Group Size"=4
    I:"Minimum Group Size"=1
}


"potion ids" {
    I:"High Steps Potion ID"=130
    I:"Slowfall Potion ID"=131
}


"sheepuff configuration" {
    D:"Average Amount of groups in Area"=0.5
    I:"Maximum Group Size"=5
    I:"Minimum Group Size"=3
}


"swet configuration" {
    D:"Average Amount of groups in Area"=0.30000001192092896
    I:"Maximum Group Size"=5
    I:"Minimum Group Size"=2
}


"tempest configuration" {
    D:"Average Amount of groups in Area"=0.4000000059604645
    I:"Maximum Group Size"=3
    I:"Minimum Group Size"=1
}


unofficial {
    S:"Slider Labyrinth Entrance Spawn Chance"=0.5
}


"use aether menu system" {
    #  [default: true]
    B:"Menu Configuration"=false
}


"zephyr configuration" {
    D:"Average Amount of groups in Area"=0.4000000059604645
    I:"Maximum Group Size"=1
    I:"Minimum Group Size"=1
}


"zephyroo configuration" {
    D:"Average Amount of groups in Area"=0.009999999776482582
    I:"Maximum Group Size"=4
    I:"Minimum Group Size"=1
}


