# Configuration file

"aether world generation" {
    B:"Christmas Content"=false
    B:"Enable Tall Grass"=false
    B:"Spawns Holiday Trees during December and January automatically. Christmas Content overrides this."=true
}


gameplay {
    I:"Max Life Shards"=10
    B:"Removes the requirement for a player to be an operator to use the Sun Altar in multiplayer."=true
    B:"Spawns Player with Aether Portal Frame"=false
}


misc {
    B:"Activate portal with only Skyroot bucket"=false
    B:"Changes whether the Altar should be named Enchanter or not."=false
    B:"Determines whether the Aether b1.7.3 resource pack should be generated."=true
    I:"Dimension below aether"=0
    B:"Disables eternal day making time cycle in the Aether without having to kill the Sun Spirit. This is mainly intended for use in modpacks."=false
    B:"Enable Legacy Visuals"=false
    B:"Enables the Aether Menu"=false
    B:"Enables the Aether Menu toggle button"=true
    B:"Enables the Golden Feather in dungeon loot"=false
    B:"Enables the Valkyrie Cape in dungeon loot"=true
    B:"Floating block collision"=true
    B:"If disabed, the Sun Spirit's dialog will only show once per world."=true
    I:"Sets the id for the Inebriation effect."=31
}


spawnrates {
    I:"Aechor Plant Spawnrate. 1 is always, higher numbers decrease chances."=55
    I:"Aerbunny Spawnrate. 1 is always, higher numbers decrease chances."=1
    I:"Aerwhale Spawnrate. 1 is always, higher numbers decrease chances."=1
    I:"Cockatrice Spawnrate. 1 is always, higher numbers decrease chances."=45
    I:"Flying Cow Spawnrate. 1 is always, higher numbers decrease chances."=1
    I:"Moa Spawnrate. 1 is always, higher numbers decrease chances."=1
    I:"Phyg Spawnrate. 1 is always, higher numbers decrease chances."=1
    I:"Sheepuff Spawnrate. 1 is always, higher numbers decrease chances."=1
    I:"Swet Spawnrate. 1 is always, higher numbers decrease chances."=40
    I:"Whirlwind Spawnrate. 1 is always, higher numbers decrease chances."=55
    I:"Zephyr Spawnrate. 1 is always, higher numbers decrease chances."=65
}


trivia {
    B:"Disable random trivia"=false
}


"world identification" {
    I:"Aether Biome ID"=234
    I:"Aether Dimension ID"=4
}


