# Configuration file

"aether world generation" {
    B:"Christmas Content"=false
    B:"Enable Tall Grass"=false
}


gameplay {
    I:"Max Life Shards"=10
    B:"Removes the requirement for a player to be an operator to use the Sun Altar in multiplayer."=false
    B:"Spawns Player with Aether Portal Frame"=false
}


misc {
    B:"Activate portal with only Skyroot bucket"=false
    B:"Changes whether the Altar should be named Enchanter or not."=false
    B:"Determines whether the Aether b1.7.3 resource pack should be generated."=true
    I:"Dimension below aether"=0
    B:"Disables eternal day making time cycle in the Aether without having to kill the Sun Spirit. This is mainly intended for use in modpacks."=false
    B:"Enable Legacy Visuals"=false
    B:"Enables the Aether Menu"=false
    B:"Enables the Aether Menu toggle button"=true
    B:"Enables the Golden Feather in dungeon loot"=false
    B:"Enables the Valkyrie Cape in dungeon loot"=true
    B:"Floating block collision"=true
    B:"If disabed, the Sun Spirit's dialog will only show once per world."=true
    I:"Sets the id for the Inebriation effect."=31
}


trivia {
    B:"Disable random trivia"=false
}


"world identification" {
    I:"Aether Biome ID"=234
    I:"Aether Dimension ID"=4
}


