# Configuration file

general {

    ##########################################################################################################
    # powergeneration
    #--------------------------------------------------------------------------------------------------------#
    # Set the solar panel generation multipliers here.
    ##########################################################################################################

    powergeneration {
        # Base energy generation multiplier values for advanced solar - increase them for higher yeilds.
        D:energyGeneratorSolarAdvanced=1.0

        # Base energy generation multiplier values for hybrid solar - increase them for higher yeilds.
        D:energyGeneratorSolarHybrid=1.0

        # Base energy generation multiplier values for ultimate hybrid - increase them for higher yeilds.
        D:energyGeneratorSolarUltimateHybrid=1.0
    }

    ##########################################################################################################
    # powervalues
    #--------------------------------------------------------------------------------------------------------#
    # Set the max EU storage and max EU transfer of each item here.
    ##########################################################################################################

    powervalues {
        # Min: 1
        # Max: 2147483647
        I:advancedSolarHelmetStorage=100000

        # Min: 1
        # Max: 2147483647
        I:advancedSolarHelmetTransfer=100

        # Min: 1
        # Max: 2147483647
        I:hybridSolarHelmetStorage=1000000

        # Min: 1
        # Max: 2147483647
        I:hybridSolarHelmetTransfer=1000

        # Min: 1
        # Max: 2147483647
        I:ultimateHybridSolarHelmetStorage=1000000

        # Min: 1
        # Max: 2147483647
        I:ultimateHybridSolarHelmetTransfer=2000
    }

    ##########################################################################################################
    # enableditems
    #--------------------------------------------------------------------------------------------------------#
    # Enable or Disable each item here.
    ##########################################################################################################

    enableditems {
        B:enableAdvancedSolarHelmet=true
        B:enableAdvancedSolarPanel=true
        B:enableHybridSolarHelmet=true
        B:enableHybridSolarPanel=true
        B:enableMiscCraftingItems=true
        B:enableUltimateHybridSolarHelmet=true
        B:enableUltimateHybridSolarPanel=true
    }

    ##########################################################################################################
    # misc
    #--------------------------------------------------------------------------------------------------------#
    # Misc. stuff
    ##########################################################################################################

    misc {
        # Enables the ultimate hybrid solar helmet being tier 4.
        # WARNING: If you don't have gtclassic or tech reborn or another mod with tier 4 energy storage,
        # you will have to get a pesu in order to charge it, unless of course you stand in the sun.
        B:enableUltimateHybridSolarHelmetTier4=false
    }

}


