# Configuration file

general {
    # Enable or Disable the 1x2 mining mode of the advanced drill here.
    B:enableAdvancedDrill1x2Mode=true

    # Enable or Disable the 2x3 mining mode of the advanced drill here.
    B:enableAdvancedDrill2x3Mode=true

    # Enable or Disable the 3x3 mining mode of the advanced drill here.
    B:enableAdvancedDrill3x3Mode=true

    # Enable or Disable the compacted electric jetpack charging items like a lappack does here.
    B:enableCompactedElectricJetpackOverride=true

    # Enable or Disable the compacted nuclear jetpack charging items like a lappack does here.
    B:enableCompactedNuclearJetpackOverride=true

    # Enables the gravitation chestplate tier being tier 4.
    # WARNING: If you don't have gtclassic or tech reborn or another mod with tier 4 energy storage, you will have to get a pesu in order to charge it.
    B:enableGravisuitTier4=false

    # Enable or Disable the gravitool requiring the completly lossless version of the precision wrench here.
    B:enableGravitoolRequiresLosslessPrecisionWrench=true

    # Enable or Disable the overriding of compacted jetpack and jetplate recipes here. Also requires that the configs for making them charge items also be enabled.
    B:enableIc2JetpackRecipOverrides=true

    # Enable or Disable the quantum jetplate charging items like a lappack does here.
    B:enableQuantumJetplateOverride=true

    # Enable or Disable the quantum nuclear jetplate charging items like a lappack does here.
    B:enableQuantumNuclearJetplateOverride=true

    ##########################################################################################################
    # power values
    #--------------------------------------------------------------------------------------------------------#
    # Set the max EU storage and max EU transfer of each item here.
    ##########################################################################################################

    "power values" {
        # Min: 1
        # Max: 2147483647
        I:advancedChainsawStorage=100000

        # Min: 1
        # Max: 2147483647
        I:advancedChainsawTransfer=200

        # Min: 1
        # Max: 2147483647
        I:advancedDrillStorage=100000

        # Min: 1
        # Max: 2147483647
        I:advancedDrillTransfer=200

        # Min: 1
        # Max: 2147483647
        I:advancedElectricJetpackStorage=500000

        # Min: 1
        # Max: 2147483647
        I:advancedElectricJetpackTransfer=500

        # Min: 1
        # Max: 2147483647
        I:advancedLappackStorage=600000

        # Min: 1
        # Max: 2147483647
        I:advancedLappackTransfer=500

        # Min: 1
        # Max: 2147483647
        I:advancedNanoChestplateStorage=600000

        # Min: 1
        # Max: 2147483647
        I:advancedNanoChestplateTransfer=500

        # Min: 1
        # Max: 2147483647
        I:advancedNuclearJetpackStorage=500000

        # Min: 1
        # Max: 2147483647
        I:advancedNuclearJetpackTransfer=500

        # Min: 1
        # Max: 2147483647
        I:advancedNuclearNanoChestplateStorage=600000

        # Min: 1
        # Max: 2147483647
        I:advancedNuclearNanoChestplateTransfer=500

        # Min: 1
        # Max: 2147483647
        I:gravisuitStorage=10000000

        # Min: 1
        # Max: 2147483647
        I:gravisuitTransfer=5000

        # Min: 1
        # Max: 2147483647
        I:gravitoolStorage=50000

        # Min: 1
        # Max: 2147483647
        I:gravitoolTransfer=400

        # Min: 1
        # Max: 2147483647
        I:nuclearGravisuitStorage=10000000

        # Min: 1
        # Max: 2147483647
        I:nuclearGravisuitTransfer=5000

        # Min: 1
        # Max: 2147483647
        I:ultimateLappackStorage=10000000

        # Min: 1
        # Max: 2147483647
        I:ultimateLappackTransfer=4000

        # Min: 1
        # Max: 2147483647
        I:vajraStorage=3000000

        # Min: 1
        # Max: 2147483647
        I:vajraTransfer=1000
    }

    ##########################################################################################################
    # enabled items
    #--------------------------------------------------------------------------------------------------------#
    # Enable or Disable each item here.
    ##########################################################################################################

    "enabled items" {
        B:enableAdvancedChainsaw=true
        B:enableAdvancedDrill=true
        B:enableAdvancedElectricJetpack=true
        B:enableAdvancedLappack=true
        B:enableAdvancedNanoChestplate=true
        B:enableAdvancedNuclearJetpack=true
        B:enableAdvancedNuclearNanoChestplate=true
        B:enableGravisuit=true
        B:enableGravitool=true
        B:enableMiscCraftingItems=true
        B:enableNuclearGravisuit=true
        B:enableUltimateLappack=true
        B:enableVajra=true
    }

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Client only stuff.
    ##########################################################################################################

    client {
        # Set the location of the hud position here.
        # Valid values:
        # TOPLEFT
        # TOPRIGHT
        # TOPMIDDLE
        # BOTTOMLEFT
        # BOTTOMRIGHT
        S:positions=TOPLEFT
    }

}


