# Configuration file

compat {
    #  [default: AUTO]
    S:ComputerCraft=AUTO
}


##########################################################################################################
# generator
#--------------------------------------------------------------------------------------------------------#
# Configuration for the generator multiblock
##########################################################################################################

generator {
    # The volume for the generator sound (1.0 is default, 0.0 is off)
    D:baseGeneratorVolume=1.0

    # Relative volume of the generator looping sound. With 1.0 the looping sound has equal loudness as the generator base volume
    D:loopVolumeFactor=1.0

    # The maximum amount of crystals supported by one generator
    I:maxCrystalsPerBlock=2

    # The maximum amount of RF/tick input that one block can support
    I:maxRFInputPerBlock=10000

    # The RF storage per generator block
    I:rfPerGeneratorBlock=500000

    # The RF/t output for a given side of the generator block
    I:rfPerTickGenerator=100000

    # Shutdown time of the generator (in ticks)
    I:shutdownTime=70

    # Startup time of the generator (in ticks)
    I:startupTime=70
}


##########################################################################################################
# lasercatalysts
#--------------------------------------------------------------------------------------------------------#
# Configuration for the laser bonuses
##########################################################################################################

lasercatalysts {
    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:blaze_powder_color=4

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:blaze_powder_efficiency=5.0:70.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:blaze_powder_purity=-6.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:blaze_powder_strength=5.0:70.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:coal_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:coal_efficiency=0.0:0.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:coal_purity=-1.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:coal_strength=-10.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:diamond_color=1

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:diamond_efficiency=0.0:0.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:diamond_purity=5.0:100.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:diamond_strength=0.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:emerald_color=3

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:emerald_efficiency=0.0:0.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:emerald_purity=8.0:100.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:emerald_strength=0.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:ender_pearl_color=3

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:ender_pearl_efficiency=0.0:0.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:ender_pearl_purity=2.0:100.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:ender_pearl_strength=0.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:ghast_tear_color=4

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:ghast_tear_efficiency=15.0:100.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:ghast_tear_purity=-20.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:ghast_tear_strength=25.0:100.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:glowstone_dust_color=4

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:glowstone_dust_efficiency=3.0:50.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:glowstone_dust_purity=-2.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:glowstone_dust_strength=6.0:50.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:gold_ingot_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:gold_ingot_efficiency=1.0:30.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:gold_ingot_purity=0.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:gold_ingot_strength=-1.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:gunpowder_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:gunpowder_efficiency=4.0:60.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:gunpowder_purity=-5.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:gunpowder_strength=8.0:70.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:iron_ingot_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:iron_ingot_efficiency=1.0:20.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:iron_ingot_purity=0.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:iron_ingot_strength=-2.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:nether_star_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:nether_star_efficiency=90.0:100.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:nether_star_purity=-60.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:nether_star_strength=90.0:100.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:nether_wart_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:nether_wart_efficiency=-2.0:1.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:nether_wart_purity=-3.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:nether_wart_strength=2.0:35.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:prismarine_crystals_color=4

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:prismarine_crystals_efficiency=4.0:35.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:prismarine_crystals_purity=0.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:prismarine_crystals_strength=4.0:35.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:prismarine_shard_color=4

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:prismarine_shard_efficiency=3.0:30.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:prismarine_shard_purity=0.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:prismarine_shard_strength=3.0:30.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:quartz_color=1

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:quartz_efficiency=7.0:80.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:quartz_purity=-1.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:quartz_strength=0.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:redstone_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:redstone_efficiency=0.0:0.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:redstone_purity=-1.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:redstone_strength=5.0:60.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:slime_ball_color=3

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:slime_ball_efficiency=-10.0:1.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:slime_ball_purity=0.0:0.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:slime_ball_strength=0.0:0.0

    # Beam color (1 = blue, 2 = red, 3 = green, 4 = yellow)
    I:snowball_color=2

    # A percentage:minmax efficiency bonus to add or subtract to the rcl infuse unit volume
    S:snowball_efficiency=1.0:40.0

    # A percentage:minmax purity bonus to add or subtract to the rcl infuse unit volume
    S:snowball_purity=1.0:30.0

    # A percentage:minmax strength bonus to add or subtract to the rcl infuse unit volume
    S:snowball_strength=0.0:0.0
}


##########################################################################################################
# radiation
#--------------------------------------------------------------------------------------------------------#
# Configuration for the radiation
##########################################################################################################

radiation {
    # The maximum explosion multiplier that is possible. Set to 0 to disable all explosions
    D:absoluteMaximumExplosionMultiplier=20.0

    # Every 10 ticks (half a second) this chance is evaluated to see if there should be a destruction event. 1.0 means it will always occur
    D:destructionEventChance=0.019999999552965164

    # The maximum that a radiation meter can measure
    D:maxRadiationMeter=200000.0

    # The maximum radiation radius for a 100/100/100 crystal
    D:maxRadiationRadius=50.0

    # The maximum radiation strength for a 100/100/100 crystal
    D:maxRadiationStrength=600000.0

    # The maximum explosion multiplier for a 100%/100% power/strength crystal
    D:maximumExplosionMultiplier=17.0

    # The minimum radiation radius
    D:minRadiationRadius=7.0

    # The minimum radiation strength
    D:minRadiationStrength=3000.0

    # The minimum explosion multiplier
    D:minimumExplosionMultiplier=6.0

    # The radiation strength at which point destruction events can happen
    D:radiationDestructionEventLevel=300000.0

    # Radiation strength level 0
    D:radiationEffectLevel0=20000.0

    # Radiation strength level 1
    D:radiationEffectLevel1=50000.0

    # Radiation strength level 2
    D:radiationEffectLevel2=100000.0

    # Radiation strength level 3
    D:radiationEffectLevel3=200000.0

    # Radiation strength level 4
    D:radiationEffectLevel4=500000.0

    # Radiation strength level 5
    D:radiationEffectLevel5=1000000.0

    # Below this level no effects occur
    D:radiationEffectLevelNone=2000.0

    # This factor increases the radius of radiation on explosion and decreases the strength
    D:radiationExplosionFactor=1.2999999523162842

    # RF per tick/per block for the radiation screen module (if rftools is present)
    I:radiationModuleRFPerTick=6

    # The color for the radiation overlay text in case the radiation monitor is in the players hand
    I:radiationOverlayColor=-65536

    # The color for the radiation overlay text in case the radiation monitor is in the players hand (in case there is no radiation)
    I:radiationOverlayColorNoRadiation=-16711936

    # The X coordinate (with 0 being left) for the radiation overlay text. Use -1 to disable
    I:radiationOverlayX=10

    # The Y coordinate (with 0 being top) for the radiation overlay text. Use -1 to disable
    I:radiationOverlayY=10

    # How much dense glass blocks radiation (0.0 is total block, 1.0 is not block at all)
    D:radiationShieldDenseGlassFactor=0.10000000149011612

    # How much dense obsidian blocks radiation (0.0 is total block, 1.0 is not block at all)
    D:radiationShieldDenseObsidianFactor=0.05000000074505806

    # How much dense lead blocks radiation (0.0 is total block, 1.0 is not block at all)
    D:radiationShieldLeadFactor=0.10000000149011612

    # How much obsidian blocks radiation (0.0 is total block, 1.0 is not block at all)
    D:radiationShieldObsidianFactor=0.20000000298023224

    # RF per tick/per block for the RCL screen module (if rftools is present)
    I:rclModuleRFPerTick=6

    # How much the radiation strength decreases every tick
    D:strengthDecreasePerTick=3.0

    # How much percentage of the maximum strength the radiation increases every tick
    D:strengthGrowthFactor=0.0020000000949949026

    # How much protection you get from radiation with 1 radiation suit piece equipped
    D:suitProtection1=0.25

    # How much protection you get from radiation with 2 radiation suit pieces equipped
    D:suitProtection2=0.5

    # How much protection you get from radiation with 3 radiation suit pieces equipped
    D:suitProtection3=0.75

    # How much protection you get from radiation with 4 radiation suit pieces equipped
    D:suitProtection4=0.949999988079071
}


##########################################################################################################
# worldgen
#--------------------------------------------------------------------------------------------------------#
# Configuration for wodlgen
##########################################################################################################

worldgen {
    # Chances for the ore to spawn in a chunk
    I:chancesToSpawn=5

    # The chance that a crystal will spawn in a chunk. Higher number means less chance. 0 means no crystal will ever spawn.
    I:crystalSpawnChance=15

    # The number of times that the worldgen will try to spawn a crystal in a chunk before it fails.
    I:crystalSpawnTries=10

    # Maximum size of the ore veines
    I:maxVeinSize=8

    # Maximum ore height
    I:maxY=30

    # Minimum size of the ore veines
    I:minVeinSize=5

    # Minimum ore height
    I:minY=2

    # Enable this if you want to get retrogen (generation of ores/crystals) for already existing chunks
    B:retrogen=true

    # Enable this if you want to see in the log where crystals are spawned
    B:verboseSpawn=false
}


