# Configuration file

##########################################################################################################
# 1 Groups
#--------------------------------------------------------------------------------------------------------#
# Definitions for biome groups. Biome groups cover condition ranges, and randomly select biomes within them to fill spaces in the world. You generally won't need to change these, so don't unless you have specific need.
##########################################################################################################

"1 Groups" {

    Coast-Beach {
        B:Generate=true
        D:Height=0.25
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.4
        I:"Random Seed"=86820672
        D:Suitability=0.0
        D:Temperature=0.8
    }

    Land-Savanna {
        B:Generate=true
        D:Height=0.275
        D:"Max Height"=0.36
        D:"Min Height"=0.0
        D:Rainfall=0.45
        I:"Random Seed"=57064401
        D:Suitability=0.0
        D:Temperature=1.5
    }

    Land-Steppe {
        B:Generate=true
        D:Height=0.5
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.3
        I:"Random Seed"=98541737
        D:Suitability=0.0
        D:Temperature=0.2
    }

    Sea-Ocean {
        B:Generate=true
        D:Height=0.25
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.5
        I:"Random Seed"=10037825
        D:Suitability=0.0
        D:Temperature=0.5
    }

    "Coast-Gravel Beach" {
        B:Generate=true
        D:Height=0.25
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.4
        I:"Random Seed"=26451958
        D:Suitability=0.0
        D:Temperature=0.25
    }

    Land-Mesa {
        B:Generate=true
        D:Height=0.275
        D:"Max Height"=1.0
        D:"Min Height"=0.44
        D:Rainfall=0.0
        I:"Random Seed"=57295715
        D:Suitability=0.1
        D:Temperature=2.0
    }

    Land-Desert {
        B:Generate=true
        D:Height=0.275
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.0
        I:"Random Seed"=52962494
        D:Suitability=0.0
        D:Temperature=2.0
    }

    Coast-Swampland {
        B:Generate=true
        D:Height=0.25
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.9
        I:"Random Seed"=98205004
        D:Suitability=0.0
        D:Temperature=0.8
    }

    Land-Plains {
        B:Generate=true
        D:Height=0.35
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.4
        I:"Random Seed"=74536193
        D:Suitability=0.0
        D:Temperature=0.8
    }

    "Sea-Deep Ocean" {
        B:Generate=true
        D:Height=0.25
        D:"Max Height"=0.175
        D:"Min Height"=0.0
        D:Rainfall=0.5
        I:"Random Seed"=10037825
        D:Suitability=0.1
        D:Temperature=0.5
    }

    Land-Jungle {
        B:Generate=true
        D:Height=0.325
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.75
        I:"Random Seed"=30269514
        D:Suitability=0.0
        D:Temperature=1.3
    }

    "Coast-Snowy Beach" {
        B:Generate=true
        D:Height=0.25
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.4
        I:"Random Seed"=63813487
        D:Suitability=0.0
        D:Temperature=0.0
    }

    Land-Taiga {
        B:Generate=true
        D:Height=0.5
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.7
        I:"Random Seed"=86429603
        D:Suitability=0.0
        D:Temperature=0.05
    }

    "Land-Tropical Shrubland" {
        B:Generate=true
        D:Height=0.35
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.65
        I:"Random Seed"=75490155
        D:Suitability=0.0
        D:Temperature=1.3
    }

    "Land-Ice Plains" {
        B:Generate=true
        D:Height=0.3
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.45
        I:"Random Seed"=37481200
        D:Suitability=0.0
        D:Temperature=0.0
    }

    Land-Woodland {
        B:Generate=true
        D:Height=0.3
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.67
        I:"Random Seed"=26470928
        D:Suitability=0.0
        D:Temperature=0.7
    }

    Land-Shrubland {
        B:Generate=true
        D:Height=0.35
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.53
        I:"Random Seed"=68954026
        D:Suitability=0.0
        D:Temperature=0.77
    }

    Land-Tundra {
        B:Generate=true
        D:Height=0.35
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.65
        I:"Random Seed"=76261942
        D:Suitability=0.0
        D:Temperature=0.05
    }

    Land-Forest {
        B:Generate=true
        D:Height=0.35
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.8
        I:"Random Seed"=27453905
        D:Suitability=0.0
        D:Temperature=0.7
    }

    "Land-Boreal Forest" {
        B:Generate=true
        D:Height=0.35
        D:"Max Height"=1.0
        D:"Min Height"=0.0
        D:Rainfall=0.8
        I:"Random Seed"=84640552
        D:Suitability=0.0
        D:Temperature=0.25
    }

}


##########################################################################################################
# 2 Biomes
#--------------------------------------------------------------------------------------------------------#
# Assignment of biomes to groups. Weighting values dictate how common a biome will be within its assigned group.
##########################################################################################################

"2 Biomes" {

    Coast-Beach {
        D:mod_ThreadedLighting-Beach=1.0
    }

    Land-Savanna {
        D:mod_ThreadedLighting-Savanna=1.0
    }

    Land-Steppe {
        D:"ATG-Rocky Steppe"=1.0
    }

    Sea-Ocean {
        D:mod_ThreadedLighting-Ocean=1.0
    }

    "Coast-Gravel Beach" {
        D:"ATG-Gravel Beach"=1.0
    }

    Land-Mesa {
        D:mod_ThreadedLighting-Mesa=1.0
    }

    Land-Desert {
        D:"BuildCraft|Factory-Desert Oil Field"=0.1
        D:mod_ThreadedLighting-Desert=1.0
    }

    Coast-Swampland {
        D:mod_ThreadedLighting-Swampland=1.0
    }

    Land-Plains {
        D:mod_ThreadedLighting-Plains=1.0
    }

    "Sea-Deep Ocean" {
        D:"BuildCraft|Factory-Ocean Oil Field"=0.1
        D:"mod_ThreadedLighting-Deep Ocean"=1.0
        D:mod_ThreadedLighting-MushroomIsland=0.05
    }

    Land-Jungle {
        D:mod_ThreadedLighting-Jungle=1.0
    }

    "Coast-Snowy Beach" {
        D:"ATG-Snowy Gravel Beach"=1.0
    }

    Land-Taiga {
        D:"mod_ThreadedLighting-Cold Taiga"=1.0
    }

    "Land-Tropical Shrubland" {
        D:"ATG-Tropical Shrubland"=1.0
    }

    "Land-Ice Plains" {
        D:"mod_ThreadedLighting-Ice Plains"=1.0
    }

    Land-Woodland {
        D:ATG-Woodland=1.0
    }

    Land-Shrubland {
        D:ATG-Shrubland=1.0
    }

    Land-Tundra {
        D:ATG-Tundra=1.0
    }

    Land-Forest {
        D:"Thaumcraft-Magical Forest"=0.3
        D:"mod_ThreadedLighting-Birch Forest"=0.8
        D:mod_ThreadedLighting-Forest=1.0
        D:"mod_ThreadedLighting-Roofed Forest"=0.5
    }

    "Land-Boreal Forest" {
        D:"mod_ThreadedLighting-Mega Taiga"=0.5
        D:mod_ThreadedLighting-Taiga=1.0
    }

}


##########################################################################################################
# 3 Sub-Biomes
#--------------------------------------------------------------------------------------------------------#
# Assignment of sub-biomes. Sub-biomes appear within their parent biome, replacing parts of it. Weighting values dictate how commonly they appear.
##########################################################################################################

"3 Sub-Biomes" {

    mod_ThreadedLighting-Plains {
        D:"mod_ThreadedLighting-Sunflower Plains"=0.2
    }

    mod_ThreadedLighting-MushroomIsland {
        D:"mod_ThreadedLighting-Deep Ocean"=0.8
    }

    mod_ThreadedLighting-Desert {
        D:"mod_ThreadedLighting-Desert M"=0.2
    }

    "mod_ThreadedLighting-Ice Plains" {
        D:"mod_ThreadedLighting-Ice Plains Spikes"=0.1
    }

    mod_ThreadedLighting-Forest {
        D:"mod_ThreadedLighting-Flower Forest"=0.2
    }

    "mod_ThreadedLighting-Birch Forest" {
        D:"mod_ThreadedLighting-Birch Forest M"=0.3
    }

    "mod_ThreadedLighting-Mega Taiga" {
        D:"mod_ThreadedLighting-Mega Spruce Taiga"=0.4
    }

}


##########################################################################################################
# 4 GenMods
#--------------------------------------------------------------------------------------------------------#
# Assignment of IGenMod objects to biomes. Gen mods alter the way the biome expresses its height. Volcanoes use this for their craters, Swamps to be near the water level, and Mushroom Islands to appear above the surface.
# 
# IGenMods can be added by mods via the API, and will appear in this list when the file is regenerated.
# 
# List of available IGenMods:
# 
# ATG-ATGGenModGlacier
# ATG-ATGGenModAbyssalOcean    ( smooth: 0.4, cutoff: 45, slopefactor: 0.12 )
# ATG-ATGGenModPlateau    ( minHeight: 59, maxHeight: 63, plateauHeight: 63, heightExponent: 2.0, limit: false )
# ATG-ATGGenModVolcano    ( craterHeight: 244, shaftHeight: 230, magmaHeight: 226 )
# ATG-ATGGenModMushroom    ( cutoff: 45, sealevel: 64, smoothing: 0.75 )
# ATG-ATGGenModRavine    ( cutoff: 0.45 )
# 
##########################################################################################################

"4 GenMods" {
    S:ATG-Volcano=ATG-ATGGenModVolcano
    S:mod_ThreadedLighting-MushroomIsland=ATG-ATGGenModMushroom
    S:mod_ThreadedLighting-Swampland=ATG-ATGGenModPlateau
}


##########################################################################################################
# 5 Rocks
#--------------------------------------------------------------------------------------------------------#
# Overrides the appearance of large rocks in biomes.
# 
# Frequency: Rocks appear once per x chunks.
# Large frequency: One in x rocks are large.
# Rocks per chunk: check for rock frequency made x times per chunk.
##########################################################################################################

"5 Rocks" {

    mod_ThreadedLighting-Plains {
        I:"Large rock frequency"=3
        I:"Rock frequency"=20
        I:"Rocks per chunk"=1
    }

    "mod_ThreadedLighting-Ice Plains" {
        I:"Large rock frequency"=5
        I:"Rock frequency"=7
        I:"Rocks per chunk"=2
    }

    ATG-Volcano {
        I:"Large rock frequency"=7
        I:"Rock frequency"=3
        I:"Rocks per chunk"=15
    }

    mod_ThreadedLighting-Ocean {
        I:"Large rock frequency"=30
        I:"Rock frequency"=20
        I:"Rocks per chunk"=8
    }

}


##########################################################################################################
# 6 Control
#--------------------------------------------------------------------------------------------------------#
#  
##########################################################################################################

"6 Control" {
    # Set this to true to regenerate missing default config options on next load without removing existing entries.
    B:Regenerate=false
}


