# Configuration file

patches {
    # Allows lasers to act as redstone input. [default: true]
    B:laserRedstone=true

    # Allows locks to block capabilities and inventory access. Opt-in - fairly invasive, but server administrators may find it handy. [default: false]
    B:locksBlockCaps=false
}


