# Configuration file

~CONFIG_VERSION: 1.7.10-1.5.6-0

core {
    # Amount of ore to generate per branch [range: 0 ~ 100, default: 5]
    I:copper_branch_size=1

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 0 ~ 100, default: 40]
    I:copper_chunk_count=0

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 1]
    I:copper_harvest_level=1

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 55]
    I:copper_max_y=55

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:copper_min_y=10

    # True to disable infinite energy cubes. False to enable [default: false]
    B:disable_infinite_energy_cube=false

    # Amount of ore to generate per branch [range: 0 ~ 100, default: 5]
    I:lead_branch_size=1

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 0 ~ 100, default: 25]
    I:lead_chunk_count=0

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 2]
    I:lead_harvest_level=2

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 55]
    I:lead_max_y=55

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:lead_min_y=10

    # True to disable infinite energy cubes. False to enable [default: true]
    B:modify_other_mods_to_watts=true

    # Amount of ore to generate per branch [range: 0 ~ 100, default: 5]
    I:silver_branch_size=1

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 0 ~ 100, default: 10]
    I:silver_chunk_count=0

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 2]
    I:silver_harvest_level=2

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 55]
    I:silver_max_y=55

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:silver_min_y=10

    # Amount of ore to generate per branch [range: 0 ~ 100, default: 5]
    I:tin_branch_size=1

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 0 ~ 100, default: 40]
    I:tin_chunk_count=0

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 1]
    I:tin_harvest_level=1

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 55]
    I:tin_max_y=55

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:tin_min_y=10
}


debugging {
    # Enable/disable debug mode [default: false]
    B:isDebugMode=false
}


