# Configuration file

~CONFIG_VERSION: 0.7.4b

category {
    # Enable the forcefield portion of this mod? [default: true]
    B:enable_forcefield=true

    # Enable the nuclear physics portion of this mod? [default: true]
    B:enable_nuclear_physics=true
}


core {
    # Amount of ore to generate per branch [range: 0 ~ 100, default: 5]
    I:copper_branch_size=0

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 1 ~ 100, default: 40]
    I:copper_chunk_count=0

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 1]
    I:copper_harvest_level=1

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 55]
    I:copper_max_y=55

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:copper_min_y=10

    # Amount of ore to generate per branch [range: 0 ~ 100, default: 5]
    I:tin_branch_size=0

    # Max amount of ore to spawn in each chunk. Actual count per chunk is a mix of randomization and conditions of the chunk itself. [range: 1 ~ 100, default: 40]
    I:tin_chunk_count=0

    # Tool level needed to mine the ore 
    # *     Wood:    0
    # *     Stone:   1
    # *     Iron:    2
    # *     Diamond: 3
    # *     Gold:    0 [range: 0 ~ 255, default: 1]
    I:tin_harvest_level=1

    # Highest y level/height that ore can spawn [range: 0 ~ 255, default: 55]
    I:tin_max_y=55

    # Lowest y level/height that ore can spawn [range: 0 ~ 255, default: 10]
    I:tin_min_y=10
}


debugging {
    # Enable/disable debug mode [default: false]
    B:isDebugMode=false
}


