# Configuration file

####################
# debughelpers
####################

debughelpers {
    B:"Dump BIOME ID's in log"=true
    B:"Dump ENCHANT ID's in log"=true
    B:"Dump POTION ID's in log"=true
    B:enableChat=false
    B:enableConsole=false
    B:"force all non identified logging entries through loggers"=false
}


####################
# environment
####################

environment {
    B:unsupportedLogging=false
}


