# Configuration file

aether {

    zanitepickaxe {
        I:pickaxe=3
    }

    skyrootaxe {
        I:axe=0
    }

    valkyrieshovel {
        I:shovel=5
    }

    holystoneaxe {
        I:axe=0
    }

    zaniteaxe {
        I:axe=3
    }

    valkyrieaxe {
        I:axe=5
    }

    gravititeaxe {
        I:axe=5
    }

    holystonepickaxe {
        I:pickaxe=0
    }

    holystoneshovel {
        I:shovel=0
    }

    zaniteshovel {
        I:shovel=3
    }

    gravititeshovel {
        I:shovel=5
    }

    skyrootshovel {
        I:shovel=0
    }

    valkyriepickaxe {
        I:pickaxe=5
    }

    skyrootpickaxe {
        I:pickaxe=0
    }

    gravititepickaxe {
        I:pickaxe=5
    }

}


appliedenergistics2 {

    item_toolnetherquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetherquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetworktool {
        I:wrench=0
    }

}


aquaculture {

    item_neptuniumpickaxe {
        I:pickaxe=5
    }

    item_neptuniumshovel {
        I:shovel=5
    }

    item_neptuniumaxe {
        I:axe=5
    }

}


awwayoftime {

    boundaxe {
        I:axe=0
    }

    boundshovel {
        I:shovel=0
    }

    boundpickaxe {
        I:pickaxe=0
    }

}


biomesoplenty {

    shovelamethyst {
        I:shovel=6
    }

    pickaxeamethyst {
        I:pickaxe=6
    }

    pickaxemud {
        I:pickaxe=6
    }

    axeamethyst {
        I:axe=6
    }

    shovelmud {
        I:shovel=6
    }

    axemud {
        I:axe=6
    }

}


botania {

    manasteelshovel {
        I:shovel=5
    }

    glasspick {
        I:pickaxe=0
    }

    manasteelaxe {
        I:axe=5
    }

    terrapick {
        I:pickaxe=6
    }

    manasteelpick {
        I:pickaxe=5
    }

    elementiumpick {
        I:pickaxe=5
    }

    elementiumaxe {
        I:axe=5
    }

    elementiumshovel {
        I:shovel=5
    }

    terraaxe {
        I:axe=6
    }

}


"buildcraft|core" {

    wrenchitem {
        I:wrench=0
    }

}


enderio {

    item_darksteel_axe {
        I:axe=7
    }

    item_darksteel_pickaxe {
        I:pickaxe=7
    }

}


extrautilities {

    destructionpickaxe {
        I:pickaxe=5
    }

    defoliageaxe {
        I:axe=5
    }

    erosionshovel {
        I:shovel=5
    }

}


forbiddenmagic {

    morphshovel {
        I:shovel=6
    }

    taintpickaxe {
        I:pickaxe=7
    }

    taintshovel {
        I:shovel=5
    }

    morphpickaxe {
        I:pickaxe=6
    }

    morphaxe {
        I:axe=6
    }

}


forestry {

    bronzepickaxe {
        I:pickaxe=5
    }

    scoop {
        I:scoop=5
    }

    bronzeshovel {
        I:shovel=5
    }

    wrench {
        I:wrench=0
    }

}


galacticraftcore {

    item_steel_shovel {
        I:shovel=6
    }

    item_steel_pickaxe {
        I:pickaxe=6
    }

    item_steel_axe {
        I:axe=6
    }

}


galacticraftmars {

    item_deshspade {
        I:shovel=6
    }

    item_titanium_shovel {
        I:shovel=5
    }

    item_deshpickslime {
        I:pickaxe=6
    }

    item_deshpick {
        I:pickaxe=6
    }

    item_titanium_pickaxe {
        I:pickaxe=5
    }

    item_deshaxe {
        I:axe=6
    }

    item_titanium_axe {
        I:axe=5
    }

}


gekoslasers {

    laseriteaxe {
        I:axe=6
    }

    laseritepickaxe {
        I:pickaxe=6
    }

    laseriteshovel {
        I:shovel=6
    }

}


gendustry {

    industrialscoop {
        I:scoop=3
    }

}


gravisuite {

    advchainsaw {
        I:axe=3
    }

    advddrill {
        I:pickaxe=3
        I:shovel=3
    }

}


hardcoreenderexpansion {

    schorching_pickaxe {
        I:pickaxe=100
    }

}


ic2 {

    itemnanosaber {
        I:sword=5
    }

    itemtoolbronzepickaxe {
        I:pickaxe=3
    }

    itemtooldrill {
        I:pickaxe=3
        I:shovel=3
    }

    itemtoolbronzespade {
        I:shovel=3
    }

    itemtoolddrill {
        I:pickaxe=5
        I:shovel=5
    }

    itemtooliridiumdrill {
        I:pickaxe=102
        I:shovel=102
    }

    itemtoolchainsaw {
        I:axe=3
        I:shears=3
        I:sword=3
    }

    itemtoolbronzeaxe {
        I:axe=3
    }

}


magicbees {

    item_thaumiumscoop {
        I:scoop=3
    }

    item_thaumiumgrafter {
        I:grafter=3
    }

    item_manasteelscoop {
        I:scoop=5
    }

    item_manasteelgrafter {
        I:grafter=5
    }

}


mekanismtools {

    bronzepaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    goldpaxel {
        I:axe=0
        I:pickaxe=0
        I:shovel=0
    }

    glowstonepaxel {
        I:axe=3
        I:pickaxe=3
        I:shovel=3
    }

    glowstonepickaxe {
        I:pickaxe=3
    }

    ironpaxel {
        I:axe=3
        I:pickaxe=3
        I:shovel=3
    }

    bronzeaxe {
        I:axe=3
    }

    glowstoneaxe {
        I:axe=3
    }

    obsidianaxe {
        I:axe=5
    }

    glowstoneshovel {
        I:shovel=3
    }

    lapislazuliaxe {
        I:axe=3
    }

    bronzepickaxe {
        I:pickaxe=3
    }

    obsidianpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    bronzeshovel {
        I:shovel=3
    }

    stonepaxel {
        I:axe=0
        I:pickaxe=0
        I:shovel=0
    }

    diamondpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    osmiumshovel {
        I:shovel=3
    }

    lapislazulipickaxe {
        I:pickaxe=3
    }

    steelshovel {
        I:shovel=6
    }

    obsidianshovel {
        I:shovel=5
    }

    steelpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    osmiumaxe {
        I:axe=3
    }

    steelpickaxe {
        I:pickaxe=6
    }

    woodpaxel {
        I:axe=0
        I:pickaxe=0
        I:shovel=0
    }

    osmiumpickaxe {
        I:pickaxe=3
    }

    lapislazulishovel {
        I:shovel=3
    }

    osmiumpaxel {
        I:axe=5
        I:pickaxe=5
        I:shovel=5
    }

    obsidianpickaxe {
        I:pickaxe=5
    }

    lapislazulipaxel {
        I:axe=3
        I:pickaxe=3
        I:shovel=3
    }

    steelaxe {
        I:axe=6
    }

}


minecraft {

    wooden_shovel {
        I:shovel=0
    }

    wooden_axe {
        I:axe=0
    }

    golden_axe {
        I:axe=0
    }

    wooden_pickaxe {
        I:pickaxe=0
    }

    diamond_shovel {
        I:shovel=5
    }

    diamond_pickaxe {
        I:pickaxe=5
    }

    stone_axe {
        I:axe=0
    }

    golden_pickaxe {
        I:pickaxe=0
    }

    iron_pickaxe {
        I:pickaxe=3
    }

    stone_shovel {
        I:shovel=0
    }

    iron_shovel {
        I:shovel=3
    }

    iron_axe {
        I:axe=3
    }

    golden_shovel {
        I:shovel=0
    }

    stone_pickaxe {
        I:pickaxe=0
    }

    diamond_axe {
        I:axe=5
    }

}


minefactoryreloaded {

    hammer {
        I:wrench=0
    }

}


opencomputers {

    wrench {
        I:wrench=0
    }

}


railcraft {

    tool_crowbar_magic {
        I:crowbar=0
    }

    tool_steel_shovel {
        I:shovel=3
    }

    tool_steel_pickaxe {
        I:pickaxe=6
    }

    tool_crowbar {
        I:crowbar=0
    }

    tool_crowbar_reinforced {
        I:crowbar=0
    }

    tool_crowbar_void {
        I:crowbar=0
    }

    tool_steel_axe {
        I:axe=6
    }

}


rarm {

    itemaxegelidenderium {
        I:axe=17
    }

    itemshovelgelidenderium {
        I:shovel=17
    }

    itempickaxegelidenderium {
        I:pickaxe=17
    }

}


redstonearsenal {

    tool_axeflux {
        I:axe=6
    }

    tool_pickaxeflux {
        I:pickaxe=6
    }

    tool_shovelflux {
        I:shovel=6
    }

}


rfdrills {

    advanced_drill {
        I:pickaxe=-1
        I:shovel=-1
    }

    basic_drill {
        I:pickaxe=-1
        I:shovel=-1
    }

    resonant_drill {
        I:pickaxe=-1
        I:shovel=-1
    }

    hardened_drill {
        I:pickaxe=-1
        I:shovel=-1
    }

    redstone_drill {
        I:pickaxe=-1
        I:shovel=-1
    }

    leadstone_drill {
        I:pickaxe=-1
        I:shovel=-1
    }

    basic_chainsaw {
        I:axe=3
    }

    redstone_chainsaw {
        I:axe=5
    }

    leadstone_chainsaw {
        I:axe=3
    }

    advanced_chainsaw {
        I:axe=5
    }

    hardened_chainsaw {
        I:axe=5
    }

    resonant_chainsaw {
        I:axe=6
    }

    flux_infused_crusher {
        I:axe=-1
        I:pickaxe=-1
        I:shovel=-1
        I:sickle=-1
    }

}


routerreborn {

    pickaxe {
        I:axe=3
        I:pickaxe=3
        I:shovel=3
    }

}


sanguimancy {

    corruptedaxe {
        I:axe=2147483647
    }

    corruptedpickaxe {
        I:pickaxe=2147483647
    }

    corruptedshovel {
        I:shovel=2147483647
    }

}


steamcraft {

    pickgildedgold {
        I:pickaxe=2
    }

    axebrass {
        I:axe=2
    }

    steamshovel {
        I:shovel=3
    }

    axegildedgold {
        I:axe=2
    }

    steamaxe {
        I:axe=3
    }

    shovelgildedgold {
        I:shovel=2
    }

    shovelbrass {
        I:shovel=2
    }

    pickbrass {
        I:pickaxe=2
    }

    steamdrill {
        I:pickaxe=3
    }

}


tconstruct {

    shovel {
        I:shovel=-1
    }

    battleaxe {
        I:axe=-1
    }

    hammer {
        I:pickaxe=-1
    }

    pickaxe {
        I:pickaxe=-1
    }

    lumberaxe {
        I:axe=-1
    }

    hatchet {
        I:axe=-1
    }

    excavator {
        I:shovel=-1
    }

    mattock {
        I:axe=-1
    }

}


thaumcraft {

    itemshovelthaumium {
        I:shovel=5
    }

    itempickthaumium {
        I:pickaxe=5
    }

    itempickvoid {
        I:pickaxe=6
    }

    itemshovelvoid {
        I:shovel=6
    }

    itemaxethaumium {
        I:axe=5
    }

    itemprimalcrusher {
        I:pickaxe=-1
        I:shovel=-1
    }

    itemshovelelemental {
        I:shovel=5
    }

    itemaxevoid {
        I:axe=6
    }

    itempickaxeelemental {
        I:pickaxe=5
    }

    itemaxeelemental {
        I:axe=5
    }

}


thermalfoundation {

    tool_sicklecopper {
        I:sickle=0
    }

    tool_shovelnickel {
        I:shovel=3
    }

    tool_shovellead {
        I:shovel=0
    }

    tool_shovelinvar {
        I:shovel=3
    }

    tool_axesilver {
        I:axe=3
    }

    tool_pickaxeplatinum {
        I:pickaxe=6
    }

    tool_axenickel {
        I:axe=3
    }

    tool_shovelbronze {
        I:shovel=3
    }

    tool_axelead {
        I:axe=0
    }

    tool_sickleinvar {
        I:sickle=3
    }

    tool_shovelelectrum {
        I:shovel=0
    }

    tool_axeelectrum {
        I:axe=0
    }

    tool_pickaxeinvar {
        I:pickaxe=3
    }

    tool_sickleelectrum {
        I:sickle=0
    }

    tool_axecopper {
        I:axe=0
    }

    tool_sicklebronze {
        I:sickle=3
    }

    tool_shoveltin {
        I:shovel=0
    }

    tool_pickaxecopper {
        I:pickaxe=0
    }

    tool_pickaxelead {
        I:pickaxe=0
    }

    tool_sickletin {
        I:sickle=0
    }

    tool_axeinvar {
        I:axe=3
    }

    tool_pickaxesilver {
        I:pickaxe=3
    }

    tool_axetin {
        I:axe=0
    }

    tool_pickaxenickel {
        I:pickaxe=3
    }

    tool_shovelsilver {
        I:shovel=3
    }

    tool_pickaxetin {
        I:pickaxe=0
    }

    tool_pickaxeelectrum {
        I:pickaxe=0
    }

    tool_axebronze {
        I:axe=3
    }

    tool_shovelplatinum {
        I:shovel=6
    }

    tool_sicklesilver {
        I:sickle=3
    }

    tool_axeplatinum {
        I:axe=6
    }

    tool_sickleplatinum {
        I:sickle=6
    }

    tool_sicklelead {
        I:sickle=0
    }

    tool_pickaxebronze {
        I:pickaxe=3
    }

    tool_shovelcopper {
        I:shovel=0
    }

    tool_sicklenickel {
        I:sickle=3
    }

}


twilightforest {

    item_fierypick {
        I:pickaxe=6
    }

    item_ironwoodshovel {
        I:shovel=3
    }

    item_knightlypick {
        I:pickaxe=5
    }

    item_steeleafpick {
        I:pickaxe=5
    }

    item_steeleafshovel {
        I:shovel=5
    }

    item_mazebreakerpick {
        I:pickaxe=5
    }

    item_giantpick {
        I:pickaxe=0
    }

    item_ironwoodpick {
        I:pickaxe=3
    }

    item_ironwoodaxe {
        I:axe=3
    }

    item_minotauraxe {
        I:axe=5
    }

    item_steeleafaxe {
        I:axe=5
    }

    item_knightlyaxe {
        I:axe=5
    }

}


witchery {

    kobolditepickaxe {
        I:pickaxe=5
    }

}


witchinggadgets {

    item_wg_primordialaxe {
        I:axe=6
    }

    item_wg_primordialhammer {
        I:pickaxe=6
    }

}


ztones {

    splataxe {
        I:axe=-1
    }

    diamondzane {
        I:axe=-1
        I:pickaxe=-1
        I:shovel=-1
    }

    terraineater {
        I:axe=-1
        I:pickaxe=-1
        I:shear=-1
        I:shovel=-1
    }

}


